# imports

In [1]:
# Import libraries
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
import psycopg2

# below imports are used to print out pretty pandas dataframes
from IPython.display import display, HTML

%matplotlib inline
plt.style.use('ggplot')

# database connection

In [2]:
# information used to create a database connection
sqluser = 'postgres'
dbname = 'mimic'
schema_name = 'mimiciii'

# Connect to postgres with a copy of the MIMIC-III database
con = psycopg2.connect(dbname=dbname, user=sqluser)

# the below statement is prepended to queries to ensure they select from the right schema
query_schema = 'set search_path to ' + schema_name + ';'

# Helper functions

In [3]:
def apply_inclusion_criteria(df):
    print('Initial size of table : ' + str(df.shape[0]))
    df = df.drop_duplicates(['icustay_id','creatinine_time'])
    print('After dropping duplicates : ' + str(df.shape[0]))
    criteria_list = [i for i in df.columns.values if 'inclusion' in i]
    for c in criteria_list:
        df = df.loc[df[c]==1,:].drop(c,axis=1)    
    print('After applying inclusion criteria : ' + str(df.shape[0]))
    return df

# Playground for queries

In [7]:
# Creatinine measurements for all stays
query = query_schema + """
select
    ie.subject_id, ie.icustay_id, ie.intime, ie.outtime,
    le.valuenum as creatinine, le.charttime as creatinine_time
  from icustays ie
  inner join labevents le
    on ie.subject_id = le.subject_id
    and le.itemid = 50912
    and le.valuenum is not null
    and le.charttime between ie.intime and ie.outtime
"""
df = pd.read_sql_query(query, con)
print(df.shape[0])
print(df)

326891
        icustay_id              intime             outtime  creatinine  \
0           294638 2191-03-16 00:29:31 2191-03-17 16:46:31         0.5
1           294638 2191-03-16 00:29:31 2191-03-17 16:46:31         0.4
2           228232 2175-05-30 21:30:54 2175-06-03 13:39:54        10.0
3           220597 2149-11-09 13:07:02 2149-11-14 20:52:14         2.0
4           228232 2175-05-30 21:30:54 2175-06-03 13:39:54         5.1
5           220597 2149-11-09 13:07:02 2149-11-14 20:52:14         1.4
6           229441 2178-04-16 06:19:32 2178-04-17 20:21:05         0.7
7           229441 2178-04-16 06:19:32 2178-04-17 20:21:05         0.7
8           220597 2149-11-09 13:07:02 2149-11-14 20:52:14         2.0
9           228232 2175-05-30 21:30:54 2175-06-03 13:39:54         7.4
10          228232 2175-05-30 21:30:54 2175-06-03 13:39:54         6.2
11          220597 2149-11-09 13:07:02 2149-11-14 20:52:14         1.6
12          220597 2149-11-09 13:07:02 2149-11-14 20:52:14         1.7
13          220597 2149-11-09 13:07:02 2149-11-14 20:52:14         2.0
14          263738 2167-01-08 18:44:25 2167-01-12 10:43:31         0.6
15          263738 2167-01-08 18:44:25 2167-01-12 10:43:31         0.6
16          263738 2167-01-08 18:44:25 2167-01-12 10:43:31         0.6
17          263738 2167-01-08 18:44:25 2167-01-12 10:43:31         0.4
18          263738 2167-01-08 18:44:25 2167-01-12 10:43:31         0.8
19          263738 2167-01-08 18:44:25 2167-01-12 10:43:31         0.5
20          257980 2135-05-09 14:12:06 2135-05-10 11:18:34         0.7
21          257980 2135-05-09 14:12:06 2135-05-10 11:18:34         0.7
22          217847 2134-09-11 20:50:04 2134-09-17 18:28:32         4.6
23          277042 2134-12-27 16:21:48 2134-12-29 18:04:03         0.7
24          277042 2134-12-27 16:21:48 2134-12-29 18:04:03         0.6
25          273430 2108-08-05 16:26:09 2108-08-06 23:40:35         1.2
26          277042 2134-12-27 16:21:48 2134-12-29 18:04:03         0.8
27          217847 2134-09-11 20:50:04 2134-09-17 18:28:32         3.6
28          217847 2134-09-11 20:50:04 2134-09-17 18:28:32         4.2
29          217847 2134-09-11 20:50:04 2134-09-17 18:28:32         3.8
...            ...                 ...                 ...         ...
326861      256008 2137-08-03 05:48:10 2137-10-01 17:01:05         2.2
326862      275773 2137-04-18 10:27:39 2137-04-19 12:22:51         0.5
326863      259308 2125-12-09 15:13:37 2125-12-27 18:43:57         3.4
326864      208382 2199-01-04 13:15:22 2199-01-07 16:44:06         0.7
326865      208382 2199-01-04 13:15:22 2199-01-07 16:44:06         0.7
326866      201555 2168-10-09 07:12:49 2168-10-23 19:00:29         2.1
326867      203681 2110-06-25 18:26:32 2110-07-09 16:33:42         1.4
326868      203681 2110-06-25 18:26:32 2110-07-09 16:33:42         1.3
326869      203681 2110-06-25 18:26:32 2110-07-09 16:33:42         1.4
326870      255410 2100-11-14 06:24:38 2100-11-30 13:26:14         0.9
326871      255410 2100-11-14 06:24:38 2100-11-30 13:26:14         0.7
326872      270716 2165-06-05 16:14:18 2165-06-06 22:41:25         0.5
326873      206662 2190-12-20 00:31:17 2191-01-05 18:05:55         3.1
326874      206662 2190-12-20 00:31:17 2191-01-05 18:05:55         3.0
326875      238637 2145-12-03 19:29:35 2145-12-05 15:44:32         0.7
326876      279533 2120-09-06 13:58:29 2120-10-19 15:10:56         1.2
326877      279533 2120-09-06 13:58:29 2120-10-19 15:10:56         1.7
326878      279533 2120-09-06 13:58:29 2120-10-19 15:10:56         1.4
326879      279533 2120-09-06 13:58:29 2120-10-19 15:10:56         1.2
326880      217440 2109-06-29 17:39:42 2109-07-08 20:29:03         1.0
326881      201268 2194-04-02 16:58:58 2194-04-08 14:47:06         1.9
326882      201268 2194-04-02 16:58:58 2194-04-08 14:47:06         1.9
326883      248499 2193-12-29 18:49:56 2194-01-15 03:16:21         2.2
326884      282660 2167-11-06 13:07:48 2167-11-23 20:04:59         1.5
326885      282660 2167-11-06 13:07:48 2167-11-23 20:04:59         1.5
326886      203681 2110-06-25 18:26:32 2110-07-09 16:33:42         1.5
326887      270091 2125-12-08 03:31:56 2125-12-11 17:15:03         0.6
326888      206662 2190-12-20 00:31:17 2191-01-05 18:05:55         3.2
326889      256008 2137-08-03 05:48:10 2137-10-01 17:01:05         2.6
326890      256008 2137-08-03 05:48:10 2137-10-01 17:01:05         1.7

           creatinine_time
0      2191-03-16 05:42:00
1      2191-03-17 06:00:00
2      2175-05-31 01:48:00
3      2149-11-11 03:00:00
4      2175-06-03 00:58:00
5      2149-11-10 03:00:00
6      2178-04-16 07:12:00
7      2178-04-17 02:35:00
8      2149-11-14 06:00:00
9      2175-06-01 03:00:00
10     2175-06-02 02:06:00
11     2149-11-13 03:20:00
12     2149-11-13 16:04:00
13     2149-11-12 03:00:00
14     2167-01-08 20:28:00
15     2167-01-10 03:27:00
16     2167-01-11 01:44:00
17     2167-01-12 03:27:00
18     2167-01-09 07:11:00
19     2167-01-09 17:09:00
20     2135-05-09 15:13:00
21     2135-05-10 02:05:00
22     2134-09-12 13:30:00
23     2134-12-28 03:41:00
24     2134-12-29 03:18:00
25     2108-08-06 01:08:00
26     2134-12-27 19:21:00
27     2134-09-15 14:10:00
28     2134-09-16 04:50:00
29     2134-09-17 03:14:00
...                    ...
326861 2137-08-11 00:08:00
326862 2137-04-19 01:52:00
326863 2125-12-14 04:23:00
326864 2199-01-04 17:24:00
326865 2199-01-05 04:01:00
326866 2168-10-13 04:34:00
326867 2110-06-29 14:44:00
326868 2110-06-29 21:00:00
326869 2110-06-30 02:18:00
326870 2100-11-25 01:25:00
326871 2100-11-26 02:51:00
326872 2165-06-05 16:46:00
326873 2190-12-26 04:21:00
326874 2190-12-26 17:30:00
326875 2145-12-05 04:41:00
326876 2120-09-28 19:33:00
326877 2120-10-11 17:40:00
326878 2120-10-12 00:16:00
326879 2120-10-12 04:59:00
326880 2109-06-30 18:11:00
326881 2194-04-04 02:42:00
326882 2194-04-05 06:21:00
326883 2193-12-31 19:33:00
326884 2167-11-15 21:18:00
326885 2167-11-16 04:13:00
326886 2110-06-30 14:25:00
326887 2125-12-10 04:23:00
326888 2190-12-27 03:57:00
326889 2137-08-12 02:18:00
326890 2137-08-25 22:35:00

[326891 rows x 5 columns]

In [6]:
# Creatinine measurements, AKI flags + stage for all stays
query = query_schema + """
select
    ie.subject_id, ie.icustay_id, ie.intime, ie.outtime,
    le.valuenum as creatinine, le.charttime as creatinine_time,
    kdigo.aki_7day, kdigo.aki_stage_7day
  from icustays ie
  inner join labevents le
    on ie.subject_id = le.subject_id
    and le.itemid = 50912
    and le.valuenum is not null
    and le.charttime between ie.intime and ie.outtime
  inner join kdigo_stages_7day kdigo
    on ie.icustay_id = kdigo.icustay_id
"""
df = pd.read_sql_query(query, con)
print(df.shape[0])
print(df)

326891
        icustay_id              intime             outtime  creatinine  \
0           228232 2175-05-30 21:30:54 2175-06-03 13:39:54        10.0
1           228232 2175-05-30 21:30:54 2175-06-03 13:39:54         7.4
2           228232 2175-05-30 21:30:54 2175-06-03 13:39:54         6.2
3           294638 2191-03-16 00:29:31 2191-03-17 16:46:31         0.5
4           294638 2191-03-16 00:29:31 2191-03-17 16:46:31         0.4
5           228232 2175-05-30 21:30:54 2175-06-03 13:39:54         5.1
6           220597 2149-11-09 13:07:02 2149-11-14 20:52:14         1.4
7           229441 2178-04-16 06:19:32 2178-04-17 20:21:05         0.7
8           229441 2178-04-16 06:19:32 2178-04-17 20:21:05         0.7
9           220597 2149-11-09 13:07:02 2149-11-14 20:52:14         2.0
10          220597 2149-11-09 13:07:02 2149-11-14 20:52:14         1.6
11          220597 2149-11-09 13:07:02 2149-11-14 20:52:14         1.7
12          220597 2149-11-09 13:07:02 2149-11-14 20:52:14         2.0
13          220597 2149-11-09 13:07:02 2149-11-14 20:52:14         2.0
14          263738 2167-01-08 18:44:25 2167-01-12 10:43:31         0.6
15          263738 2167-01-08 18:44:25 2167-01-12 10:43:31         0.8
16          263738 2167-01-08 18:44:25 2167-01-12 10:43:31         0.5
17          263738 2167-01-08 18:44:25 2167-01-12 10:43:31         0.6
18          263738 2167-01-08 18:44:25 2167-01-12 10:43:31         0.6
19          263738 2167-01-08 18:44:25 2167-01-12 10:43:31         0.4
20          277042 2134-12-27 16:21:48 2134-12-29 18:04:03         0.7
21          257980 2135-05-09 14:12:06 2135-05-10 11:18:34         0.7
22          257980 2135-05-09 14:12:06 2135-05-10 11:18:34         0.7
23          277042 2134-12-27 16:21:48 2134-12-29 18:04:03         0.8
24          277042 2134-12-27 16:21:48 2134-12-29 18:04:03         0.6
25          273430 2108-08-05 16:26:09 2108-08-06 23:40:35         1.2
26          217847 2134-09-11 20:50:04 2134-09-17 18:28:32         3.2
27          298129 2167-10-02 11:20:39 2167-10-03 18:16:05         1.0
28          217847 2134-09-11 20:50:04 2134-09-17 18:28:32         3.6
29          217847 2134-09-11 20:50:04 2134-09-17 18:28:32         4.2
...            ...                 ...                 ...         ...
326861      256008 2137-08-03 05:48:10 2137-10-01 17:01:05         3.4
326862      236560 2137-10-08 18:31:21 2137-10-30 18:46:44         1.4
326863      275773 2137-04-18 10:27:39 2137-04-19 12:22:51         0.5
326864      259308 2125-12-09 15:13:37 2125-12-27 18:43:57         3.4
326865      208382 2199-01-04 13:15:22 2199-01-07 16:44:06         0.7
326866      208382 2199-01-04 13:15:22 2199-01-07 16:44:06         0.7
326867      294299 2112-05-27 19:52:55 2112-05-28 23:14:07         0.6
326868      201555 2168-10-09 07:12:49 2168-10-23 19:00:29         2.1
326869      203681 2110-06-25 18:26:32 2110-07-09 16:33:42         1.4
326870      203681 2110-06-25 18:26:32 2110-07-09 16:33:42         1.3
326871      204903 2164-09-20 01:33:27 2164-10-05 21:14:05         1.1
326872      204903 2164-09-20 01:33:27 2164-10-05 21:14:05         1.2
326873      236560 2137-10-08 18:31:21 2137-10-30 18:46:44         1.3
326874      236560 2137-10-08 18:31:21 2137-10-30 18:46:44         1.4
326875      256008 2137-08-03 05:48:10 2137-10-01 17:01:05         3.7
326876      238637 2145-12-03 19:29:35 2145-12-05 15:44:32         0.6
326877      256008 2137-08-03 05:48:10 2137-10-01 17:01:05         2.4
326878      279533 2120-09-06 13:58:29 2120-10-19 15:10:56         1.2
326879      279533 2120-09-06 13:58:29 2120-10-19 15:10:56         1.7
326880      279533 2120-09-06 13:58:29 2120-10-19 15:10:56         1.4
326881      279533 2120-09-06 13:58:29 2120-10-19 15:10:56         1.2
326882      217440 2109-06-29 17:39:42 2109-07-08 20:29:03         1.0
326883      248499 2193-12-29 18:49:56 2194-01-15 03:16:21         2.2
326884      282660 2167-11-06 13:07:48 2167-11-23 20:04:59         1.5
326885      282660 2167-11-06 13:07:48 2167-11-23 20:04:59         1.5
326886      203681 2110-06-25 18:26:32 2110-07-09 16:33:42         1.5
326887      270091 2125-12-08 03:31:56 2125-12-11 17:15:03         0.6
326888      206662 2190-12-20 00:31:17 2191-01-05 18:05:55         3.0
326889      206662 2190-12-20 00:31:17 2191-01-05 18:05:55         3.0
326890      206662 2190-12-20 00:31:17 2191-01-05 18:05:55         2.8

           creatinine_time  aki_7day  aki_stage_7day
0      2175-05-31 01:48:00       1.0             3.0
1      2175-06-01 03:00:00       1.0             3.0
2      2175-06-02 02:06:00       1.0             3.0
3      2191-03-16 05:42:00       0.0             0.0
4      2191-03-17 06:00:00       0.0             0.0
5      2175-06-03 00:58:00       1.0             3.0
6      2149-11-10 03:00:00       1.0             3.0
7      2178-04-16 07:12:00       0.0             0.0
8      2178-04-17 02:35:00       0.0             0.0
9      2149-11-11 03:00:00       1.0             3.0
10     2149-11-13 03:20:00       1.0             3.0
11     2149-11-13 16:04:00       1.0             3.0
12     2149-11-14 06:00:00       1.0             3.0
13     2149-11-12 03:00:00       1.0             3.0
14     2167-01-08 20:28:00       1.0             3.0
15     2167-01-09 07:11:00       1.0             3.0
16     2167-01-09 17:09:00       1.0             3.0
17     2167-01-10 03:27:00       1.0             3.0
18     2167-01-11 01:44:00       1.0             3.0
19     2167-01-12 03:27:00       1.0             3.0
20     2134-12-28 03:41:00       0.0             0.0
21     2135-05-09 15:13:00       1.0             3.0
22     2135-05-10 02:05:00       1.0             3.0
23     2134-12-27 19:21:00       0.0             0.0
24     2134-12-29 03:18:00       0.0             0.0
25     2108-08-06 01:08:00       0.0             0.0
26     2134-09-13 02:58:00       1.0             3.0
27     2167-10-03 05:14:00       0.0             0.0
28     2134-09-15 14:10:00       1.0             3.0
29     2134-09-16 04:50:00       1.0             3.0
...                    ...       ...             ...
326861 2137-09-23 03:32:00       1.0             3.0
326862 2137-10-28 04:14:00       1.0             3.0
326863 2137-04-19 01:52:00       1.0             1.0
326864 2125-12-14 04:23:00       1.0             3.0
326865 2199-01-04 17:24:00       0.0             3.0
326866 2199-01-05 04:01:00       0.0             3.0
326867 2112-05-28 03:34:00       0.0             0.0
326868 2168-10-13 04:34:00       1.0             3.0
326869 2110-06-29 14:44:00       1.0             3.0
326870 2110-06-29 21:00:00       1.0             3.0
326871 2164-09-27 23:08:00       1.0             2.0
326872 2164-09-28 03:35:00       1.0             2.0
326873 2137-10-29 01:19:00       1.0             3.0
326874 2137-10-30 04:41:00       1.0             3.0
326875 2137-09-24 04:30:00       1.0             3.0
326876 2145-12-04 04:15:00       0.0             0.0
326877 2137-08-11 16:19:00       1.0             3.0
326878 2120-09-28 19:33:00       1.0             2.0
326879 2120-10-11 17:40:00       1.0             2.0
326880 2120-10-12 00:16:00       1.0             2.0
326881 2120-10-12 04:59:00       1.0             2.0
326882 2109-06-30 18:11:00       1.0             3.0
326883 2193-12-31 19:33:00       1.0             3.0
326884 2167-11-15 21:18:00       1.0             3.0
326885 2167-11-16 04:13:00       1.0             3.0
326886 2110-06-30 14:25:00       1.0             3.0
326887 2125-12-10 04:23:00       0.0             0.0
326888 2190-12-27 17:47:00       1.0             3.0
326889 2190-12-28 03:22:00       1.0             3.0
326890 2190-12-28 17:16:00       1.0             3.0

[326891 rows x 7 columns]

In [21]:
# Creatinine measurements, AKI flags + stage for all stays
# Inclusion flag : patient age > 15
query = query_schema + """
with cr as
(
select
    icu.subject_id, icu.icustay_id, icu.intime, icu.outtime,
    le.valuenum as creatinine, le.charttime as creatinine_time,
    kdigo.aki_7day, kdigo.aki_stage_7day,
    EXTRACT('epoch' from icu.intime - pat.dob) / 60.0 / 60.0 / 24.0 / 365.242 AS age
  from icustays icu
  inner join labevents le
    on icu.subject_id = le.subject_id
    and le.itemid = 50912
    and le.valuenum is not null
    and le.charttime between icu.intime and icu.outtime
  inner join kdigo_stages_7day kdigo
    on icu.icustay_id = kdigo.icustay_id
  INNER JOIN patients pat
    ON icu.subject_id = pat.subject_id
)
select
cr.icustay_id, cr.intime, cr.outtime,
    cr.creatinine, cr.creatinine_time,
    cr.aki_7day, cr.aki_stage_7day,
    cr.age, CASE
                WHEN cr.age >= 15 then 1
            ELSE 0 END
            as inclusion_age
  from cr
"""
print(df)
df = pd.read_sql_query(query, con)
df = apply_inclusion_criteria(df)
print(df)

        icustay_id              intime             outtime  creatinine  \
0           294638 2191-03-16 00:29:31 2191-03-17 16:46:31         0.5
1           294638 2191-03-16 00:29:31 2191-03-17 16:46:31         0.4
2           228232 2175-05-30 21:30:54 2175-06-03 13:39:54         7.4
3           228232 2175-05-30 21:30:54 2175-06-03 13:39:54         6.2
4           220597 2149-11-09 13:07:02 2149-11-14 20:52:14         1.4
5           228232 2175-05-30 21:30:54 2175-06-03 13:39:54         5.1
6           228232 2175-05-30 21:30:54 2175-06-03 13:39:54        10.0
7           220597 2149-11-09 13:07:02 2149-11-14 20:52:14         1.6
8           229441 2178-04-16 06:19:32 2178-04-17 20:21:05         0.7
9           229441 2178-04-16 06:19:32 2178-04-17 20:21:05         0.7
10          220597 2149-11-09 13:07:02 2149-11-14 20:52:14         2.0
11          220597 2149-11-09 13:07:02 2149-11-14 20:52:14         2.0
12          220597 2149-11-09 13:07:02 2149-11-14 20:52:14         2.0
13          220597 2149-11-09 13:07:02 2149-11-14 20:52:14         1.7
14          263738 2167-01-08 18:44:25 2167-01-12 10:43:31         0.6
15          263738 2167-01-08 18:44:25 2167-01-12 10:43:31         0.6
16          263738 2167-01-08 18:44:25 2167-01-12 10:43:31         0.6
17          263738 2167-01-08 18:44:25 2167-01-12 10:43:31         0.4
18          263738 2167-01-08 18:44:25 2167-01-12 10:43:31         0.8
19          263738 2167-01-08 18:44:25 2167-01-12 10:43:31         0.5
20          277042 2134-12-27 16:21:48 2134-12-29 18:04:03         0.8
21          257980 2135-05-09 14:12:06 2135-05-10 11:18:34         0.7
22          257980 2135-05-09 14:12:06 2135-05-10 11:18:34         0.7
23          277042 2134-12-27 16:21:48 2134-12-29 18:04:03         0.7
24          277042 2134-12-27 16:21:48 2134-12-29 18:04:03         0.6
25          217847 2134-09-11 20:50:04 2134-09-17 18:28:32         3.6
26          273430 2108-08-05 16:26:09 2108-08-06 23:40:35         1.2
27          217847 2134-09-11 20:50:04 2134-09-17 18:28:32         4.2
28          217847 2134-09-11 20:50:04 2134-09-17 18:28:32         3.8
29          217847 2134-09-11 20:50:04 2134-09-17 18:28:32         3.7
...            ...                 ...                 ...         ...
326861      217827 2119-12-21 20:03:20 2119-12-27 20:59:11         0.7
326862      223573 2119-08-04 10:54:02 2119-08-08 15:50:54         4.9
326863      223573 2119-08-04 10:54:02 2119-08-08 15:50:54         5.0
326864      223573 2119-08-04 10:54:02 2119-08-08 15:50:54         4.9
326865      269787 2184-07-03 22:36:23 2184-07-08 17:40:00         0.6
326866      210414 2193-12-16 21:55:11 2193-12-19 19:58:24         0.8
326867      233981 2125-02-22 22:19:48 2125-03-02 17:15:45         0.6
326868      256008 2137-08-03 05:48:10 2137-10-01 17:01:05         2.1
326869      259308 2125-12-09 15:13:37 2125-12-27 18:43:57         3.5
326870      275773 2137-04-18 10:27:39 2137-04-19 12:22:51         0.7
326871      259308 2125-12-09 15:13:37 2125-12-27 18:43:57         3.7
326872      259308 2125-12-09 15:13:37 2125-12-27 18:43:57         3.9
326873      217827 2119-12-21 20:03:20 2119-12-27 20:59:11         0.7
326874      293747 2174-01-16 07:47:42 2174-01-31 18:44:59         0.7
326875      211693 2196-03-27 17:06:34 2196-04-04 14:59:42         2.7
326876      207394 2160-10-12 02:08:23 2160-10-13 18:23:29         2.9
326877      207394 2160-10-12 02:08:23 2160-10-13 18:23:29         1.5
326878      275773 2137-04-18 10:27:39 2137-04-19 12:22:51         0.5
326879      259308 2125-12-09 15:13:37 2125-12-27 18:43:57         3.4
326880      217827 2119-12-21 20:03:20 2119-12-27 20:59:11         0.6
326881      270716 2165-06-05 16:14:18 2165-06-06 22:41:25         0.5
326882      206662 2190-12-20 00:31:17 2191-01-05 18:05:55         3.2
326883      256008 2137-08-03 05:48:10 2137-10-01 17:01:05         3.7
326884      238637 2145-12-03 19:29:35 2145-12-05 15:44:32         0.6
326885      256008 2137-08-03 05:48:10 2137-10-01 17:01:05         2.4
326886      238637 2145-12-03 19:29:35 2145-12-05 15:44:32         0.7
326887      236560 2137-10-08 18:31:21 2137-10-30 18:46:44         1.5
326888      253953 2138-06-26 17:46:22 2138-07-05 15:52:29         1.2
326889      256008 2137-08-03 05:48:10 2137-10-01 17:01:05         2.6
326890      256008 2137-08-03 05:48:10 2137-10-01 17:01:05         1.7

           creatinine_time  aki_7day  aki_stage_7day         age
0      2191-03-16 05:42:00       0.0             0.0   47.845047
1      2191-03-17 06:00:00       0.0             0.0   47.845047
2      2175-06-01 03:00:00       1.0             3.0   65.942297
3      2175-06-02 02:06:00       1.0             3.0   65.942297
4      2149-11-10 03:00:00       1.0             3.0   41.790228
5      2175-06-03 00:58:00       1.0             3.0   65.942297
6      2175-05-31 01:48:00       1.0             3.0   65.942297
7      2149-11-13 03:20:00       1.0             3.0   41.790228
8      2178-04-16 07:12:00       0.0             0.0   50.148295
9      2178-04-17 02:35:00       0.0             0.0   50.148295
10     2149-11-11 03:00:00       1.0             3.0   41.790228
11     2149-11-12 03:00:00       1.0             3.0   41.790228
12     2149-11-14 06:00:00       1.0             3.0   41.790228
13     2149-11-13 16:04:00       1.0             3.0   41.790228
14     2167-01-08 20:28:00       1.0             3.0   39.866118
15     2167-01-10 03:27:00       1.0             3.0   39.866118
16     2167-01-11 01:44:00       1.0             3.0   39.866118
17     2167-01-12 03:27:00       1.0             3.0   39.866118
18     2167-01-09 07:11:00       1.0             3.0   39.866118
19     2167-01-09 17:09:00       1.0             3.0   39.866118
20     2134-12-27 19:21:00       0.0             0.0   47.455336
21     2135-05-09 15:13:00       1.0             3.0   47.819231
22     2135-05-10 02:05:00       1.0             3.0   47.819231
23     2134-12-28 03:41:00       0.0             0.0   47.455336
24     2134-12-29 03:18:00       0.0             0.0   47.455336
25     2134-09-15 14:10:00       1.0             3.0   87.440295
26     2108-08-06 01:08:00       0.0             0.0  300.002970
27     2134-09-16 04:50:00       1.0             3.0   87.440295
28     2134-09-17 03:14:00       1.0             3.0   87.440295
29     2134-09-11 21:52:00       1.0             3.0   87.440295
...                    ...       ...             ...         ...
326861 2119-12-22 04:02:00       0.0             3.0   48.063573
326862 2119-08-07 12:40:00       1.0             3.0   83.085883
326863 2119-08-07 20:31:00       1.0             3.0   83.085883
326864 2119-08-08 04:35:00       1.0             3.0   83.085883
326865 2184-07-04 04:02:00       0.0             3.0   45.796874
326866 2193-12-17 01:48:00       0.0             0.0   84.891424
326867 2125-03-02 00:31:00       1.0             2.0   80.338325
326868 2137-08-10 01:03:00       1.0             3.0   46.153624
326869 2125-12-13 03:03:00       1.0             3.0   77.755665
326870 2137-04-18 13:19:00       1.0             1.0   60.377601
326871 2125-12-13 16:40:00       1.0             3.0   77.755665
326872 2125-12-13 21:45:00       1.0             3.0   77.755665
326873 2119-12-24 03:49:00       0.0             3.0   48.063573
326874 2174-01-21 03:00:00       0.0             2.0   74.053161
326875 2196-03-31 03:14:00       1.0             1.0   62.960210
326876 2160-10-13 02:25:00       1.0             3.0   58.922821
326877 2160-10-13 13:21:00       1.0             3.0   58.922821
326878 2137-04-19 01:52:00       1.0             1.0   60.377601
326879 2125-12-14 04:23:00       1.0             3.0   77.755665
326880 2119-12-26 00:51:00       0.0             3.0   48.063573
326881 2165-06-05 16:46:00       0.0             0.0   69.090292
326882 2190-12-25 18:00:00       1.0             3.0   52.548781
326883 2137-09-24 04:30:00       1.0             3.0   46.153624
326884 2145-12-04 04:15:00       0.0             0.0   79.864343
326885 2137-08-11 16:19:00       1.0             3.0   46.153624
326886 2145-12-05 04:41:00       0.0             0.0   79.864343
326887 2137-10-30 13:59:00       1.0             3.0   46.335777
326888 2138-06-27 01:17:00       1.0             2.0   47.050286
326889 2137-08-12 02:18:00       1.0             3.0   46.153624
326890 2137-08-25 22:35:00       1.0             3.0   46.153624

[324752 rows x 8 columns]

Initial size of table : 326891
After applying inclusion criteria : 324752
        icustay_id              intime             outtime  creatinine  \
0           294638 2191-03-16 00:29:31 2191-03-17 16:46:31         0.5
1           294638 2191-03-16 00:29:31 2191-03-17 16:46:31         0.4
2           228232 2175-05-30 21:30:54 2175-06-03 13:39:54         5.1
3           220597 2149-11-09 13:07:02 2149-11-14 20:52:14         2.0
4           228232 2175-05-30 21:30:54 2175-06-03 13:39:54        10.0
5           220597 2149-11-09 13:07:02 2149-11-14 20:52:14         1.4
6           220597 2149-11-09 13:07:02 2149-11-14 20:52:14         1.6
7           220597 2149-11-09 13:07:02 2149-11-14 20:52:14         1.7
8           228232 2175-05-30 21:30:54 2175-06-03 13:39:54         7.4
9           228232 2175-05-30 21:30:54 2175-06-03 13:39:54         6.2
10          229441 2178-04-16 06:19:32 2178-04-17 20:21:05         0.7
11          229441 2178-04-16 06:19:32 2178-04-17 20:21:05         0.7
12          220597 2149-11-09 13:07:02 2149-11-14 20:52:14         2.0
13          220597 2149-11-09 13:07:02 2149-11-14 20:52:14         2.0
14          257980 2135-05-09 14:12:06 2135-05-10 11:18:34         0.7
15          263738 2167-01-08 18:44:25 2167-01-12 10:43:31         0.6
16          263738 2167-01-08 18:44:25 2167-01-12 10:43:31         0.6
17          263738 2167-01-08 18:44:25 2167-01-12 10:43:31         0.4
18          263738 2167-01-08 18:44:25 2167-01-12 10:43:31         0.6
19          263738 2167-01-08 18:44:25 2167-01-12 10:43:31         0.8
20          263738 2167-01-08 18:44:25 2167-01-12 10:43:31         0.5
21          257980 2135-05-09 14:12:06 2135-05-10 11:18:34         0.7
22          277042 2134-12-27 16:21:48 2134-12-29 18:04:03         0.7
23          277042 2134-12-27 16:21:48 2134-12-29 18:04:03         0.6
24          277042 2134-12-27 16:21:48 2134-12-29 18:04:03         0.8
25          273430 2108-08-05 16:26:09 2108-08-06 23:40:35         1.2
26          217847 2134-09-11 20:50:04 2134-09-17 18:28:32         4.6
27          217847 2134-09-11 20:50:04 2134-09-17 18:28:32         3.6
28          217847 2134-09-11 20:50:04 2134-09-17 18:28:32         4.2
29          217847 2134-09-11 20:50:04 2134-09-17 18:28:32         3.8
...            ...                 ...                 ...         ...
326861      210910 2177-03-07 15:25:51 2177-03-09 15:14:16         1.0
326862      259308 2125-12-09 15:13:37 2125-12-27 18:43:57         4.0
326863      217827 2119-12-21 20:03:20 2119-12-27 20:59:11         0.6
326864      217827 2119-12-21 20:03:20 2119-12-27 20:59:11         0.7
326865      223573 2119-08-04 10:54:02 2119-08-08 15:50:54         4.9
326866      223573 2119-08-04 10:54:02 2119-08-08 15:50:54         5.0
326867      223573 2119-08-04 10:54:02 2119-08-08 15:50:54         4.9
326868      269787 2184-07-03 22:36:23 2184-07-08 17:40:00         0.6
326869      269787 2184-07-03 22:36:23 2184-07-08 17:40:00         0.7
326870      269787 2184-07-03 22:36:23 2184-07-08 17:40:00         0.6
326871      269787 2184-07-03 22:36:23 2184-07-08 17:40:00         0.7
326872      269787 2184-07-03 22:36:23 2184-07-08 17:40:00         0.7
326873      217827 2119-12-21 20:03:20 2119-12-27 20:59:11         0.7
326874      247833 2130-05-22 21:35:18 2130-05-24 16:45:45         0.6
326875      279533 2120-09-06 13:58:29 2120-10-19 15:10:56         1.8
326876      293747 2174-01-16 07:47:42 2174-01-31 18:44:59         0.8
326877      233847 2118-10-18 16:03:25 2118-10-21 18:59:32         0.9
326878      206662 2190-12-20 00:31:17 2191-01-05 18:05:55         3.2
326879      256008 2137-08-03 05:48:10 2137-10-01 17:01:05         3.7
326880      225304 2152-01-22 12:01:52 2152-01-28 17:20:06         7.3
326881      238637 2145-12-03 19:29:35 2145-12-05 15:44:32         0.7
326882      279533 2120-09-06 13:58:29 2120-10-19 15:10:56         1.2
326883      279533 2120-09-06 13:58:29 2120-10-19 15:10:56         1.7
326884      279533 2120-09-06 13:58:29 2120-10-19 15:10:56         1.4
326885      279533 2120-09-06 13:58:29 2120-10-19 15:10:56         1.2
326886      217440 2109-06-29 17:39:42 2109-07-08 20:29:03         1.0
326887      218841 2175-03-23 17:48:01 2175-03-25 14:15:13         0.7
326888      203681 2110-06-25 18:26:32 2110-07-09 16:33:42         1.3
326889      206662 2190-12-20 00:31:17 2191-01-05 18:05:55         3.2
326890      256008 2137-08-03 05:48:10 2137-10-01 17:01:05         2.8

           creatinine_time  aki_7day  aki_stage_7day         age
0      2191-03-16 05:42:00       0.0             0.0   47.845047
1      2191-03-17 06:00:00       0.0             0.0   47.845047
2      2175-06-03 00:58:00       1.0             3.0   65.942297
3      2149-11-14 06:00:00       1.0             3.0   41.790228
4      2175-05-31 01:48:00       1.0             3.0   65.942297
5      2149-11-10 03:00:00       1.0             3.0   41.790228
6      2149-11-13 03:20:00       1.0             3.0   41.790228
7      2149-11-13 16:04:00       1.0             3.0   41.790228
8      2175-06-01 03:00:00       1.0             3.0   65.942297
9      2175-06-02 02:06:00       1.0             3.0   65.942297
10     2178-04-16 07:12:00       0.0             0.0   50.148295
11     2178-04-17 02:35:00       0.0             0.0   50.148295
12     2149-11-11 03:00:00       1.0             3.0   41.790228
13     2149-11-12 03:00:00       1.0             3.0   41.790228
14     2135-05-09 15:13:00       1.0             3.0   47.819231
15     2167-01-10 03:27:00       1.0             3.0   39.866118
16     2167-01-11 01:44:00       1.0             3.0   39.866118
17     2167-01-12 03:27:00       1.0             3.0   39.866118
18     2167-01-08 20:28:00       1.0             3.0   39.866118
19     2167-01-09 07:11:00       1.0             3.0   39.866118
20     2167-01-09 17:09:00       1.0             3.0   39.866118
21     2135-05-10 02:05:00       1.0             3.0   47.819231
22     2134-12-28 03:41:00       0.0             0.0   47.455336
23     2134-12-29 03:18:00       0.0             0.0   47.455336
24     2134-12-27 19:21:00       0.0             0.0   47.455336
25     2108-08-06 01:08:00       0.0             0.0  300.002970
26     2134-09-12 13:30:00       1.0             3.0   87.440295
27     2134-09-15 14:10:00       1.0             3.0   87.440295
28     2134-09-16 04:50:00       1.0             3.0   87.440295
29     2134-09-17 03:14:00       1.0             3.0   87.440295
...                    ...       ...             ...         ...
326861 2177-03-08 04:44:00       1.0             1.0   87.143984
326862 2125-12-12 01:09:00       1.0             3.0   77.755665
326863 2119-12-21 23:25:00       0.0             3.0   48.063573
326864 2119-12-22 04:02:00       0.0             3.0   48.063573
326865 2119-08-07 12:40:00       1.0             3.0   83.085883
326866 2119-08-07 20:31:00       1.0             3.0   83.085883
326867 2119-08-08 04:35:00       1.0             3.0   83.085883
326868 2184-07-04 04:02:00       0.0             3.0   45.796874
326869 2184-07-04 08:32:00       0.0             3.0   45.796874
326870 2184-07-04 17:00:00       0.0             3.0   45.796874
326871 2184-07-04 23:51:00       0.0             3.0   45.796874
326872 2184-07-05 04:38:00       0.0             3.0   45.796874
326873 2119-12-24 03:49:00       0.0             3.0   48.063573
326874 2130-05-24 14:00:00       1.0             2.0   39.302434
326875 2120-09-17 13:36:00       1.0             2.0   86.125315
326876 2174-01-23 15:23:00       0.0             2.0   74.053161
326877 2118-10-18 17:55:00       1.0             3.0   63.491244
326878 2190-12-25 18:00:00       1.0             3.0   52.548781
326879 2137-09-24 04:30:00       1.0             3.0   46.153624
326880 2152-01-27 05:43:00       1.0             3.0   80.457618
326881 2145-12-05 04:41:00       0.0             0.0   79.864343
326882 2120-09-28 19:33:00       1.0             2.0   86.125315
326883 2120-10-11 17:40:00       1.0             2.0   86.125315
326884 2120-10-12 00:16:00       1.0             2.0   86.125315
326885 2120-10-12 04:59:00       1.0             2.0   86.125315
326886 2109-06-30 18:11:00       1.0             3.0   39.206159
326887 2175-03-24 02:40:00       0.0             0.0   85.186648
326888 2110-06-30 10:45:00       1.0             3.0   56.665905
326889 2190-12-27 03:57:00       1.0             3.0   52.548781
326890 2137-09-25 04:29:00       1.0             3.0   46.153624

[324752 rows x 8 columns]

In [27]:
# Creatinine measurements, AKI flags + stage for all stays
# Inclusion flags :
# patient age > 15
# length of stay > 48hours
query = query_schema + """
with cr as
(
select
    icu.subject_id, icu.icustay_id, icu.intime, icu.outtime, EXTRACT(EPOCH FROM icu.outtime - icu.intime)/60.0/60.0 as length_of_stay,
    le.valuenum as creatinine, le.charttime as creatinine_time,
    kdigo.aki_7day, kdigo.aki_stage_7day,
    EXTRACT('epoch' from icu.intime - pat.dob) / 60.0 / 60.0 / 24.0 / 365.242 AS age
  from icustays icu
  inner join labevents le
    on icu.subject_id = le.subject_id
    and le.itemid = 50912
    and le.valuenum is not null
    and le.charttime between icu.intime and icu.outtime
  inner join kdigo_stages_7day kdigo
    on icu.icustay_id = kdigo.icustay_id
  INNER JOIN patients pat
    ON icu.subject_id = pat.subject_id
)
select
cr.subject_id, cr.icustay_id, cr.intime, cr.outtime,
    cr.creatinine, cr.creatinine_time,
    cr.aki_7day, cr.aki_stage_7day,
    cr.age, CASE
                WHEN cr.age >= 15 then 1
            ELSE 0 END
            as inclusion_age,
  cr.length_of_stay, CASE
                        WHEN cr.length_of_stay >= 48 then 1
                     ELSE 0 END
                     as inclusion_length_of_stay
  from cr
"""
df = pd.read_sql_query(query, con)
print(df.head())
df = apply_inclusion_criteria(df)
print(df.head())

   icustay_id              intime             outtime  creatinine  \
0      228232 2175-05-30 21:30:54 2175-06-03 13:39:54        10.0
1      294638 2191-03-16 00:29:31 2191-03-17 16:46:31         0.5
2      294638 2191-03-16 00:29:31 2191-03-17 16:46:31         0.4
3      228232 2175-05-30 21:30:54 2175-06-03 13:39:54         7.4
4      228232 2175-05-30 21:30:54 2175-06-03 13:39:54         6.2

      creatinine_time  aki_7day  aki_stage_7day        age  inclusion_age  \
0 2175-05-31 01:48:00       1.0             3.0  65.942297              1
1 2191-03-16 05:42:00       0.0             0.0  47.845047              1
2 2191-03-17 06:00:00       0.0             0.0  47.845047              1
3 2175-06-01 03:00:00       1.0             3.0  65.942297              1
4 2175-06-02 02:06:00       1.0             3.0  65.942297              1

   length_of_stay  inclusion_length_of_stay
0       88.150000                         1
1       40.283333                         0
2       40.283333                         0
3       88.150000                         1
4       88.150000                         1
Initial size of table : 326891
After dropping duplicates : 326653
After applying inclusion criteria : 279205
   icustay_id              intime             outtime  creatinine  \
0      228232 2175-05-30 21:30:54 2175-06-03 13:39:54        10.0
3      228232 2175-05-30 21:30:54 2175-06-03 13:39:54         7.4
4      228232 2175-05-30 21:30:54 2175-06-03 13:39:54         6.2
5      220597 2149-11-09 13:07:02 2149-11-14 20:52:14         1.4
6      228232 2175-05-30 21:30:54 2175-06-03 13:39:54         5.1

      creatinine_time  aki_7day  aki_stage_7day        age  length_of_stay
0 2175-05-31 01:48:00       1.0             3.0  65.942297       88.150000
3 2175-06-01 03:00:00       1.0             3.0  65.942297       88.150000
4 2175-06-02 02:06:00       1.0             3.0  65.942297       88.150000
5 2149-11-10 03:00:00       1.0             3.0  41.790228      127.753333
6 2175-06-03 00:58:00       1.0             3.0  65.942297       88.150000

In [49]:
# Creatinine measurements, AKI flags + stage for all stays
# Inclusion flags :
# patient age > 15
# length of stay > 48hours
query = query_schema + """
with cr as
(
select
    icu.subject_id, icu.icustay_id, icu.intime, icu.outtime, EXTRACT(EPOCH FROM icu.outtime - icu.intime)/60.0/60.0 as length_of_stay,
    le.valuenum as creatinine, le.charttime as creatinine_time,
    kdigo.aki_7day, kdigo.aki_stage_7day,
    EXTRACT('epoch' from icu.intime - pat.dob) / 60.0 / 60.0 / 24.0 / 365.242 AS age,
    (rrt.icustay_id is null) as rrt
  from icustays icu
  inner join labevents le
    on icu.subject_id = le.subject_id
    and le.itemid = 50912
    and le.valuenum is not null
    and le.charttime between icu.intime and icu.outtime
  inner join kdigo_stages_7day kdigo
    on icu.icustay_id = kdigo.icustay_id
  inner join patients pat
    ON icu.subject_id = pat.subject_id
  left outer join rrt 
    on icu.icustay_id = rrt.icustay_id
)
select
cr.subject_id, cr.icustay_id, cr.intime, cr.outtime,
    cr.creatinine, cr.creatinine_time,
    cr.aki_7day, cr.aki_stage_7day,
    cr.age, CASE
                WHEN cr.age >= 15 then 1
            ELSE 0 END
            as inclusion_age,
  cr.length_of_stay, CASE
                        WHEN cr.length_of_stay >= 48 then 1
                     ELSE 0 END
                     as inclusion_length_of_stay,
  cr.rrt, CASE
            WHEN cr.rrt = False then 1
          ELSE 0 END
          as inclusion_rrt
  from cr
"""
df = pd.read_sql_query(query, con)
print(df.head())
df = apply_inclusion_criteria(df)
print(df.head())

   icustay_id              intime             outtime  creatinine  \
0      294638 2191-03-16 00:29:31 2191-03-17 16:46:31         0.5
1      228232 2175-05-30 21:30:54 2175-06-03 13:39:54        10.0
2      228232 2175-05-30 21:30:54 2175-06-03 13:39:54         5.1
3      220597 2149-11-09 13:07:02 2149-11-14 20:52:14         1.4
4      229441 2178-04-16 06:19:32 2178-04-17 20:21:05         0.7

      creatinine_time  aki_7day  aki_stage_7day        age  inclusion_age  \
0 2191-03-16 05:42:00       0.0             0.0  47.845047              1
1 2175-05-31 01:48:00       1.0             3.0  65.942297              1
2 2175-06-03 00:58:00       1.0             3.0  65.942297              1
3 2149-11-10 03:00:00       1.0             3.0  41.790228              1
4 2178-04-16 07:12:00       0.0             0.0  50.148295              1

   length_of_stay  inclusion_length_of_stay    rrt  inclusion_rrt
0       40.283333                         0  False              1
1       88.150000                         1  False              1
2       88.150000                         1  False              1
3      127.753333                         1  False              1
4       38.025833                         0  False              1
Initial size of table : 326891
After dropping duplicates : 326653
After applying inclusion criteria : 279205
   icustay_id              intime             outtime  creatinine  \
1      228232 2175-05-30 21:30:54 2175-06-03 13:39:54        10.0
2      228232 2175-05-30 21:30:54 2175-06-03 13:39:54         5.1
3      220597 2149-11-09 13:07:02 2149-11-14 20:52:14         1.4
6      220597 2149-11-09 13:07:02 2149-11-14 20:52:14         2.0
7      220597 2149-11-09 13:07:02 2149-11-14 20:52:14         2.0

      creatinine_time  aki_7day  aki_stage_7day        age  length_of_stay  \
1 2175-05-31 01:48:00       1.0             3.0  65.942297       88.150000
2 2175-06-03 00:58:00       1.0             3.0  65.942297       88.150000
3 2149-11-10 03:00:00       1.0             3.0  41.790228      127.753333
6 2149-11-11 03:00:00       1.0             3.0  41.790228      127.753333
7 2149-11-12 03:00:00       1.0             3.0  41.790228      127.753333

     rrt
1  False
2  False
3  False
6  False
7  False

# Retrieve missing static information

In [7]:
# Creatinine measurements, AKI flags + stage for all stays
# Inclusion flags :
# patient age > 15
# length of stay > 48hours
query = query_schema + """
with cr as
(
select
    icu.subject_id, icu.icustay_id, icu.intime, icu.outtime, EXTRACT(EPOCH FROM icu.outtime - icu.intime)/60.0/60.0 as length_of_stay,
    le.valuenum as creatinine, le.charttime as creatinine_time,
    adm.ethnicity, adm.diagnosis,
    pat.gender as gender,
    EXTRACT('epoch' from icu.intime - pat.dob) / 60.0 / 60.0 / 24.0 / 365.242 AS age,
    (rrt.icustay_id is null) as rrt
  from icustays icu
  inner join labevents le
    on icu.subject_id = le.subject_id
    and le.itemid = 50912
    and le.valuenum is not null
    and le.charttime between icu.intime and icu.outtime
  inner join patients pat
    ON icu.subject_id = pat.subject_id
  inner join admissions adm
    on icu.subject_id = adm.subject_id
  left outer join rrt 
    on icu.icustay_id = rrt.icustay_id
)
select
cr.subject_id, cr.icustay_id, cr.intime, cr.outtime,
    cr.creatinine, cr.creatinine_time,
    cr.ethnicity, cr.diagnosis,
    cr.gender,
    cr.age, CASE
                WHEN cr.age >= 15 then 1
            ELSE 0 END
            as inclusion_age,
  cr.length_of_stay, CASE
                        WHEN cr.length_of_stay >= 48 then 1
                     ELSE 0 END
                     as inclusion_length_of_stay,
  cr.rrt, CASE
            WHEN cr.rrt = False then 1
          ELSE 0 END
          as inclusion_rrt
  from cr
"""
df = pd.read_sql_query(query, con)
print(df.head())
df = apply_inclusion_criteria(df)
print(df.head())

   subject_id  icustay_id              intime             outtime  creatinine  \
0           4      294638 2191-03-16 00:29:31 2191-03-17 16:46:31         0.5
1           4      294638 2191-03-16 00:29:31 2191-03-17 16:46:31         0.4
2           6      228232 2175-05-30 21:30:54 2175-06-03 13:39:54        10.0
3           6      228232 2175-05-30 21:30:54 2175-06-03 13:39:54         7.4
4           6      228232 2175-05-30 21:30:54 2175-06-03 13:39:54         6.2

      creatinine_time ethnicity                            diagnosis gender  \
0 2191-03-16 05:42:00     WHITE  FEVER,DEHYDRATION,FAILURE TO THRIVE      F
1 2191-03-17 06:00:00     WHITE  FEVER,DEHYDRATION,FAILURE TO THRIVE      F
2 2175-05-31 01:48:00     WHITE            CHRONIC RENAL FAILURE/SDA      F
3 2175-06-01 03:00:00     WHITE            CHRONIC RENAL FAILURE/SDA      F
4 2175-06-02 02:06:00     WHITE            CHRONIC RENAL FAILURE/SDA      F

         age  inclusion_age  length_of_stay  inclusion_length_of_stay    rrt  \
0  47.845047              1       40.283333                         0  False
1  47.845047              1       40.283333                         0  False
2  65.942297              1       88.150000                         1  False
3  65.942297              1       88.150000                         1  False
4  65.942297              1       88.150000                         1  False

   inclusion_rrt
0              1
1              1
2              1
3              1
4              1
Initial size of table : 658558
After dropping duplicates : 326653
After applying inclusion criteria : 279205
   subject_id  icustay_id              intime             outtime  creatinine  \
2           6      228232 2175-05-30 21:30:54 2175-06-03 13:39:54        10.0
3           6      228232 2175-05-30 21:30:54 2175-06-03 13:39:54         7.4
4           6      228232 2175-05-30 21:30:54 2175-06-03 13:39:54         6.2
5           6      228232 2175-05-30 21:30:54 2175-06-03 13:39:54         5.1
6           9      220597 2149-11-09 13:07:02 2149-11-14 20:52:14         1.4

      creatinine_time              ethnicity                  diagnosis  \
2 2175-05-31 01:48:00                  WHITE  CHRONIC RENAL FAILURE/SDA
3 2175-06-01 03:00:00                  WHITE  CHRONIC RENAL FAILURE/SDA
4 2175-06-02 02:06:00                  WHITE  CHRONIC RENAL FAILURE/SDA
5 2175-06-03 00:58:00                  WHITE  CHRONIC RENAL FAILURE/SDA
6 2149-11-10 03:00:00  UNKNOWN/NOT SPECIFIED            HEMORRHAGIC CVA

  gender        age  length_of_stay    rrt
2      F  65.942297       88.150000  False
3      F  65.942297       88.150000  False
4      F  65.942297       88.150000  False
5      F  65.942297       88.150000  False
6      M  41.790228      127.753333  False

In [8]:
# REMOVE COLUMNS THAT WERE USED FOR INCLUSION CRITERIA BUT THAT ARE NOT AVAILABLE FEATURES FOR THE PREDICTION
# REMOVE ICUSTAY_IDS FOR WHICH THERE IS ONLY ONE MEASUREMENT OF CREATININE

print('Number of lines : ' + str(df.shape[0]))
to_remove = ['intime','outtime','length_of_stay','rrt']
for c in to_remove:
    if (c in df.columns.values): df = df.drop(c,axis=1)

# Remove icustay_ids for which there's only one measurement of creatinine
count_mes = df['icustay_id'].value_counts()
to_remove = count_mes.index.values[count_mes==1]
for i in to_remove:
    df = df.loc[df['icustay_id']!=i,:]

print('After dropping unique measurements of creatinine : ' + str(df.shape[0]))
print(df.head())

Number of lines : 279205
After dropping unique measurements of creatinine : 279035
   subject_id  icustay_id  creatinine     creatinine_time  \
2           6      228232        10.0 2175-05-31 01:48:00
3           6      228232         7.4 2175-06-01 03:00:00
4           6      228232         6.2 2175-06-02 02:06:00
5           6      228232         5.1 2175-06-03 00:58:00
6           9      220597         1.4 2149-11-10 03:00:00

               ethnicity                  diagnosis gender        age
2                  WHITE  CHRONIC RENAL FAILURE/SDA      F  65.942297
3                  WHITE  CHRONIC RENAL FAILURE/SDA      F  65.942297
4                  WHITE  CHRONIC RENAL FAILURE/SDA      F  65.942297
5                  WHITE  CHRONIC RENAL FAILURE/SDA      F  65.942297
6  UNKNOWN/NOT SPECIFIED            HEMORRHAGIC CVA      M  41.790228

In [9]:
print(df['diagnosis'].value_counts())

SEPSIS                                                            11966
PNEUMONIA                                                         11235
CONGESTIVE HEART FAILURE                                           6719
FEVER                                                              4458
ALTERED MENTAL STATUS                                              4135
CORONARY ARTERY DISEASE                                            3617
ABDOMINAL PAIN                                                     3589
INTRACRANIAL HEMORRHAGE                                            3374
SUBARACHNOID HEMORRHAGE                                            3369
CHEST PAIN                                                         3250
HYPOTENSION                                                        3207
GASTROINTESTINAL BLEED                                             2848
RESPIRATORY FAILURE                                                2543
PANCREATITIS                                                       2537
UPPER GI BLEED                                                     2339
LIVER FAILURE                                                      2004
S/P FALL                                                           1945
ACUTE RENAL FAILURE                                                1850
DIABETIC KETOACIDOSIS                                              1602
DYSPNEA                                                            1549
S/P MOTOR VEHICLE ACCIDENT                                         1409
LOWER GI BLEED                                                     1405
CARDIAC ARREST                                                     1372
RESPIRATORY DISTRESS                                               1366
STROKE;TELEMETRY;TRANSIENT ISCHEMIC ATTACK                         1366
SHORTNESS OF BREATH                                                1304
CORONARY ARTERY DISEASE\CORONARY ARTERY BYPASS GRAFT/SDA           1249
SEIZURE                                                            1144
ASTHMA;COPD EXACERBATION                                           1089
ANEMIA                                                             1064
                                                                  ...
FEVER;LOW PLATELETS                                                   2
LEFT RIB FRACTURES                                                    2
ACHALASIA/SDA                                                         2
ANAPHYLAIXIS                                                          2
3RD DEGREE HEART BLOCK SARCOID                                        2
DYSTONIC RXN                                                          2
HEAD MASS;PNEUMONIA                                                   2
STATUS POST VENTRICULAR FIBRILLATION ARREST\CARDIAC CATH              2
RIGHT LUNG CANCER;WEAKNESS                                            2
CHRONIC OBSTRUVTIVE PULMONARY DISEASE                                 2
SUBDURAL HEMORRHAGE;TRAUMA                                            2
PULMONAY EMBOLISM                                                     2
PYLEONEPHRITIS;CO2 RETENTION                                          2
SHORTNESS OF BREATH;CHRONIC OBST PULM DISEASE;CHF EXACERBATION        2
PERIRECTAL ABSCESS                                                    2
HYPERCARBIA                                                           2
RIGHT MIDDLE LOBE OBSTRUCTION                                         2
CONGESTIVE HEART FAILURE;PNEUMONIA;HYPERTENSION                       2
PORTAL VEIN CLOT                                                      2
UPPER RESPIRATORY INFECTION;PYELONEPHRITIS                            2
DEHISENCE OF WOUND                                                    2
UTI;PYLONEPHRITIS                                                     2
ILIAC ARTERY STENOSIS/SDA                                             2
ETOH WITHDRAWAL;RT FLANK PAIN                                         2
S/P NQW MI\LEFT HEART CATHETERIZATION                                 2
ESOPHAGEAL                                                            2
RECURRENT PLEURAL EFFUSION\PLEUROSCOPY/CHEST TUBE PLACEMENT           2
ACUTE LEG PAIN;SYNCOPE;TELEMETRY;                                     2
CHF,CAD,HYPERTENSION                                                  2
ASTHMA;COPD EXACERBATION;TELEMETRY                                    2
Name: diagnosis, Length: 7940, dtype: int64

In [10]:
# Dump to file
df.to_csv('creatinine_measurements.csv')
print(df)

        subject_id  icustay_id  creatinine     creatinine_time  \
2                6      228232        10.0 2175-05-31 01:48:00
3                6      228232         7.4 2175-06-01 03:00:00
4                6      228232         6.2 2175-06-02 02:06:00
5                6      228232         5.1 2175-06-03 00:58:00
6                9      220597         1.4 2149-11-10 03:00:00
9                9      220597         2.0 2149-11-11 03:00:00
10               9      220597         2.0 2149-11-12 03:00:00
11               9      220597         1.6 2149-11-13 03:20:00
12               9      220597         1.7 2149-11-13 16:04:00
13               9      220597         2.0 2149-11-14 06:00:00
14              13      263738         0.6 2167-01-10 03:27:00
15              13      263738         0.6 2167-01-11 01:44:00
16              13      263738         0.4 2167-01-12 03:27:00
17              13      263738         0.6 2167-01-08 20:28:00
18              13      263738         0.8 2167-01-09 07:11:00
19              13      263738         0.5 2167-01-09 17:09:00
24              17      277042         0.8 2134-12-27 19:21:00
26              17      277042         0.7 2134-12-28 03:41:00
28              17      277042         0.6 2134-12-29 03:18:00
31              21      217847         3.6 2134-09-15 14:10:00
33              21      217847         4.2 2134-09-16 04:50:00
35              21      217847         3.8 2134-09-17 03:14:00
38              21      217847         3.7 2134-09-11 21:52:00
40              21      217847         4.0 2134-09-12 04:30:00
42              21      217847         4.6 2134-09-12 13:30:00
44              21      217847         3.2 2134-09-13 02:58:00
46              21      217847         2.8 2134-09-13 09:00:00
48              21      217847         2.6 2134-09-13 14:58:00
50              21      217847         2.5 2134-09-13 21:37:00
52              21      217847         2.3 2134-09-14 03:54:00
...            ...         ...         ...                 ...
658495       89100      244579         1.0 2167-10-04 14:37:00
658501       88685      283801         1.0 2148-11-24 14:30:00
658504       86144      221869         1.4 2149-12-21 13:39:00
658505       85862      203857         0.9 2111-03-30 20:48:00
658506       85862      203857         0.7 2111-04-01 01:56:00
658507       86415      208298         1.0 2174-03-25 07:00:00
658508       86359      250736         0.5 2108-04-09 02:04:00
658510       86155      296472         4.4 2190-10-29 05:39:00
658511       86155      296472         4.8 2190-10-29 13:12:00
658512       86158      223563         3.2 2151-03-12 03:04:00
658516       88612      239859         0.9 2128-05-17 00:30:00
658517       88612      239859         0.9 2128-05-18 01:00:00
658518       88612      239859         1.0 2128-05-18 20:00:00
658519       89156      299800         1.2 2161-08-18 22:46:00
658520       89156      299800         1.3 2161-08-19 12:19:00
658523       89109      237304         0.7 2111-06-20 03:00:00
658524       88782      280550         4.2 2101-08-01 05:22:00
658526       89100      228963         0.3 2168-07-23 02:02:00
658528       88740      224491         0.4 2188-06-18 03:11:00
658529       88740      224491         0.4 2188-06-19 01:24:00
658530       89100      228963         0.4 2168-07-24 02:20:00
658533       88685      283801         0.9 2148-12-01 02:02:00
658536       89050      254362         0.3 2168-08-10 11:01:00
658537       88782      280550         5.5 2101-08-07 00:30:00
658541       89100      244579         1.0 2167-10-05 01:02:00
658543       89100      244579         0.9 2167-10-05 13:09:00
658547       86144      221869         1.1 2149-12-21 20:05:00
658548       86415      208298         1.2 2174-03-25 15:11:00
658550       86359      250736         0.6 2108-04-10 03:04:00
658553       86146      276383         0.5 2104-02-04 09:40:00

                             ethnicity  \
2                                WHITE
3                                WHITE
4                                WHITE
5                                WHITE
6                UNKNOWN/NOT SPECIFIED
9                UNKNOWN/NOT SPECIFIED
10               UNKNOWN/NOT SPECIFIED
11               UNKNOWN/NOT SPECIFIED
12               UNKNOWN/NOT SPECIFIED
13               UNKNOWN/NOT SPECIFIED
14                               WHITE
15                               WHITE
16                               WHITE
17                               WHITE
18                               WHITE
19                               WHITE
24                               WHITE
26                               WHITE
28                               WHITE
31                               WHITE
33                               WHITE
35                               WHITE
38                               WHITE
40                               WHITE
42                               WHITE
44                               WHITE
46                               WHITE
48                               WHITE
50                               WHITE
52                               WHITE
...                                ...
658495                           WHITE
658501                           WHITE
658504           UNKNOWN/NOT SPECIFIED
658505                           WHITE
658506                           WHITE
658507                           WHITE
658508           UNKNOWN/NOT SPECIFIED
658510                           WHITE
658511                           WHITE
658512                           WHITE
658516    HISPANIC/LATINO - GUATEMALAN
658517    HISPANIC/LATINO - GUATEMALAN
658518    HISPANIC/LATINO - GUATEMALAN
658519                           WHITE
658520                           WHITE
658523                           WHITE
658524  HISPANIC/LATINO - PUERTO RICAN
658526                           WHITE
658528                           WHITE
658529                           WHITE
658530                           WHITE
658533                           WHITE
658536                 WHITE - RUSSIAN
658537  HISPANIC/LATINO - PUERTO RICAN
658541                           WHITE
658543                           WHITE
658547           UNKNOWN/NOT SPECIFIED
658548                           WHITE
658550           UNKNOWN/NOT SPECIFIED
658553              HISPANIC OR LATINO

                                         diagnosis gender         age
2                        CHRONIC RENAL FAILURE/SDA      F   65.942297
3                        CHRONIC RENAL FAILURE/SDA      F   65.942297
4                        CHRONIC RENAL FAILURE/SDA      F   65.942297
5                        CHRONIC RENAL FAILURE/SDA      F   65.942297
6                                  HEMORRHAGIC CVA      M   41.790228
9                                  HEMORRHAGIC CVA      M   41.790228
10                                 HEMORRHAGIC CVA      M   41.790228
11                                 HEMORRHAGIC CVA      M   41.790228
12                                 HEMORRHAGIC CVA      M   41.790228
13                                 HEMORRHAGIC CVA      M   41.790228
14                         CORONARY ARTERY DISEASE      F   39.866118
15                         CORONARY ARTERY DISEASE      F   39.866118
16                         CORONARY ARTERY DISEASE      F   39.866118
17                         CORONARY ARTERY DISEASE      F   39.866118
18                         CORONARY ARTERY DISEASE      F   39.866118
19                         CORONARY ARTERY DISEASE      F   39.866118
24                            PERICARDIAL EFFUSION      F   47.455336
26                            PERICARDIAL EFFUSION      F   47.455336
28                            PERICARDIAL EFFUSION      F   47.455336
31                                          SEPSIS      M   87.440295
33                                          SEPSIS      M   87.440295
35                                          SEPSIS      M   87.440295
38                                          SEPSIS      M   87.440295
40                                          SEPSIS      M   87.440295
42                                          SEPSIS      M   87.440295
44                                          SEPSIS      M   87.440295
46                                          SEPSIS      M   87.440295
48                                          SEPSIS      M   87.440295
50                                          SEPSIS      M   87.440295
52                                          SEPSIS      M   87.440295
...                                            ...    ...         ...
658495                     INTRACRANIAL HEMORRHAGE      F   58.641145
658501                       INCISIONAL HERNIA/SDA      M   65.721212
658504                                TCA OVERDOSE      F   44.730520
658505                     CORONARY ARTERY DISEASE      M   83.188188
658506                     CORONARY ARTERY DISEASE      M   83.188188
658507                                      ANEMIA      F   44.457252
658508                                    SEIZURES      F   74.018707
658510        METASTATIC COLON CANCER TO LIVER/SDA      M   69.019717
658511        METASTATIC COLON CANCER TO LIVER/SDA      M   69.019717
658512                                    GANGRENE      M   65.008699
658516                     SUBARACHNOID HEMORRHAGE      M   45.621775
658517                     SUBARACHNOID HEMORRHAGE      M   45.621775
658518                     SUBARACHNOID HEMORRHAGE      M   45.621775
658519                     LARGE BOWEL OBSTRUCTION      M  300.001750
658520                     LARGE BOWEL OBSTRUCTION      M  300.001750
658523  CHRONIC OBST PULM DISEASE; BILAT PNEUMONIA      F   66.657058
658524                               CHOLECYSTITIS      M   38.172468
658526                     INTRACRANIAL HEMORRHAGE      F   59.447543
658528                           PERINEAL ABSCESS       F   64.275641
658529                           PERINEAL ABSCESS       F   64.275641
658530                     INTRACRANIAL HEMORRHAGE      F   59.447543
658533                       INCISIONAL HERNIA/SDA      M   65.721212
658536                                HYPONATREMIA      F   88.250097
658537                               CHOLECYSTITIS      M   38.172468
658541                     INTRACRANIAL HEMORRHAGE      F   58.641145
658543                     INTRACRANIAL HEMORRHAGE      F   58.641145
658547                                TCA OVERDOSE      F   44.730520
658548                                      ANEMIA      F   44.457252
658550                                    SEIZURES      F   74.018707
658553                                INTOXICATION      M   57.009880

[279035 rows x 8 columns]

# Retrieve interesting lab events for patients that match inclusion criteria

In [ ]:
# TODO : ADD EXCLUSION CRITERIA FOR ESRD AND KIDNEY TRANSPLANT

In [126]:
features_info = pd.DataFrame(columns=['name','table','variable','item_id','item_id_2'],
                             data=[['Urea','labevents','valuenum',51006,None],
                                   ['Sodium','labevents','valuenum',50824,None]])
print(features_info)

     name      table  variable  item_id item_id_2
0    Urea  labevents  valuenum    51006      None
1  Sodium  labevents  valuenum    50824      None

In [154]:
features_info = pd.read_csv('features_info.csv')
features_list = ['Urea','SCr']
# Cut the table for test purposes
features_info = features_info.loc[features_info['name'].apply(lambda x:x in features_list),:]

In [155]:
print(features_info)

   name      table  variable  item_id  item_id_2  item_id_3  item_id_4  \
7   SCr  labevents  valuenum    50912    51081.0        NaN        NaN
8  Urea  labevents  valuenum    51006        NaN        NaN        NaN

   item_id_5  item_id_6
7        NaN        NaN
8        NaN        NaN

In [156]:
# Creatinine measurements
# + Features from labevents

# Inclusion flags :
# patient age > 15
# length of stay > 48hours


query_inc = query_schema + """
with cr as
(
select
    icu.subject_id, icu.icustay_id, icu.intime, icu.outtime, EXTRACT(EPOCH FROM icu.outtime - icu.intime)/60.0/60.0 as length_of_stay,
    le.valuenum as creatinine, le.charttime as creatinine_time,
    EXTRACT('epoch' from icu.intime - pat.dob) / 60.0 / 60.0 / 24.0 / 365.242 AS age,
    (rrt.icustay_id is null) as rrt
  from icustays icu
  inner join labevents le
    on icu.subject_id = le.subject_id
    and le.itemid = 50912
    and le.valuenum is not null
    and le.charttime between icu.intime and icu.outtime
  inner join patients pat
    ON icu.subject_id = pat.subject_id
  left outer join rrt 
    on icu.icustay_id = rrt.icustay_id
),
cr_inc as
(
select
cr.subject_id, cr.icustay_id, cr.intime, cr.outtime,
    cr.creatinine, cr.creatinine_time,
    cr.age, CASE
                WHEN cr.age >= 15 then 1
            ELSE 0 END
            as inclusion_age,
  cr.length_of_stay, CASE
                        WHEN cr.length_of_stay >= 48 then 1
                     ELSE 0 END
                     as inclusion_length_of_stay,
  cr.rrt, CASE
            WHEN cr.rrt = False then 1
          ELSE 0 END
          as inclusion_rrt
  from cr),  
  """
    
query_feat = """
cr_feat as
(
select
cr_inc.subject_id, cr_inc.icustay_id, cr_inc.intime, cr_inc.outtime,
    cr_inc.creatinine, cr_inc.creatinine_time,
    cr_inc.age, cr_inc.inclusion_age,
    cr_inc.length_of_stay, cr_inc.inclusion_length_of_stay,
    cr_inc.rrt, cr_inc.inclusion_rrt
    """
    
for i,row in features_info.iterrows():
    query_feat = query_feat  + """,
    le"""+str(i)+""".valuenum as """+row['name']+""", EXTRACT('epoch' from cr_inc.creatinine_time - le"""+str(i)+""".charttime) as """+row['name']+"""_delay, le"""+str(i)+""".charttime as """+row['name']+"""_time"""
    
query_feat = query_feat +"""
    from cr_inc"""
    
for i,row in features_info.iterrows():
    query_feat = query_feat + """
  left join labevents le"""+str(i)+"""
    on cr_inc.subject_id = le"""+str(i)+""".subject_id
    and le"""+str(i)+""".itemid = """+str(row['item_id'])+"""
    -- and le"""+str(i)+""".valuenum is not null
    and le"""+str(i)+""".charttime between cr_inc.intime and cr_inc.creatinine_time
    """

query_feat = query_feat + """
)
"""
    
query_select = """
select 
a.subject_id, a.icustay_id, a.intime, a.outtime,
    a.creatinine, a.creatinine_time,
    a.age, a.inclusion_age,
    a.length_of_stay, a.inclusion_length_of_stay,
    a.rrt, a.inclusion_rrt
    """
    
for i,row in features_info.iterrows():
    query_select = query_select  + """,
    a."""+row['name']+""", a."""+row['name']+"""_delay, a."""+row['name']+"""_time
    """
    
query_end = """
from cr_feat as a 
"""

for i,row in features_info.iterrows():
    query_end = query_end + """
    inner join (
        -- Get the min seenID for each personID
        select creatinine_time, min("""+row['name']+"""_delay) as """+row['name']+"""_delay
        from cr_feat
        group by creatinine_time
    ) as b"""+str(i)+""" on a.creatinine_time = b"""+str(i)+""".creatinine_time
and a."""+row['name']+"""_delay = b"""+str(i)+"""."""+row['name']+"""_delay
"""

query = query_inc + query_feat + query_select + query_end
print(query)

set search_path to mimiciii;
with cr as
(
select
    icu.subject_id, icu.icustay_id, icu.intime, icu.outtime, EXTRACT(EPOCH FROM icu.outtime - icu.intime)/60.0/60.0 as length_of_stay,
    le.valuenum as creatinine, le.charttime as creatinine_time,
    EXTRACT('epoch' from icu.intime - pat.dob) / 60.0 / 60.0 / 24.0 / 365.242 AS age,
    (rrt.icustay_id is null) as rrt
  from icustays icu
  inner join labevents le
    on icu.subject_id = le.subject_id
    and le.itemid = 50912
    and le.valuenum is not null
    and le.charttime between icu.intime and icu.outtime
  inner join patients pat
    ON icu.subject_id = pat.subject_id
  left outer join rrt
    on icu.icustay_id = rrt.icustay_id
),
cr_inc as
(
select
cr.subject_id, cr.icustay_id, cr.intime, cr.outtime,
    cr.creatinine, cr.creatinine_time,
    cr.age, CASE
                WHEN cr.age >= 15 then 1
            ELSE 0 END
            as inclusion_age,
  cr.length_of_stay, CASE
                        WHEN cr.length_of_stay >= 48 then 1
                     ELSE 0 END
                     as inclusion_length_of_stay,
  cr.rrt, CASE
            WHEN cr.rrt = False then 1
          ELSE 0 END
          as inclusion_rrt
  from cr),

cr_feat as
(
select
cr_inc.subject_id, cr_inc.icustay_id, cr_inc.intime, cr_inc.outtime,
    cr_inc.creatinine, cr_inc.creatinine_time,
    cr_inc.age, cr_inc.inclusion_age,
    cr_inc.length_of_stay, cr_inc.inclusion_length_of_stay,
    cr_inc.rrt, cr_inc.inclusion_rrt
    ,
    le7.valuenum as SCr, EXTRACT('epoch' from cr_inc.creatinine_time - le7.charttime) as SCr_delay, le7.charttime as SCr_time,
    le8.valuenum as Urea, EXTRACT('epoch' from cr_inc.creatinine_time - le8.charttime) as Urea_delay, le8.charttime as Urea_time
    from cr_inc
  left join labevents le7
    on cr_inc.subject_id = le7.subject_id
    and le7.itemid = 50912
    -- and le7.valuenum is not null
    and le7.charttime between cr_inc.intime and cr_inc.creatinine_time

  left join labevents le8
    on cr_inc.subject_id = le8.subject_id
    and le8.itemid = 51006
    -- and le8.valuenum is not null
    and le8.charttime between cr_inc.intime and cr_inc.creatinine_time

)

select
a.subject_id, a.icustay_id, a.intime, a.outtime,
    a.creatinine, a.creatinine_time,
    a.age, a.inclusion_age,
    a.length_of_stay, a.inclusion_length_of_stay,
    a.rrt, a.inclusion_rrt
    ,
    a.SCr, a.SCr_delay, a.SCr_time
    ,
    a.Urea, a.Urea_delay, a.Urea_time

from cr_feat as a

    inner join (
        -- Get the min seenID for each personID
        select creatinine_time, min(SCr_delay) as SCr_delay
        from cr_feat
        group by creatinine_time
    ) as b7 on a.creatinine_time = b7.creatinine_time
and a.SCr_delay = b7.SCr_delay

    inner join (
        -- Get the min seenID for each personID
        select creatinine_time, min(Urea_delay) as Urea_delay
        from cr_feat
        group by creatinine_time
    ) as b8 on a.creatinine_time = b8.creatinine_time
and a.Urea_delay = b8.Urea_delay

In [157]:
df = pd.read_sql_query(query, con)
print(df.head())
df = apply_inclusion_criteria(df)
print(df.head())

   subject_id  icustay_id              intime             outtime  creatinine  \
0           3      211552 2101-10-20 19:10:11 2101-10-26 20:43:09         2.4
1          12      232669 2104-08-08 02:08:17 2104-08-15 17:22:25         1.1
2          12      232669 2104-08-08 02:08:17 2104-08-15 17:22:25         1.3
3          13      263738 2167-01-08 18:44:25 2167-01-12 10:43:31         0.5
4          21      216859 2135-01-30 20:53:34 2135-02-08 05:38:46         4.7

      creatinine_time        age  inclusion_age  length_of_stay  \
0 2101-10-20 19:26:00  76.526792              1      145.549444
1 2104-08-13 03:51:00  72.374177              1      183.235556
2 2104-08-08 04:15:00  72.374177              1      183.235556
3 2167-01-09 17:09:00  39.866118              1       87.985000
4 2135-02-01 02:59:00  87.826347              1      200.753333

   inclusion_length_of_stay    rrt  inclusion_rrt  scr  scr_delay  \
0                         1  False              1  2.4        0.0
1                         1  False              1  1.1        0.0
2                         1  False              1  1.3        0.0
3                         1  False              1  0.5        0.0
4                         1  False              1  4.7        0.0

             scr_time  urea  urea_delay           urea_time
0 2101-10-20 19:26:00  41.0         0.0 2101-10-20 19:26:00
1 2104-08-13 03:51:00  28.0         0.0 2104-08-13 03:51:00
2 2104-08-08 04:15:00  28.0         0.0 2104-08-08 04:15:00
3 2167-01-09 17:09:00  15.0         0.0 2167-01-09 17:09:00
4 2135-02-01 02:59:00  63.0         0.0 2135-02-01 02:59:00
Initial size of table : 328107
After dropping duplicates : 326440
After applying inclusion criteria : 279086
   subject_id  icustay_id              intime             outtime  creatinine  \
0           3      211552 2101-10-20 19:10:11 2101-10-26 20:43:09         2.4
1          12      232669 2104-08-08 02:08:17 2104-08-15 17:22:25         1.1
2          12      232669 2104-08-08 02:08:17 2104-08-15 17:22:25         1.3
3          13      263738 2167-01-08 18:44:25 2167-01-12 10:43:31         0.5
4          21      216859 2135-01-30 20:53:34 2135-02-08 05:38:46         4.7

      creatinine_time        age  length_of_stay    rrt  scr  scr_delay  \
0 2101-10-20 19:26:00  76.526792      145.549444  False  2.4        0.0
1 2104-08-13 03:51:00  72.374177      183.235556  False  1.1        0.0
2 2104-08-08 04:15:00  72.374177      183.235556  False  1.3        0.0
3 2167-01-09 17:09:00  39.866118       87.985000  False  0.5        0.0
4 2135-02-01 02:59:00  87.826347      200.753333  False  4.7        0.0

             scr_time  urea  urea_delay           urea_time
0 2101-10-20 19:26:00  41.0         0.0 2101-10-20 19:26:00
1 2104-08-13 03:51:00  28.0         0.0 2104-08-13 03:51:00
2 2104-08-08 04:15:00  28.0         0.0 2104-08-08 04:15:00
3 2167-01-09 17:09:00  15.0         0.0 2167-01-09 17:09:00
4 2135-02-01 02:59:00  63.0         0.0 2135-02-01 02:59:00

In [113]:
# REMOVE COLUMNS THAT WERE USED FOR INCLUSION CRITERIA BUT THAT ARE NOT AVAILABLE FEATURES FOR THE PREDICTION
# REMOVE ICUSTAY_IDS FOR WHICH THERE IS ONLY ONE MEASUREMENT OF CREATININE

print('Number of lines : ' + str(df.shape[0]))
to_remove = ['intime','outtime','length_of_stay','rrt']
for c in to_remove:
    if (c in df.columns.values): df = df.drop(c,axis=1)

# Remove icustay_ids for which there's only one measurement of creatinine
count_mes = df['icustay_id'].value_counts()
to_remove = count_mes.index.values[count_mes==1]
for i in to_remove:
    df = df.loc[df['icustay_id']!=i,:]

print('After dropping unique measurements of creatinine : ' + str(df.shape[0]))
print(df.head())

Number of lines : 109295
After dropping unique measurements of creatinine : 109047
    subject_id  icustay_id  creatinine     creatinine_time        age  urea  \
0            3      211552         1.7 2101-10-22 21:15:00  76.526792  32.0
5            3      211552         1.6 2101-10-23 03:45:00  76.526792  32.0
11           3      211552         1.5 2101-10-24 03:15:00  76.526792  32.0
18           3      211552         1.9 2101-10-22 04:00:00  76.526792  41.0
22           3      211552         2.5 2101-10-21 03:00:00  76.526792  41.0

    urea_delay           urea_time  sodium  sodium_delay         sodium_time
0          0.0 2101-10-22 21:15:00   139.0      170640.0 2101-10-20 21:51:00
5      23400.0 2101-10-22 21:15:00   139.0      194040.0 2101-10-20 21:51:00
11    108000.0 2101-10-22 21:15:00   139.0      278640.0 2101-10-20 21:51:00
18    117240.0 2101-10-20 19:26:00   139.0      108540.0 2101-10-20 21:51:00
22     27240.0 2101-10-20 19:26:00   139.0       18540.0 2101-10-20 21:51:00

In [51]:
# Dump to file
df.to_csv('creatinine_measurements.csv')
print(df)

        icustay_id              intime             outtime  creatinine  \
1           228232 2175-05-30 21:30:54 2175-06-03 13:39:54        10.0
2           228232 2175-05-30 21:30:54 2175-06-03 13:39:54         5.1
3           220597 2149-11-09 13:07:02 2149-11-14 20:52:14         1.4
6           220597 2149-11-09 13:07:02 2149-11-14 20:52:14         2.0
7           220597 2149-11-09 13:07:02 2149-11-14 20:52:14         2.0
8           220597 2149-11-09 13:07:02 2149-11-14 20:52:14         1.6
9           220597 2149-11-09 13:07:02 2149-11-14 20:52:14         1.7
10          220597 2149-11-09 13:07:02 2149-11-14 20:52:14         2.0
11          263738 2167-01-08 18:44:25 2167-01-12 10:43:31         0.6
12          263738 2167-01-08 18:44:25 2167-01-12 10:43:31         0.6
13          263738 2167-01-08 18:44:25 2167-01-12 10:43:31         0.4
14          263738 2167-01-08 18:44:25 2167-01-12 10:43:31         0.6
15          263738 2167-01-08 18:44:25 2167-01-12 10:43:31         0.8
16          263738 2167-01-08 18:44:25 2167-01-12 10:43:31         0.5
19          277042 2134-12-27 16:21:48 2134-12-29 18:04:03         0.8
20          277042 2134-12-27 16:21:48 2134-12-29 18:04:03         0.7
21          277042 2134-12-27 16:21:48 2134-12-29 18:04:03         0.6
23          217847 2134-09-11 20:50:04 2134-09-17 18:28:32         3.6
24          217847 2134-09-11 20:50:04 2134-09-17 18:28:32         4.2
25          217847 2134-09-11 20:50:04 2134-09-17 18:28:32         3.8
27          217847 2134-09-11 20:50:04 2134-09-17 18:28:32         3.7
28          217847 2134-09-11 20:50:04 2134-09-17 18:28:32         4.0
29          217847 2134-09-11 20:50:04 2134-09-17 18:28:32         4.6
30          217847 2134-09-11 20:50:04 2134-09-17 18:28:32         3.2
31          217847 2134-09-11 20:50:04 2134-09-17 18:28:32         2.8
32          217847 2134-09-11 20:50:04 2134-09-17 18:28:32         2.6
33          217847 2134-09-11 20:50:04 2134-09-17 18:28:32         2.5
34          217847 2134-09-11 20:50:04 2134-09-17 18:28:32         2.3
35          217847 2134-09-11 20:50:04 2134-09-17 18:28:32         2.4
36          217847 2134-09-11 20:50:04 2134-09-17 18:28:32         3.0
...            ...                 ...                 ...         ...
326859      286283 2144-09-17 18:47:14 2144-09-21 18:04:12         0.6
326860      248499 2193-12-29 18:49:56 2194-01-15 03:16:21         2.3
326861      203681 2110-06-25 18:26:32 2110-07-09 16:33:42         1.2
326862      203681 2110-06-25 18:26:32 2110-07-09 16:33:42         1.1
326863      236560 2137-10-08 18:31:21 2137-10-30 18:46:44         1.2
326866      282660 2167-11-06 13:07:48 2167-11-23 20:04:59         2.1
326867      282660 2167-11-06 13:07:48 2167-11-23 20:04:59         1.9
326868      237542 2170-09-11 15:09:26 2170-09-17 20:28:48         1.2
326869      204903 2164-09-20 01:33:27 2164-10-05 21:14:05         1.4
326870      221552 2194-04-21 15:18:22 2194-05-02 16:45:28         1.2
326871      221552 2194-04-21 15:18:22 2194-05-02 16:45:28         1.2
326872      206662 2190-12-20 00:31:17 2191-01-05 18:05:55         3.6
326873      269787 2184-07-03 22:36:23 2184-07-08 17:40:00         0.7
326874      269787 2184-07-03 22:36:23 2184-07-08 17:40:00         0.6
326875      269787 2184-07-03 22:36:23 2184-07-08 17:40:00         0.7
326876      269787 2184-07-03 22:36:23 2184-07-08 17:40:00         0.7
326877      259308 2125-12-09 15:13:37 2125-12-27 18:43:57         3.5
326878      210414 2193-12-16 21:55:11 2193-12-19 19:58:24         0.7
326879      293747 2174-01-16 07:47:42 2174-01-31 18:44:59         0.6
326880      293747 2174-01-16 07:47:42 2174-01-31 18:44:59         0.7
326881      269787 2184-07-03 22:36:23 2184-07-08 17:40:00         0.7
326882      269787 2184-07-03 22:36:23 2184-07-08 17:40:00         0.7
326883      217827 2119-12-21 20:03:20 2119-12-27 20:59:11         0.6
326884      206662 2190-12-20 00:31:17 2191-01-05 18:05:55         3.2
326885      270091 2125-12-08 03:31:56 2125-12-11 17:15:03         0.8
326886      256008 2137-08-03 05:48:10 2137-10-01 17:01:05         1.7
326887      256008 2137-08-03 05:48:10 2137-10-01 17:01:05         1.7
326888      225304 2152-01-22 12:01:52 2152-01-28 17:20:06         7.3
326889      203681 2110-06-25 18:26:32 2110-07-09 16:33:42         1.5
326890      255410 2100-11-14 06:24:38 2100-11-30 13:26:14         0.6

           creatinine_time  aki_7day  aki_stage_7day        age
1      2175-05-31 01:48:00       1.0             3.0  65.942297
2      2175-06-03 00:58:00       1.0             3.0  65.942297
3      2149-11-10 03:00:00       1.0             3.0  41.790228
6      2149-11-11 03:00:00       1.0             3.0  41.790228
7      2149-11-12 03:00:00       1.0             3.0  41.790228
8      2149-11-13 03:20:00       1.0             3.0  41.790228
9      2149-11-13 16:04:00       1.0             3.0  41.790228
10     2149-11-14 06:00:00       1.0             3.0  41.790228
11     2167-01-10 03:27:00       1.0             3.0  39.866118
12     2167-01-11 01:44:00       1.0             3.0  39.866118
13     2167-01-12 03:27:00       1.0             3.0  39.866118
14     2167-01-08 20:28:00       1.0             3.0  39.866118
15     2167-01-09 07:11:00       1.0             3.0  39.866118
16     2167-01-09 17:09:00       1.0             3.0  39.866118
19     2134-12-27 19:21:00       0.0             0.0  47.455336
20     2134-12-28 03:41:00       0.0             0.0  47.455336
21     2134-12-29 03:18:00       0.0             0.0  47.455336
23     2134-09-15 14:10:00       1.0             3.0  87.440295
24     2134-09-16 04:50:00       1.0             3.0  87.440295
25     2134-09-17 03:14:00       1.0             3.0  87.440295
27     2134-09-11 21:52:00       1.0             3.0  87.440295
28     2134-09-12 04:30:00       1.0             3.0  87.440295
29     2134-09-12 13:30:00       1.0             3.0  87.440295
30     2134-09-13 02:58:00       1.0             3.0  87.440295
31     2134-09-13 09:00:00       1.0             3.0  87.440295
32     2134-09-13 14:58:00       1.0             3.0  87.440295
33     2134-09-13 21:37:00       1.0             3.0  87.440295
34     2134-09-14 03:54:00       1.0             3.0  87.440295
35     2134-09-14 10:30:00       1.0             3.0  87.440295
36     2134-09-15 01:47:00       1.0             3.0  87.440295
...                    ...       ...             ...        ...
326859 2144-09-21 01:59:00       1.0             3.0  60.206063
326860 2194-01-06 21:44:00       1.0             3.0  51.346189
326861 2110-07-07 01:37:00       1.0             3.0  56.665905
326862 2110-07-07 13:35:00       1.0             3.0  56.665905
326863 2137-10-22 19:50:00       1.0             3.0  46.335777
326866 2167-11-13 20:53:00       1.0             3.0  51.980734
326867 2167-11-14 03:00:00       1.0             3.0  51.980734
326868 2170-09-13 02:17:00       0.0             3.0  66.155129
326869 2164-10-05 02:07:00       1.0             2.0  78.813677
326870 2194-04-30 03:31:00       1.0             2.0  84.408797
326871 2194-05-01 04:20:00       1.0             2.0  84.408797
326872 2190-12-22 05:56:00       1.0             3.0  52.548781
326873 2184-07-04 08:32:00       0.0             3.0  45.796874
326874 2184-07-04 17:00:00       0.0             3.0  45.796874
326875 2184-07-04 23:51:00       0.0             3.0  45.796874
326876 2184-07-05 04:38:00       0.0             3.0  45.796874
326877 2125-12-13 03:03:00       1.0             3.0  77.755665
326878 2193-12-18 03:53:00       0.0             0.0  84.891424
326879 2174-01-22 03:09:00       0.0             2.0  74.053161
326880 2174-01-23 02:56:00       0.0             2.0  74.053161
326881 2184-07-05 15:45:00       0.0             3.0  45.796874
326882 2184-07-06 04:07:00       0.0             3.0  45.796874
326883 2119-12-26 00:51:00       0.0             3.0  48.063573
326884 2190-12-25 18:00:00       1.0             3.0  52.548781
326885 2125-12-08 04:45:00       0.0             0.0  54.840755
326886 2137-08-25 11:18:00       1.0             3.0  46.153624
326887 2137-08-25 17:37:00       1.0             3.0  46.153624
326888 2152-01-27 05:43:00       1.0             3.0  80.457618
326889 2110-06-30 14:25:00       1.0             3.0  56.665905
326890 2100-11-27 02:21:00       0.0             1.0  28.896641

[279035 rows x 8 columns]

# Alternative : retrieve independently each feature and merge tables afterwards

In [12]:
features_info = pd.read_csv('features_info.csv')
#features_list = ['Urea','Temperature']
# Cut the table for test purposes
#features_info = features_info.loc[features_info['name'].apply(lambda x:x in features_list),:].reset_index(drop=True)
print(features_info)

                           name        table  variable  item_id  item_id_2  \
0    Arterial_pressure_systolic  chartevents  valuenum        6       51.0
1   Arterial_pressure_diastolic  chartevents  valuenum     8364     8368.0
2                    Heart_rate  chartevents  valuenum      211   220045.0
3                  Weight_daily  chartevents  valuenum      763   224639.0
4                   Temperature  chartevents  valuenum   223761      678.0
5                  Urine_output  chartevents  valuenum    43966    44706.0
6              day_urine_output  chartevents  valuenum    43372        NaN
7                           SCr    labevents  valuenum    50912    51081.0
8                          Urea    labevents  valuenum    51006        NaN
9                        Sodium    labevents  valuenum    50824    50983.0
10                    Potassium    labevents  valuenum    50822    50971.0
11                      Calcium    labevents  valuenum    50808    50893.0
12                     Phosphor    labevents  valuenum    50970        NaN
13                   Leukocytes    labevents  valuenum    51300        NaN
14                  Hemoglobine    labevents  valuenum    50811    50855.0
15                  Bicarbonate    labevents  valuenum    50803    50882.0
16                      Lactate    labevents  valuenum    50813        NaN
17                    Uric_acid    labevents  valuenum    51007        NaN
18                     Chloride    labevents  valuenum    50806    50902.0
19                  Neutrophils    labevents  valuenum    51256        NaN
20                  Lymphocytes    labevents  valuenum    51244    51133.0
21               Platelet_count    labevents  valuenum    51265        NaN
22                     pH_blood    labevents  valuenum    50820        NaN
23                     pH_urine    labevents  valuenum    51094    51491.0
24                    Monocytes    labevents  valuenum    51253    51254.0
25                   fibrinogen    labevents  valuenum    51214        NaN
26               urinary_sodium    labevents  valuenum    51100        NaN
27            urinary_potassium    labevents  valuenum    51097        NaN
28                   urine_urea    labevents  valuenum    51104        NaN
29              urine_creatinin    labevents  valuenum    51082    51081.0
30          alkaline_phospatase    labevents  valuenum    50863        NaN
31          Total_protein_blood    labevents  valuenum    50976        NaN
32                      albumin    labevents  valuenum    50862        NaN
33          Total_protein_urine    labevents  valuenum    51102    51492.0
34                    bilirubin    labevents  valuenum    50885        NaN
35           C_reactive_protein    labevents  valuenum    50889        NaN

    item_id_3  item_id_4  item_id_5  item_id_6
0       455.0   220050.0   220179.0   225309.0
1      8441.0   220051.0   220180.0   225310.0
2         NaN        NaN        NaN        NaN
3         NaN        NaN        NaN        NaN
4       645.0        NaN        NaN        NaN
5         NaN        NaN        NaN        NaN
6         NaN        NaN        NaN        NaN
7         NaN        NaN        NaN        NaN
8         NaN        NaN        NaN        NaN
9         NaN        NaN        NaN        NaN
10        NaN        NaN        NaN        NaN
11        NaN        NaN        NaN        NaN
12        NaN        NaN        NaN        NaN
13        NaN        NaN        NaN        NaN
14    51222.0        NaN        NaN        NaN
15        NaN        NaN        NaN        NaN
16        NaN        NaN        NaN        NaN
17        NaN        NaN        NaN        NaN
18        NaN        NaN        NaN        NaN
19        NaN        NaN        NaN        NaN
20        NaN        NaN        NaN        NaN
21        NaN        NaN        NaN        NaN
22        NaN        NaN        NaN        NaN
23        NaN        NaN        NaN        NaN
24        NaN        NaN        NaN        NaN
25        NaN        NaN        NaN        NaN
26        NaN        NaN        NaN        NaN
27        NaN        NaN        NaN        NaN
28        NaN        NaN        NaN        NaN
29    51106.0        NaN        NaN        NaN
30        NaN        NaN        NaN        NaN
31        NaN        NaN        NaN        NaN
32        NaN        NaN        NaN        NaN
33        NaN        NaN        NaN        NaN
34        NaN        NaN        NaN        NaN
35        NaN        NaN        NaN        NaN

In [13]:
query = query_schema + """
with cr as
(
select
    icu.subject_id, icu.icustay_id, icu.intime, icu.outtime, EXTRACT(EPOCH FROM icu.outtime - icu.intime)/60.0/60.0 as length_of_stay,
    le.valuenum as creatinine, le.charttime as creatinine_time,
    EXTRACT('epoch' from icu.intime - pat.dob) / 60.0 / 60.0 / 24.0 / 365.242 AS age,
    (rrt.icustay_id is null) as rrt
  from icustays icu
  inner join """+features_info.loc[0,'table']+""" le
    on icu.subject_id = le.subject_id
    and le.itemid = 50912
    and le."""+features_info.loc[0,'variable']+""" is not null
    and le.charttime between icu.intime and icu.outtime
  inner join patients pat
    ON icu.subject_id = pat.subject_id
  left outer join rrt 
    on icu.icustay_id = rrt.icustay_id
),
cr_inc as
(
select
cr.subject_id, cr.icustay_id, cr.intime, cr.outtime,
    cr.creatinine, cr.creatinine_time,
    cr.age, CASE
                WHEN cr.age >= 15 then 1
            ELSE 0 END
            as inclusion_age,
  cr.length_of_stay, CASE
                        WHEN cr.length_of_stay >= 48 then 1
                     ELSE 0 END
                     as inclusion_length_of_stay,
  cr.rrt, CASE
            WHEN cr.rrt = False then 1
          ELSE 0 END
          as inclusion_rrt
  from cr),
cr_feat as
(
select
cr_inc.subject_id, cr_inc.icustay_id, cr_inc.intime, cr_inc.outtime,
    cr_inc.creatinine, cr_inc.creatinine_time,
    cr_inc.age, cr_inc.inclusion_age,
    cr_inc.length_of_stay, cr_inc.inclusion_length_of_stay,
    cr_inc.rrt, cr_inc.inclusion_rrt,
    le.valuenum as """+features_info.loc[0,'name']+""", EXTRACT('epoch' from cr_inc.creatinine_time - le.charttime) as """+features_info.loc[0,'name']+"""_delay, le.charttime as """+features_info.loc[0,'name']+"""_time
  from cr_inc
  inner join """+features_info.loc[0,'table']+""" le
    on cr_inc.subject_id = le.subject_id
    and le.itemid = """+str(features_info.loc[0,'item_id'])+"""
    and le."""+features_info.loc[0,'variable']+""" is not null
    and le.charttime between cr_inc.intime and cr_inc.creatinine_time
)
select 
a.subject_id, a.icustay_id, a.intime, a.outtime,
    a.creatinine, a.creatinine_time,
    a.age, a.inclusion_age,
    a.length_of_stay, a.inclusion_length_of_stay,
    a.rrt, a.inclusion_rrt,
    a."""+features_info.loc[0,'name']+""", a."""+features_info.loc[0,'name']+"""_delay, a."""+features_info.loc[0,'name']+"""_time
from cr_feat as a
    join (
        -- Get the min seenID for each personID
        select creatinine_time, min("""+features_info.loc[0,'name']+"""_delay) as """+features_info.loc[0,'name']+"""_delay
        from cr_feat
        group by creatinine_time
    ) as b on a.creatinine_time = b.creatinine_time
where a."""+features_info.loc[0,'name']+"""_delay = b."""+features_info.loc[0,'name']+"""_delay
"""
last_df = pd.read_sql_query(query, con)
print(last_df.head())
last_df = apply_inclusion_criteria(last_df)
print(last_df.head())
    
for i,row in features_info.loc[1:,:].iterrows():
    print('------------------------------------')
    print('--- Processing feature : ' + row['name'])

    query = query_schema + """
    with cr as
    (
    select
        icu.subject_id, icu.icustay_id, icu.intime, icu.outtime, EXTRACT(EPOCH FROM icu.outtime - icu.intime)/60.0/60.0 as length_of_stay,
        le.valuenum as creatinine, le.charttime as creatinine_time,
        EXTRACT('epoch' from icu.intime - pat.dob) / 60.0 / 60.0 / 24.0 / 365.242 AS age,
        (rrt.icustay_id is null) as rrt
      from icustays icu
      inner join """+row['table']+""" le
        on icu.subject_id = le.subject_id
        and le.itemid = 50912
        and le."""+row['variable']+""" is not null
        and le.charttime between icu.intime and icu.outtime
      inner join patients pat
        ON icu.subject_id = pat.subject_id
      left outer join rrt 
        on icu.icustay_id = rrt.icustay_id
    ),
    cr_inc as
    (
    select
    cr.subject_id, cr.icustay_id, cr.intime, cr.outtime,
        cr.creatinine, cr.creatinine_time,
        cr.age, CASE
                    WHEN cr.age >= 15 then 1
                ELSE 0 END
                as inclusion_age,
      cr.length_of_stay, CASE
                            WHEN cr.length_of_stay >= 48 then 1
                         ELSE 0 END
                         as inclusion_length_of_stay,
      cr.rrt, CASE
                WHEN cr.rrt = False then 1
              ELSE 0 END
              as inclusion_rrt
      from cr),
    cr_feat as
    (
    select
    cr_inc.subject_id, cr_inc.icustay_id, cr_inc.intime, cr_inc.outtime,
        cr_inc.creatinine, cr_inc.creatinine_time,
        cr_inc.age, cr_inc.inclusion_age,
        cr_inc.length_of_stay, cr_inc.inclusion_length_of_stay,
        cr_inc.rrt, cr_inc.inclusion_rrt,
        le.valuenum as """+row['name']+""", EXTRACT('epoch' from cr_inc.creatinine_time - le.charttime) as """+row['name']+"""_delay, le.charttime as """+row['name']+"""_time
      from cr_inc
      inner join """+row['table']+""" le
        on cr_inc.subject_id = le.subject_id
        and le.itemid = """+str(row['item_id'])+"""
        and le."""+row['variable']+""" is not null
        and le.charttime between cr_inc.intime and cr_inc.creatinine_time
    )
    select 
    a.subject_id, a.icustay_id, a.intime, a.outtime,
        a.creatinine, a.creatinine_time,
        a.age, a.inclusion_age,
        a.length_of_stay, a.inclusion_length_of_stay,
        a.rrt, a.inclusion_rrt,
        a."""+row['name']+""", a."""+row['name']+"""_delay, a."""+row['name']+"""_time
    from cr_feat as a
        join (
            -- Get the min seenID for each personID
            select creatinine_time, min("""+row['name']+"""_delay) as """+row['name']+"""_delay
            from cr_feat
            group by creatinine_time
        ) as b on a.creatinine_time = b.creatinine_time
    where a."""+row['name']+"""_delay = b."""+row['name']+"""_delay
    """
    df = pd.read_sql_query(query, con)
    df = apply_inclusion_criteria(df)
    print(df.head())
    last_df = pd.merge(last_df,df,on=['subject_id', 'icustay_id', 'intime', 'outtime', 'creatinine',
       'creatinine_time', 'age', 'length_of_stay', 'rrt'],how='outer')
    print('---------------------------------')
    print('Merged table size : ' + str(last_df.shape[0]))
    print(last_df.head())

Empty DataFrame
Columns: [subject_id, icustay_id, intime, outtime, creatinine, creatinine_time, age, inclusion_age, length_of_stay, inclusion_length_of_stay, rrt, inclusion_rrt, arterial_pressure_systolic, arterial_pressure_systolic_delay, arterial_pressure_systolic_time]
Index: []
Initial size of table : 0
After dropping duplicates : 0
After applying inclusion criteria : 0
Empty DataFrame
Columns: [subject_id, icustay_id, intime, outtime, creatinine, creatinine_time, age, length_of_stay, rrt, arterial_pressure_systolic, arterial_pressure_systolic_delay, arterial_pressure_systolic_time]
Index: []
------------------------------------
--- Processing feature : Arterial_pressure_diastolic
Initial size of table : 0
After dropping duplicates : 0
After applying inclusion criteria : 0
Empty DataFrame
Columns: [subject_id, icustay_id, intime, outtime, creatinine, creatinine_time, age, length_of_stay, rrt, arterial_pressure_diastolic, arterial_pressure_diastolic_delay, arterial_pressure_diastolic_time]
Index: []
---------------------------------
Merged table size : 0
Empty DataFrame
Columns: [arterial_pressure_systolic, arterial_pressure_systolic_delay, arterial_pressure_systolic_time, subject_id, icustay_id, intime, outtime, creatinine, creatinine_time, age, length_of_stay, rrt, arterial_pressure_diastolic, arterial_pressure_diastolic_delay, arterial_pressure_diastolic_time]
Index: []
------------------------------------
--- Processing feature : Heart_rate
Initial size of table : 0
After dropping duplicates : 0
After applying inclusion criteria : 0
Empty DataFrame
Columns: [subject_id, icustay_id, intime, outtime, creatinine, creatinine_time, age, length_of_stay, rrt, heart_rate, heart_rate_delay, heart_rate_time]
Index: []
---------------------------------
Merged table size : 0
Empty DataFrame
Columns: [arterial_pressure_systolic, arterial_pressure_systolic_delay, arterial_pressure_systolic_time, arterial_pressure_diastolic, arterial_pressure_diastolic_delay, arterial_pressure_diastolic_time, subject_id, icustay_id, intime, outtime, creatinine, creatinine_time, age, length_of_stay, rrt, heart_rate, heart_rate_delay, heart_rate_time]
Index: []
------------------------------------
--- Processing feature : Weight_daily
Initial size of table : 0
After dropping duplicates : 0
After applying inclusion criteria : 0
Empty DataFrame
Columns: [subject_id, icustay_id, intime, outtime, creatinine, creatinine_time, age, length_of_stay, rrt, weight_daily, weight_daily_delay, weight_daily_time]
Index: []
---------------------------------
Merged table size : 0
Empty DataFrame
Columns: [arterial_pressure_systolic, arterial_pressure_systolic_delay, arterial_pressure_systolic_time, arterial_pressure_diastolic, arterial_pressure_diastolic_delay, arterial_pressure_diastolic_time, heart_rate, heart_rate_delay, heart_rate_time, subject_id, icustay_id, intime, outtime, creatinine, creatinine_time, age, length_of_stay, rrt, weight_daily, weight_daily_delay, weight_daily_time]
Index: []

[0 rows x 21 columns]
------------------------------------
--- Processing feature : Temperature
Initial size of table : 0
After dropping duplicates : 0
After applying inclusion criteria : 0
Empty DataFrame
Columns: [subject_id, icustay_id, intime, outtime, creatinine, creatinine_time, age, length_of_stay, rrt, temperature, temperature_delay, temperature_time]
Index: []
---------------------------------
Merged table size : 0
Empty DataFrame
Columns: [arterial_pressure_systolic, arterial_pressure_systolic_delay, arterial_pressure_systolic_time, arterial_pressure_diastolic, arterial_pressure_diastolic_delay, arterial_pressure_diastolic_time, heart_rate, heart_rate_delay, heart_rate_time, weight_daily, weight_daily_delay, weight_daily_time, subject_id, icustay_id, intime, outtime, creatinine, creatinine_time, age, length_of_stay, rrt, temperature, temperature_delay, temperature_time]
Index: []

[0 rows x 24 columns]
------------------------------------
--- Processing feature : Urine_output
Initial size of table : 0
After dropping duplicates : 0
After applying inclusion criteria : 0
Empty DataFrame
Columns: [subject_id, icustay_id, intime, outtime, creatinine, creatinine_time, age, length_of_stay, rrt, urine_output, urine_output_delay, urine_output_time]
Index: []
---------------------------------
Merged table size : 0
Empty DataFrame
Columns: [arterial_pressure_systolic, arterial_pressure_systolic_delay, arterial_pressure_systolic_time, arterial_pressure_diastolic, arterial_pressure_diastolic_delay, arterial_pressure_diastolic_time, heart_rate, heart_rate_delay, heart_rate_time, weight_daily, weight_daily_delay, weight_daily_time, temperature, temperature_delay, temperature_time, subject_id, icustay_id, intime, outtime, creatinine, creatinine_time, age, length_of_stay, rrt, urine_output, urine_output_delay, urine_output_time]
Index: []

[0 rows x 27 columns]
------------------------------------
--- Processing feature : day_urine_output
Initial size of table : 0
After dropping duplicates : 0
After applying inclusion criteria : 0
Empty DataFrame
Columns: [subject_id, icustay_id, intime, outtime, creatinine, creatinine_time, age, length_of_stay, rrt, day_urine_output, day_urine_output_delay, day_urine_output_time]
Index: []
---------------------------------
Merged table size : 0
Empty DataFrame
Columns: [arterial_pressure_systolic, arterial_pressure_systolic_delay, arterial_pressure_systolic_time, arterial_pressure_diastolic, arterial_pressure_diastolic_delay, arterial_pressure_diastolic_time, heart_rate, heart_rate_delay, heart_rate_time, weight_daily, weight_daily_delay, weight_daily_time, temperature, temperature_delay, temperature_time, urine_output, urine_output_delay, urine_output_time, subject_id, icustay_id, intime, outtime, creatinine, creatinine_time, age, length_of_stay, rrt, day_urine_output, day_urine_output_delay, day_urine_output_time]
Index: []

[0 rows x 30 columns]
------------------------------------
--- Processing feature : SCr

/usr/local/lib/python3.6/site-packages/pandas/core/reshape/merge.py:1457: RuntimeWarning: divide by zero encountered in long_scalars
  stride //= shape[i]

Initial size of table : 327367
After dropping duplicates : 326653
After applying inclusion criteria : 279205
   subject_id  icustay_id              intime             outtime  creatinine  \
0           3      211552 2101-10-20 19:10:11 2101-10-26 20:43:09         2.4
1          12      232669 2104-08-08 02:08:17 2104-08-15 17:22:25         1.1
2          12      232669 2104-08-08 02:08:17 2104-08-15 17:22:25         1.3
3          13      263738 2167-01-08 18:44:25 2167-01-12 10:43:31         0.5
4          21      216859 2135-01-30 20:53:34 2135-02-08 05:38:46         4.7

      creatinine_time        age  length_of_stay    rrt  scr  scr_delay  \
0 2101-10-20 19:26:00  76.526792      145.549444  False  2.4        0.0
1 2104-08-13 03:51:00  72.374177      183.235556  False  1.1        0.0
2 2104-08-08 04:15:00  72.374177      183.235556  False  1.3        0.0
3 2167-01-09 17:09:00  39.866118       87.985000  False  0.5        0.0
4 2135-02-01 02:59:00  87.826347      200.753333  False  4.7        0.0

             scr_time
0 2101-10-20 19:26:00
1 2104-08-13 03:51:00
2 2104-08-08 04:15:00
3 2167-01-09 17:09:00
4 2135-02-01 02:59:00
---------------------------------
Merged table size : 279205
  arterial_pressure_systolic arterial_pressure_systolic_delay  \
0                        NaN                              NaN
1                        NaN                              NaN
2                        NaN                              NaN
3                        NaN                              NaN
4                        NaN                              NaN

  arterial_pressure_systolic_time arterial_pressure_diastolic  \
0                             NaN                         NaN
1                             NaN                         NaN
2                             NaN                         NaN
3                             NaN                         NaN
4                             NaN                         NaN

  arterial_pressure_diastolic_delay arterial_pressure_diastolic_time  \
0                               NaN                              NaN
1                               NaN                              NaN
2                               NaN                              NaN
3                               NaN                              NaN
4                               NaN                              NaN

  heart_rate heart_rate_delay heart_rate_time weight_daily  \
0        NaN              NaN             NaN          NaN
1        NaN              NaN             NaN          NaN
2        NaN              NaN             NaN          NaN
3        NaN              NaN             NaN          NaN
4        NaN              NaN             NaN          NaN

          ...                      intime             outtime creatinine  \
0         ...         2101-10-20 19:10:11 2101-10-26 20:43:09        2.4
1         ...         2104-08-08 02:08:17 2104-08-15 17:22:25        1.1
2         ...         2104-08-08 02:08:17 2104-08-15 17:22:25        1.3
3         ...         2167-01-08 18:44:25 2167-01-12 10:43:31        0.5
4         ...         2135-01-30 20:53:34 2135-02-08 05:38:46        4.7

      creatinine_time        age length_of_stay    rrt  scr scr_delay  \
0 2101-10-20 19:26:00  76.526792     145.549444  False  2.4       0.0
1 2104-08-13 03:51:00  72.374177     183.235556  False  1.1       0.0
2 2104-08-08 04:15:00  72.374177     183.235556  False  1.3       0.0
3 2167-01-09 17:09:00  39.866118      87.985000  False  0.5       0.0
4 2135-02-01 02:59:00  87.826347     200.753333  False  4.7       0.0

             scr_time
0 2101-10-20 19:26:00
1 2104-08-13 03:51:00
2 2104-08-08 04:15:00
3 2167-01-09 17:09:00
4 2135-02-01 02:59:00

[5 rows x 33 columns]
------------------------------------
--- Processing feature : Urea
Initial size of table : 327154
After dropping duplicates : 326439
After applying inclusion criteria : 279085
   subject_id  icustay_id              intime             outtime  creatinine  \
0           3      211552 2101-10-20 19:10:11 2101-10-26 20:43:09         2.4
1          12      232669 2104-08-08 02:08:17 2104-08-15 17:22:25         1.1
2          12      232669 2104-08-08 02:08:17 2104-08-15 17:22:25         1.3
3          13      263738 2167-01-08 18:44:25 2167-01-12 10:43:31         0.5
4          21      216859 2135-01-30 20:53:34 2135-02-08 05:38:46         4.7

      creatinine_time        age  length_of_stay    rrt  urea  urea_delay  \
0 2101-10-20 19:26:00  76.526792      145.549444  False  41.0         0.0
1 2104-08-13 03:51:00  72.374177      183.235556  False  28.0         0.0
2 2104-08-08 04:15:00  72.374177      183.235556  False  28.0         0.0
3 2167-01-09 17:09:00  39.866118       87.985000  False  15.0         0.0
4 2135-02-01 02:59:00  87.826347      200.753333  False  63.0         0.0

            urea_time
0 2101-10-20 19:26:00
1 2104-08-13 03:51:00
2 2104-08-08 04:15:00
3 2167-01-09 17:09:00
4 2135-02-01 02:59:00
---------------------------------
Merged table size : 279206
  arterial_pressure_systolic arterial_pressure_systolic_delay  \
0                        NaN                              NaN
1                        NaN                              NaN
2                        NaN                              NaN
3                        NaN                              NaN
4                        NaN                              NaN

  arterial_pressure_systolic_time arterial_pressure_diastolic  \
0                             NaN                         NaN
1                             NaN                         NaN
2                             NaN                         NaN
3                             NaN                         NaN
4                             NaN                         NaN

  arterial_pressure_diastolic_delay arterial_pressure_diastolic_time  \
0                               NaN                              NaN
1                               NaN                              NaN
2                               NaN                              NaN
3                               NaN                              NaN
4                               NaN                              NaN

  heart_rate heart_rate_delay heart_rate_time weight_daily  \
0        NaN              NaN             NaN          NaN
1        NaN              NaN             NaN          NaN
2        NaN              NaN             NaN          NaN
3        NaN              NaN             NaN          NaN
4        NaN              NaN             NaN          NaN

          ...             creatinine_time        age length_of_stay    rrt  \
0         ...         2101-10-20 19:26:00  76.526792     145.549444  False
1         ...         2104-08-13 03:51:00  72.374177     183.235556  False
2         ...         2104-08-08 04:15:00  72.374177     183.235556  False
3         ...         2167-01-09 17:09:00  39.866118      87.985000  False
4         ...         2135-02-01 02:59:00  87.826347     200.753333  False

   scr scr_delay            scr_time  urea urea_delay           urea_time
0  2.4       0.0 2101-10-20 19:26:00  41.0        0.0 2101-10-20 19:26:00
1  1.1       0.0 2104-08-13 03:51:00  28.0        0.0 2104-08-13 03:51:00
2  1.3       0.0 2104-08-08 04:15:00  28.0        0.0 2104-08-08 04:15:00
3  0.5       0.0 2167-01-09 17:09:00  15.0        0.0 2167-01-09 17:09:00
4  4.7       0.0 2135-02-01 02:59:00  63.0        0.0 2135-02-01 02:59:00

[5 rows x 36 columns]
------------------------------------
--- Processing feature : Sodium
Initial size of table : 116607
After dropping duplicates : 116427
After applying inclusion criteria : 108790
   subject_id  icustay_id              intime             outtime  creatinine  \
0           3      211552 2101-10-20 19:10:11 2101-10-26 20:43:09         2.5
1           3      211552 2101-10-20 19:10:11 2101-10-26 20:43:09         1.9
2           3      211552 2101-10-20 19:10:11 2101-10-26 20:43:09         1.3
3           3      211552 2101-10-20 19:10:11 2101-10-26 20:43:09         1.7
4           3      211552 2101-10-20 19:10:11 2101-10-26 20:43:09         1.3

      creatinine_time        age  length_of_stay    rrt  sodium  sodium_delay  \
0 2101-10-21 03:00:00  76.526792      145.549444  False   139.0       18540.0
1 2101-10-22 04:00:00  76.526792      145.549444  False   138.0       16380.0
2 2101-10-26 03:00:00  76.526792      145.549444  False   138.0      358380.0
3 2101-10-22 21:15:00  76.526792      145.549444  False   138.0       78480.0
4 2101-10-25 03:00:00  76.526792      145.549444  False   138.0      271980.0

          sodium_time
0 2101-10-20 21:51:00
1 2101-10-21 23:27:00
2 2101-10-21 23:27:00
3 2101-10-21 23:27:00
4 2101-10-21 23:27:00

---------------------------------
Merged table size : 279206
  arterial_pressure_systolic arterial_pressure_systolic_delay  \
0                        NaN                              NaN
1                        NaN                              NaN
2                        NaN                              NaN
3                        NaN                              NaN
4                        NaN                              NaN

  arterial_pressure_systolic_time arterial_pressure_diastolic  \
0                             NaN                         NaN
1                             NaN                         NaN
2                             NaN                         NaN
3                             NaN                         NaN
4                             NaN                         NaN

  arterial_pressure_diastolic_delay arterial_pressure_diastolic_time  \
0                               NaN                              NaN
1                               NaN                              NaN
2                               NaN                              NaN
3                               NaN                              NaN
4                               NaN                              NaN

  heart_rate heart_rate_delay heart_rate_time weight_daily  \
0        NaN              NaN             NaN          NaN
1        NaN              NaN             NaN          NaN
2        NaN              NaN             NaN          NaN
3        NaN              NaN             NaN          NaN
4        NaN              NaN             NaN          NaN

          ...            rrt  scr scr_delay            scr_time  urea  \
0         ...          False  2.4       0.0 2101-10-20 19:26:00  41.0
1         ...          False  1.1       0.0 2104-08-13 03:51:00  28.0
2         ...          False  1.3       0.0 2104-08-08 04:15:00  28.0
3         ...          False  0.5       0.0 2167-01-09 17:09:00  15.0
4         ...          False  4.7       0.0 2135-02-01 02:59:00  63.0

  urea_delay           urea_time sodium sodium_delay         sodium_time
0        0.0 2101-10-20 19:26:00  153.0        720.0 2101-10-20 19:14:00
1        0.0 2104-08-13 03:51:00  140.0     436140.0 2104-08-08 02:42:00
2        0.0 2104-08-08 04:15:00  140.0       5580.0 2104-08-08 02:42:00
3        0.0 2167-01-09 17:09:00  137.0       4920.0 2167-01-09 15:47:00
4        0.0 2135-02-01 02:59:00    NaN          NaN                 NaT

[5 rows x 39 columns]
------------------------------------
--- Processing feature : Potassium
Initial size of table : 165229
After dropping duplicates : 165025
After applying inclusion criteria : 155274
   subject_id  icustay_id              intime             outtime  creatinine  \
0           3      211552 2101-10-20 19:10:11 2101-10-26 20:43:09         1.9
1           3      211552 2101-10-20 19:10:11 2101-10-26 20:43:09         2.5
2           3      211552 2101-10-20 19:10:11 2101-10-26 20:43:09         1.7
3           3      211552 2101-10-20 19:10:11 2101-10-26 20:43:09         1.3
4           9      220597 2149-11-09 13:07:02 2149-11-14 20:52:14         2.0

      creatinine_time        age  length_of_stay    rrt  potassium  \
0 2101-10-22 04:00:00  76.526792      145.549444  False        4.2
1 2101-10-21 03:00:00  76.526792      145.549444  False        3.9
2 2101-10-22 21:15:00  76.526792      145.549444  False        4.2
3 2101-10-25 03:00:00  76.526792      145.549444  False        4.2
4 2149-11-11 03:00:00  41.790228      127.753333  False        2.8

   potassium_delay      potassium_time
0          16380.0 2101-10-21 23:27:00
1          18540.0 2101-10-20 21:51:00
2          78480.0 2101-10-21 23:27:00
3         271980.0 2101-10-21 23:27:00
4          18180.0 2149-11-10 21:57:00
---------------------------------
Merged table size : 279206
  arterial_pressure_systolic arterial_pressure_systolic_delay  \
0                        NaN                              NaN
1                        NaN                              NaN
2                        NaN                              NaN
3                        NaN                              NaN
4                        NaN                              NaN

  arterial_pressure_systolic_time arterial_pressure_diastolic  \
0                             NaN                         NaN
1                             NaN                         NaN
2                             NaN                         NaN
3                             NaN                         NaN
4                             NaN                         NaN

  arterial_pressure_diastolic_delay arterial_pressure_diastolic_time  \
0                               NaN                              NaN
1                               NaN                              NaN
2                               NaN                              NaN
3                               NaN                              NaN
4                               NaN                              NaN

  heart_rate heart_rate_delay heart_rate_time weight_daily  \
0        NaN              NaN             NaN          NaN
1        NaN              NaN             NaN          NaN
2        NaN              NaN             NaN          NaN
3        NaN              NaN             NaN          NaN
4        NaN              NaN             NaN          NaN

          ...                    scr_time  urea urea_delay  \
0         ...         2101-10-20 19:26:00  41.0        0.0
1         ...         2104-08-13 03:51:00  28.0        0.0
2         ...         2104-08-08 04:15:00  28.0        0.0
3         ...         2167-01-09 17:09:00  15.0        0.0
4         ...         2135-02-01 02:59:00  63.0        0.0

            urea_time sodium sodium_delay         sodium_time potassium  \
0 2101-10-20 19:26:00  153.0        720.0 2101-10-20 19:14:00       4.0
1 2104-08-13 03:51:00  140.0     436140.0 2104-08-08 02:42:00       3.8
2 2104-08-08 04:15:00  140.0       5580.0 2104-08-08 02:42:00       5.1
3 2167-01-09 17:09:00  137.0       4920.0 2167-01-09 15:47:00       3.7
4 2135-02-01 02:59:00    NaN          NaN                 NaT       NaN

  potassium_delay      potassium_time
0           720.0 2101-10-20 19:14:00
1         19800.0 2104-08-12 22:21:00
2          5580.0 2104-08-08 02:42:00
3          4920.0 2167-01-09 15:47:00
4             NaN                 NaT

[5 rows x 42 columns]
------------------------------------
--- Processing feature : Calcium
Initial size of table : 203470
After dropping duplicates : 203068
After applying inclusion criteria : 190910
   subject_id  icustay_id              intime             outtime  creatinine  \
0           3      211552 2101-10-20 19:10:11 2101-10-26 20:43:09         1.9
1           3      211552 2101-10-20 19:10:11 2101-10-26 20:43:09         1.7
2           9      220597 2149-11-09 13:07:02 2149-11-14 20:52:14         2.0
3           9      220597 2149-11-09 13:07:02 2149-11-14 20:52:14         1.6
4          17      277042 2134-12-27 16:21:48 2134-12-29 18:04:03         0.7

      creatinine_time        age  length_of_stay    rrt  calcium  \
0 2101-10-22 04:00:00  76.526792      145.549444  False     1.17
1 2101-10-22 21:15:00  76.526792      145.549444  False     1.12
2 2149-11-11 03:00:00  41.790228      127.753333  False     1.05
3 2149-11-13 03:20:00  41.790228      127.753333  False     1.23
4 2134-12-28 03:41:00  47.455336       49.704167  False     1.32

   calcium_delay        calcium_time
0         7800.0 2101-10-22 01:50:00
1        60240.0 2101-10-22 04:31:00
2        18180.0 2149-11-10 21:57:00
3       172380.0 2149-11-11 03:27:00
4        29340.0 2134-12-27 19:32:00
---------------------------------
Merged table size : 279206
  arterial_pressure_systolic arterial_pressure_systolic_delay  \
0                        NaN                              NaN
1                        NaN                              NaN
2                        NaN                              NaN
3                        NaN                              NaN
4                        NaN                              NaN

  arterial_pressure_systolic_time arterial_pressure_diastolic  \
0                             NaN                         NaN
1                             NaN                         NaN
2                             NaN                         NaN
3                             NaN                         NaN
4                             NaN                         NaN

  arterial_pressure_diastolic_delay arterial_pressure_diastolic_time  \
0                               NaN                              NaN
1                               NaN                              NaN
2                               NaN                              NaN
3                               NaN                              NaN
4                               NaN                              NaN

  heart_rate heart_rate_delay heart_rate_time weight_daily  \
0        NaN              NaN             NaN          NaN
1        NaN              NaN             NaN          NaN
2        NaN              NaN             NaN          NaN
3        NaN              NaN             NaN          NaN
4        NaN              NaN             NaN          NaN

          ...                   urea_time sodium sodium_delay  \
0         ...         2101-10-20 19:26:00  153.0        720.0
1         ...         2104-08-13 03:51:00  140.0     436140.0
2         ...         2104-08-08 04:15:00  140.0       5580.0
3         ...         2167-01-09 17:09:00  137.0       4920.0
4         ...         2135-02-01 02:59:00    NaN          NaN

          sodium_time potassium potassium_delay      potassium_time calcium  \
0 2101-10-20 19:14:00       4.0           720.0 2101-10-20 19:14:00    0.82
1 2104-08-08 02:42:00       3.8         19800.0 2104-08-12 22:21:00    1.13
2 2104-08-08 02:42:00       5.1          5580.0 2104-08-08 02:42:00    0.96
3 2167-01-09 15:47:00       3.7          4920.0 2167-01-09 15:47:00    1.34
4                 NaT       NaN             NaN                 NaT     NaN

  calcium_delay        calcium_time
0         720.0 2101-10-20 19:14:00
1         660.0 2104-08-13 03:40:00
2        2700.0 2104-08-08 03:30:00
3        4920.0 2167-01-09 15:47:00
4           NaN                 NaT

[5 rows x 45 columns]
------------------------------------
--- Processing feature : Phosphor

Initial size of table : 305586
After dropping duplicates : 304878
After applying inclusion criteria : 266501
   subject_id  icustay_id              intime             outtime  creatinine  \
0           3      211552 2101-10-20 19:10:11 2101-10-26 20:43:09         2.4
1          12      232669 2104-08-08 02:08:17 2104-08-15 17:22:25         1.3
2          12      232669 2104-08-08 02:08:17 2104-08-15 17:22:25         1.1
3          21      216859 2135-01-30 20:53:34 2135-02-08 05:38:46         4.7
4          21      217847 2134-09-11 20:50:04 2134-09-17 18:28:32         2.3

      creatinine_time        age  length_of_stay    rrt  phosphor  \
0 2101-10-20 19:26:00  76.526792      145.549444  False       4.7
1 2104-08-08 04:15:00  72.374177      183.235556  False       6.6
2 2104-08-13 03:51:00  72.374177      183.235556  False       2.6
3 2135-02-01 02:59:00  87.826347      200.753333  False       6.1
4 2134-09-14 03:54:00  87.440295      141.641111  False       4.4

   phosphor_delay       phosphor_time
0             0.0 2101-10-20 19:26:00
1             0.0 2104-08-08 04:15:00
2             0.0 2104-08-13 03:51:00
3             0.0 2135-02-01 02:59:00
4             0.0 2134-09-14 03:54:00
---------------------------------
Merged table size : 279206
  arterial_pressure_systolic arterial_pressure_systolic_delay  \
0                        NaN                              NaN
1                        NaN                              NaN
2                        NaN                              NaN
3                        NaN                              NaN
4                        NaN                              NaN

  arterial_pressure_systolic_time arterial_pressure_diastolic  \
0                             NaN                         NaN
1                             NaN                         NaN
2                             NaN                         NaN
3                             NaN                         NaN
4                             NaN                         NaN

  arterial_pressure_diastolic_delay arterial_pressure_diastolic_time  \
0                               NaN                              NaN
1                               NaN                              NaN
2                               NaN                              NaN
3                               NaN                              NaN
4                               NaN                              NaN

  heart_rate heart_rate_delay heart_rate_time weight_daily  \
0        NaN              NaN             NaN          NaN
1        NaN              NaN             NaN          NaN
2        NaN              NaN             NaN          NaN
3        NaN              NaN             NaN          NaN
4        NaN              NaN             NaN          NaN

          ...                 sodium_time potassium potassium_delay  \
0         ...         2101-10-20 19:14:00       4.0           720.0
1         ...         2104-08-08 02:42:00       3.8         19800.0
2         ...         2104-08-08 02:42:00       5.1          5580.0
3         ...         2167-01-09 15:47:00       3.7          4920.0
4         ...                         NaT       NaN             NaN

       potassium_time calcium calcium_delay        calcium_time phosphor  \
0 2101-10-20 19:14:00    0.82         720.0 2101-10-20 19:14:00      4.7
1 2104-08-12 22:21:00    1.13         660.0 2104-08-13 03:40:00      2.6
2 2104-08-08 02:42:00    0.96        2700.0 2104-08-08 03:30:00      6.6
3 2167-01-09 15:47:00    1.34        4920.0 2167-01-09 15:47:00      4.5
4                 NaT     NaN           NaN                 NaT      6.1

  phosphor_delay       phosphor_time
0            0.0 2101-10-20 19:26:00
1            0.0 2104-08-13 03:51:00
2            0.0 2104-08-08 04:15:00
3        35880.0 2167-01-09 07:11:00
4            0.0 2135-02-01 02:59:00

[5 rows x 48 columns]
------------------------------------
--- Processing feature : Leukocytes
Initial size of table : 2648
After dropping duplicates : 2648
After applying inclusion criteria : 2568
   subject_id  icustay_id              intime             outtime  creatinine  \
1         231      242685 2176-05-28 22:09:25 2176-06-03 16:44:30         0.6
2         231      242685 2176-05-28 22:09:25 2176-06-03 16:44:30         0.4
3         231      242685 2176-05-28 22:09:25 2176-06-03 16:44:30         0.5
4         231      242685 2176-05-28 22:09:25 2176-06-03 16:44:30         0.5
5         231      242685 2176-05-28 22:09:25 2176-06-03 16:44:30         0.6

      creatinine_time        age  length_of_stay    rrt  leukocytes  \
1 2176-05-31 21:48:00  36.769931      138.584722  False        17.9
2 2176-06-02 05:22:00  36.769931      138.584722  False        17.9
3 2176-06-03 04:51:00  36.769931      138.584722  False        17.9
4 2176-05-30 08:04:00  36.769931      138.584722  False        17.9
5 2176-05-31 02:50:00  36.769931      138.584722  False        17.9

   leukocytes_delay     leukocytes_time
1          135840.0 2176-05-30 08:04:00
2          249480.0 2176-05-30 08:04:00
3          334020.0 2176-05-30 08:04:00
4               0.0 2176-05-30 08:04:00
5           67560.0 2176-05-30 08:04:00
---------------------------------
Merged table size : 279206
  arterial_pressure_systolic arterial_pressure_systolic_delay  \
0                        NaN                              NaN
1                        NaN                              NaN
2                        NaN                              NaN
3                        NaN                              NaN
4                        NaN                              NaN

  arterial_pressure_systolic_time arterial_pressure_diastolic  \
0                             NaN                         NaN
1                             NaN                         NaN
2                             NaN                         NaN
3                             NaN                         NaN
4                             NaN                         NaN

  arterial_pressure_diastolic_delay arterial_pressure_diastolic_time  \
0                               NaN                              NaN
1                               NaN                              NaN
2                               NaN                              NaN
3                               NaN                              NaN
4                               NaN                              NaN

  heart_rate heart_rate_delay heart_rate_time weight_daily       ...        \
0        NaN              NaN             NaN          NaN       ...
1        NaN              NaN             NaN          NaN       ...
2        NaN              NaN             NaN          NaN       ...
3        NaN              NaN             NaN          NaN       ...
4        NaN              NaN             NaN          NaN       ...

       potassium_time calcium calcium_delay        calcium_time phosphor  \
0 2101-10-20 19:14:00    0.82         720.0 2101-10-20 19:14:00      4.7
1 2104-08-12 22:21:00    1.13         660.0 2104-08-13 03:40:00      2.6
2 2104-08-08 02:42:00    0.96        2700.0 2104-08-08 03:30:00      6.6
3 2167-01-09 15:47:00    1.34        4920.0 2167-01-09 15:47:00      4.5
4                 NaT     NaN           NaN                 NaT      6.1

  phosphor_delay       phosphor_time leukocytes leukocytes_delay  \
0            0.0 2101-10-20 19:26:00        NaN              NaN
1            0.0 2104-08-13 03:51:00        NaN              NaN
2            0.0 2104-08-08 04:15:00        NaN              NaN
3        35880.0 2167-01-09 07:11:00        NaN              NaN
4            0.0 2135-02-01 02:59:00        NaN              NaN

  leukocytes_time
0             NaT
1             NaT
2             NaT
3             NaT
4             NaT

[5 rows x 51 columns]
------------------------------------
--- Processing feature : Hemoglobine

Initial size of table : 125671
After dropping duplicates : 125508
After applying inclusion criteria : 117688
   subject_id  icustay_id              intime             outtime  creatinine  \
0           3      211552 2101-10-20 19:10:11 2101-10-26 20:43:09         1.7
1           3      211552 2101-10-20 19:10:11 2101-10-26 20:43:09         1.9
2           3      211552 2101-10-20 19:10:11 2101-10-26 20:43:09         1.3
3           9      220597 2149-11-09 13:07:02 2149-11-14 20:52:14         2.0
4           9      220597 2149-11-09 13:07:02 2149-11-14 20:52:14         1.4

      creatinine_time        age  length_of_stay    rrt  hemoglobine  \
0 2101-10-22 21:15:00  76.526792      145.549444  False         10.1
1 2101-10-22 04:00:00  76.526792      145.549444  False          8.8
2 2101-10-25 03:00:00  76.526792      145.549444  False         10.5
3 2149-11-12 03:00:00  41.790228      127.753333  False         14.0
4 2149-11-10 03:00:00  41.790228      127.753333  False         14.0

   hemoglobine_delay    hemoglobine_time
0            18780.0 2101-10-22 16:02:00
1             7560.0 2101-10-22 01:54:00
2            79680.0 2101-10-24 04:52:00
3           205980.0 2149-11-09 17:47:00
4            33180.0 2149-11-09 17:47:00
---------------------------------
Merged table size : 279206
  arterial_pressure_systolic arterial_pressure_systolic_delay  \
0                        NaN                              NaN
1                        NaN                              NaN
2                        NaN                              NaN
3                        NaN                              NaN
4                        NaN                              NaN

  arterial_pressure_systolic_time arterial_pressure_diastolic  \
0                             NaN                         NaN
1                             NaN                         NaN
2                             NaN                         NaN
3                             NaN                         NaN
4                             NaN                         NaN

  arterial_pressure_diastolic_delay arterial_pressure_diastolic_time  \
0                               NaN                              NaN
1                               NaN                              NaN
2                               NaN                              NaN
3                               NaN                              NaN
4                               NaN                              NaN

  heart_rate heart_rate_delay heart_rate_time weight_daily  \
0        NaN              NaN             NaN          NaN
1        NaN              NaN             NaN          NaN
2        NaN              NaN             NaN          NaN
3        NaN              NaN             NaN          NaN
4        NaN              NaN             NaN          NaN

          ...                calcium_time phosphor phosphor_delay  \
0         ...         2101-10-20 19:14:00      4.7            0.0
1         ...         2104-08-13 03:40:00      2.6            0.0
2         ...         2104-08-08 03:30:00      6.6            0.0
3         ...         2167-01-09 15:47:00      4.5        35880.0
4         ...                         NaT      6.1            0.0

        phosphor_time leukocytes leukocytes_delay leukocytes_time hemoglobine  \
0 2101-10-20 19:26:00        NaN              NaN             NaT         NaN
1 2104-08-13 03:51:00        NaN              NaN             NaT        12.0
2 2104-08-08 04:15:00        NaN              NaN             NaT        11.1
3 2167-01-09 07:11:00        NaN              NaN             NaT         7.9
4 2135-02-01 02:59:00        NaN              NaN             NaT         NaN

  hemoglobine_delay    hemoglobine_time
0               NaN                 NaT
1          321360.0 2104-08-09 10:35:00
2            2700.0 2104-08-08 03:30:00
3            4920.0 2167-01-09 15:47:00
4               NaN                 NaT

[5 rows x 54 columns]
------------------------------------
--- Processing feature : Bicarbonate
Initial size of table : 21034
After dropping duplicates : 21034
After applying inclusion criteria : 20467
   subject_id  icustay_id              intime             outtime  creatinine  \
0           3      211552 2101-10-20 19:10:11 2101-10-26 20:43:09         1.9
1           3      211552 2101-10-20 19:10:11 2101-10-26 20:43:09         1.6
2           3      211552 2101-10-20 19:10:11 2101-10-26 20:43:09         1.3
3           3      211552 2101-10-20 19:10:11 2101-10-26 20:43:09         1.7
4           3      211552 2101-10-20 19:10:11 2101-10-26 20:43:09         2.5

      creatinine_time        age  length_of_stay    rrt  bicarbonate  \
0 2101-10-22 04:00:00  76.526792      145.549444  False         15.0
1 2101-10-23 03:45:00  76.526792      145.549444  False         15.0
2 2101-10-25 03:00:00  76.526792      145.549444  False         15.0
3 2101-10-22 21:15:00  76.526792      145.549444  False         15.0
4 2101-10-21 03:00:00  76.526792      145.549444  False         15.0

   bicarbonate_delay    bicarbonate_time
0            94440.0 2101-10-21 01:46:00
1           179940.0 2101-10-21 01:46:00
2           350040.0 2101-10-21 01:46:00
3           156540.0 2101-10-21 01:46:00
4             4440.0 2101-10-21 01:46:00
---------------------------------
Merged table size : 279206
  arterial_pressure_systolic arterial_pressure_systolic_delay  \
0                        NaN                              NaN
1                        NaN                              NaN
2                        NaN                              NaN
3                        NaN                              NaN
4                        NaN                              NaN

  arterial_pressure_systolic_time arterial_pressure_diastolic  \
0                             NaN                         NaN
1                             NaN                         NaN
2                             NaN                         NaN
3                             NaN                         NaN
4                             NaN                         NaN

  arterial_pressure_diastolic_delay arterial_pressure_diastolic_time  \
0                               NaN                              NaN
1                               NaN                              NaN
2                               NaN                              NaN
3                               NaN                              NaN
4                               NaN                              NaN

  heart_rate heart_rate_delay heart_rate_time weight_daily  \
0        NaN              NaN             NaN          NaN
1        NaN              NaN             NaN          NaN
2        NaN              NaN             NaN          NaN
3        NaN              NaN             NaN          NaN
4        NaN              NaN             NaN          NaN

          ...               phosphor_time leukocytes leukocytes_delay  \
0         ...         2101-10-20 19:26:00        NaN              NaN
1         ...         2104-08-13 03:51:00        NaN              NaN
2         ...         2104-08-08 04:15:00        NaN              NaN
3         ...         2167-01-09 07:11:00        NaN              NaN
4         ...         2135-02-01 02:59:00        NaN              NaN

  leukocytes_time hemoglobine hemoglobine_delay    hemoglobine_time  \
0             NaT         NaN               NaN                 NaT
1             NaT        12.0          321360.0 2104-08-09 10:35:00
2             NaT        11.1            2700.0 2104-08-08 03:30:00
3             NaT         7.9            4920.0 2167-01-09 15:47:00
4             NaT         NaN               NaN                 NaT

  bicarbonate bicarbonate_delay    bicarbonate_time
0         NaN               NaN                 NaT
1        10.0          437760.0 2104-08-08 02:15:00
2        10.0            7200.0 2104-08-08 02:15:00
3         NaN               NaN                 NaT
4         NaN               NaN                 NaT

[5 rows x 57 columns]
------------------------------------
--- Processing feature : Lactate

Initial size of table : 212890
After dropping duplicates : 212479
After applying inclusion criteria : 199761
   subject_id  icustay_id              intime             outtime  creatinine  \
0           3      211552 2101-10-20 19:10:11 2101-10-26 20:43:09         1.3
1           3      211552 2101-10-20 19:10:11 2101-10-26 20:43:09         1.9
2           3      211552 2101-10-20 19:10:11 2101-10-26 20:43:09         1.7
3           9      220597 2149-11-09 13:07:02 2149-11-14 20:52:14         1.6
4           9      220597 2149-11-09 13:07:02 2149-11-14 20:52:14         2.0

      creatinine_time        age  length_of_stay    rrt  lactate  \
0 2101-10-25 03:00:00  76.526792      145.549444  False      1.0
1 2101-10-22 04:00:00  76.526792      145.549444  False      1.3
2 2101-10-22 21:15:00  76.526792      145.549444  False      1.3
3 2149-11-13 03:20:00  41.790228      127.753333  False      2.6
4 2149-11-11 03:00:00  41.790228      127.753333  False      2.3

   lactate_delay        lactate_time
0       173640.0 2101-10-23 02:46:00
1         7800.0 2101-10-22 01:50:00
2        60240.0 2101-10-22 04:31:00
3       172380.0 2149-11-11 03:27:00
4        18180.0 2149-11-10 21:57:00
---------------------------------
Merged table size : 279206
  arterial_pressure_systolic arterial_pressure_systolic_delay  \
0                        NaN                              NaN
1                        NaN                              NaN
2                        NaN                              NaN
3                        NaN                              NaN
4                        NaN                              NaN

  arterial_pressure_systolic_time arterial_pressure_diastolic  \
0                             NaN                         NaN
1                             NaN                         NaN
2                             NaN                         NaN
3                             NaN                         NaN
4                             NaN                         NaN

  arterial_pressure_diastolic_delay arterial_pressure_diastolic_time  \
0                               NaN                              NaN
1                               NaN                              NaN
2                               NaN                              NaN
3                               NaN                              NaN
4                               NaN                              NaN

  heart_rate heart_rate_delay heart_rate_time weight_daily  \
0        NaN              NaN             NaN          NaN
1        NaN              NaN             NaN          NaN
2        NaN              NaN             NaN          NaN
3        NaN              NaN             NaN          NaN
4        NaN              NaN             NaN          NaN

          ...         leukocytes_time hemoglobine hemoglobine_delay  \
0         ...                     NaT         NaN               NaN
1         ...                     NaT        12.0          321360.0
2         ...                     NaT        11.1            2700.0
3         ...                     NaT         7.9            4920.0
4         ...                     NaT         NaN               NaN

     hemoglobine_time bicarbonate bicarbonate_delay    bicarbonate_time  \
0                 NaT         NaN               NaN                 NaT
1 2104-08-09 10:35:00        10.0          437760.0 2104-08-08 02:15:00
2 2104-08-08 03:30:00        10.0            7200.0 2104-08-08 02:15:00
3 2167-01-09 15:47:00         NaN               NaN                 NaT
4                 NaT         NaN               NaN                 NaT

  lactate lactate_delay        lactate_time
0     8.8         720.0 2101-10-20 19:14:00
1     2.9         660.0 2104-08-13 03:40:00
2    13.1        2700.0 2104-08-08 03:30:00
3     NaN           NaN                 NaT
4     NaN           NaN                 NaT

[5 rows x 60 columns]
------------------------------------
--- Processing feature : Uric_acid
Initial size of table : 20796
After dropping duplicates : 20796
After applying inclusion criteria : 19907
   subject_id  icustay_id              intime             outtime  creatinine  \
0           3      211552 2101-10-20 19:10:11 2101-10-26 20:43:09         1.9
1           3      211552 2101-10-20 19:10:11 2101-10-26 20:43:09         2.5
2           3      211552 2101-10-20 19:10:11 2101-10-26 20:43:09         2.5
3           3      211552 2101-10-20 19:10:11 2101-10-26 20:43:09         1.5
4           3      211552 2101-10-20 19:10:11 2101-10-26 20:43:09         1.3

      creatinine_time        age  length_of_stay    rrt  uric_acid  \
0 2101-10-22 04:00:00  76.526792      145.549444  False       10.3
1 2101-10-20 19:59:00  76.526792      145.549444  False       10.3
2 2101-10-21 03:00:00  76.526792      145.549444  False       10.3
3 2101-10-24 03:15:00  76.526792      145.549444  False       10.3
4 2101-10-25 03:00:00  76.526792      145.549444  False       10.3

   uric_acid_delay      uric_acid_time
0         115260.0 2101-10-20 19:59:00
1              0.0 2101-10-20 19:59:00
2          25260.0 2101-10-20 19:59:00
3         285360.0 2101-10-20 19:59:00
4         370860.0 2101-10-20 19:59:00
---------------------------------
Merged table size : 279206
  arterial_pressure_systolic arterial_pressure_systolic_delay  \
0                        NaN                              NaN
1                        NaN                              NaN
2                        NaN                              NaN
3                        NaN                              NaN
4                        NaN                              NaN

  arterial_pressure_systolic_time arterial_pressure_diastolic  \
0                             NaN                         NaN
1                             NaN                         NaN
2                             NaN                         NaN
3                             NaN                         NaN
4                             NaN                         NaN

  arterial_pressure_diastolic_delay arterial_pressure_diastolic_time  \
0                               NaN                              NaN
1                               NaN                              NaN
2                               NaN                              NaN
3                               NaN                              NaN
4                               NaN                              NaN

  heart_rate heart_rate_delay heart_rate_time weight_daily      ...        \
0        NaN              NaN             NaN          NaN      ...
1        NaN              NaN             NaN          NaN      ...
2        NaN              NaN             NaN          NaN      ...
3        NaN              NaN             NaN          NaN      ...
4        NaN              NaN             NaN          NaN      ...

     hemoglobine_time bicarbonate bicarbonate_delay    bicarbonate_time  \
0                 NaT         NaN               NaN                 NaT
1 2104-08-09 10:35:00        10.0          437760.0 2104-08-08 02:15:00
2 2104-08-08 03:30:00        10.0            7200.0 2104-08-08 02:15:00
3 2167-01-09 15:47:00         NaN               NaN                 NaT
4                 NaT         NaN               NaN                 NaT

  lactate lactate_delay        lactate_time uric_acid uric_acid_delay  \
0     8.8         720.0 2101-10-20 19:14:00       NaN             NaN
1     2.9         660.0 2104-08-13 03:40:00       NaN             NaN
2    13.1        2700.0 2104-08-08 03:30:00       NaN             NaN
3     NaN           NaN                 NaT       NaN             NaN
4     NaN           NaN                 NaT       NaN             NaN

  uric_acid_time
0            NaT
1            NaT
2            NaT
3            NaT
4            NaT

[5 rows x 63 columns]
------------------------------------
--- Processing feature : Chloride

Initial size of table : 92799
After dropping duplicates : 92619
After applying inclusion criteria : 87463
   subject_id  icustay_id              intime             outtime  creatinine  \
0           3      211552 2101-10-20 19:10:11 2101-10-26 20:43:09         2.5
1           3      211552 2101-10-20 19:10:11 2101-10-26 20:43:09         1.9
2           3      211552 2101-10-20 19:10:11 2101-10-26 20:43:09         1.3
3           3      211552 2101-10-20 19:10:11 2101-10-26 20:43:09         1.7
4           3      211552 2101-10-20 19:10:11 2101-10-26 20:43:09         1.3

      creatinine_time        age  length_of_stay    rrt  chloride  \
0 2101-10-20 19:59:00  76.526792      145.549444  False     114.0
1 2101-10-22 04:00:00  76.526792      145.549444  False     111.0
2 2101-10-26 03:00:00  76.526792      145.549444  False     111.0
3 2101-10-22 21:15:00  76.526792      145.549444  False     111.0
4 2101-10-25 03:00:00  76.526792      145.549444  False     111.0

   chloride_delay       chloride_time
0          2700.0 2101-10-20 19:14:00
1         16380.0 2101-10-21 23:27:00
2        358380.0 2101-10-21 23:27:00
3         78480.0 2101-10-21 23:27:00
4        271980.0 2101-10-21 23:27:00
---------------------------------
Merged table size : 279206
  arterial_pressure_systolic arterial_pressure_systolic_delay  \
0                        NaN                              NaN
1                        NaN                              NaN
2                        NaN                              NaN
3                        NaN                              NaN
4                        NaN                              NaN

  arterial_pressure_systolic_time arterial_pressure_diastolic  \
0                             NaN                         NaN
1                             NaN                         NaN
2                             NaN                         NaN
3                             NaN                         NaN
4                             NaN                         NaN

  arterial_pressure_diastolic_delay arterial_pressure_diastolic_time  \
0                               NaN                              NaN
1                               NaN                              NaN
2                               NaN                              NaN
3                               NaN                              NaN
4                               NaN                              NaN

  heart_rate heart_rate_delay heart_rate_time weight_daily  \
0        NaN              NaN             NaN          NaN
1        NaN              NaN             NaN          NaN
2        NaN              NaN             NaN          NaN
3        NaN              NaN             NaN          NaN
4        NaN              NaN             NaN          NaN

          ...            bicarbonate_time lactate lactate_delay  \
0         ...                         NaT     8.8         720.0
1         ...         2104-08-08 02:15:00     2.9         660.0
2         ...         2104-08-08 02:15:00    13.1        2700.0
3         ...                         NaT     NaN           NaN
4         ...                         NaT     NaN           NaN

         lactate_time uric_acid uric_acid_delay uric_acid_time chloride  \
0 2101-10-20 19:14:00       NaN             NaN            NaT    114.0
1 2104-08-13 03:40:00       NaN             NaN            NaT    111.0
2 2104-08-08 03:30:00       NaN             NaN            NaT    111.0
3                 NaT       NaN             NaN            NaT      NaN
4                 NaT       NaN             NaN            NaT      NaN

  chloride_delay       chloride_time
0          720.0 2101-10-20 19:14:00
1       436140.0 2104-08-08 02:42:00
2         5580.0 2104-08-08 02:42:00
3            NaN                 NaT
4            NaN                 NaT

[5 rows x 66 columns]
------------------------------------
--- Processing feature : Neutrophils
Initial size of table : 157656
After dropping duplicates : 157332
After applying inclusion criteria : 144999
   subject_id  icustay_id              intime             outtime  creatinine  \
0           3      211552 2101-10-20 19:10:11 2101-10-26 20:43:09         1.3
1          12      232669 2104-08-08 02:08:17 2104-08-15 17:22:25         1.1
2          12      232669 2104-08-08 02:08:17 2104-08-15 17:22:25         1.1
3          21      216859 2135-01-30 20:53:34 2135-02-08 05:38:46         4.7
4          21      217847 2134-09-11 20:50:04 2134-09-17 18:28:32         3.8

      creatinine_time        age  length_of_stay    rrt  neutrophils  \
0 2101-10-25 03:00:00  76.526792      145.549444  False         80.7
1 2104-08-13 03:51:00  72.374177      183.235556  False         78.0
2 2104-08-14 03:09:00  72.374177      183.235556  False         70.0
3 2135-02-01 02:59:00  87.826347      200.753333  False         93.0
4 2134-09-17 03:14:00  87.440295      141.641111  False         86.0

   neutrophils_delay    neutrophils_time
0           255600.0 2101-10-22 04:00:00
1                0.0 2104-08-13 03:51:00
2                0.0 2104-08-14 03:09:00
3                0.0 2135-02-01 02:59:00
4           178020.0 2134-09-15 01:47:00
---------------------------------
Merged table size : 279206
  arterial_pressure_systolic arterial_pressure_systolic_delay  \
0                        NaN                              NaN
1                        NaN                              NaN
2                        NaN                              NaN
3                        NaN                              NaN
4                        NaN                              NaN

  arterial_pressure_systolic_time arterial_pressure_diastolic  \
0                             NaN                         NaN
1                             NaN                         NaN
2                             NaN                         NaN
3                             NaN                         NaN
4                             NaN                         NaN

  arterial_pressure_diastolic_delay arterial_pressure_diastolic_time  \
0                               NaN                              NaN
1                               NaN                              NaN
2                               NaN                              NaN
3                               NaN                              NaN
4                               NaN                              NaN

  heart_rate heart_rate_delay heart_rate_time weight_daily  \
0        NaN              NaN             NaN          NaN
1        NaN              NaN             NaN          NaN
2        NaN              NaN             NaN          NaN
3        NaN              NaN             NaN          NaN
4        NaN              NaN             NaN          NaN

          ...                lactate_time uric_acid uric_acid_delay  \
0         ...         2101-10-20 19:14:00       NaN             NaN
1         ...         2104-08-13 03:40:00       NaN             NaN
2         ...         2104-08-08 03:30:00       NaN             NaN
3         ...                         NaT       NaN             NaN
4         ...                         NaT       NaN             NaN

  uric_acid_time chloride chloride_delay       chloride_time neutrophils  \
0            NaT    114.0          720.0 2101-10-20 19:14:00         NaN
1            NaT    111.0       436140.0 2104-08-08 02:42:00        78.0
2            NaT    111.0         5580.0 2104-08-08 02:42:00         NaN
3            NaT      NaN            NaN                 NaT         NaN
4            NaT      NaN            NaN                 NaT        93.0

  neutrophils_delay    neutrophils_time
0               NaN                 NaT
1               0.0 2104-08-13 03:51:00
2               NaN                 NaT
3               NaN                 NaT
4               0.0 2135-02-01 02:59:00

[5 rows x 69 columns]
------------------------------------
--- Processing feature : Lymphocytes

Initial size of table : 157656
After dropping duplicates : 157332
After applying inclusion criteria : 144999
   subject_id  icustay_id              intime             outtime  creatinine  \
0           3      211552 2101-10-20 19:10:11 2101-10-26 20:43:09         1.3
1          12      232669 2104-08-08 02:08:17 2104-08-15 17:22:25         1.1
2          12      232669 2104-08-08 02:08:17 2104-08-15 17:22:25         1.1
3          21      216859 2135-01-30 20:53:34 2135-02-08 05:38:46         4.7
4          21      217847 2134-09-11 20:50:04 2134-09-17 18:28:32         3.8

      creatinine_time        age  length_of_stay    rrt  lymphocytes  \
0 2101-10-25 03:00:00  76.526792      145.549444  False          9.4
1 2104-08-13 03:51:00  72.374177      183.235556  False          4.0
2 2104-08-14 03:09:00  72.374177      183.235556  False          8.0
3 2135-02-01 02:59:00  87.826347      200.753333  False          3.0
4 2134-09-17 03:14:00  87.440295      141.641111  False          9.4

   lymphocytes_delay    lymphocytes_time
0           255600.0 2101-10-22 04:00:00
1                0.0 2104-08-13 03:51:00
2                0.0 2104-08-14 03:09:00
3                0.0 2135-02-01 02:59:00
4           178020.0 2134-09-15 01:47:00
---------------------------------
Merged table size : 279206
  arterial_pressure_systolic arterial_pressure_systolic_delay  \
0                        NaN                              NaN
1                        NaN                              NaN
2                        NaN                              NaN
3                        NaN                              NaN
4                        NaN                              NaN

  arterial_pressure_systolic_time arterial_pressure_diastolic  \
0                             NaN                         NaN
1                             NaN                         NaN
2                             NaN                         NaN
3                             NaN                         NaN
4                             NaN                         NaN

  arterial_pressure_diastolic_delay arterial_pressure_diastolic_time  \
0                               NaN                              NaN
1                               NaN                              NaN
2                               NaN                              NaN
3                               NaN                              NaN
4                               NaN                              NaN

  heart_rate heart_rate_delay heart_rate_time weight_daily  \
0        NaN              NaN             NaN          NaN
1        NaN              NaN             NaN          NaN
2        NaN              NaN             NaN          NaN
3        NaN              NaN             NaN          NaN
4        NaN              NaN             NaN          NaN

          ...         uric_acid_time chloride chloride_delay  \
0         ...                    NaT    114.0          720.0
1         ...                    NaT    111.0       436140.0
2         ...                    NaT    111.0         5580.0
3         ...                    NaT      NaN            NaN
4         ...                    NaT      NaN            NaN

        chloride_time neutrophils neutrophils_delay    neutrophils_time  \
0 2101-10-20 19:14:00         NaN               NaN                 NaT
1 2104-08-08 02:42:00        78.0               0.0 2104-08-13 03:51:00
2 2104-08-08 02:42:00         NaN               NaN                 NaT
3                 NaT         NaN               NaN                 NaT
4                 NaT        93.0               0.0 2135-02-01 02:59:00

  lymphocytes lymphocytes_delay    lymphocytes_time
0         NaN               NaN                 NaT
1         4.0               0.0 2104-08-13 03:51:00
2         NaN               NaN                 NaT
3         NaN               NaN                 NaT
4         3.0               0.0 2135-02-01 02:59:00

[5 rows x 72 columns]
------------------------------------
--- Processing feature : Platelet_count
Initial size of table : 320083
After dropping duplicates : 319419
After applying inclusion criteria : 275199
   subject_id  icustay_id              intime             outtime  creatinine  \
0           3      211552 2101-10-20 19:10:11 2101-10-26 20:43:09         2.4
1          12      232669 2104-08-08 02:08:17 2104-08-15 17:22:25         1.1
2          12      232669 2104-08-08 02:08:17 2104-08-15 17:22:25         1.3
3          13      263738 2167-01-08 18:44:25 2167-01-12 10:43:31         0.5
4          17      277042 2134-12-27 16:21:48 2134-12-29 18:04:03         0.8

      creatinine_time        age  length_of_stay    rrt  platelet_count  \
0 2101-10-20 19:26:00  76.526792      145.549444  False           190.0
1 2104-08-13 03:51:00  72.374177      183.235556  False           172.0
2 2104-08-08 04:15:00  72.374177      183.235556  False            87.0
3 2167-01-09 17:09:00  39.866118       87.985000  False           115.0
4 2134-12-27 19:21:00  47.455336       49.704167  False           138.0

   platelet_count_delay platelet_count_time
0                   0.0 2101-10-20 19:26:00
1                   0.0 2104-08-13 03:51:00
2                   0.0 2104-08-08 04:15:00
3                   0.0 2167-01-09 17:09:00
4                3720.0 2134-12-27 18:19:00
---------------------------------
Merged table size : 279206
  arterial_pressure_systolic arterial_pressure_systolic_delay  \
0                        NaN                              NaN
1                        NaN                              NaN
2                        NaN                              NaN
3                        NaN                              NaN
4                        NaN                              NaN

  arterial_pressure_systolic_time arterial_pressure_diastolic  \
0                             NaN                         NaN
1                             NaN                         NaN
2                             NaN                         NaN
3                             NaN                         NaN
4                             NaN                         NaN

  arterial_pressure_diastolic_delay arterial_pressure_diastolic_time  \
0                               NaN                              NaN
1                               NaN                              NaN
2                               NaN                              NaN
3                               NaN                              NaN
4                               NaN                              NaN

  heart_rate heart_rate_delay heart_rate_time weight_daily  \
0        NaN              NaN             NaN          NaN
1        NaN              NaN             NaN          NaN
2        NaN              NaN             NaN          NaN
3        NaN              NaN             NaN          NaN
4        NaN              NaN             NaN          NaN

          ...               chloride_time neutrophils neutrophils_delay  \
0         ...         2101-10-20 19:14:00         NaN               NaN
1         ...         2104-08-08 02:42:00        78.0               0.0
2         ...         2104-08-08 02:42:00         NaN               NaN
3         ...                         NaT         NaN               NaN
4         ...                         NaT        93.0               0.0

     neutrophils_time lymphocytes lymphocytes_delay    lymphocytes_time  \
0                 NaT         NaN               NaN                 NaT
1 2104-08-13 03:51:00         4.0               0.0 2104-08-13 03:51:00
2                 NaT         NaN               NaN                 NaT
3                 NaT         NaN               NaN                 NaT
4 2135-02-01 02:59:00         3.0               0.0 2135-02-01 02:59:00

  platelet_count platelet_count_delay platelet_count_time
0          190.0                  0.0 2101-10-20 19:26:00
1          172.0                  0.0 2104-08-13 03:51:00
2           87.0                  0.0 2104-08-08 04:15:00
3          115.0                  0.0 2167-01-09 17:09:00
4          387.0                  0.0 2135-02-01 02:59:00

[5 rows x 75 columns]
------------------------------------
--- Processing feature : pH_blood

Initial size of table : 250384
After dropping duplicates : 249882
After applying inclusion criteria : 230895
   subject_id  icustay_id              intime             outtime  creatinine  \
0           3      211552 2101-10-20 19:10:11 2101-10-26 20:43:09         1.3
1           3      211552 2101-10-20 19:10:11 2101-10-26 20:43:09         1.3
2           3      211552 2101-10-20 19:10:11 2101-10-26 20:43:09         1.9
3           9      220597 2149-11-09 13:07:02 2149-11-14 20:52:14         2.0
4          21      216859 2135-01-30 20:53:34 2135-02-08 05:38:46         2.5

      creatinine_time        age  length_of_stay    rrt  ph_blood  \
0 2101-10-26 03:00:00  76.526792      145.549444  False      7.39
1 2101-10-25 03:00:00  76.526792      145.549444  False      7.39
2 2101-10-22 04:00:00  76.526792      145.549444  False      7.42
3 2149-11-11 03:00:00  41.790228      127.753333  False      7.39
4 2135-02-02 05:03:00  87.826347      200.753333  False      7.41

   ph_blood_delay       ph_blood_time
0        134940.0 2101-10-24 13:31:00
1         48540.0 2101-10-24 13:31:00
2          7800.0 2101-10-22 01:50:00
3         18180.0 2149-11-10 21:57:00
4         39780.0 2135-02-01 18:00:00
---------------------------------
Merged table size : 279206
  arterial_pressure_systolic arterial_pressure_systolic_delay  \
0                        NaN                              NaN
1                        NaN                              NaN
2                        NaN                              NaN
3                        NaN                              NaN
4                        NaN                              NaN

  arterial_pressure_systolic_time arterial_pressure_diastolic  \
0                             NaN                         NaN
1                             NaN                         NaN
2                             NaN                         NaN
3                             NaN                         NaN
4                             NaN                         NaN

  arterial_pressure_diastolic_delay arterial_pressure_diastolic_time  \
0                               NaN                              NaN
1                               NaN                              NaN
2                               NaN                              NaN
3                               NaN                              NaN
4                               NaN                              NaN

  heart_rate heart_rate_delay heart_rate_time weight_daily  \
0        NaN              NaN             NaN          NaN
1        NaN              NaN             NaN          NaN
2        NaN              NaN             NaN          NaN
3        NaN              NaN             NaN          NaN
4        NaN              NaN             NaN          NaN

          ...            neutrophils_time lymphocytes lymphocytes_delay  \
0         ...                         NaT         NaN               NaN
1         ...         2104-08-13 03:51:00         4.0               0.0
2         ...                         NaT         NaN               NaN
3         ...                         NaT         NaN               NaN
4         ...         2135-02-01 02:59:00         3.0               0.0

     lymphocytes_time platelet_count platelet_count_delay platelet_count_time  \
0                 NaT          190.0                  0.0 2101-10-20 19:26:00
1 2104-08-13 03:51:00          172.0                  0.0 2104-08-13 03:51:00
2                 NaT           87.0                  0.0 2104-08-08 04:15:00
3                 NaT          115.0                  0.0 2167-01-09 17:09:00
4 2135-02-01 02:59:00          387.0                  0.0 2135-02-01 02:59:00

  ph_blood ph_blood_delay       ph_blood_time
0     7.59          720.0 2101-10-20 19:14:00
1     7.48          660.0 2104-08-13 03:40:00
2     7.22         2700.0 2104-08-08 03:30:00
3     7.34         4920.0 2167-01-09 15:47:00
4      NaN            NaN                 NaT

[5 rows x 78 columns]
------------------------------------
--- Processing feature : pH_urine
Initial size of table : 3318
After dropping duplicates : 3318
After applying inclusion criteria : 3304
   subject_id  icustay_id              intime             outtime  creatinine  \
0         109      221610 2140-08-25 14:40:48 2140-08-31 23:34:12         5.5
1         109      221610 2140-08-25 14:40:48 2140-08-31 23:34:12         5.7
2         109      271885 2138-04-16 17:45:30 2138-04-19 18:00:22         5.3
3         145      246376 2144-04-22 08:38:32 2144-06-08 19:09:56         0.6
4         145      246376 2144-04-22 08:38:32 2144-06-08 19:09:56         0.7

      creatinine_time        age  length_of_stay    rrt  ph_urine  \
0 2140-08-31 03:21:00  23.052145      152.890000  False       7.0
1 2140-08-30 03:24:00  23.052145      152.890000  False       7.0
2 2138-04-19 06:30:00  20.692417       72.247778  False       6.0
3 2144-05-27 02:30:00  55.060371     1138.523333  False       3.0
4 2144-05-28 02:03:00  55.060371     1138.523333  False       3.0

   ph_urine_delay       ph_urine_time
0        146580.0 2140-08-29 10:38:00
1         60360.0 2140-08-29 10:38:00
2         71160.0 2138-04-18 10:44:00
3       1254540.0 2144-05-12 14:01:00
4       1339320.0 2144-05-12 14:01:00
---------------------------------
Merged table size : 279206
  arterial_pressure_systolic arterial_pressure_systolic_delay  \
0                        NaN                              NaN
1                        NaN                              NaN
2                        NaN                              NaN
3                        NaN                              NaN
4                        NaN                              NaN

  arterial_pressure_systolic_time arterial_pressure_diastolic  \
0                             NaN                         NaN
1                             NaN                         NaN
2                             NaN                         NaN
3                             NaN                         NaN
4                             NaN                         NaN

  arterial_pressure_diastolic_delay arterial_pressure_diastolic_time  \
0                               NaN                              NaN
1                               NaN                              NaN
2                               NaN                              NaN
3                               NaN                              NaN
4                               NaN                              NaN

  heart_rate heart_rate_delay heart_rate_time weight_daily      ...       \
0        NaN              NaN             NaN          NaN      ...
1        NaN              NaN             NaN          NaN      ...
2        NaN              NaN             NaN          NaN      ...
3        NaN              NaN             NaN          NaN      ...
4        NaN              NaN             NaN          NaN      ...

     lymphocytes_time platelet_count platelet_count_delay platelet_count_time  \
0                 NaT          190.0                  0.0 2101-10-20 19:26:00
1 2104-08-13 03:51:00          172.0                  0.0 2104-08-13 03:51:00
2                 NaT           87.0                  0.0 2104-08-08 04:15:00
3                 NaT          115.0                  0.0 2167-01-09 17:09:00
4 2135-02-01 02:59:00          387.0                  0.0 2135-02-01 02:59:00

  ph_blood ph_blood_delay       ph_blood_time ph_urine ph_urine_delay  \
0     7.59          720.0 2101-10-20 19:14:00      NaN            NaN
1     7.48          660.0 2104-08-13 03:40:00      NaN            NaN
2     7.22         2700.0 2104-08-08 03:30:00      NaN            NaN
3     7.34         4920.0 2167-01-09 15:47:00      NaN            NaN
4      NaN            NaN                 NaT      NaN            NaN

  ph_urine_time
0           NaT
1           NaT
2           NaT
3           NaT
4           NaT

[5 rows x 81 columns]
------------------------------------
--- Processing feature : Monocytes

Initial size of table : 0
After dropping duplicates : 0
After applying inclusion criteria : 0
Empty DataFrame
Columns: [subject_id, icustay_id, intime, outtime, creatinine, creatinine_time, age, length_of_stay, rrt, monocytes, monocytes_delay, monocytes_time]
Index: []
---------------------------------
Merged table size : 279206
  arterial_pressure_systolic arterial_pressure_systolic_delay  \
0                        NaN                              NaN
1                        NaN                              NaN
2                        NaN                              NaN
3                        NaN                              NaN
4                        NaN                              NaN

  arterial_pressure_systolic_time arterial_pressure_diastolic  \
0                             NaN                         NaN
1                             NaN                         NaN
2                             NaN                         NaN
3                             NaN                         NaN
4                             NaN                         NaN

  arterial_pressure_diastolic_delay arterial_pressure_diastolic_time  \
0                               NaN                              NaN
1                               NaN                              NaN
2                               NaN                              NaN
3                               NaN                              NaN
4                               NaN                              NaN

  heart_rate heart_rate_delay heart_rate_time weight_daily      ...        \
0        NaN              NaN             NaN          NaN      ...
1        NaN              NaN             NaN          NaN      ...
2        NaN              NaN             NaN          NaN      ...
3        NaN              NaN             NaN          NaN      ...
4        NaN              NaN             NaN          NaN      ...

  platelet_count_time ph_blood ph_blood_delay       ph_blood_time ph_urine  \
0 2101-10-20 19:26:00     7.59          720.0 2101-10-20 19:14:00      NaN
1 2104-08-13 03:51:00     7.48          660.0 2104-08-13 03:40:00      NaN
2 2104-08-08 04:15:00     7.22         2700.0 2104-08-08 03:30:00      NaN
3 2167-01-09 17:09:00     7.34         4920.0 2167-01-09 15:47:00      NaN
4 2135-02-01 02:59:00      NaN            NaN                 NaT      NaN

  ph_urine_delay ph_urine_time monocytes monocytes_delay monocytes_time
0            NaN           NaT       NaN             NaN            NaN
1            NaN           NaT       NaN             NaN            NaN
2            NaN           NaT       NaN             NaN            NaN
3            NaN           NaT       NaN             NaN            NaN
4            NaN           NaT       NaN             NaN            NaN

[5 rows x 84 columns]
------------------------------------
--- Processing feature : fibrinogen
Initial size of table : 107663
After dropping duplicates : 107504
After applying inclusion criteria : 100897
   subject_id  icustay_id              intime             outtime  creatinine  \
0           3      211552 2101-10-20 19:10:11 2101-10-26 20:43:09         1.9
1           3      211552 2101-10-20 19:10:11 2101-10-26 20:43:09         1.3
2           3      211552 2101-10-20 19:10:11 2101-10-26 20:43:09         1.5
3           6      228232 2175-05-30 21:30:54 2175-06-03 13:39:54         5.1
4          12      232669 2104-08-08 02:08:17 2104-08-15 17:22:25         1.2

      creatinine_time        age  length_of_stay    rrt  fibrinogen  \
0 2101-10-22 04:00:00  76.526792      145.549444  False       431.0
1 2101-10-26 03:00:00  76.526792      145.549444  False       431.0
2 2101-10-24 03:15:00  76.526792      145.549444  False       431.0
3 2175-06-03 00:58:00  65.942297       88.150000  False      1073.0
4 2104-08-10 01:00:00  72.374177      183.235556  False       137.0

   fibrinogen_delay     fibrinogen_time
0          115260.0 2101-10-20 19:59:00
1          457260.0 2101-10-20 19:59:00
2          285360.0 2101-10-20 19:59:00
3           28680.0 2175-06-02 17:00:00
4          165600.0 2104-08-08 03:00:00
---------------------------------
Merged table size : 279206
  arterial_pressure_systolic arterial_pressure_systolic_delay  \
0                        NaN                              NaN
1                        NaN                              NaN
2                        NaN                              NaN
3                        NaN                              NaN
4                        NaN                              NaN

  arterial_pressure_systolic_time arterial_pressure_diastolic  \
0                             NaN                         NaN
1                             NaN                         NaN
2                             NaN                         NaN
3                             NaN                         NaN
4                             NaN                         NaN

  arterial_pressure_diastolic_delay arterial_pressure_diastolic_time  \
0                               NaN                              NaN
1                               NaN                              NaN
2                               NaN                              NaN
3                               NaN                              NaN
4                               NaN                              NaN

  heart_rate heart_rate_delay heart_rate_time weight_daily  \
0        NaN              NaN             NaN          NaN
1        NaN              NaN             NaN          NaN
2        NaN              NaN             NaN          NaN
3        NaN              NaN             NaN          NaN
4        NaN              NaN             NaN          NaN

          ...               ph_blood_time ph_urine ph_urine_delay  \
0         ...         2101-10-20 19:14:00      NaN            NaN
1         ...         2104-08-13 03:40:00      NaN            NaN
2         ...         2104-08-08 03:30:00      NaN            NaN
3         ...         2167-01-09 15:47:00      NaN            NaN
4         ...                         NaT      NaN            NaN

  ph_urine_time monocytes monocytes_delay monocytes_time fibrinogen  \
0           NaT       NaN             NaN            NaN        NaN
1           NaT       NaN             NaN            NaN      613.0
2           NaT       NaN             NaN            NaN      137.0
3           NaT       NaN             NaN            NaN        NaN
4           NaT       NaN             NaN            NaN        NaN

  fibrinogen_delay     fibrinogen_time
0              NaN                 NaT
1          96720.0 2104-08-12 00:59:00
2           4500.0 2104-08-08 03:00:00
3              NaN                 NaT
4              NaN                 NaT

[5 rows x 87 columns]
------------------------------------
--- Processing feature : urinary_sodium
Initial size of table : 85961
After dropping duplicates : 85687
After applying inclusion criteria : 82464
   subject_id  icustay_id              intime             outtime  creatinine  \
1          31      254478 2108-08-22 23:28:42 2108-08-30 21:59:20         0.9
2          31      254478 2108-08-22 23:28:42 2108-08-30 21:59:20         1.5
4          62      216609 2113-02-15 00:20:44 2113-02-17 20:09:46         0.7
5          62      216609 2113-02-15 00:20:44 2113-02-17 20:09:46         0.7
6          62      216609 2113-02-15 00:20:44 2113-02-17 20:09:46         0.6

      creatinine_time        age  length_of_stay    rrt  urinary_sodium  \
1 2108-08-29 03:00:00  72.267095      190.510556  False            21.0
2 2108-08-30 01:45:00  72.267095      190.510556  False            21.0
4 2113-02-15 14:32:00  68.773620       67.817222  False            70.0
5 2113-02-16 17:30:00  68.773620       67.817222  False            70.0
6 2113-02-17 05:23:00  68.773620       67.817222  False            70.0

   urinary_sodium_delay urinary_sodium_time
1               63000.0 2108-08-28 09:30:00
2              144900.0 2108-08-28 09:30:00
4                7500.0 2113-02-15 12:27:00
5              104580.0 2113-02-15 12:27:00
6              147360.0 2113-02-15 12:27:00

---------------------------------
Merged table size : 279206
  arterial_pressure_systolic arterial_pressure_systolic_delay  \
0                        NaN                              NaN
1                        NaN                              NaN
2                        NaN                              NaN
3                        NaN                              NaN
4                        NaN                              NaN

  arterial_pressure_systolic_time arterial_pressure_diastolic  \
0                             NaN                         NaN
1                             NaN                         NaN
2                             NaN                         NaN
3                             NaN                         NaN
4                             NaN                         NaN

  arterial_pressure_diastolic_delay arterial_pressure_diastolic_time  \
0                               NaN                              NaN
1                               NaN                              NaN
2                               NaN                              NaN
3                               NaN                              NaN
4                               NaN                              NaN

  heart_rate heart_rate_delay heart_rate_time weight_daily  \
0        NaN              NaN             NaN          NaN
1        NaN              NaN             NaN          NaN
2        NaN              NaN             NaN          NaN
3        NaN              NaN             NaN          NaN
4        NaN              NaN             NaN          NaN

          ...         ph_urine_time monocytes monocytes_delay monocytes_time  \
0         ...                   NaT       NaN             NaN            NaN
1         ...                   NaT       NaN             NaN            NaN
2         ...                   NaT       NaN             NaN            NaN
3         ...                   NaT       NaN             NaN            NaN
4         ...                   NaT       NaN             NaN            NaN

  fibrinogen fibrinogen_delay     fibrinogen_time urinary_sodium  \
0        NaN              NaN                 NaT            NaN
1      613.0          96720.0 2104-08-12 00:59:00            NaN
2      137.0           4500.0 2104-08-08 03:00:00            NaN
3        NaN              NaN                 NaT            NaN
4        NaN              NaN                 NaT            NaN

  urinary_sodium_delay urinary_sodium_time
0                  NaN                 NaT
1                  NaN                 NaT
2                  NaN                 NaT
3                  NaN                 NaT
4                  NaN                 NaT

[5 rows x 90 columns]
------------------------------------
--- Processing feature : urinary_potassium
Initial size of table : 47412
After dropping duplicates : 47376
After applying inclusion criteria : 45726
   subject_id  icustay_id              intime             outtime  creatinine  \
0           9      220597 2149-11-09 13:07:02 2149-11-14 20:52:14         2.0
1           9      220597 2149-11-09 13:07:02 2149-11-14 20:52:14         1.6
2           9      220597 2149-11-09 13:07:02 2149-11-14 20:52:14         1.7
3           9      220597 2149-11-09 13:07:02 2149-11-14 20:52:14         2.0
8         106      252051 2192-08-09 18:35:44 2192-08-15 22:33:57         1.2

      creatinine_time        age  length_of_stay    rrt  urinary_potassium  \
0 2149-11-12 03:00:00  41.790228      127.753333  False               51.0
1 2149-11-13 03:20:00  41.790228      127.753333  False               51.0
2 2149-11-13 16:04:00  41.790228      127.753333  False               51.0
3 2149-11-14 06:00:00  41.790228      127.753333  False               51.0
8 2192-08-13 08:04:00  28.358663      147.970278  False               54.0

   urinary_potassium_delay urinary_potassium_time
0                  64800.0    2149-11-11 09:00:00
1                 152400.0    2149-11-11 09:00:00
2                 198240.0    2149-11-11 09:00:00
3                 248400.0    2149-11-11 09:00:00
8                      0.0    2192-08-13 08:04:00
---------------------------------
Merged table size : 279206
  arterial_pressure_systolic arterial_pressure_systolic_delay  \
0                        NaN                              NaN
1                        NaN                              NaN
2                        NaN                              NaN
3                        NaN                              NaN
4                        NaN                              NaN

  arterial_pressure_systolic_time arterial_pressure_diastolic  \
0                             NaN                         NaN
1                             NaN                         NaN
2                             NaN                         NaN
3                             NaN                         NaN
4                             NaN                         NaN

  arterial_pressure_diastolic_delay arterial_pressure_diastolic_time  \
0                               NaN                              NaN
1                               NaN                              NaN
2                               NaN                              NaN
3                               NaN                              NaN
4                               NaN                              NaN

  heart_rate heart_rate_delay heart_rate_time weight_daily  \
0        NaN              NaN             NaN          NaN
1        NaN              NaN             NaN          NaN
2        NaN              NaN             NaN          NaN
3        NaN              NaN             NaN          NaN
4        NaN              NaN             NaN          NaN

           ...           monocytes_time fibrinogen fibrinogen_delay  \
0          ...                      NaN        NaN              NaN
1          ...                      NaN      613.0          96720.0
2          ...                      NaN      137.0           4500.0
3          ...                      NaN        NaN              NaN
4          ...                      NaN        NaN              NaN

      fibrinogen_time urinary_sodium urinary_sodium_delay urinary_sodium_time  \
0                 NaT            NaN                  NaN                 NaT
1 2104-08-12 00:59:00            NaN                  NaN                 NaT
2 2104-08-08 03:00:00            NaN                  NaN                 NaT
3                 NaT            NaN                  NaN                 NaT
4                 NaT            NaN                  NaN                 NaT

  urinary_potassium urinary_potassium_delay urinary_potassium_time
0               NaN                     NaN                    NaT
1               NaN                     NaN                    NaT
2               NaN                     NaN                    NaT
3               NaN                     NaN                    NaT
4               NaN                     NaN                    NaT

[5 rows x 93 columns]
------------------------------------
--- Processing feature : urine_urea
Initial size of table : 56779
After dropping duplicates : 56668
After applying inclusion criteria : 54771
   subject_id  icustay_id              intime             outtime  creatinine  \
0           9      220597 2149-11-09 13:07:02 2149-11-14 20:52:14         2.0
1           9      220597 2149-11-09 13:07:02 2149-11-14 20:52:14         2.0
2           9      220597 2149-11-09 13:07:02 2149-11-14 20:52:14         1.6
3           9      220597 2149-11-09 13:07:02 2149-11-14 20:52:14         1.7
4          62      216609 2113-02-15 00:20:44 2113-02-17 20:09:46         0.7

      creatinine_time        age  length_of_stay    rrt  urine_urea  \
0 2149-11-12 03:00:00  41.790228      127.753333  False       636.0
1 2149-11-14 06:00:00  41.790228      127.753333  False       636.0
2 2149-11-13 03:20:00  41.790228      127.753333  False       636.0
3 2149-11-13 16:04:00  41.790228      127.753333  False       636.0
4 2113-02-15 14:32:00  68.773620       67.817222  False       824.0

   urine_urea_delay     urine_urea_time
0           64800.0 2149-11-11 09:00:00
1          248400.0 2149-11-11 09:00:00
2          152400.0 2149-11-11 09:00:00
3          198240.0 2149-11-11 09:00:00
4            7500.0 2113-02-15 12:27:00

---------------------------------
Merged table size : 279206
  arterial_pressure_systolic arterial_pressure_systolic_delay  \
0                        NaN                              NaN
1                        NaN                              NaN
2                        NaN                              NaN
3                        NaN                              NaN
4                        NaN                              NaN

  arterial_pressure_systolic_time arterial_pressure_diastolic  \
0                             NaN                         NaN
1                             NaN                         NaN
2                             NaN                         NaN
3                             NaN                         NaN
4                             NaN                         NaN

  arterial_pressure_diastolic_delay arterial_pressure_diastolic_time  \
0                               NaN                              NaN
1                               NaN                              NaN
2                               NaN                              NaN
3                               NaN                              NaN
4                               NaN                              NaN

  heart_rate heart_rate_delay heart_rate_time weight_daily       ...        \
0        NaN              NaN             NaN          NaN       ...
1        NaN              NaN             NaN          NaN       ...
2        NaN              NaN             NaN          NaN       ...
3        NaN              NaN             NaN          NaN       ...
4        NaN              NaN             NaN          NaN       ...

      fibrinogen_time urinary_sodium urinary_sodium_delay urinary_sodium_time  \
0                 NaT            NaN                  NaN                 NaT
1 2104-08-12 00:59:00            NaN                  NaN                 NaT
2 2104-08-08 03:00:00            NaN                  NaN                 NaT
3                 NaT            NaN                  NaN                 NaT
4                 NaT            NaN                  NaN                 NaT

  urinary_potassium urinary_potassium_delay urinary_potassium_time urine_urea  \
0               NaN                     NaN                    NaT        NaN
1               NaN                     NaN                    NaT        NaN
2               NaN                     NaN                    NaT        NaN
3               NaN                     NaN                    NaT        NaN
4               NaN                     NaN                    NaT        NaN

  urine_urea_delay urine_urea_time
0              NaN             NaT
1              NaN             NaT
2              NaN             NaT
3              NaN             NaT
4              NaN             NaT

[5 rows x 96 columns]
------------------------------------
--- Processing feature : urine_creatinin
Initial size of table : 95442
After dropping duplicates : 95168
After applying inclusion criteria : 91684
   subject_id  icustay_id              intime             outtime  creatinine  \
0           9      220597 2149-11-09 13:07:02 2149-11-14 20:52:14         2.0
2          31      254478 2108-08-22 23:28:42 2108-08-30 21:59:20         0.9
3          31      254478 2108-08-22 23:28:42 2108-08-30 21:59:20         1.5
4          62      216609 2113-02-15 00:20:44 2113-02-17 20:09:46         0.7
5          62      216609 2113-02-15 00:20:44 2113-02-17 20:09:46         0.6

      creatinine_time        age  length_of_stay    rrt  urine_creatinin  \
0 2149-11-12 03:00:00  41.790228      127.753333  False            130.0
2 2108-08-29 03:00:00  72.267095      190.510556  False             42.0
3 2108-08-30 01:45:00  72.267095      190.510556  False             42.0
4 2113-02-16 17:30:00  68.773620       67.817222  False            153.0
5 2113-02-17 05:23:00  68.773620       67.817222  False            153.0

   urine_creatinin_delay urine_creatinin_time
0                64800.0  2149-11-11 09:00:00
2                63000.0  2108-08-28 09:30:00
3               144900.0  2108-08-28 09:30:00
4               104580.0  2113-02-15 12:27:00
5               147360.0  2113-02-15 12:27:00
---------------------------------
Merged table size : 279206
  arterial_pressure_systolic arterial_pressure_systolic_delay  \
0                        NaN                              NaN
1                        NaN                              NaN
2                        NaN                              NaN
3                        NaN                              NaN
4                        NaN                              NaN

  arterial_pressure_systolic_time arterial_pressure_diastolic  \
0                             NaN                         NaN
1                             NaN                         NaN
2                             NaN                         NaN
3                             NaN                         NaN
4                             NaN                         NaN

  arterial_pressure_diastolic_delay arterial_pressure_diastolic_time  \
0                               NaN                              NaN
1                               NaN                              NaN
2                               NaN                              NaN
3                               NaN                              NaN
4                               NaN                              NaN

  heart_rate heart_rate_delay heart_rate_time weight_daily  \
0        NaN              NaN             NaN          NaN
1        NaN              NaN             NaN          NaN
2        NaN              NaN             NaN          NaN
3        NaN              NaN             NaN          NaN
4        NaN              NaN             NaN          NaN

          ...          urinary_sodium_time urinary_potassium  \
0         ...                          NaT               NaN
1         ...                          NaT               NaN
2         ...                          NaT               NaN
3         ...                          NaT               NaN
4         ...                          NaT               NaN

  urinary_potassium_delay urinary_potassium_time urine_urea urine_urea_delay  \
0                     NaN                    NaT        NaN              NaN
1                     NaN                    NaT        NaN              NaN
2                     NaN                    NaT        NaN              NaN
3                     NaN                    NaT        NaN              NaN
4                     NaN                    NaT        NaN              NaN

  urine_urea_time urine_creatinin urine_creatinin_delay urine_creatinin_time
0             NaT             NaN                   NaN                  NaT
1             NaT             NaN                   NaN                  NaT
2             NaT             NaN                   NaN                  NaT
3             NaT             NaN                   NaN                  NaT
4             NaT             NaN                   NaN                  NaT

[5 rows x 99 columns]
------------------------------------
--- Processing feature : alkaline_phospatase
Initial size of table : 189131
After dropping duplicates : 188784
After applying inclusion criteria : 174336
   subject_id  icustay_id              intime             outtime  creatinine  \
0           3      211552 2101-10-20 19:10:11 2101-10-26 20:43:09         1.3
1           6      228232 2175-05-30 21:30:54 2175-06-03 13:39:54         5.1
2           9      220597 2149-11-09 13:07:02 2149-11-14 20:52:14         1.6
3          12      232669 2104-08-08 02:08:17 2104-08-15 17:22:25         1.2
4          12      232669 2104-08-08 02:08:17 2104-08-15 17:22:25         1.1

      creatinine_time        age  length_of_stay    rrt  alkaline_phospatase  \
0 2101-10-25 03:00:00  76.526792      145.549444  False                 89.0
1 2175-06-03 00:58:00  65.942297       88.150000  False                 55.0
2 2149-11-13 03:20:00  41.790228      127.753333  False                 67.0
3 2104-08-10 01:00:00  72.374177      183.235556  False                132.0
4 2104-08-11 03:00:00  72.374177      183.235556  False                170.0

   alkaline_phospatase_delay alkaline_phospatase_time
0                   255600.0      2101-10-22 04:00:00
1                        0.0      2175-06-03 00:58:00
2                    87600.0      2149-11-12 03:00:00
3                        0.0      2104-08-10 01:00:00
4                        0.0      2104-08-11 03:00:00

---------------------------------
Merged table size : 279206
  arterial_pressure_systolic arterial_pressure_systolic_delay  \
0                        NaN                              NaN
1                        NaN                              NaN
2                        NaN                              NaN
3                        NaN                              NaN
4                        NaN                              NaN

  arterial_pressure_systolic_time arterial_pressure_diastolic  \
0                             NaN                         NaN
1                             NaN                         NaN
2                             NaN                         NaN
3                             NaN                         NaN
4                             NaN                         NaN

  arterial_pressure_diastolic_delay arterial_pressure_diastolic_time  \
0                               NaN                              NaN
1                               NaN                              NaN
2                               NaN                              NaN
3                               NaN                              NaN
4                               NaN                              NaN

  heart_rate heart_rate_delay heart_rate_time weight_daily  \
0        NaN              NaN             NaN          NaN
1        NaN              NaN             NaN          NaN
2        NaN              NaN             NaN          NaN
3        NaN              NaN             NaN          NaN
4        NaN              NaN             NaN          NaN

            ...            urinary_potassium_time urine_urea urine_urea_delay  \
0           ...                               NaT        NaN              NaN
1           ...                               NaT        NaN              NaN
2           ...                               NaT        NaN              NaN
3           ...                               NaT        NaN              NaN
4           ...                               NaT        NaN              NaN

  urine_urea_time urine_creatinin urine_creatinin_delay urine_creatinin_time  \
0             NaT             NaN                   NaN                  NaT
1             NaT             NaN                   NaN                  NaT
2             NaT             NaN                   NaN                  NaT
3             NaT             NaN                   NaN                  NaT
4             NaT             NaN                   NaN                  NaT

  alkaline_phospatase alkaline_phospatase_delay alkaline_phospatase_time
0                 NaN                       NaN                      NaT
1               193.0                       0.0      2104-08-13 03:51:00
2                 NaN                       NaN                      NaT
3                49.0                   74460.0      2167-01-08 20:28:00
4               178.0                       0.0      2135-02-01 02:59:00

[5 rows x 102 columns]
------------------------------------
--- Processing feature : Total_protein_blood
Initial size of table : 15756
After dropping duplicates : 15756
After applying inclusion criteria : 15235
   subject_id  icustay_id              intime             outtime  creatinine  \
0           6      228232 2175-05-30 21:30:54 2175-06-03 13:39:54         7.4
1           6      228232 2175-05-30 21:30:54 2175-06-03 13:39:54         6.2
2           6      228232 2175-05-30 21:30:54 2175-06-03 13:39:54         5.1
3         164      218740 2116-12-28 15:34:05 2117-01-16 04:01:58         0.5
4         164      218740 2116-12-28 15:34:05 2117-01-16 04:01:58         0.4

      creatinine_time        age  length_of_stay    rrt  total_protein_blood  \
0 2175-06-01 03:00:00  65.942297       88.150000  False                  5.2
1 2175-06-02 02:06:00  65.942297       88.150000  False                  5.2
2 2175-06-03 00:58:00  65.942297       88.150000  False                  5.2
3 2117-01-12 03:58:00  82.675729      444.464722  False                  5.3
4 2117-01-04 04:30:00  82.675729      444.464722  False                  5.3

   total_protein_blood_delay total_protein_blood_time
0                        0.0      2175-06-01 03:00:00
1                    83160.0      2175-06-01 03:00:00
2                   165480.0      2175-06-01 03:00:00
3                   737160.0      2117-01-03 15:12:00
4                    47880.0      2117-01-03 15:12:00
---------------------------------
Merged table size : 279206
  arterial_pressure_systolic arterial_pressure_systolic_delay  \
0                        NaN                              NaN
1                        NaN                              NaN
2                        NaN                              NaN
3                        NaN                              NaN
4                        NaN                              NaN

  arterial_pressure_systolic_time arterial_pressure_diastolic  \
0                             NaN                         NaN
1                             NaN                         NaN
2                             NaN                         NaN
3                             NaN                         NaN
4                             NaN                         NaN

  arterial_pressure_diastolic_delay arterial_pressure_diastolic_time  \
0                               NaN                              NaN
1                               NaN                              NaN
2                               NaN                              NaN
3                               NaN                              NaN
4                               NaN                              NaN

  heart_rate heart_rate_delay heart_rate_time weight_daily  \
0        NaN              NaN             NaN          NaN
1        NaN              NaN             NaN          NaN
2        NaN              NaN             NaN          NaN
3        NaN              NaN             NaN          NaN
4        NaN              NaN             NaN          NaN

            ...            urine_urea_time urine_creatinin  \
0           ...                        NaT             NaN
1           ...                        NaT             NaN
2           ...                        NaT             NaN
3           ...                        NaT             NaN
4           ...                        NaT             NaN

  urine_creatinin_delay urine_creatinin_time alkaline_phospatase  \
0                   NaN                  NaT                 NaN
1                   NaN                  NaT               193.0
2                   NaN                  NaT                 NaN
3                   NaN                  NaT                49.0
4                   NaN                  NaT               178.0

  alkaline_phospatase_delay alkaline_phospatase_time total_protein_blood  \
0                       NaN                      NaT                 NaN
1                       0.0      2104-08-13 03:51:00                 NaN
2                       NaN                      NaT                 NaN
3                   74460.0      2167-01-08 20:28:00                 NaN
4                       0.0      2135-02-01 02:59:00                 NaN

  total_protein_blood_delay total_protein_blood_time
0                       NaN                      NaT
1                       NaN                      NaT
2                       NaN                      NaT
3                       NaN                      NaT
4                       NaN                      NaT

[5 rows x 105 columns]
------------------------------------
--- Processing feature : albumin
Initial size of table : 176225
After dropping duplicates : 175862
After applying inclusion criteria : 164713
   subject_id  icustay_id              intime             outtime  creatinine  \
0           3      211552 2101-10-20 19:10:11 2101-10-26 20:43:09         1.3
1           3      211552 2101-10-20 19:10:11 2101-10-26 20:43:09         1.5
2           9      220597 2149-11-09 13:07:02 2149-11-14 20:52:14         1.6
3          12      232669 2104-08-08 02:08:17 2104-08-15 17:22:25         1.2
4          12      232669 2104-08-08 02:08:17 2104-08-15 17:22:25         1.1

      creatinine_time        age  length_of_stay    rrt  albumin  \
0 2101-10-26 03:00:00  76.526792      145.549444  False      1.8
1 2101-10-24 03:15:00  76.526792      145.549444  False      1.8
2 2149-11-13 03:20:00  41.790228      127.753333  False      3.0
3 2104-08-10 01:00:00  72.374177      183.235556  False      2.4
4 2104-08-11 03:00:00  72.374177      183.235556  False      2.4

   albumin_delay        albumin_time
0       457260.0 2101-10-20 19:59:00
1       285360.0 2101-10-20 19:59:00
2            0.0 2149-11-13 03:20:00
3            0.0 2104-08-10 01:00:00
4        93600.0 2104-08-10 01:00:00

---------------------------------
Merged table size : 279206
  arterial_pressure_systolic arterial_pressure_systolic_delay  \
0                        NaN                              NaN
1                        NaN                              NaN
2                        NaN                              NaN
3                        NaN                              NaN
4                        NaN                              NaN

  arterial_pressure_systolic_time arterial_pressure_diastolic  \
0                             NaN                         NaN
1                             NaN                         NaN
2                             NaN                         NaN
3                             NaN                         NaN
4                             NaN                         NaN

  arterial_pressure_diastolic_delay arterial_pressure_diastolic_time  \
0                               NaN                              NaN
1                               NaN                              NaN
2                               NaN                              NaN
3                               NaN                              NaN
4                               NaN                              NaN

  heart_rate heart_rate_delay heart_rate_time weight_daily  \
0        NaN              NaN             NaN          NaN
1        NaN              NaN             NaN          NaN
2        NaN              NaN             NaN          NaN
3        NaN              NaN             NaN          NaN
4        NaN              NaN             NaN          NaN

          ...         urine_creatinin_time alkaline_phospatase  \
0         ...                          NaT                 NaN
1         ...                          NaT               193.0
2         ...                          NaT                 NaN
3         ...                          NaT                49.0
4         ...                          NaT               178.0

  alkaline_phospatase_delay alkaline_phospatase_time total_protein_blood  \
0                       NaN                      NaT                 NaN
1                       0.0      2104-08-13 03:51:00                 NaN
2                       NaN                      NaT                 NaN
3                   74460.0      2167-01-08 20:28:00                 NaN
4                       0.0      2135-02-01 02:59:00                 NaN

  total_protein_blood_delay total_protein_blood_time albumin albumin_delay  \
0                       NaN                      NaT     NaN           NaN
1                       NaN                      NaT     2.2           0.0
2                       NaN                      NaT     NaN           NaN
3                       NaN                      NaT     3.9       74460.0
4                       NaN                      NaT     2.1       77940.0

         albumin_time
0                 NaT
1 2104-08-13 03:51:00
2                 NaT
3 2167-01-08 20:28:00
4 2135-01-31 05:20:00

[5 rows x 108 columns]
------------------------------------
--- Processing feature : Total_protein_urine
Initial size of table : 15708
After dropping duplicates : 15681
After applying inclusion criteria : 15241
   subject_id  icustay_id              intime             outtime  creatinine  \
0          83      254066 2142-04-03 10:33:32 2142-04-05 18:05:53         3.0
1          83      254066 2142-04-03 10:33:32 2142-04-05 18:05:53         2.8
2          94      213450 2176-09-02 16:27:46 2176-09-25 14:00:30         0.3
3          94      213450 2176-09-02 16:27:46 2176-09-25 14:00:30         0.3
4          94      213450 2176-09-02 16:27:46 2176-09-25 14:00:30         0.3

      creatinine_time        age  length_of_stay    rrt  total_protein_urine  \
0 2142-04-04 05:22:00  65.546788       55.539167  False                196.0
1 2142-04-05 05:52:00  65.546788       55.539167  False                196.0
2 2176-09-10 00:49:00  74.954923      549.545556  False                 12.0
3 2176-09-14 04:01:00  74.954923      549.545556  False                 12.0
4 2176-09-15 05:37:00  74.954923      549.545556  False                 12.0

   total_protein_urine_delay total_protein_urine_time
0                    25380.0      2142-04-03 22:19:00
1                   113580.0      2142-04-03 22:19:00
2                    40260.0      2176-09-09 13:38:00
3                   397380.0      2176-09-09 13:38:00
4                   489540.0      2176-09-09 13:38:00
---------------------------------
Merged table size : 279206
  arterial_pressure_systolic arterial_pressure_systolic_delay  \
0                        NaN                              NaN
1                        NaN                              NaN
2                        NaN                              NaN
3                        NaN                              NaN
4                        NaN                              NaN

  arterial_pressure_systolic_time arterial_pressure_diastolic  \
0                             NaN                         NaN
1                             NaN                         NaN
2                             NaN                         NaN
3                             NaN                         NaN
4                             NaN                         NaN

  arterial_pressure_diastolic_delay arterial_pressure_diastolic_time  \
0                               NaN                              NaN
1                               NaN                              NaN
2                               NaN                              NaN
3                               NaN                              NaN
4                               NaN                              NaN

  heart_rate heart_rate_delay heart_rate_time weight_daily  \
0        NaN              NaN             NaN          NaN
1        NaN              NaN             NaN          NaN
2        NaN              NaN             NaN          NaN
3        NaN              NaN             NaN          NaN
4        NaN              NaN             NaN          NaN

            ...            alkaline_phospatase_time total_protein_blood  \
0           ...                                 NaT                 NaN
1           ...                 2104-08-13 03:51:00                 NaN
2           ...                                 NaT                 NaN
3           ...                 2167-01-08 20:28:00                 NaN
4           ...                 2135-02-01 02:59:00                 NaN

  total_protein_blood_delay total_protein_blood_time albumin albumin_delay  \
0                       NaN                      NaT     NaN           NaN
1                       NaN                      NaT     2.2           0.0
2                       NaN                      NaT     NaN           NaN
3                       NaN                      NaT     3.9       74460.0
4                       NaN                      NaT     2.1       77940.0

         albumin_time total_protein_urine total_protein_urine_delay  \
0                 NaT                 NaN                       NaN
1 2104-08-13 03:51:00                 NaN                       NaN
2                 NaT                 NaN                       NaN
3 2167-01-08 20:28:00                 NaN                       NaN
4 2135-01-31 05:20:00                 NaN                       NaN

  total_protein_urine_time
0                      NaT
1                      NaT
2                      NaT
3                      NaT
4                      NaT

[5 rows x 111 columns]
------------------------------------
--- Processing feature : bilirubin
Initial size of table : 193432
After dropping duplicates : 193018
After applying inclusion criteria : 177120
   subject_id  icustay_id              intime             outtime  creatinine  \
0           3      211552 2101-10-20 19:10:11 2101-10-26 20:43:09         1.3
1           6      228232 2175-05-30 21:30:54 2175-06-03 13:39:54         5.1
2           9      220597 2149-11-09 13:07:02 2149-11-14 20:52:14         1.6
3          12      232669 2104-08-08 02:08:17 2104-08-15 17:22:25         1.2
4          12      232669 2104-08-08 02:08:17 2104-08-15 17:22:25         1.1

      creatinine_time        age  length_of_stay    rrt  bilirubin  \
0 2101-10-25 03:00:00  76.526792      145.549444  False        0.8
1 2175-06-03 00:58:00  65.942297       88.150000  False        0.3
2 2149-11-13 03:20:00  41.790228      127.753333  False        0.4
3 2104-08-10 01:00:00  72.374177      183.235556  False        9.9
4 2104-08-11 03:00:00  72.374177      183.235556  False        8.4

   bilirubin_delay      bilirubin_time
0         255600.0 2101-10-22 04:00:00
1              0.0 2175-06-03 00:58:00
2          87600.0 2149-11-12 03:00:00
3              0.0 2104-08-10 01:00:00
4              0.0 2104-08-11 03:00:00

---------------------------------
Merged table size : 279206
  arterial_pressure_systolic arterial_pressure_systolic_delay  \
0                        NaN                              NaN
1                        NaN                              NaN
2                        NaN                              NaN
3                        NaN                              NaN
4                        NaN                              NaN

  arterial_pressure_systolic_time arterial_pressure_diastolic  \
0                             NaN                         NaN
1                             NaN                         NaN
2                             NaN                         NaN
3                             NaN                         NaN
4                             NaN                         NaN

  arterial_pressure_diastolic_delay arterial_pressure_diastolic_time  \
0                               NaN                              NaN
1                               NaN                              NaN
2                               NaN                              NaN
3                               NaN                              NaN
4                               NaN                              NaN

  heart_rate heart_rate_delay heart_rate_time weight_daily  \
0        NaN              NaN             NaN          NaN
1        NaN              NaN             NaN          NaN
2        NaN              NaN             NaN          NaN
3        NaN              NaN             NaN          NaN
4        NaN              NaN             NaN          NaN

          ...         total_protein_blood_time albumin albumin_delay  \
0         ...                              NaT     NaN           NaN
1         ...                              NaT     2.2           0.0
2         ...                              NaT     NaN           NaN
3         ...                              NaT     3.9       74460.0
4         ...                              NaT     2.1       77940.0

         albumin_time total_protein_urine total_protein_urine_delay  \
0                 NaT                 NaN                       NaN
1 2104-08-13 03:51:00                 NaN                       NaN
2                 NaT                 NaN                       NaN
3 2167-01-08 20:28:00                 NaN                       NaN
4 2135-01-31 05:20:00                 NaN                       NaN

  total_protein_urine_time bilirubin bilirubin_delay      bilirubin_time
0                      NaT       NaN             NaN                 NaT
1                      NaT       8.2             0.0 2104-08-13 03:51:00
2                      NaT       NaN             NaN                 NaT
3                      NaT       0.4         74460.0 2167-01-08 20:28:00
4                      NaT       0.2             0.0 2135-02-01 02:59:00

[5 rows x 114 columns]
------------------------------------
--- Processing feature : C_reactive_protein
Initial size of table : 7917
After dropping duplicates : 7917
After applying inclusion criteria : 7574
   subject_id  icustay_id              intime             outtime  creatinine  \
0          36      211200 2131-05-16 23:18:26 2131-05-23 19:56:11         1.1
1          36      211200 2131-05-16 23:18:26 2131-05-23 19:56:11         1.1
2         109      271885 2138-04-16 17:45:30 2138-04-19 18:00:22         4.9
3         109      271885 2138-04-16 17:45:30 2138-04-19 18:00:22         5.8
4         109      271885 2138-04-16 17:45:30 2138-04-19 18:00:22         5.3

      creatinine_time        age  length_of_stay    rrt  c_reactive_protein  \
0 2131-05-23 00:58:00  69.745460      164.629167  False              123.40
1 2131-05-22 02:05:00  69.745460      164.629167  False              123.40
2 2138-04-17 05:01:00  20.692417       72.247778  False                2.59
3 2138-04-18 01:42:00  20.692417       72.247778  False                2.59
4 2138-04-19 06:30:00  20.692417       72.247778  False                2.59

   c_reactive_protein_delay c_reactive_protein_time
0                   82380.0     2131-05-22 02:05:00
1                       0.0     2131-05-22 02:05:00
2                       0.0     2138-04-17 05:01:00
3                   74460.0     2138-04-17 05:01:00
4                  178140.0     2138-04-17 05:01:00
---------------------------------
Merged table size : 279206
  arterial_pressure_systolic arterial_pressure_systolic_delay  \
0                        NaN                              NaN
1                        NaN                              NaN
2                        NaN                              NaN
3                        NaN                              NaN
4                        NaN                              NaN

  arterial_pressure_systolic_time arterial_pressure_diastolic  \
0                             NaN                         NaN
1                             NaN                         NaN
2                             NaN                         NaN
3                             NaN                         NaN
4                             NaN                         NaN

  arterial_pressure_diastolic_delay arterial_pressure_diastolic_time  \
0                               NaN                              NaN
1                               NaN                              NaN
2                               NaN                              NaN
3                               NaN                              NaN
4                               NaN                              NaN

  heart_rate heart_rate_delay heart_rate_time weight_daily  \
0        NaN              NaN             NaN          NaN
1        NaN              NaN             NaN          NaN
2        NaN              NaN             NaN          NaN
3        NaN              NaN             NaN          NaN
4        NaN              NaN             NaN          NaN

            ...                  albumin_time total_protein_urine  \
0           ...                           NaT                 NaN
1           ...           2104-08-13 03:51:00                 NaN
2           ...                           NaT                 NaN
3           ...           2167-01-08 20:28:00                 NaN
4           ...           2135-01-31 05:20:00                 NaN

  total_protein_urine_delay total_protein_urine_time bilirubin  \
0                       NaN                      NaT       NaN
1                       NaN                      NaT       8.2
2                       NaN                      NaT       NaN
3                       NaN                      NaT       0.4
4                       NaN                      NaT       0.2

  bilirubin_delay      bilirubin_time c_reactive_protein  \
0             NaN                 NaT                NaN
1             0.0 2104-08-13 03:51:00                NaN
2             NaN                 NaT                NaN
3         74460.0 2167-01-08 20:28:00                NaN
4             0.0 2135-02-01 02:59:00                NaN

  c_reactive_protein_delay c_reactive_protein_time
0                      NaN                     NaT
1                      NaN                     NaT
2                      NaN                     NaT
3                      NaN                     NaT
4                      NaN                     NaT

[5 rows x 117 columns]

In [25]:
print(last_df.shape[0])
print(last_df.loc[4,:])

279036
arterial_pressure_systolic                           NaN
arterial_pressure_systolic_delay                     NaN
arterial_pressure_systolic_time                      NaN
arterial_pressure_diastolic                          NaN
arterial_pressure_diastolic_delay                    NaN
arterial_pressure_diastolic_time                     NaN
heart_rate                                           NaN
heart_rate_delay                                     NaN
heart_rate_time                                      NaN
weight_daily                                         NaN
weight_daily_delay                                   NaN
weight_daily_time                                    NaN
temperature                                          NaN
temperature_delay                                    NaN
temperature_time                                     NaN
urine_output                                         NaN
urine_output_delay                                   NaN
urine_output_time                                    NaN
day_urine_output                                     NaN
day_urine_output_delay                               NaN
day_urine_output_time                                NaN
subject_id                                            21
icustay_id                                        216859
creatinine                                           4.7
creatinine_time                      2135-02-01 02:59:00
age                                              87.8263
scr                                                  4.7
scr_delay                                              0
scr_time                             2135-02-01 02:59:00
urea                                                  63
                                            ...
urinary_sodium                                       NaN
urinary_sodium_delay                                 NaN
urinary_sodium_time                                  NaT
urinary_potassium                                    NaN
urinary_potassium_delay                              NaN
urinary_potassium_time                               NaT
urine_urea                                           NaN
urine_urea_delay                                     NaN
urine_urea_time                                      NaT
urine_creatinin                                      NaN
urine_creatinin_delay                                NaN
urine_creatinin_time                                 NaT
alkaline_phospatase                                  178
alkaline_phospatase_delay                              0
alkaline_phospatase_time             2135-02-01 02:59:00
total_protein_blood                                  NaN
total_protein_blood_delay                            NaN
total_protein_blood_time                             NaT
albumin                                              2.1
albumin_delay                                      77940
albumin_time                         2135-01-31 05:20:00
total_protein_urine                                  NaN
total_protein_urine_delay                            NaN
total_protein_urine_time                             NaT
bilirubin                                            0.2
bilirubin_delay                                        0
bilirubin_time                       2135-02-01 02:59:00
c_reactive_protein                                   NaN
c_reactive_protein_delay                             NaN
c_reactive_protein_time                              NaT
Name: 4, Length: 113, dtype: object

# TODO (some is implemented below)
- figure out why we find no variables from the chartevents ?
- remove columns that are not features (remark : the delays between creatinine and other measurements might be interesting features!!)
- drop duplicates of creatinine measurements
- dump into .csv file and put it on the drive or slack


- take more exclusion criteria into account : the ones based on icd-9 codes
- add other (static) features !!

In [20]:
print(last_df.columns.values)

['arterial_pressure_systolic' 'arterial_pressure_systolic_delay'
 'arterial_pressure_systolic_time' 'arterial_pressure_diastolic'
 'arterial_pressure_diastolic_delay' 'arterial_pressure_diastolic_time'
 'heart_rate' 'heart_rate_delay' 'heart_rate_time' 'weight_daily'
 'weight_daily_delay' 'weight_daily_time' 'temperature' 'temperature_delay'
 'temperature_time' 'urine_output' 'urine_output_delay' 'urine_output_time'
 'day_urine_output' 'day_urine_output_delay' 'day_urine_output_time'
 'subject_id' 'icustay_id' 'intime' 'outtime' 'creatinine'
 'creatinine_time' 'age' 'length_of_stay' 'rrt' 'scr' 'scr_delay'
 'scr_time' 'urea' 'urea_delay' 'urea_time' 'sodium' 'sodium_delay'
 'sodium_time' 'potassium' 'potassium_delay' 'potassium_time' 'calcium'
 'calcium_delay' 'calcium_time' 'phosphor' 'phosphor_delay' 'phosphor_time'
 'leukocytes' 'leukocytes_delay' 'leukocytes_time' 'hemoglobine'
 'hemoglobine_delay' 'hemoglobine_time' 'bicarbonate' 'bicarbonate_delay'
 'bicarbonate_time' 'lactate' 'lactate_delay' 'lactate_time' 'uric_acid'
 'uric_acid_delay' 'uric_acid_time' 'chloride' 'chloride_delay'
 'chloride_time' 'neutrophils' 'neutrophils_delay' 'neutrophils_time'
 'lymphocytes' 'lymphocytes_delay' 'lymphocytes_time' 'platelet_count'
 'platelet_count_delay' 'platelet_count_time' 'ph_blood' 'ph_blood_delay'
 'ph_blood_time' 'ph_urine' 'ph_urine_delay' 'ph_urine_time' 'monocytes'
 'monocytes_delay' 'monocytes_time' 'fibrinogen' 'fibrinogen_delay'
 'fibrinogen_time' 'urinary_sodium' 'urinary_sodium_delay'
 'urinary_sodium_time' 'urinary_potassium' 'urinary_potassium_delay'
 'urinary_potassium_time' 'urine_urea' 'urine_urea_delay' 'urine_urea_time'
 'urine_creatinin' 'urine_creatinin_delay' 'urine_creatinin_time'
 'alkaline_phospatase' 'alkaline_phospatase_delay'
 'alkaline_phospatase_time' 'total_protein_blood'
 'total_protein_blood_delay' 'total_protein_blood_time' 'albumin'
 'albumin_delay' 'albumin_time' 'total_protein_urine'
 'total_protein_urine_delay' 'total_protein_urine_time' 'bilirubin'
 'bilirubin_delay' 'bilirubin_time' 'c_reactive_protein'
 'c_reactive_protein_delay' 'c_reactive_protein_time']

In [21]:
# REMOVE COLUMNS THAT WERE USED FOR INCLUSION CRITERIA BUT THAT ARE NOT AVAILABLE FEATURES FOR THE PREDICTION
# REMOVE ICUSTAY_IDS FOR WHICH THERE IS ONLY ONE MEASUREMENT OF CREATININE

print('Number of lines : ' + str(last_df.shape[0]))
to_remove = ['intime','outtime','length_of_stay','rrt']
for c in to_remove:
    if (c in last_df.columns.values): last_df = last_df.drop(c,axis=1)

# Remove icustay_ids for which there's only one measurement of creatinine
count_mes = last_df['icustay_id'].value_counts()
to_remove = count_mes.index.values[count_mes==1]
for i in to_remove:
    last_df = last_df.loc[last_df['icustay_id']!=i,:]

print('After dropping unique measurements of creatinine : ' + str(last_df.shape[0]))
last_df.head()

Number of lines : 279206
After dropping unique measurements of creatinine : 279036
  arterial_pressure_systolic arterial_pressure_systolic_delay  \
0                        NaN                              NaN
1                        NaN                              NaN
2                        NaN                              NaN
3                        NaN                              NaN
4                        NaN                              NaN

  arterial_pressure_systolic_time arterial_pressure_diastolic  \
0                             NaN                         NaN
1                             NaN                         NaN
2                             NaN                         NaN
3                             NaN                         NaN
4                             NaN                         NaN

  arterial_pressure_diastolic_delay arterial_pressure_diastolic_time  \
0                               NaN                              NaN
1                               NaN                              NaN
2                               NaN                              NaN
3                               NaN                              NaN
4                               NaN                              NaN

  heart_rate heart_rate_delay heart_rate_time weight_daily  \
0        NaN              NaN             NaN          NaN
1        NaN              NaN             NaN          NaN
2        NaN              NaN             NaN          NaN
3        NaN              NaN             NaN          NaN
4        NaN              NaN             NaN          NaN

            ...                  albumin_time total_protein_urine  \
0           ...                           NaT                 NaN
1           ...           2104-08-13 03:51:00                 NaN
2           ...                           NaT                 NaN
3           ...           2167-01-08 20:28:00                 NaN
4           ...           2135-01-31 05:20:00                 NaN

  total_protein_urine_delay total_protein_urine_time bilirubin  \
0                       NaN                      NaT       NaN
1                       NaN                      NaT       8.2
2                       NaN                      NaT       NaN
3                       NaN                      NaT       0.4
4                       NaN                      NaT       0.2

  bilirubin_delay      bilirubin_time c_reactive_protein  \
0             NaN                 NaT                NaN
1             0.0 2104-08-13 03:51:00                NaN
2             NaN                 NaT                NaN
3         74460.0 2167-01-08 20:28:00                NaN
4             0.0 2135-02-01 02:59:00                NaN

  c_reactive_protein_delay c_reactive_protein_time
0                      NaN                     NaT
1                      NaN                     NaT
2                      NaN                     NaT
3                      NaN                     NaT
4                      NaN                     NaT

[5 rows x 113 columns]

In [22]:
# Dump to file
last_df.to_csv('creatinine_measurements.csv')
print(last_df)

       arterial_pressure_systolic arterial_pressure_systolic_delay  \
0                             NaN                              NaN
1                             NaN                              NaN
2                             NaN                              NaN
3                             NaN                              NaN
4                             NaN                              NaN
5                             NaN                              NaN
6                             NaN                              NaN
7                             NaN                              NaN
8                             NaN                              NaN
9                             NaN                              NaN
10                            NaN                              NaN
11                            NaN                              NaN
12                            NaN                              NaN
13                            NaN                              NaN
14                            NaN                              NaN
15                            NaN                              NaN
16                            NaN                              NaN
17                            NaN                              NaN
18                            NaN                              NaN
19                            NaN                              NaN
20                            NaN                              NaN
21                            NaN                              NaN
22                            NaN                              NaN
23                            NaN                              NaN
24                            NaN                              NaN
25                            NaN                              NaN
26                            NaN                              NaN
27                            NaN                              NaN
28                            NaN                              NaN
29                            NaN                              NaN
...                           ...                              ...
279176                        NaN                              NaN
279177                        NaN                              NaN
279178                        NaN                              NaN
279179                        NaN                              NaN
279180                        NaN                              NaN
279181                        NaN                              NaN
279182                        NaN                              NaN
279183                        NaN                              NaN
279184                        NaN                              NaN
279185                        NaN                              NaN
279186                        NaN                              NaN
279187                        NaN                              NaN
279188                        NaN                              NaN
279189                        NaN                              NaN
279190                        NaN                              NaN
279191                        NaN                              NaN
279192                        NaN                              NaN
279193                        NaN                              NaN
279194                        NaN                              NaN
279195                        NaN                              NaN
279196                        NaN                              NaN
279197                        NaN                              NaN
279198                        NaN                              NaN
279199                        NaN                              NaN
279200                        NaN                              NaN
279201                        NaN                              NaN
279202                        NaN                              NaN
279203                        NaN                              NaN
279204                        NaN                              NaN
279205                        NaN                              NaN

       arterial_pressure_systolic_time arterial_pressure_diastolic  \
0                                  NaN                         NaN
1                                  NaN                         NaN
2                                  NaN                         NaN
3                                  NaN                         NaN
4                                  NaN                         NaN
5                                  NaN                         NaN
6                                  NaN                         NaN
7                                  NaN                         NaN
8                                  NaN                         NaN
9                                  NaN                         NaN
10                                 NaN                         NaN
11                                 NaN                         NaN
12                                 NaN                         NaN
13                                 NaN                         NaN
14                                 NaN                         NaN
15                                 NaN                         NaN
16                                 NaN                         NaN
17                                 NaN                         NaN
18                                 NaN                         NaN
19                                 NaN                         NaN
20                                 NaN                         NaN
21                                 NaN                         NaN
22                                 NaN                         NaN
23                                 NaN                         NaN
24                                 NaN                         NaN
25                                 NaN                         NaN
26                                 NaN                         NaN
27                                 NaN                         NaN
28                                 NaN                         NaN
29                                 NaN                         NaN
...                                ...                         ...
279176                             NaN                         NaN
279177                             NaN                         NaN
279178                             NaN                         NaN
279179                             NaN                         NaN
279180                             NaN                         NaN
279181                             NaN                         NaN
279182                             NaN                         NaN
279183                             NaN                         NaN
279184                             NaN                         NaN
279185                             NaN                         NaN
279186                             NaN                         NaN
279187                             NaN                         NaN
279188                             NaN                         NaN
279189                             NaN                         NaN
279190                             NaN                         NaN
279191                             NaN                         NaN
279192                             NaN                         NaN
279193                             NaN                         NaN
279194                             NaN                         NaN
279195                             NaN                         NaN
279196                             NaN                         NaN
279197                             NaN                         NaN
279198                             NaN                         NaN
279199                             NaN                         NaN
279200                             NaN                         NaN
279201                             NaN                         NaN
279202                             NaN                         NaN
279203                             NaN                         NaN
279204                             NaN                         NaN
279205                             NaN                         NaN

       arterial_pressure_diastolic_delay arterial_pressure_diastolic_time  \
0                                    NaN                              NaN
1                                    NaN                              NaN
2                                    NaN                              NaN
3                                    NaN                              NaN
4                                    NaN                              NaN
5                                    NaN                              NaN
6                                    NaN                              NaN
7                                    NaN                              NaN
8                                    NaN                              NaN
9                                    NaN                              NaN
10                                   NaN                              NaN
11                                   NaN                              NaN
12                                   NaN                              NaN
13                                   NaN                              NaN
14                                   NaN                              NaN
15                                   NaN                              NaN
16                                   NaN                              NaN
17                                   NaN                              NaN
18                                   NaN                              NaN
19                                   NaN                              NaN
20                                   NaN                              NaN
21                                   NaN                              NaN
22                                   NaN                              NaN
23                                   NaN                              NaN
24                                   NaN                              NaN
25                                   NaN                              NaN
26                                   NaN                              NaN
27                                   NaN                              NaN
28                                   NaN                              NaN
29                                   NaN                              NaN
...                                  ...                              ...
279176                               NaN                              NaN
279177                               NaN                              NaN
279178                               NaN                              NaN
279179                               NaN                              NaN
279180                               NaN                              NaN
279181                               NaN                              NaN
279182                               NaN                              NaN
279183                               NaN                              NaN
279184                               NaN                              NaN
279185                               NaN                              NaN
279186                               NaN                              NaN
279187                               NaN                              NaN
279188                               NaN                              NaN
279189                               NaN                              NaN
279190                               NaN                              NaN
279191                               NaN                              NaN
279192                               NaN                              NaN
279193                               NaN                              NaN
279194                               NaN                              NaN
279195                               NaN                              NaN
279196                               NaN                              NaN
279197                               NaN                              NaN
279198                               NaN                              NaN
279199                               NaN                              NaN
279200                               NaN                              NaN
279201                               NaN                              NaN
279202                               NaN                              NaN
279203                               NaN                              NaN
279204                               NaN                              NaN
279205                               NaN                              NaN

       heart_rate heart_rate_delay heart_rate_time weight_daily  \
0             NaN              NaN             NaN          NaN
1             NaN              NaN             NaN          NaN
2             NaN              NaN             NaN          NaN
3             NaN              NaN             NaN          NaN
4             NaN              NaN             NaN          NaN
5             NaN              NaN             NaN          NaN
6             NaN              NaN             NaN          NaN
7             NaN              NaN             NaN          NaN
8             NaN              NaN             NaN          NaN
9             NaN              NaN             NaN          NaN
10            NaN              NaN             NaN          NaN
11            NaN              NaN             NaN          NaN
12            NaN              NaN             NaN          NaN
13            NaN              NaN             NaN          NaN
14            NaN              NaN             NaN          NaN
15            NaN              NaN             NaN          NaN
16            NaN              NaN             NaN          NaN
17            NaN              NaN             NaN          NaN
18            NaN              NaN             NaN          NaN
19            NaN              NaN             NaN          NaN
20            NaN              NaN             NaN          NaN
21            NaN              NaN             NaN          NaN
22            NaN              NaN             NaN          NaN
23            NaN              NaN             NaN          NaN
24            NaN              NaN             NaN          NaN
25            NaN              NaN             NaN          NaN
26            NaN              NaN             NaN          NaN
27            NaN              NaN             NaN          NaN
28            NaN              NaN             NaN          NaN
29            NaN              NaN             NaN          NaN
...           ...              ...             ...          ...
279176        NaN              NaN             NaN          NaN
279177        NaN              NaN             NaN          NaN
279178        NaN              NaN             NaN          NaN
279179        NaN              NaN             NaN          NaN
279180        NaN              NaN             NaN          NaN
279181        NaN              NaN             NaN          NaN
279182        NaN              NaN             NaN          NaN
279183        NaN              NaN             NaN          NaN
279184        NaN              NaN             NaN          NaN
279185        NaN              NaN             NaN          NaN
279186        NaN              NaN             NaN          NaN
279187        NaN              NaN             NaN          NaN
279188        NaN              NaN             NaN          NaN
279189        NaN              NaN             NaN          NaN
279190        NaN              NaN             NaN          NaN
279191        NaN              NaN             NaN          NaN
279192        NaN              NaN             NaN          NaN
279193        NaN              NaN             NaN          NaN
279194        NaN              NaN             NaN          NaN
279195        NaN              NaN             NaN          NaN
279196        NaN              NaN             NaN          NaN
279197        NaN              NaN             NaN          NaN
279198        NaN              NaN             NaN          NaN
279199        NaN              NaN             NaN          NaN
279200        NaN              NaN             NaN          NaN
279201        NaN              NaN             NaN          NaN
279202        NaN              NaN             NaN          NaN
279203        NaN              NaN             NaN          NaN
279204        NaN              NaN             NaN          NaN
279205        NaN              NaN             NaN          NaN

                 ...                  albumin_time total_protein_urine  \
0                ...                           NaT                 NaN
1                ...           2104-08-13 03:51:00                 NaN
2                ...                           NaT                 NaN
3                ...           2167-01-08 20:28:00                 NaN
4                ...           2135-01-31 05:20:00                 NaN
5                ...                           NaT                 NaN
6                ...           2108-08-26 02:55:00                 NaN
7                ...                           NaT                 NaN
8                ...                           NaT                 NaN
9                ...           2131-05-17 06:09:00                 NaN
10               ...           2131-05-17 06:09:00                 NaN
11               ...                           NaT                 NaN
12               ...           2166-08-12 01:24:00                 NaN
13               ...           2166-08-17 09:16:00                 NaN
14               ...           2166-08-23 00:52:00                 NaN
15               ...           2166-08-17 09:16:00                 NaN
16               ...           2166-08-23 00:52:00                 NaN
17               ...           2166-08-23 00:52:00                 NaN
18               ...                           NaT                 NaN
19               ...           2186-10-02 14:10:00                 NaN
20               ...                           NaT                 NaN
21               ...                           NaT                 NaN
22               ...                           NaT                 NaN
23               ...                           NaT                 NaN
24               ...           2174-01-11 03:56:00                 NaN
25               ...                           NaT                 NaN
26               ...           2174-01-10 08:16:00                 NaN
27               ...           2164-02-05 05:54:00                 NaN
28               ...                           NaT                 NaN
29               ...                           NaT                 NaN
...              ...                           ...                 ...
279176           ...           2116-06-08 01:54:00                 NaN
279177           ...           2116-06-20 01:53:00                 NaN
279178           ...           2116-07-01 03:01:00                 NaN
279179           ...                           NaT                94.0
279180           ...                           NaT                 NaN
279181           ...                           NaT                94.0
279182           ...                           NaT                94.0
279183           ...                           NaT                94.0
279184           ...                           NaT                 NaN
279185           ...           2174-01-20 14:30:00                 NaN
279186           ...                           NaT                 NaN

# Backup query only to retrieve urea as a feature

In [ ]:
# Creatinine measurements
# + Features from labevents

# Inclusion flags :
# patient age > 15
# length of stay > 48hours


# TODO READ FEATURE_INFOS FILE

query = query_schema + """
with cr as
(
select
    icu.subject_id, icu.icustay_id, icu.intime, icu.outtime, EXTRACT(EPOCH FROM icu.outtime - icu.intime)/60.0/60.0 as length_of_stay,
    le.valuenum as creatinine, le.charttime as creatinine_time,
    EXTRACT('epoch' from icu.intime - pat.dob) / 60.0 / 60.0 / 24.0 / 365.242 AS age,
    (rrt.icustay_id is null) as rrt
  from icustays icu
  inner join labevents le
    on icu.subject_id = le.subject_id
    and le.itemid = 50912
    and le.valuenum is not null
    and le.charttime between icu.intime and icu.outtime
  inner join patients pat
    ON icu.subject_id = pat.subject_id
  left outer join rrt 
    on icu.icustay_id = rrt.icustay_id
),
cr_inc as
(
select
cr.subject_id, cr.icustay_id, cr.intime, cr.outtime,
    cr.creatinine, cr.creatinine_time,
    cr.age, CASE
                WHEN cr.age >= 15 then 1
            ELSE 0 END
            as inclusion_age,
  cr.length_of_stay, CASE
                        WHEN cr.length_of_stay >= 48 then 1
                     ELSE 0 END
                     as inclusion_length_of_stay,
  cr.rrt, CASE
            WHEN cr.rrt = False then 1
          ELSE 0 END
          as inclusion_rrt
  from cr),
cr_feat as
(
select
cr_inc.subject_id, cr_inc.icustay_id, cr_inc.intime, cr_inc.outtime,
    cr_inc.creatinine, cr_inc.creatinine_time,
    cr_inc.age, cr_inc.inclusion_age,
    cr_inc.length_of_stay, cr_inc.inclusion_length_of_stay,
    cr_inc.rrt, cr_inc.inclusion_rrt,
    le.valuenum as urea, EXTRACT('epoch' from cr_inc.creatinine_time - le.charttime) as urea_delay, le.charttime as urea_time
  from cr_inc
  inner join labevents le
    on cr_inc.subject_id = le.subject_id
    and le.itemid = 51006
    and le.valuenum is not null
    and le.charttime between cr_inc.intime and cr_inc.creatinine_time
)
select 
a.subject_id, a.icustay_id, a.intime, a.outtime,
    a.creatinine, a.creatinine_time,
    a.age, a.inclusion_age,
    a.length_of_stay, a.inclusion_length_of_stay,
    a.rrt, a.inclusion_rrt,
    a.urea, a.urea_delay, a.urea_time
from cr_feat as a
    join (
        -- Get the min seenID for each personID
        select creatinine_time, min(urea_delay) as urea_delay
        from cr_feat
        group by creatinine_time
    ) as b on a.creatinine_time = b.creatinine_time
where a.urea_delay = b.urea_delay
"""
df = pd.read_sql_query(query, con)
print(df.head())
df = apply_inclusion_criteria(df)
print(df.head())