In [1]:
# Import libraries
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
import psycopg2

# below imports are used to print out pretty pandas dataframes
from IPython.display import display, HTML

%matplotlib inline
plt.style.use('ggplot')

In [2]:
# information used to create a database connection
sqluser = 'postgres'
dbname = 'mimic'
schema_name = 'mimiciii'

# Connect to postgres with a copy of the MIMIC-III database
con = psycopg2.connect(dbname=dbname, user=sqluser)

# the below statement is prepended to queries to ensure they select from the right schema
query_schema = 'set search_path to ' + schema_name + ';'

In [3]:
def apply_inclusion_criteria(df):
    print('Initial size of table : ' + str(df.shape[0]))
    df = df.drop_duplicates(['icustay_id','creatinine_time'])
    print('After dropping duplicates : ' + str(df.shape[0]))
    criteria_list = [i for i in df.columns.values if 'inclusion' in i]
    for c in criteria_list:
        df = df.loc[df[c]==1,:].drop(c,axis=1)    
    print('After applying inclusion criteria : ' + str(df.shape[0]))
    return df

# Load file with features to be found in chartevents table

In [4]:
# Read file
features_info = pd.read_csv('features_info.csv')
# Drop lines with no item_id
item_col = [c for c in features_info.columns.values if "item" in c]
features_info = features_info.dropna(axis=0, how='all', subset=item_col).reset_index(drop=True)
features_info.head()

,name,table,variable,item_id,item_id_2,item_id_3,item_id_4,item_id_5,item_id_6
0,Arterial_pressure_systolic,chartevents,valuenum,6.0,51.0,455.0,220050.0,220179.0,225309.0
1,Arterial_pressure_diastolic,chartevents,valuenum,8364.0,8368.0,8441.0,220051.0,220180.0,225310.0
2,Heart_rate,chartevents,valuenum,211.0,220045.0,NaN,NaN,NaN,NaN
3,Weight_daily,chartevents,valuenum,763.0,224639.0,NaN,NaN,NaN,NaN
4,Temperature,chartevents,valuenum,223761.0,678.0,645.0,NaN,NaN,NaN

## Remove cell below : test of inclusion criteria with icd-9 codes

In [ ]:
# From features_info, retrieve the list of item_id to use with chartevents
item_col = [c for c in features_info.columns.values if "item_id" in c]
item_list = features_info.loc[0,item_col].dropna().astype('int').values
item_str = "(" + str(item_list[0])
for it in item_list[1:]:
    item_str = item_str + "," + str(it)
item_str = item_str + ")"

# List of ICD-9 codes to be excluded
icd_list = ['5856','V420','99681'] # ESRD: 5856 / kidney transplant: V420,99681
icd_str = "'{" + str(icd_list[0])
for icd in icd_list[1:]:
    icd_str = icd_str + "," + str(icd)
icd_str = icd_str + "}'"
print(icd_str)

query = query_schema + """
with cr1 as
(
select
    icu.subject_id, icu.icustay_id, icu.intime, icu.outtime, EXTRACT(EPOCH FROM icu.outtime - icu.intime)/60.0/60.0 as length_of_stay,
    ce.valuenum as creatinine, ce.storetime as creatinine_time,
    EXTRACT('epoch' from icu.intime - pat.dob) / 60.0 / 60.0 / 24.0 / 365.242 AS age,
    (rrt.icustay_id is null) as rrt,
    diag.icd9_code as diagnosis 
  from icustays icu
  inner join chartevents ce
    on icu.subject_id = ce.subject_id
    and ce.itemid = 220615
    and ce.valuenum is not null
    and ce.storetime between icu.intime and icu.outtime
  inner join patients pat
    ON icu.subject_id = pat.subject_id
  left outer join rrt 
    on icu.icustay_id = rrt.icustay_id
  inner join diagnoses_icd diag
    on icu.subject_id = diag.subject_id
    and icu.hadm_id = diag.hadm_id
),
cr as
(
select
cr1.subject_id, cr1.icustay_id, cr1.intime, cr1.outtime,
cr1.creatinine, cr1.creatinine_time,
cr1.age,
cr1.length_of_stay,
cr1.rrt,
array_agg(cr1.diagnosis) as diagnoses
from cr1
group by cr1.subject_id, cr1.icustay_id, cr1.intime, cr1.outtime, cr1.creatinine, cr1.creatinine_time, cr1.age,
cr1.length_of_stay,cr1.rrt
),
cr_inc as
(
select
cr.subject_id, cr.icustay_id, cr.intime, cr.outtime,
    cr.creatinine, cr.creatinine_time,
    cr.age, CASE
                WHEN cr.age >= 15 then 1
            ELSE 0 END
            as inclusion_age,
  cr.length_of_stay, CASE
                        WHEN cr.length_of_stay >= 48 then 1
                     ELSE 0 END
                     as inclusion_length_of_stay,
  cr.rrt, CASE
            WHEN cr.rrt = False then 1
          ELSE 0 END
          as inclusion_rrt,
  cr.diagnoses, CASE
            WHEN cr.diagnoses && """ + icd_str + """ then 0
          ELSE 1 END
          as inclusion_diagnoses
  from cr
),
cr_feat as
(
select
cr_inc.subject_id, cr_inc.icustay_id, cr_inc.intime, cr_inc.outtime,
    cr_inc.creatinine, cr_inc.creatinine_time,
    cr_inc.age, cr_inc.inclusion_age,
    cr_inc.length_of_stay, cr_inc.inclusion_length_of_stay,
    cr_inc.rrt, cr_inc.inclusion_rrt, cr_inc.diagnoses, cr_inc.inclusion_diagnoses,
    ce.valuenum as """+features_info.loc[0,'name']+""", 
    EXTRACT('epoch' from cr_inc.creatinine_time - ce.storetime) as """+features_info.loc[0,'name']+"""_delay,
    ce.storetime as """+features_info.loc[0,'name']+"""_time,
    ce.itemid as """+features_info.loc[0,'name']+"""_itemid
  from cr_inc
  inner join """+features_info.loc[0,'table']+""" ce
    on cr_inc.subject_id = ce.subject_id
    and ce.itemid in """+ item_str +"""
    and ce."""+features_info.loc[0,'variable']+""" is not null
    and ce.storetime between cr_inc.intime and cr_inc.creatinine_time
)
select 
a.subject_id, a.icustay_id, a.intime, a.outtime,
    a.creatinine, a.creatinine_time,
    a.age, a.inclusion_age,
    a.length_of_stay, a.inclusion_length_of_stay,
    a.rrt, a.inclusion_rrt, a.diagnoses, a.inclusion_diagnoses,
    a."""+features_info.loc[0,'name']+""", a."""+features_info.loc[0,'name']+"""_delay,
    a."""+features_info.loc[0,'name']+"""_time,
    a."""+features_info.loc[0,'name']+"""_itemid
from cr_feat as a
    join (
        select creatinine_time, min("""+features_info.loc[0,'name']+"""_delay) as """+features_info.loc[0,'name']+"""_delay
        from cr_feat
        group by creatinine_time
    ) as b on a.creatinine_time = b.creatinine_time
where a."""+features_info.loc[0,'name']+"""_delay = b."""+features_info.loc[0,'name']+"""_delay
"""
df_chartevents = pd.read_sql_query(query, con)
df_chartevents = apply_inclusion_criteria(df_chartevents)

# Retrieve interesting features for patients that match inclusion criteria

In [6]:
# From features_info, retrieve the list of item_id to use with chartevents
item_col = [c for c in features_info.columns.values if "item_id" in c]
item_list = features_info.loc[0,item_col].dropna().astype('int').values
item_str = "(" + str(item_list[0])
for it in item_list[1:]:
    item_str = item_str + "," + str(it)
item_str = item_str + ")"

# List of ICD-9 codes to be excluded
icd_list = ['5856','V420','99681'] # ESRD: 5856 / kidney transplant: V420,99681
icd_str = "'{" + str(icd_list[0])
for icd in icd_list[1:]:
    icd_str = icd_str + "," + str(icd)
icd_str = icd_str + "}'"
print(icd_str)

query = query_schema + """
with cr1 as
(
select
    icu.subject_id, icu.icustay_id, icu.intime, icu.outtime, EXTRACT(EPOCH FROM icu.outtime - icu.intime)/60.0/60.0 as length_of_stay,
    ce.valuenum as creatinine, ce.storetime as creatinine_time,
    EXTRACT('epoch' from icu.intime - pat.dob) / 60.0 / 60.0 / 24.0 / 365.242 AS age,
    (rrt.icustay_id is null) as rrt,
    diag.icd9_code as diagnosis 
  from icustays icu
  inner join chartevents ce
    on icu.subject_id = ce.subject_id
    and ce.itemid = 220615
    and ce.valuenum is not null
    and ce.storetime between icu.intime and icu.outtime
  inner join patients pat
    ON icu.subject_id = pat.subject_id
  left outer join rrt 
    on icu.icustay_id = rrt.icustay_id
  inner join diagnoses_icd diag
    on icu.subject_id = diag.subject_id
    and icu.hadm_id = diag.hadm_id
),
cr as
(
select
cr1.subject_id, cr1.icustay_id, cr1.intime, cr1.outtime,
cr1.creatinine, cr1.creatinine_time,
cr1.age,
cr1.length_of_stay,
cr1.rrt,
array_agg(cr1.diagnosis) as diagnoses
from cr1
group by cr1.subject_id, cr1.icustay_id, cr1.intime, cr1.outtime, cr1.creatinine, cr1.creatinine_time, cr1.age,
cr1.length_of_stay,cr1.rrt
),
cr_inc as
(
select
cr.subject_id, cr.icustay_id, cr.intime, cr.outtime,
    cr.creatinine, cr.creatinine_time,
    cr.age, CASE
                WHEN cr.age >= 15 then 1
            ELSE 0 END
            as inclusion_age,
  cr.length_of_stay, CASE
                        WHEN cr.length_of_stay >= 48 then 1
                     ELSE 0 END
                     as inclusion_length_of_stay,
  cr.rrt, CASE
            WHEN cr.rrt = False then 1
          ELSE 0 END
          as inclusion_rrt,
  cr.diagnoses, CASE
            WHEN cr.diagnoses && """ + icd_str + """ then 0
          ELSE 1 END
          as inclusion_diagnoses
  from cr
),
cr_feat as
(
select
cr_inc.subject_id, cr_inc.icustay_id, cr_inc.intime, cr_inc.outtime,
    cr_inc.creatinine, cr_inc.creatinine_time,
    cr_inc.age, cr_inc.inclusion_age,
    cr_inc.length_of_stay, cr_inc.inclusion_length_of_stay,
    cr_inc.rrt, cr_inc.inclusion_rrt, cr_inc.diagnoses, cr_inc.inclusion_diagnoses,
    ce.valuenum as """+features_info.loc[0,'name']+""", 
    EXTRACT('epoch' from cr_inc.creatinine_time - ce.storetime) as """+features_info.loc[0,'name']+"""_delay,
    ce.storetime as """+features_info.loc[0,'name']+"""_time,
    ce.itemid as """+features_info.loc[0,'name']+"""_itemid
  from cr_inc
  inner join """+features_info.loc[0,'table']+""" ce
    on cr_inc.subject_id = ce.subject_id
    and ce.itemid in """+ item_str +"""
    and ce."""+features_info.loc[0,'variable']+""" is not null
    and ce.storetime between cr_inc.intime and cr_inc.creatinine_time
)
select 
a.subject_id, a.icustay_id, a.intime, a.outtime,
    a.creatinine, a.creatinine_time,
    a.age, a.inclusion_age,
    a.length_of_stay, a.inclusion_length_of_stay,
    a.rrt, a.inclusion_rrt, a.diagnoses, a.inclusion_diagnoses,
    a."""+features_info.loc[0,'name']+""", a."""+features_info.loc[0,'name']+"""_delay,
    a."""+features_info.loc[0,'name']+"""_time,
    a."""+features_info.loc[0,'name']+"""_itemid
from cr_feat as a
    join (
        select creatinine_time, min("""+features_info.loc[0,'name']+"""_delay) as """+features_info.loc[0,'name']+"""_delay
        from cr_feat
        group by creatinine_time
    ) as b on a.creatinine_time = b.creatinine_time
where a."""+features_info.loc[0,'name']+"""_delay = b."""+features_info.loc[0,'name']+"""_delay
"""
df_chartevents = pd.read_sql_query(query, con)
df_chartevents = apply_inclusion_criteria(df_chartevents)

# Convert list of diagnoses into str (required to perform the merge)
df_chartevents.loc[:,'diagnoses'] = df_chartevents['diagnoses'].apply(lambda x: ', '.join(sorted(x)))

for i,row in features_info.loc[1:,:].iterrows():
    print('------------------------------------')
    print('--- Processing feature : ' + row['name'])
    # From features_info, retrieve the list of item_id to use with chartevents
    item_col = [c for c in features_info.columns.values if "item_id" in c]
    item_list = features_info.loc[i,item_col].dropna().astype('int').values
    item_str = "(" + str(item_list[0])
    for it in item_list[1:]:
        item_str = item_str + "," + str(it)
    item_str = item_str + ")"

    # List of ICD-9 codes to be excluded
    icd_list = ['5856','V420','99681'] # ESRD: 5856 / kidney transplant: V420,99681
    icd_str = "'{" + str(icd_list[0])
    for icd in icd_list[1:]:
        icd_str = icd_str + "," + str(icd)
    icd_str = icd_str + "}'"

    query = query_schema + """
    with cr1 as
    (
    select
        icu.subject_id, icu.icustay_id, icu.intime, icu.outtime, EXTRACT(EPOCH FROM icu.outtime - icu.intime)/60.0/60.0 as length_of_stay,
        ce.valuenum as creatinine, ce.storetime as creatinine_time,
        EXTRACT('epoch' from icu.intime - pat.dob) / 60.0 / 60.0 / 24.0 / 365.242 AS age,
        (rrt.icustay_id is null) as rrt,
        diag.icd9_code as diagnosis 
      from icustays icu
      inner join chartevents ce
        on icu.subject_id = ce.subject_id
        and ce.itemid = 220615
        and ce.valuenum is not null
        and ce.storetime between icu.intime and icu.outtime
      inner join patients pat
        ON icu.subject_id = pat.subject_id
      left outer join rrt 
        on icu.icustay_id = rrt.icustay_id
      inner join diagnoses_icd diag
        on icu.subject_id = diag.subject_id
        and icu.hadm_id = diag.hadm_id
    ),
    cr as
    (
    select
    cr1.subject_id, cr1.icustay_id, cr1.intime, cr1.outtime,
    cr1.creatinine, cr1.creatinine_time,
    cr1.age,
    cr1.length_of_stay,
    cr1.rrt,
    array_agg(cr1.diagnosis) as diagnoses
    from cr1
    group by cr1.subject_id, cr1.icustay_id, cr1.intime, cr1.outtime, cr1.creatinine, cr1.creatinine_time, cr1.age,
    cr1.length_of_stay,cr1.rrt
    ),
    cr_inc as
    (
    select
    cr.subject_id, cr.icustay_id, cr.intime, cr.outtime,
        cr.creatinine, cr.creatinine_time,
        cr.age, CASE
                    WHEN cr.age >= 15 then 1
                ELSE 0 END
                as inclusion_age,
      cr.length_of_stay, CASE
                            WHEN cr.length_of_stay >= 48 then 1
                         ELSE 0 END
                         as inclusion_length_of_stay,
      cr.rrt, CASE
                WHEN cr.rrt = False then 1
              ELSE 0 END
              as inclusion_rrt,
      cr.diagnoses, CASE
                WHEN cr.diagnoses && """ + icd_str + """ then 0
              ELSE 1 END
              as inclusion_diagnoses
      from cr
    ),
    cr_feat as
    (
    select
    cr_inc.subject_id, cr_inc.icustay_id, cr_inc.intime, cr_inc.outtime,
        cr_inc.creatinine, cr_inc.creatinine_time,
        cr_inc.age, cr_inc.inclusion_age,
        cr_inc.length_of_stay, cr_inc.inclusion_length_of_stay,
        cr_inc.rrt, cr_inc.inclusion_rrt, cr_inc.diagnoses, cr_inc.inclusion_diagnoses,
        ce.valuenum as """+features_info.loc[i,'name']+""", 
        EXTRACT('epoch' from cr_inc.creatinine_time - ce.storetime) as """+features_info.loc[i,'name']+"""_delay,
        ce.storetime as """+features_info.loc[i,'name']+"""_time,
        ce.itemid as """+features_info.loc[i,'name']+"""_itemid
      from cr_inc
      inner join """+features_info.loc[i,'table']+""" ce
        on cr_inc.subject_id = ce.subject_id
        and ce.itemid in """+ item_str +"""
        and ce."""+features_info.loc[i,'variable']+""" is not null
        and ce.storetime between cr_inc.intime and cr_inc.creatinine_time
    )
    select 
    a.subject_id, a.icustay_id, a.intime, a.outtime,
        a.creatinine, a.creatinine_time,
        a.age, a.inclusion_age,
        a.length_of_stay, a.inclusion_length_of_stay,
        a.rrt, a.inclusion_rrt, a.diagnoses, a.inclusion_diagnoses,
        a."""+features_info.loc[i,'name']+""", a."""+features_info.loc[i,'name']+"""_delay,
        a."""+features_info.loc[i,'name']+"""_time,
        a."""+features_info.loc[i,'name']+"""_itemid
    from cr_feat as a
        join (
            select creatinine_time, min("""+features_info.loc[i,'name']+"""_delay) as """+features_info.loc[i,'name']+"""_delay
            from cr_feat
            group by creatinine_time
        ) as b on a.creatinine_time = b.creatinine_time
    where a."""+features_info.loc[i,'name']+"""_delay = b."""+features_info.loc[i,'name']+"""_delay
    """
    
    df = pd.read_sql_query(query, con)
    df = apply_inclusion_criteria(df)
    # Convert list of diagnoses into str (required to perform the merge)
    df.loc[:,'diagnoses'] = df['diagnoses'].apply(lambda x: ', '.join(sorted(x)))
    
    df_chartevents = pd.merge(df_chartevents,df,on=['subject_id', 'icustay_id', 'intime', 'outtime', 'creatinine',
       'creatinine_time', 'age', 'length_of_stay', 'rrt', 'diagnoses'],how='outer')
    print('Merged table size : ' + str(df_chartevents.shape[0]))
    print(df_chartevents.head())

'{5856,V420,99681}'
Initial size of table : 208840
After dropping duplicates : 150528
After applying inclusion criteria : 114382
------------------------------------
--- Processing feature : Arterial_pressure_diastolic
Initial size of table : 208914
After dropping duplicates : 150526
After applying inclusion criteria : 114382
Merged table size : 114383
   subject_id  icustay_id              intime             outtime  creatinine  \
0       77815      239231 2166-09-16 16:45:22 2166-09-29 10:07:21         0.6
1       31558      249349 2150-07-04 03:10:20 2150-07-22 14:13:53         0.6
2       53763      223136 2194-12-19 10:00:17 2194-12-26 23:51:37         0.8
3        7533      208809 2114-03-29 09:36:53 2114-04-08 18:39:51         0.8
4       50772      272254 2110-07-21 12:00:12 2110-07-27 14:20:35         0.8

      creatinine_time        age  length_of_stay    rrt  \
0 2166-09-21 03:21:00  58.363217      305.366389  False
1 2150-07-17 01:36:00  52.688716      443.059167  False
2 2194-12-21 04:12:00  70.937671      181.855556  False
3 2114-04-08 07:06:00  66.441977      249.049444  False
4 2110-07-22 18:14:00  74.513611      146.339722  False

                                           diagnoses  \
0  04104, 2724, 2761, 3229, 3314, 3485, 4019, 430...
1  0389, 4538, 4822, 5109, 5118, 51881, 8052, 807...
2  2536, 2724, 29181, 30000, 3051, 34290, 3485, 4...
3  0389, 2442, 2724, 2763, 2875, 2930, 34982, 401...
4  0414, 25002, 2724, 2760, 2859, 2948, 3004, 427...

   arterial_pressure_systolic  arterial_pressure_systolic_delay  \
0                       155.0                            1800.0
1                       165.0                            1440.0
2                       162.0                             600.0
3                        98.0                            3060.0
4                       124.0                            4320.0

  arterial_pressure_systolic_time  arterial_pressure_systolic_itemid  \
0             2166-09-21 02:51:00                           220050.0
1             2150-07-17 01:12:00                               51.0
2             2194-12-21 04:02:00                           220050.0
3             2114-04-08 06:15:00                           220179.0
4             2110-07-22 17:02:00                           220050.0

   arterial_pressure_diastolic  arterial_pressure_diastolic_delay  \
0                         75.0                             1800.0
1                         75.0                             1440.0
2                         76.0                              600.0
3                         51.0                             3060.0
4                         60.0                             4320.0

  arterial_pressure_diastolic_time  arterial_pressure_diastolic_itemid
0              2166-09-21 02:51:00                            220051.0
1              2150-07-17 01:12:00                              8368.0
2              2194-12-21 04:02:00                            220051.0
3              2114-04-08 06:15:00                            220180.0
4              2110-07-22 17:02:00                            220051.0
------------------------------------
--- Processing feature : Heart_rate
Initial size of table : 200758
After dropping duplicates : 150627
After applying inclusion criteria : 114425
Merged table size : 114459
   subject_id  icustay_id              intime             outtime  creatinine  \
0       77815      239231 2166-09-16 16:45:22 2166-09-29 10:07:21         0.6
1       31558      249349 2150-07-04 03:10:20 2150-07-22 14:13:53         0.6
2       53763      223136 2194-12-19 10:00:17 2194-12-26 23:51:37         0.8
3        7533      208809 2114-03-29 09:36:53 2114-04-08 18:39:51         0.8
4       50772      272254 2110-07-21 12:00:12 2110-07-27 14:20:35         0.8

      creatinine_time        age  length_of_stay    rrt  \
0 2166-09-21 03:21:00  58.363217      305.366389  False
1 2150-07-17 01:36:00  52.688716      443.059167  False
2 2194-12-21 04:12:00  70.937671      181.855556  False
3 2114-04-08 07:06:00  66.441977      249.049444  False
4 2110-07-22 18:14:00  74.513611      146.339722  False

                                           diagnoses        ...          \
0  04104, 2724, 2761, 3229, 3314, 3485, 4019, 430...        ...
1  0389, 4538, 4822, 5109, 5118, 51881, 8052, 807...        ...
2  2536, 2724, 29181, 30000, 3051, 34290, 3485, 4...        ...
3  0389, 2442, 2724, 2763, 2875, 2930, 34982, 401...        ...
4  0414, 25002, 2724, 2760, 2859, 2948, 3004, 427...        ...

   arterial_pressure_systolic_time  arterial_pressure_systolic_itemid  \
0              2166-09-21 02:51:00                           220050.0
1              2150-07-17 01:12:00                               51.0
2              2194-12-21 04:02:00                           220050.0
3              2114-04-08 06:15:00                           220179.0
4              2110-07-22 17:02:00                           220050.0

  arterial_pressure_diastolic  arterial_pressure_diastolic_delay  \
0                        75.0                             1800.0
1                        75.0                             1440.0
2                        76.0                              600.0
3                        51.0                             3060.0
4                        60.0                             4320.0

   arterial_pressure_diastolic_time  arterial_pressure_diastolic_itemid  \
0               2166-09-21 02:51:00                            220051.0
1               2150-07-17 01:12:00                              8368.0
2               2194-12-21 04:02:00                            220051.0
3               2114-04-08 06:15:00                            220180.0
4               2110-07-22 17:02:00                            220051.0

  heart_rate  heart_rate_delay     heart_rate_time  heart_rate_itemid
0       58.0            1800.0 2166-09-21 02:51:00           220045.0
1      102.0            1440.0 2150-07-17 01:12:00              211.0
2      101.0             600.0 2194-12-21 04:02:00           220045.0
3       95.0            3060.0 2114-04-08 06:15:00           220045.0
4       87.0            4320.0 2110-07-22 17:02:00           220045.0

[5 rows x 22 columns]
------------------------------------
--- Processing feature : Weight_daily
Initial size of table : 86837
After dropping duplicates : 82006
After applying inclusion criteria : 69012
Merged table size : 114594
   subject_id  icustay_id              intime             outtime  creatinine  \
0       77815      239231 2166-09-16 16:45:22 2166-09-29 10:07:21         0.6
1       31558      249349 2150-07-04 03:10:20 2150-07-22 14:13:53         0.6
2       53763      223136 2194-12-19 10:00:17 2194-12-26 23:51:37         0.8
3        7533      208809 2114-03-29 09:36:53 2114-04-08 18:39:51         0.8
4       50772      272254 2110-07-21 12:00:12 2110-07-27 14:20:35         0.8

      creatinine_time        age  length_of_stay    rrt  \
0 2166-09-21 03:21:00  58.363217      305.366389  False
1 2150-07-17 01:36:00  52.688716      443.059167  False
2 2194-12-21 04:12:00  70.937671      181.855556  False
3 2114-04-08 07:06:00  66.441977      249.049444  False
4 2110-07-22 18:14:00  74.513611      146.339722  False

                                           diagnoses         ...           \
0  04104, 2724, 2761, 3229, 3314, 3485, 4019, 430...         ...
1  0389, 4538, 4822, 5109, 5118, 51881, 8052, 807...         ...
2  2536, 2724, 29181, 30000, 3051, 34290, 3485, 4...         ...
3  0389, 2442, 2724, 2763, 2875, 2930, 34982, 401...         ...
4  0414, 25002, 2724, 2760, 2859, 2948, 3004, 427...         ...

   arterial_pressure_diastolic_time  arterial_pressure_diastolic_itemid  \
0               2166-09-21 02:51:00                            220051.0
1               2150-07-17 01:12:00                              8368.0
2               2194-12-21 04:02:00                            220051.0
3               2114-04-08 06:15:00                            220180.0
4               2110-07-22 17:02:00                            220051.0

  heart_rate  heart_rate_delay     heart_rate_time  heart_rate_itemid  \
0       58.0            1800.0 2166-09-21 02:51:00           220045.0
1      102.0            1440.0 2150-07-17 01:12:00              211.0
2      101.0             600.0 2194-12-21 04:02:00           220045.0
3       95.0            3060.0 2114-04-08 06:15:00           220045.0
4       87.0            4320.0 2110-07-22 17:02:00           220045.0

  weight_daily  weight_daily_delay   weight_daily_time  weight_daily_itemid
0         93.7             73380.0 2166-09-20 06:58:00             224639.0
1        110.0             83700.0 2150-07-16 02:21:00                763.0
2        126.5            100020.0 2194-12-20 00:25:00             224639.0
3          NaN                 NaN                 NaT                  NaN
4         74.1              1920.0 2110-07-22 17:42:00             224639.0

[5 rows x 26 columns]
------------------------------------
--- Processing feature : Temperature

Initial size of table : 145880
After dropping duplicates : 142139
After applying inclusion criteria : 108923
Merged table size : 114691
   subject_id  icustay_id              intime             outtime  creatinine  \
0       77815      239231 2166-09-16 16:45:22 2166-09-29 10:07:21         0.6
1       31558      249349 2150-07-04 03:10:20 2150-07-22 14:13:53         0.6
2       53763      223136 2194-12-19 10:00:17 2194-12-26 23:51:37         0.8
3        7533      208809 2114-03-29 09:36:53 2114-04-08 18:39:51         0.8
4       50772      272254 2110-07-21 12:00:12 2110-07-27 14:20:35         0.8

      creatinine_time        age  length_of_stay    rrt  \
0 2166-09-21 03:21:00  58.363217      305.366389  False
1 2150-07-17 01:36:00  52.688716      443.059167  False
2 2194-12-21 04:12:00  70.937671      181.855556  False
3 2114-04-08 07:06:00  66.441977      249.049444  False
4 2110-07-22 18:14:00  74.513611      146.339722  False

                                           diagnoses         ...          \
0  04104, 2724, 2761, 3229, 3314, 3485, 4019, 430...         ...
1  0389, 4538, 4822, 5109, 5118, 51881, 8052, 807...         ...
2  2536, 2724, 29181, 30000, 3051, 34290, 3485, 4...         ...
3  0389, 2442, 2724, 2763, 2875, 2930, 34982, 401...         ...
4  0414, 25002, 2724, 2760, 2859, 2948, 3004, 427...         ...

      heart_rate_time  heart_rate_itemid weight_daily  weight_daily_delay  \
0 2166-09-21 02:51:00           220045.0         93.7             73380.0
1 2150-07-17 01:12:00              211.0        110.0             83700.0
2 2194-12-21 04:02:00           220045.0        126.5            100020.0
3 2114-04-08 06:15:00           220045.0          NaN                 NaN
4 2110-07-22 17:02:00           220045.0         74.1              1920.0

    weight_daily_time  weight_daily_itemid temperature  temperature_delay  \
0 2166-09-20 06:58:00             224639.0   98.600000             1740.0
1 2150-07-16 02:21:00                763.0   98.599998             4800.0
2 2194-12-20 00:25:00             224639.0   98.000000              540.0
3                 NaT                  NaN   98.300000             6120.0
4 2110-07-22 17:42:00             224639.0   98.100000             6300.0

     temperature_time  temperature_itemid
0 2166-09-21 02:52:00            223761.0
1 2150-07-17 00:16:00               678.0
2 2194-12-21 04:03:00            223761.0
3 2114-04-08 05:24:00            223761.0
4 2110-07-22 16:29:00            223761.0

[5 rows x 30 columns]
------------------------------------
--- Processing feature : Urine_output
Initial size of table : 0
After dropping duplicates : 0
After applying inclusion criteria : 0
Merged table size : 114691
   subject_id  icustay_id              intime             outtime  creatinine  \
0       77815      239231 2166-09-16 16:45:22 2166-09-29 10:07:21         0.6
1       31558      249349 2150-07-04 03:10:20 2150-07-22 14:13:53         0.6
2       53763      223136 2194-12-19 10:00:17 2194-12-26 23:51:37         0.8
3        7533      208809 2114-03-29 09:36:53 2114-04-08 18:39:51         0.8
4       50772      272254 2110-07-21 12:00:12 2110-07-27 14:20:35         0.8

      creatinine_time        age  length_of_stay    rrt  \
0 2166-09-21 03:21:00  58.363217      305.366389  False
1 2150-07-17 01:36:00  52.688716      443.059167  False
2 2194-12-21 04:12:00  70.937671      181.855556  False
3 2114-04-08 07:06:00  66.441977      249.049444  False
4 2110-07-22 18:14:00  74.513611      146.339722  False

                                           diagnoses         ...           \
0  04104, 2724, 2761, 3229, 3314, 3485, 4019, 430...         ...
1  0389, 4538, 4822, 5109, 5118, 51881, 8052, 807...         ...
2  2536, 2724, 29181, 30000, 3051, 34290, 3485, 4...         ...
3  0389, 2442, 2724, 2763, 2875, 2930, 34982, 401...         ...
4  0414, 25002, 2724, 2760, 2859, 2948, 3004, 427...         ...

    weight_daily_time  weight_daily_itemid temperature  temperature_delay  \
0 2166-09-20 06:58:00             224639.0   98.600000             1740.0
1 2150-07-16 02:21:00                763.0   98.599998             4800.0
2 2194-12-20 00:25:00             224639.0   98.000000              540.0
3                 NaT                  NaN   98.300000             6120.0
4 2110-07-22 17:42:00             224639.0   98.100000             6300.0

     temperature_time  temperature_itemid urine_output  urine_output_delay  \
0 2166-09-21 02:52:00            223761.0          NaN                 NaN
1 2150-07-17 00:16:00               678.0          NaN                 NaN
2 2194-12-21 04:03:00            223761.0          NaN                 NaN
3 2114-04-08 05:24:00            223761.0          NaN                 NaN
4 2110-07-22 16:29:00            223761.0          NaN                 NaN

   urine_output_time  urine_output_itemid
0                NaN                  NaN
1                NaN                  NaN
2                NaN                  NaN
3                NaN                  NaN
4                NaN                  NaN

[5 rows x 34 columns]
------------------------------------
--- Processing feature : day_urine_output
Initial size of table : 0
After dropping duplicates : 0
After applying inclusion criteria : 0
Merged table size : 114691
   subject_id  icustay_id              intime             outtime  creatinine  \
0       77815      239231 2166-09-16 16:45:22 2166-09-29 10:07:21         0.6
1       31558      249349 2150-07-04 03:10:20 2150-07-22 14:13:53         0.6
2       53763      223136 2194-12-19 10:00:17 2194-12-26 23:51:37         0.8
3        7533      208809 2114-03-29 09:36:53 2114-04-08 18:39:51         0.8
4       50772      272254 2110-07-21 12:00:12 2110-07-27 14:20:35         0.8

      creatinine_time        age  length_of_stay    rrt  \
0 2166-09-21 03:21:00  58.363217      305.366389  False
1 2150-07-17 01:36:00  52.688716      443.059167  False
2 2194-12-21 04:12:00  70.937671      181.855556  False
3 2114-04-08 07:06:00  66.441977      249.049444  False
4 2110-07-22 18:14:00  74.513611      146.339722  False

                                           diagnoses           ...             \
0  04104, 2724, 2761, 3229, 3314, 3485, 4019, 430...           ...
1  0389, 4538, 4822, 5109, 5118, 51881, 8052, 807...           ...
2  2536, 2724, 29181, 30000, 3051, 34290, 3485, 4...           ...
3  0389, 2442, 2724, 2763, 2875, 2930, 34982, 401...           ...
4  0414, 25002, 2724, 2760, 2859, 2948, 3004, 427...           ...

     temperature_time  temperature_itemid urine_output  urine_output_delay  \
0 2166-09-21 02:52:00            223761.0          NaN                 NaN
1 2150-07-17 00:16:00               678.0          NaN                 NaN
2 2194-12-21 04:03:00            223761.0          NaN                 NaN
3 2114-04-08 05:24:00            223761.0          NaN                 NaN
4 2110-07-22 16:29:00            223761.0          NaN                 NaN

   urine_output_time  urine_output_itemid day_urine_output  \
0                NaN                  NaN              NaN
1                NaN                  NaN              NaN
2                NaN                  NaN              NaN
3                NaN                  NaN              NaN
4                NaN                  NaN              NaN

   day_urine_output_delay  day_urine_output_time  day_urine_output_itemid
0                     NaN                    NaN                      NaN
1                     NaN                    NaN                      NaN
2                     NaN                    NaN                      NaN
3                     NaN                    NaN                      NaN
4                     NaN                    NaN                      NaN

[5 rows x 38 columns]
------------------------------------
--- Processing feature : SCr

Initial size of table : 19493
After dropping duplicates : 19487
After applying inclusion criteria : 15083
Merged table size : 114732
   subject_id  icustay_id              intime             outtime  creatinine  \
0       77815      239231 2166-09-16 16:45:22 2166-09-29 10:07:21         0.6
1       31558      249349 2150-07-04 03:10:20 2150-07-22 14:13:53         0.6
2       53763      223136 2194-12-19 10:00:17 2194-12-26 23:51:37         0.8
3        7533      208809 2114-03-29 09:36:53 2114-04-08 18:39:51         0.8
4       50772      272254 2110-07-21 12:00:12 2110-07-27 14:20:35         0.8

      creatinine_time        age  length_of_stay    rrt  \
0 2166-09-21 03:21:00  58.363217      305.366389  False
1 2150-07-17 01:36:00  52.688716      443.059167  False
2 2194-12-21 04:12:00  70.937671      181.855556  False
3 2114-04-08 07:06:00  66.441977      249.049444  False
4 2110-07-22 18:14:00  74.513611      146.339722  False

                                           diagnoses     ...      \
0  04104, 2724, 2761, 3229, 3314, 3485, 4019, 430...     ...
1  0389, 4538, 4822, 5109, 5118, 51881, 8052, 807...     ...
2  2536, 2724, 29181, 30000, 3051, 34290, 3485, 4...     ...
3  0389, 2442, 2724, 2763, 2875, 2930, 34982, 401...     ...
4  0414, 25002, 2724, 2760, 2859, 2948, 3004, 427...     ...

   urine_output_time  urine_output_itemid day_urine_output  \
0                NaN                  NaN              NaN
1                NaN                  NaN              NaN
2                NaN                  NaN              NaN
3                NaN                  NaN              NaN
4                NaN                  NaN              NaN

   day_urine_output_delay  day_urine_output_time  day_urine_output_itemid  \
0                     NaN                    NaN                      NaN
1                     NaN                    NaN                      NaN
2                     NaN                    NaN                      NaN
3                     NaN                    NaN                      NaN
4                     NaN                    NaN                      NaN

   scr  scr_delay            scr_time  scr_itemid
0  NaN        NaN                 NaT         NaN
1  0.6     3600.0 2150-07-17 00:36:00      1525.0
2  NaN        NaN                 NaT         NaN
3  NaN        NaN                 NaT         NaN
4  NaN        NaN                 NaT         NaN

[5 rows x 42 columns]
------------------------------------
--- Processing feature : Sodium
Initial size of table : 52176
After dropping duplicates : 52044
After applying inclusion criteria : 43008
Merged table size : 115042
   subject_id  icustay_id              intime             outtime  creatinine  \
0       77815      239231 2166-09-16 16:45:22 2166-09-29 10:07:21         0.6
1       31558      249349 2150-07-04 03:10:20 2150-07-22 14:13:53         0.6
2       53763      223136 2194-12-19 10:00:17 2194-12-26 23:51:37         0.8
3        7533      208809 2114-03-29 09:36:53 2114-04-08 18:39:51         0.8
4       50772      272254 2110-07-21 12:00:12 2110-07-27 14:20:35         0.8

      creatinine_time        age  length_of_stay    rrt  \
0 2166-09-21 03:21:00  58.363217      305.366389  False
1 2150-07-17 01:36:00  52.688716      443.059167  False
2 2194-12-21 04:12:00  70.937671      181.855556  False
3 2114-04-08 07:06:00  66.441977      249.049444  False
4 2110-07-22 18:14:00  74.513611      146.339722  False

                                           diagnoses      ...        \
0  04104, 2724, 2761, 3229, 3314, 3485, 4019, 430...      ...
1  0389, 4538, 4822, 5109, 5118, 51881, 8052, 807...      ...
2  2536, 2724, 29181, 30000, 3051, 34290, 3485, 4...      ...
3  0389, 2442, 2724, 2763, 2875, 2930, 34982, 401...      ...
4  0414, 25002, 2724, 2760, 2859, 2948, 3004, 427...      ...

   day_urine_output_time  day_urine_output_itemid  scr  scr_delay  \
0                    NaN                      NaN  NaN        NaN
1                    NaN                      NaN  0.6     3600.0
2                    NaN                      NaN  NaN        NaN
3                    NaN                      NaN  NaN        NaN
4                    NaN                      NaN  NaN        NaN

             scr_time  scr_itemid sodium  sodium_delay         sodium_time  \
0                 NaT         NaN    NaN           NaN                 NaT
1 2150-07-17 00:36:00      1525.0  136.0      196980.0 2150-07-14 18:53:00
2                 NaT         NaN    NaN           NaN                 NaT
3                 NaT         NaN    NaN           NaN                 NaT
4                 NaT         NaN    NaN           NaN                 NaT

   sodium_itemid
0            NaN
1       226534.0
2            NaN
3            NaN
4            NaN

[5 rows x 46 columns]
------------------------------------
--- Processing feature : Potassium
Initial size of table : 0
After dropping duplicates : 0
After applying inclusion criteria : 0
Merged table size : 115042
   subject_id  icustay_id              intime             outtime  creatinine  \
0       77815      239231 2166-09-16 16:45:22 2166-09-29 10:07:21         0.6
1       31558      249349 2150-07-04 03:10:20 2150-07-22 14:13:53         0.6
2       53763      223136 2194-12-19 10:00:17 2194-12-26 23:51:37         0.8
3        7533      208809 2114-03-29 09:36:53 2114-04-08 18:39:51         0.8
4       50772      272254 2110-07-21 12:00:12 2110-07-27 14:20:35         0.8

      creatinine_time        age  length_of_stay    rrt  \
0 2166-09-21 03:21:00  58.363217      305.366389  False
1 2150-07-17 01:36:00  52.688716      443.059167  False
2 2194-12-21 04:12:00  70.937671      181.855556  False
3 2114-04-08 07:06:00  66.441977      249.049444  False
4 2110-07-22 18:14:00  74.513611      146.339722  False

                                           diagnoses        ...         \
0  04104, 2724, 2761, 3229, 3314, 3485, 4019, 430...        ...
1  0389, 4538, 4822, 5109, 5118, 51881, 8052, 807...        ...
2  2536, 2724, 29181, 30000, 3051, 34290, 3485, 4...        ...
3  0389, 2442, 2724, 2763, 2875, 2930, 34982, 401...        ...
4  0414, 25002, 2724, 2760, 2859, 2948, 3004, 427...        ...

             scr_time  scr_itemid sodium  sodium_delay         sodium_time  \
0                 NaT         NaN    NaN           NaN                 NaT
1 2150-07-17 00:36:00      1525.0  136.0      196980.0 2150-07-14 18:53:00
2                 NaT         NaN    NaN           NaN                 NaT
3                 NaT         NaN    NaN           NaN                 NaT
4                 NaT         NaN    NaN           NaN                 NaT

   sodium_itemid potassium  potassium_delay  potassium_time  potassium_itemid
0            NaN       NaN              NaN             NaN               NaN
1       226534.0       NaN              NaN             NaN               NaN
2            NaN       NaN              NaN             NaN               NaN
3            NaN       NaN              NaN             NaN               NaN
4            NaN       NaN              NaN             NaN               NaN

[5 rows x 50 columns]
------------------------------------
--- Processing feature : Calcium
Initial size of table : 0
After dropping duplicates : 0
After applying inclusion criteria : 0
Merged table size : 115042
   subject_id  icustay_id              intime             outtime  creatinine  \
0       77815      239231 2166-09-16 16:45:22 2166-09-29 10:07:21         0.6
1       31558      249349 2150-07-04 03:10:20 2150-07-22 14:13:53         0.6
2       53763      223136 2194-12-19 10:00:17 2194-12-26 23:51:37         0.8
3        7533      208809 2114-03-29 09:36:53 2114-04-08 18:39:51         0.8
4       50772      272254 2110-07-21 12:00:12 2110-07-27 14:20:35         0.8

      creatinine_time        age  length_of_stay    rrt  \
0 2166-09-21 03:21:00  58.363217      305.366389  False
1 2150-07-17 01:36:00  52.688716      443.059167  False
2 2194-12-21 04:12:00  70.937671      181.855556  False
3 2114-04-08 07:06:00  66.441977      249.049444  False
4 2110-07-22 18:14:00  74.513611      146.339722  False

                                           diagnoses       ...        \
0  04104, 2724, 2761, 3229, 3314, 3485, 4019, 430...       ...
1  0389, 4538, 4822, 5109, 5118, 51881, 8052, 807...       ...
2  2536, 2724, 29181, 30000, 3051, 34290, 3485, 4...       ...
3  0389, 2442, 2724, 2763, 2875, 2930, 34982, 401...       ...
4  0414, 25002, 2724, 2760, 2859, 2948, 3004, 427...       ...

          sodium_time  sodium_itemid potassium  potassium_delay  \
0                 NaT            NaN       NaN              NaN
1 2150-07-14 18:53:00       226534.0       NaN              NaN
2                 NaT            NaN       NaN              NaN
3                 NaT            NaN       NaN              NaN
4                 NaT            NaN       NaN              NaN

   potassium_time  potassium_itemid calcium  calcium_delay  calcium_time  \
0             NaN               NaN     NaN            NaN           NaN
1             NaN               NaN     NaN            NaN           NaN
2             NaN               NaN     NaN            NaN           NaN
3             NaN               NaN     NaN            NaN           NaN
4             NaN               NaN     NaN            NaN           NaN

   calcium_itemid
0             NaN
1             NaN
2             NaN
3             NaN
4             NaN

[5 rows x 54 columns]
------------------------------------
--- Processing feature : Phosphor

Initial size of table : 18364
After dropping duplicates : 18361
After applying inclusion criteria : 14480
Merged table size : 115042
   subject_id  icustay_id              intime             outtime  creatinine  \
0       77815      239231 2166-09-16 16:45:22 2166-09-29 10:07:21         0.6
1       31558      249349 2150-07-04 03:10:20 2150-07-22 14:13:53         0.6
2       53763      223136 2194-12-19 10:00:17 2194-12-26 23:51:37         0.8
3        7533      208809 2114-03-29 09:36:53 2114-04-08 18:39:51         0.8
4       50772      272254 2110-07-21 12:00:12 2110-07-27 14:20:35         0.8

      creatinine_time        age  length_of_stay    rrt  \
0 2166-09-21 03:21:00  58.363217      305.366389  False
1 2150-07-17 01:36:00  52.688716      443.059167  False
2 2194-12-21 04:12:00  70.937671      181.855556  False
3 2114-04-08 07:06:00  66.441977      249.049444  False
4 2110-07-22 18:14:00  74.513611      146.339722  False

                                           diagnoses       ...         \
0  04104, 2724, 2761, 3229, 3314, 3485, 4019, 430...       ...
1  0389, 4538, 4822, 5109, 5118, 51881, 8052, 807...       ...
2  2536, 2724, 29181, 30000, 3051, 34290, 3485, 4...       ...
3  0389, 2442, 2724, 2763, 2875, 2930, 34982, 401...       ...
4  0414, 25002, 2724, 2760, 2859, 2948, 3004, 427...       ...

   potassium_time  potassium_itemid calcium  calcium_delay  calcium_time  \
0             NaN               NaN     NaN            NaN           NaN
1             NaN               NaN     NaN            NaN           NaN
2             NaN               NaN     NaN            NaN           NaN
3             NaN               NaN     NaN            NaN           NaN
4             NaN               NaN     NaN            NaN           NaN

   calcium_itemid phosphor  phosphor_delay       phosphor_time  \
0             NaN      NaN             NaN                 NaT
1             NaN      3.5          3600.0 2150-07-17 00:36:00
2             NaN      NaN             NaN                 NaT
3             NaN      NaN             NaN                 NaT
4             NaN      NaN             NaN                 NaT

   phosphor_itemid
0              NaN
1           1534.0
2              NaN
3              NaN
4              NaN

[5 rows x 58 columns]
------------------------------------
--- Processing feature : Hemoglobine
Initial size of table : 19354
After dropping duplicates : 19348
After applying inclusion criteria : 15044
Merged table size : 115049
   subject_id  icustay_id              intime             outtime  creatinine  \
0       77815      239231 2166-09-16 16:45:22 2166-09-29 10:07:21         0.6
1       31558      249349 2150-07-04 03:10:20 2150-07-22 14:13:53         0.6
2       53763      223136 2194-12-19 10:00:17 2194-12-26 23:51:37         0.8
3        7533      208809 2114-03-29 09:36:53 2114-04-08 18:39:51         0.8
4       50772      272254 2110-07-21 12:00:12 2110-07-27 14:20:35         0.8

      creatinine_time        age  length_of_stay    rrt  \
0 2166-09-21 03:21:00  58.363217      305.366389  False
1 2150-07-17 01:36:00  52.688716      443.059167  False
2 2194-12-21 04:12:00  70.937671      181.855556  False
3 2114-04-08 07:06:00  66.441977      249.049444  False
4 2110-07-22 18:14:00  74.513611      146.339722  False

                                           diagnoses         ...          \
0  04104, 2724, 2761, 3229, 3314, 3485, 4019, 430...         ...
1  0389, 4538, 4822, 5109, 5118, 51881, 8052, 807...         ...
2  2536, 2724, 29181, 30000, 3051, 34290, 3485, 4...         ...
3  0389, 2442, 2724, 2763, 2875, 2930, 34982, 401...         ...
4  0414, 25002, 2724, 2760, 2859, 2948, 3004, 427...         ...

   calcium_time  calcium_itemid phosphor  phosphor_delay       phosphor_time  \
0           NaN             NaN      NaN             NaN                 NaT
1           NaN             NaN      3.5          3600.0 2150-07-17 00:36:00
2           NaN             NaN      NaN             NaN                 NaT
3           NaN             NaN      NaN             NaN                 NaT
4           NaN             NaN      NaN             NaN                 NaT

   phosphor_itemid hemoglobine  hemoglobine_delay    hemoglobine_time  \
0              NaN         NaN                NaN                 NaT
1           1534.0         8.4             4560.0 2150-07-17 00:20:00
2              NaN         NaN                NaN                 NaT
3              NaN         NaN                NaN                 NaT
4              NaN         NaN                NaN                 NaT

   hemoglobine_itemid
0                 NaN
1               814.0
2                 NaN
3                 NaN
4                 NaN

[5 rows x 62 columns]
------------------------------------
--- Processing feature : Uric_acid
Initial size of table : 1017
After dropping duplicates : 1017
After applying inclusion criteria : 937
Merged table size : 115049
   subject_id  icustay_id              intime             outtime  creatinine  \
0       77815      239231 2166-09-16 16:45:22 2166-09-29 10:07:21         0.6
1       31558      249349 2150-07-04 03:10:20 2150-07-22 14:13:53         0.6
2       53763      223136 2194-12-19 10:00:17 2194-12-26 23:51:37         0.8
3        7533      208809 2114-03-29 09:36:53 2114-04-08 18:39:51         0.8
4       50772      272254 2110-07-21 12:00:12 2110-07-27 14:20:35         0.8

      creatinine_time        age  length_of_stay    rrt  \
0 2166-09-21 03:21:00  58.363217      305.366389  False
1 2150-07-17 01:36:00  52.688716      443.059167  False
2 2194-12-21 04:12:00  70.937671      181.855556  False
3 2114-04-08 07:06:00  66.441977      249.049444  False
4 2110-07-22 18:14:00  74.513611      146.339722  False

                                           diagnoses        ...         \
0  04104, 2724, 2761, 3229, 3314, 3485, 4019, 430...        ...
1  0389, 4538, 4822, 5109, 5118, 51881, 8052, 807...        ...
2  2536, 2724, 29181, 30000, 3051, 34290, 3485, 4...        ...
3  0389, 2442, 2724, 2763, 2875, 2930, 34982, 401...        ...
4  0414, 25002, 2724, 2760, 2859, 2948, 3004, 427...        ...

        phosphor_time  phosphor_itemid hemoglobine  hemoglobine_delay  \
0                 NaT              NaN         NaN                NaN
1 2150-07-17 00:36:00           1534.0         8.4             4560.0
2                 NaT              NaN         NaN                NaN
3                 NaT              NaN         NaN                NaN
4                 NaT              NaN         NaN                NaN

     hemoglobine_time  hemoglobine_itemid uric_acid  uric_acid_delay  \
0                 NaT                 NaN       NaN              NaN
1 2150-07-17 00:20:00               814.0       NaN              NaN
2                 NaT                 NaN       NaN              NaN
3                 NaT                 NaN       NaN              NaN
4                 NaT                 NaN       NaN              NaN

   uric_acid_time  uric_acid_itemid
0             NaT               NaN
1             NaT               NaN
2             NaT               NaN
3             NaT               NaN
4             NaT               NaN

[5 rows x 66 columns]
------------------------------------
--- Processing feature : Chloride
Initial size of table : 19465
After dropping duplicates : 19460
After applying inclusion criteria : 15071
Merged table size : 115049
   subject_id  icustay_id              intime             outtime  creatinine  \
0       77815      239231 2166-09-16 16:45:22 2166-09-29 10:07:21         0.6
1       31558      249349 2150-07-04 03:10:20 2150-07-22 14:13:53         0.6
2       53763      223136 2194-12-19 10:00:17 2194-12-26 23:51:37         0.8
3        7533      208809 2114-03-29 09:36:53 2114-04-08 18:39:51         0.8
4       50772      272254 2110-07-21 12:00:12 2110-07-27 14:20:35         0.8

      creatinine_time        age  length_of_stay    rrt  \
0 2166-09-21 03:21:00  58.363217      305.366389  False
1 2150-07-17 01:36:00  52.688716      443.059167  False
2 2194-12-21 04:12:00  70.937671      181.855556  False
3 2114-04-08 07:06:00  66.441977      249.049444  False
4 2110-07-22 18:14:00  74.513611      146.339722  False

                                           diagnoses       ...         \
0  04104, 2724, 2761, 3229, 3314, 3485, 4019, 430...       ...
1  0389, 4538, 4822, 5109, 5118, 51881, 8052, 807...       ...
2  2536, 2724, 29181, 30000, 3051, 34290, 3485, 4...       ...
3  0389, 2442, 2724, 2763, 2875, 2930, 34982, 401...       ...
4  0414, 25002, 2724, 2760, 2859, 2948, 3004, 427...       ...

     hemoglobine_time  hemoglobine_itemid uric_acid  uric_acid_delay  \
0                 NaT                 NaN       NaN              NaN
1 2150-07-17 00:20:00               814.0       NaN              NaN
2                 NaT                 NaN       NaN              NaN
3                 NaT                 NaN       NaN              NaN
4                 NaT                 NaN       NaN              NaN

   uric_acid_time  uric_acid_itemid chloride  chloride_delay  \
0             NaT               NaN      NaN             NaN
1             NaT               NaN    109.0          3600.0
2             NaT               NaN      NaN             NaN
3             NaT               NaN      NaN             NaN
4             NaT               NaN      NaN             NaN

        chloride_time  chloride_itemid
0                 NaT              NaN
1 2150-07-17 00:36:00           1523.0
2                 NaT              NaN
3                 NaT              NaN
4                 NaT              NaN

[5 rows x 70 columns]
------------------------------------
--- Processing feature : Platelet_count

Initial size of table : 19366
After dropping duplicates : 19364
After applying inclusion criteria : 15057
Merged table size : 115049
   subject_id  icustay_id              intime             outtime  creatinine  \
0       77815      239231 2166-09-16 16:45:22 2166-09-29 10:07:21         0.6
1       31558      249349 2150-07-04 03:10:20 2150-07-22 14:13:53         0.6
2       53763      223136 2194-12-19 10:00:17 2194-12-26 23:51:37         0.8
3        7533      208809 2114-03-29 09:36:53 2114-04-08 18:39:51         0.8
4       50772      272254 2110-07-21 12:00:12 2110-07-27 14:20:35         0.8

      creatinine_time        age  length_of_stay    rrt  \
0 2166-09-21 03:21:00  58.363217      305.366389  False
1 2150-07-17 01:36:00  52.688716      443.059167  False
2 2194-12-21 04:12:00  70.937671      181.855556  False
3 2114-04-08 07:06:00  66.441977      249.049444  False
4 2110-07-22 18:14:00  74.513611      146.339722  False

                                           diagnoses          ...            \
0  04104, 2724, 2761, 3229, 3314, 3485, 4019, 430...          ...
1  0389, 4538, 4822, 5109, 5118, 51881, 8052, 807...          ...
2  2536, 2724, 29181, 30000, 3051, 34290, 3485, 4...          ...
3  0389, 2442, 2724, 2763, 2875, 2930, 34982, 401...          ...
4  0414, 25002, 2724, 2760, 2859, 2948, 3004, 427...          ...

   uric_acid_time  uric_acid_itemid chloride  chloride_delay  \
0             NaT               NaN      NaN             NaN
1             NaT               NaN    109.0          3600.0
2             NaT               NaN      NaN             NaN
3             NaT               NaN      NaN             NaN
4             NaT               NaN      NaN             NaN

        chloride_time  chloride_itemid platelet_count  platelet_count_delay  \
0                 NaT              NaN            NaN                   NaN
1 2150-07-17 00:36:00           1523.0          741.0                4560.0
2                 NaT              NaN            NaN                   NaN
3                 NaT              NaN            NaN                   NaN
4                 NaT              NaN            NaN                   NaN

   platelet_count_time  platelet_count_itemid
0                  NaT                    NaN
1  2150-07-17 00:20:00                  828.0
2                  NaT                    NaN
3                  NaT                    NaN
4                  NaT                    NaN

[5 rows x 74 columns]
------------------------------------
--- Processing feature : pH_blood
Initial size of table : 109899
After dropping duplicates : 109719
After applying inclusion criteria : 91660
Merged table size : 115341
   subject_id  icustay_id              intime             outtime  creatinine  \
0       77815      239231 2166-09-16 16:45:22 2166-09-29 10:07:21         0.6
1       31558      249349 2150-07-04 03:10:20 2150-07-22 14:13:53         0.6
2       53763      223136 2194-12-19 10:00:17 2194-12-26 23:51:37         0.8
3        7533      208809 2114-03-29 09:36:53 2114-04-08 18:39:51         0.8
4       50772      272254 2110-07-21 12:00:12 2110-07-27 14:20:35         0.8

      creatinine_time        age  length_of_stay    rrt  \
0 2166-09-21 03:21:00  58.363217      305.366389  False
1 2150-07-17 01:36:00  52.688716      443.059167  False
2 2194-12-21 04:12:00  70.937671      181.855556  False
3 2114-04-08 07:06:00  66.441977      249.049444  False
4 2110-07-22 18:14:00  74.513611      146.339722  False

                                           diagnoses       ...         \
0  04104, 2724, 2761, 3229, 3314, 3485, 4019, 430...       ...
1  0389, 4538, 4822, 5109, 5118, 51881, 8052, 807...       ...
2  2536, 2724, 29181, 30000, 3051, 34290, 3485, 4...       ...
3  0389, 2442, 2724, 2763, 2875, 2930, 34982, 401...       ...
4  0414, 25002, 2724, 2760, 2859, 2948, 3004, 427...       ...

        chloride_time  chloride_itemid platelet_count  platelet_count_delay  \
0                 NaT              NaN            NaN                   NaN
1 2150-07-17 00:36:00           1523.0          741.0                4560.0
2                 NaT              NaN            NaN                   NaN
3                 NaT              NaN            NaN                   NaN
4                 NaT              NaN            NaN                   NaN

   platelet_count_time  platelet_count_itemid ph_blood  ph_blood_delay  \
0                  NaT                    NaN      NaN             NaN
1  2150-07-17 00:20:00                  828.0     7.28          5040.0
2                  NaT                    NaN      NaN             NaN
3                  NaT                    NaN     7.58        168120.0
4                  NaT                    NaN     7.31          3240.0

        ph_blood_time  ph_blood_itemid
0                 NaT              NaN
1 2150-07-17 00:12:00         223830.0
2                 NaT              NaN
3 2114-04-06 08:24:00         223830.0
4 2110-07-22 17:20:00         223830.0

[5 rows x 78 columns]
------------------------------------
--- Processing feature : fibrinogen
Initial size of table : 6262
After dropping duplicates : 6262
After applying inclusion criteria : 5144
Merged table size : 115342
   subject_id  icustay_id              intime             outtime  creatinine  \
0       77815      239231 2166-09-16 16:45:22 2166-09-29 10:07:21         0.6
1       31558      249349 2150-07-04 03:10:20 2150-07-22 14:13:53         0.6
2       53763      223136 2194-12-19 10:00:17 2194-12-26 23:51:37         0.8
3        7533      208809 2114-03-29 09:36:53 2114-04-08 18:39:51         0.8
4       50772      272254 2110-07-21 12:00:12 2110-07-27 14:20:35         0.8

      creatinine_time        age  length_of_stay    rrt  \
0 2166-09-21 03:21:00  58.363217      305.366389  False
1 2150-07-17 01:36:00  52.688716      443.059167  False
2 2194-12-21 04:12:00  70.937671      181.855556  False
3 2114-04-08 07:06:00  66.441977      249.049444  False
4 2110-07-22 18:14:00  74.513611      146.339722  False

                                           diagnoses        ...          \
0  04104, 2724, 2761, 3229, 3314, 3485, 4019, 430...        ...
1  0389, 4538, 4822, 5109, 5118, 51881, 8052, 807...        ...
2  2536, 2724, 29181, 30000, 3051, 34290, 3485, 4...        ...
3  0389, 2442, 2724, 2763, 2875, 2930, 34982, 401...        ...
4  0414, 25002, 2724, 2760, 2859, 2948, 3004, 427...        ...

   platelet_count_time  platelet_count_itemid ph_blood  ph_blood_delay  \
0                  NaT                    NaN      NaN             NaN
1  2150-07-17 00:20:00                  828.0     7.28          5040.0
2                  NaT                    NaN      NaN             NaN
3                  NaT                    NaN     7.58        168120.0
4                  NaT                    NaN     7.31          3240.0

        ph_blood_time  ph_blood_itemid fibrinogen  fibrinogen_delay  \
0                 NaT              NaN        NaN               NaN
1 2150-07-17 00:12:00         223830.0        NaN               NaN
2                 NaT              NaN        NaN               NaN
3 2114-04-06 08:24:00         223830.0        NaN               NaN
4 2110-07-22 17:20:00         223830.0        NaN               NaN

   fibrinogen_time  fibrinogen_itemid
0              NaT                NaN
1              NaT                NaN
2              NaT                NaN
3              NaT                NaN
4              NaT                NaN

[5 rows x 82 columns]
------------------------------------
--- Processing feature : urinary_sodium
Initial size of table : 0
After dropping duplicates : 0
After applying inclusion criteria : 0
Merged table size : 115342
   subject_id  icustay_id              intime             outtime  creatinine  \
0       77815      239231 2166-09-16 16:45:22 2166-09-29 10:07:21         0.6
1       31558      249349 2150-07-04 03:10:20 2150-07-22 14:13:53         0.6
2       53763      223136 2194-12-19 10:00:17 2194-12-26 23:51:37         0.8
3        7533      208809 2114-03-29 09:36:53 2114-04-08 18:39:51         0.8
4       50772      272254 2110-07-21 12:00:12 2110-07-27 14:20:35         0.8

      creatinine_time        age  length_of_stay    rrt  \
0 2166-09-21 03:21:00  58.363217      305.366389  False
1 2150-07-17 01:36:00  52.688716      443.059167  False
2 2194-12-21 04:12:00  70.937671      181.855556  False
3 2114-04-08 07:06:00  66.441977      249.049444  False
4 2110-07-22 18:14:00  74.513611      146.339722  False

                                           diagnoses          ...            \
0  04104, 2724, 2761, 3229, 3314, 3485, 4019, 430...          ...
1  0389, 4538, 4822, 5109, 5118, 51881, 8052, 807...          ...
2  2536, 2724, 29181, 30000, 3051, 34290, 3485, 4...          ...
3  0389, 2442, 2724, 2763, 2875, 2930, 34982, 401...          ...
4  0414, 25002, 2724, 2760, 2859, 2948, 3004, 427...          ...

        ph_blood_time  ph_blood_itemid fibrinogen  fibrinogen_delay  \
0                 NaT              NaN        NaN               NaN
1 2150-07-17 00:12:00         223830.0        NaN               NaN
2                 NaT              NaN        NaN               NaN
3 2114-04-06 08:24:00         223830.0        NaN               NaN
4 2110-07-22 17:20:00         223830.0        NaN               NaN

   fibrinogen_time  fibrinogen_itemid urinary_sodium  urinary_sodium_delay  \
0              NaT                NaN            NaN                   NaN
1              NaT                NaN            NaN                   NaN
2              NaT                NaN            NaN                   NaN
3              NaT                NaN            NaN                   NaN
4              NaT                NaN            NaN                   NaN

   urinary_sodium_time  urinary_sodium_itemid
0                  NaN                    NaN
1                  NaN                    NaN
2                  NaN                    NaN
3                  NaN                    NaN
4                  NaN                    NaN

[5 rows x 86 columns]
------------------------------------
--- Processing feature : urinary_potassium

Initial size of table : 0
After dropping duplicates : 0
After applying inclusion criteria : 0
Merged table size : 115342
   subject_id  icustay_id              intime             outtime  creatinine  \
0       77815      239231 2166-09-16 16:45:22 2166-09-29 10:07:21         0.6
1       31558      249349 2150-07-04 03:10:20 2150-07-22 14:13:53         0.6
2       53763      223136 2194-12-19 10:00:17 2194-12-26 23:51:37         0.8
3        7533      208809 2114-03-29 09:36:53 2114-04-08 18:39:51         0.8
4       50772      272254 2110-07-21 12:00:12 2110-07-27 14:20:35         0.8

      creatinine_time        age  length_of_stay    rrt  \
0 2166-09-21 03:21:00  58.363217      305.366389  False
1 2150-07-17 01:36:00  52.688716      443.059167  False
2 2194-12-21 04:12:00  70.937671      181.855556  False
3 2114-04-08 07:06:00  66.441977      249.049444  False
4 2110-07-22 18:14:00  74.513611      146.339722  False

                                           diagnoses  \
0  04104, 2724, 2761, 3229, 3314, 3485, 4019, 430...
1  0389, 4538, 4822, 5109, 5118, 51881, 8052, 807...
2  2536, 2724, 29181, 30000, 3051, 34290, 3485, 4...
3  0389, 2442, 2724, 2763, 2875, 2930, 34982, 401...
4  0414, 25002, 2724, 2760, 2859, 2948, 3004, 427...

             ...             fibrinogen_time  fibrinogen_itemid  \
0            ...                         NaT                NaN
1            ...                         NaT                NaN
2            ...                         NaT                NaN
3            ...                         NaT                NaN
4            ...                         NaT                NaN

  urinary_sodium  urinary_sodium_delay  urinary_sodium_time  \
0            NaN                   NaN                  NaN
1            NaN                   NaN                  NaN
2            NaN                   NaN                  NaN
3            NaN                   NaN                  NaN
4            NaN                   NaN                  NaN

   urinary_sodium_itemid urinary_potassium  urinary_potassium_delay  \
0                    NaN               NaN                      NaN
1                    NaN               NaN                      NaN
2                    NaN               NaN                      NaN
3                    NaN               NaN                      NaN
4                    NaN               NaN                      NaN

   urinary_potassium_time  urinary_potassium_itemid
0                     NaN                       NaN
1                     NaN                       NaN
2                     NaN                       NaN
3                     NaN                       NaN
4                     NaN                       NaN

[5 rows x 90 columns]
------------------------------------
--- Processing feature : urine_creatinin
Initial size of table : 0
After dropping duplicates : 0
After applying inclusion criteria : 0
Merged table size : 115342
   subject_id  icustay_id              intime             outtime  creatinine  \
0       77815      239231 2166-09-16 16:45:22 2166-09-29 10:07:21         0.6
1       31558      249349 2150-07-04 03:10:20 2150-07-22 14:13:53         0.6
2       53763      223136 2194-12-19 10:00:17 2194-12-26 23:51:37         0.8
3        7533      208809 2114-03-29 09:36:53 2114-04-08 18:39:51         0.8
4       50772      272254 2110-07-21 12:00:12 2110-07-27 14:20:35         0.8

      creatinine_time        age  length_of_stay    rrt  \
0 2166-09-21 03:21:00  58.363217      305.366389  False
1 2150-07-17 01:36:00  52.688716      443.059167  False
2 2194-12-21 04:12:00  70.937671      181.855556  False
3 2114-04-08 07:06:00  66.441977      249.049444  False
4 2110-07-22 18:14:00  74.513611      146.339722  False

                                           diagnoses           ...            \
0  04104, 2724, 2761, 3229, 3314, 3485, 4019, 430...           ...
1  0389, 4538, 4822, 5109, 5118, 51881, 8052, 807...           ...
2  2536, 2724, 29181, 30000, 3051, 34290, 3485, 4...           ...
3  0389, 2442, 2724, 2763, 2875, 2930, 34982, 401...           ...
4  0414, 25002, 2724, 2760, 2859, 2948, 3004, 427...           ...

   urinary_sodium_time  urinary_sodium_itemid urinary_potassium  \
0                  NaN                    NaN               NaN
1                  NaN                    NaN               NaN
2                  NaN                    NaN               NaN
3                  NaN                    NaN               NaN
4                  NaN                    NaN               NaN

   urinary_potassium_delay  urinary_potassium_time  urinary_potassium_itemid  \
0                      NaN                     NaN                       NaN
1                      NaN                     NaN                       NaN
2                      NaN                     NaN                       NaN
3                      NaN                     NaN                       NaN
4                      NaN                     NaN                       NaN

  urine_creatinin  urine_creatinin_delay  urine_creatinin_time  \
0             NaN                    NaN                   NaN
1             NaN                    NaN                   NaN
2             NaN                    NaN                   NaN
3             NaN                    NaN                   NaN
4             NaN                    NaN                   NaN

   urine_creatinin_itemid
0                     NaN
1                     NaN
2                     NaN
3                     NaN
4                     NaN

[5 rows x 94 columns]
------------------------------------
--- Processing feature : alkaline_phospatase
Initial size of table : 0
After dropping duplicates : 0
After applying inclusion criteria : 0
Merged table size : 115342
   subject_id  icustay_id              intime             outtime  creatinine  \
0       77815      239231 2166-09-16 16:45:22 2166-09-29 10:07:21         0.6
1       31558      249349 2150-07-04 03:10:20 2150-07-22 14:13:53         0.6
2       53763      223136 2194-12-19 10:00:17 2194-12-26 23:51:37         0.8
3        7533      208809 2114-03-29 09:36:53 2114-04-08 18:39:51         0.8
4       50772      272254 2110-07-21 12:00:12 2110-07-27 14:20:35         0.8

      creatinine_time        age  length_of_stay    rrt  \
0 2166-09-21 03:21:00  58.363217      305.366389  False
1 2150-07-17 01:36:00  52.688716      443.059167  False
2 2194-12-21 04:12:00  70.937671      181.855556  False
3 2114-04-08 07:06:00  66.441977      249.049444  False
4 2110-07-22 18:14:00  74.513611      146.339722  False

                                           diagnoses  \
0  04104, 2724, 2761, 3229, 3314, 3485, 4019, 430...
1  0389, 4538, 4822, 5109, 5118, 51881, 8052, 807...
2  2536, 2724, 29181, 30000, 3051, 34290, 3485, 4...
3  0389, 2442, 2724, 2763, 2875, 2930, 34982, 401...
4  0414, 25002, 2724, 2760, 2859, 2948, 3004, 427...

              ...              urinary_potassium_time  \
0             ...                                 NaN
1             ...                                 NaN
2             ...                                 NaN
3             ...                                 NaN
4             ...                                 NaN

   urinary_potassium_itemid urine_creatinin  urine_creatinin_delay  \
0                       NaN             NaN                    NaN
1                       NaN             NaN                    NaN
2                       NaN             NaN                    NaN
3                       NaN             NaN                    NaN
4                       NaN             NaN                    NaN

   urine_creatinin_time  urine_creatinin_itemid alkaline_phospatase  \
0                   NaN                     NaN                 NaN
1                   NaN                     NaN                 NaN
2                   NaN                     NaN                 NaN
3                   NaN                     NaN                 NaN
4                   NaN                     NaN                 NaN

   alkaline_phospatase_delay  alkaline_phospatase_time  \
0                        NaN                       NaN
1                        NaN                       NaN
2                        NaN                       NaN
3                        NaN                       NaN
4                        NaN                       NaN

   alkaline_phospatase_itemid
0                         NaN
1                         NaN
2                         NaN
3                         NaN
4                         NaN

[5 rows x 98 columns]
------------------------------------
--- Processing feature : Total_protein_blood

Initial size of table : 6255
After dropping duplicates : 6255
After applying inclusion criteria : 5171
Merged table size : 115345
   subject_id  icustay_id              intime             outtime  creatinine  \
0       77815      239231 2166-09-16 16:45:22 2166-09-29 10:07:21         0.6
1       31558      249349 2150-07-04 03:10:20 2150-07-22 14:13:53         0.6
2       53763      223136 2194-12-19 10:00:17 2194-12-26 23:51:37         0.8
3        7533      208809 2114-03-29 09:36:53 2114-04-08 18:39:51         0.8
4       50772      272254 2110-07-21 12:00:12 2110-07-27 14:20:35         0.8

      creatinine_time        age  length_of_stay    rrt  \
0 2166-09-21 03:21:00  58.363217      305.366389  False
1 2150-07-17 01:36:00  52.688716      443.059167  False
2 2194-12-21 04:12:00  70.937671      181.855556  False
3 2114-04-08 07:06:00  66.441977      249.049444  False
4 2110-07-22 18:14:00  74.513611      146.339722  False

                                           diagnoses  \
0  04104, 2724, 2761, 3229, 3314, 3485, 4019, 430...
1  0389, 4538, 4822, 5109, 5118, 51881, 8052, 807...
2  2536, 2724, 29181, 30000, 3051, 34290, 3485, 4...
3  0389, 2442, 2724, 2763, 2875, 2930, 34982, 401...
4  0414, 25002, 2724, 2760, 2859, 2948, 3004, 427...

              ...              urine_creatinin_time  urine_creatinin_itemid  \
0             ...                               NaN                     NaN
1             ...                               NaN                     NaN
2             ...                               NaN                     NaN
3             ...                               NaN                     NaN
4             ...                               NaN                     NaN

  alkaline_phospatase  alkaline_phospatase_delay  alkaline_phospatase_time  \
0                 NaN                        NaN                       NaN
1                 NaN                        NaN                       NaN
2                 NaN                        NaN                       NaN
3                 NaN                        NaN                       NaN
4                 NaN                        NaN                       NaN

   alkaline_phospatase_itemid total_protein_blood  total_protein_blood_delay  \
0                         NaN                 NaN                        NaN
1                         NaN                 NaN                        NaN
2                         NaN                 NaN                        NaN
3                         NaN                 NaN                        NaN
4                         NaN                 NaN                        NaN

   total_protein_blood_time  total_protein_blood_itemid
0                       NaT                         NaN
1                       NaT                         NaN
2                       NaT                         NaN
3                       NaT                         NaN
4                       NaT                         NaN

[5 rows x 102 columns]
------------------------------------
--- Processing feature : albumin
Initial size of table : 11253
After dropping duplicates : 11251
After applying inclusion criteria : 9527
Merged table size : 115345
   subject_id  icustay_id              intime             outtime  creatinine  \
0       77815      239231 2166-09-16 16:45:22 2166-09-29 10:07:21         0.6
1       31558      249349 2150-07-04 03:10:20 2150-07-22 14:13:53         0.6
2       53763      223136 2194-12-19 10:00:17 2194-12-26 23:51:37         0.8
3        7533      208809 2114-03-29 09:36:53 2114-04-08 18:39:51         0.8
4       50772      272254 2110-07-21 12:00:12 2110-07-27 14:20:35         0.8

      creatinine_time        age  length_of_stay    rrt  \
0 2166-09-21 03:21:00  58.363217      305.366389  False
1 2150-07-17 01:36:00  52.688716      443.059167  False
2 2194-12-21 04:12:00  70.937671      181.855556  False
3 2114-04-08 07:06:00  66.441977      249.049444  False
4 2110-07-22 18:14:00  74.513611      146.339722  False

                                           diagnoses       ...        \
0  04104, 2724, 2761, 3229, 3314, 3485, 4019, 430...       ...
1  0389, 4538, 4822, 5109, 5118, 51881, 8052, 807...       ...
2  2536, 2724, 29181, 30000, 3051, 34290, 3485, 4...       ...
3  0389, 2442, 2724, 2763, 2875, 2930, 34982, 401...       ...
4  0414, 25002, 2724, 2760, 2859, 2948, 3004, 427...       ...

   alkaline_phospatase_time  alkaline_phospatase_itemid total_protein_blood  \
0                       NaN                         NaN                 NaN
1                       NaN                         NaN                 NaN
2                       NaN                         NaN                 NaN
3                       NaN                         NaN                 NaN
4                       NaN                         NaN                 NaN

   total_protein_blood_delay  total_protein_blood_time  \
0                        NaN                       NaT
1                        NaN                       NaT
2                        NaN                       NaT
3                        NaN                       NaT
4                        NaN                       NaT

   total_protein_blood_itemid albumin  albumin_delay        albumin_time  \
0                         NaN     NaN            NaN                 NaT
1                         NaN     2.3       256500.0 2150-07-14 02:21:00
2                         NaN     NaN            NaN                 NaT
3                         NaN     NaN            NaN                 NaT
4                         NaN     NaN            NaN                 NaT

   albumin_itemid
0             NaN
1          1521.0
2             NaN
3             NaN
4             NaN

[5 rows x 106 columns]
------------------------------------
--- Processing feature : Total_protein_urine
Initial size of table : 0
After dropping duplicates : 0
After applying inclusion criteria : 0
Merged table size : 115345
   subject_id  icustay_id              intime             outtime  creatinine  \
0       77815      239231 2166-09-16 16:45:22 2166-09-29 10:07:21         0.6
1       31558      249349 2150-07-04 03:10:20 2150-07-22 14:13:53         0.6
2       53763      223136 2194-12-19 10:00:17 2194-12-26 23:51:37         0.8
3        7533      208809 2114-03-29 09:36:53 2114-04-08 18:39:51         0.8
4       50772      272254 2110-07-21 12:00:12 2110-07-27 14:20:35         0.8

      creatinine_time        age  length_of_stay    rrt  \
0 2166-09-21 03:21:00  58.363217      305.366389  False
1 2150-07-17 01:36:00  52.688716      443.059167  False
2 2194-12-21 04:12:00  70.937671      181.855556  False
3 2114-04-08 07:06:00  66.441977      249.049444  False
4 2110-07-22 18:14:00  74.513611      146.339722  False

                                           diagnoses  \
0  04104, 2724, 2761, 3229, 3314, 3485, 4019, 430...
1  0389, 4538, 4822, 5109, 5118, 51881, 8052, 807...
2  2536, 2724, 29181, 30000, 3051, 34290, 3485, 4...
3  0389, 2442, 2724, 2763, 2875, 2930, 34982, 401...
4  0414, 25002, 2724, 2760, 2859, 2948, 3004, 427...

              ...              total_protein_blood_time  \
0             ...                                   NaT
1             ...                                   NaT
2             ...                                   NaT
3             ...                                   NaT
4             ...                                   NaT

   total_protein_blood_itemid albumin  albumin_delay        albumin_time  \
0                         NaN     NaN            NaN                 NaT
1                         NaN     2.3       256500.0 2150-07-14 02:21:00
2                         NaN     NaN            NaN                 NaT
3                         NaN     NaN            NaN                 NaT
4                         NaN     NaN            NaN                 NaT

   albumin_itemid total_protein_urine  total_protein_urine_delay  \
0             NaN                 NaN                        NaN
1          1521.0                 NaN                        NaN
2             NaN                 NaN                        NaN
3             NaN                 NaN                        NaN
4             NaN                 NaN                        NaN

   total_protein_urine_time  total_protein_urine_itemid
0                       NaN                         NaN
1                       NaN                         NaN
2                       NaN                         NaN
3                       NaN                         NaN
4                       NaN                         NaN

[5 rows x 110 columns]
------------------------------------
--- Processing feature : bilirubin

Initial size of table : 0
After dropping duplicates : 0
After applying inclusion criteria : 0
Merged table size : 115345
   subject_id  icustay_id              intime             outtime  creatinine  \
0       77815      239231 2166-09-16 16:45:22 2166-09-29 10:07:21         0.6
1       31558      249349 2150-07-04 03:10:20 2150-07-22 14:13:53         0.6
2       53763      223136 2194-12-19 10:00:17 2194-12-26 23:51:37         0.8
3        7533      208809 2114-03-29 09:36:53 2114-04-08 18:39:51         0.8
4       50772      272254 2110-07-21 12:00:12 2110-07-27 14:20:35         0.8

      creatinine_time        age  length_of_stay    rrt  \
0 2166-09-21 03:21:00  58.363217      305.366389  False
1 2150-07-17 01:36:00  52.688716      443.059167  False
2 2194-12-21 04:12:00  70.937671      181.855556  False
3 2114-04-08 07:06:00  66.441977      249.049444  False
4 2110-07-22 18:14:00  74.513611      146.339722  False

                                           diagnoses        ...         \
0  04104, 2724, 2761, 3229, 3314, 3485, 4019, 430...        ...
1  0389, 4538, 4822, 5109, 5118, 51881, 8052, 807...        ...
2  2536, 2724, 29181, 30000, 3051, 34290, 3485, 4...        ...
3  0389, 2442, 2724, 2763, 2875, 2930, 34982, 401...        ...
4  0414, 25002, 2724, 2760, 2859, 2948, 3004, 427...        ...

         albumin_time  albumin_itemid total_protein_urine  \
0                 NaT             NaN                 NaN
1 2150-07-14 02:21:00          1521.0                 NaN
2                 NaT             NaN                 NaN
3                 NaT             NaN                 NaN
4                 NaT             NaN                 NaN

   total_protein_urine_delay  total_protein_urine_time  \
0                        NaN                       NaN
1                        NaN                       NaN
2                        NaN                       NaN
3                        NaN                       NaN
4                        NaN                       NaN

   total_protein_urine_itemid bilirubin  bilirubin_delay  bilirubin_time  \
0                         NaN       NaN              NaN             NaN
1                         NaN       NaN              NaN             NaN
2                         NaN       NaN              NaN             NaN
3                         NaN       NaN              NaN             NaN
4                         NaN       NaN              NaN             NaN

   bilirubin_itemid
0               NaN
1               NaN
2               NaN
3               NaN
4               NaN

[5 rows x 114 columns]
------------------------------------
--- Processing feature : C_reactive_protein
Initial size of table : 5012
After dropping duplicates : 4986
After applying inclusion criteria : 4359
Merged table size : 115345
   subject_id  icustay_id              intime             outtime  creatinine  \
0       77815      239231 2166-09-16 16:45:22 2166-09-29 10:07:21         0.6
1       31558      249349 2150-07-04 03:10:20 2150-07-22 14:13:53         0.6
2       53763      223136 2194-12-19 10:00:17 2194-12-26 23:51:37         0.8
3        7533      208809 2114-03-29 09:36:53 2114-04-08 18:39:51         0.8
4       50772      272254 2110-07-21 12:00:12 2110-07-27 14:20:35         0.8

      creatinine_time        age  length_of_stay    rrt  \
0 2166-09-21 03:21:00  58.363217      305.366389  False
1 2150-07-17 01:36:00  52.688716      443.059167  False
2 2194-12-21 04:12:00  70.937671      181.855556  False
3 2114-04-08 07:06:00  66.441977      249.049444  False
4 2110-07-22 18:14:00  74.513611      146.339722  False

                                           diagnoses  \
0  04104, 2724, 2761, 3229, 3314, 3485, 4019, 430...
1  0389, 4538, 4822, 5109, 5118, 51881, 8052, 807...
2  2536, 2724, 29181, 30000, 3051, 34290, 3485, 4...
3  0389, 2442, 2724, 2763, 2875, 2930, 34982, 401...
4  0414, 25002, 2724, 2760, 2859, 2948, 3004, 427...

             ...              total_protein_urine_time  \
0            ...                                   NaN
1            ...                                   NaN
2            ...                                   NaN
3            ...                                   NaN
4            ...                                   NaN

   total_protein_urine_itemid bilirubin  bilirubin_delay  bilirubin_time  \
0                         NaN       NaN              NaN             NaN
1                         NaN       NaN              NaN             NaN
2                         NaN       NaN              NaN             NaN
3                         NaN       NaN              NaN             NaN
4                         NaN       NaN              NaN             NaN

   bilirubin_itemid c_reactive_protein  c_reactive_protein_delay  \
0               NaN                NaN                       NaN
1               NaN                NaN                       NaN
2               NaN                NaN                       NaN
3               NaN                NaN                       NaN
4               NaN                NaN                       NaN

   c_reactive_protein_time  c_reactive_protein_itemid
0                      NaT                        NaN
1                      NaT                        NaN
2                      NaT                        NaN
3                      NaT                        NaN
4                      NaT                        NaN

[5 rows x 118 columns]

In [7]:
# Dump to file
df_chartevents.to_csv('creatinine_measurements_1.csv')
df_chartevents.head()

,subject_id,icustay_id,intime,outtime,creatinine,creatinine_time,age,length_of_stay,rrt,diagnoses,...,total_protein_urine_time,total_protein_urine_itemid,bilirubin,bilirubin_delay,bilirubin_time,bilirubin_itemid,c_reactive_protein,c_reactive_protein_delay,c_reactive_protein_time,c_reactive_protein_itemid
0,77815,239231,2166-09-16 16:45:22,2166-09-29 10:07:21,0.6,2166-09-21 03:21:00,58.363217,305.366389,False,"04104, 2724, 2761, 3229, 3314, 3485, 4019, 430...",...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaT,NaN
1,31558,249349,2150-07-04 03:10:20,2150-07-22 14:13:53,0.6,2150-07-17 01:36:00,52.688716,443.059167,False,"0389, 4538, 4822, 5109, 5118, 51881, 8052, 807...",...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaT,NaN
2,53763,223136,2194-12-19 10:00:17,2194-12-26 23:51:37,0.8,2194-12-21 04:12:00,70.937671,181.855556,False,"2536, 2724, 29181, 30000, 3051, 34290, 3485, 4...",...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaT,NaN
3,7533,208809,2114-03-29 09:36:53,2114-04-08 18:39:51,0.8,2114-04-08 07:06:00,66.441977,249.049444,False,"0389, 2442, 2724, 2763, 2875, 2930, 34982, 401...",...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaT,NaN
4,50772,272254,2110-07-21 12:00:12,2110-07-27 14:20:35,0.8,2110-07-22 18:14:00,74.513611,146.339722,False,"0414, 25002, 2724, 2760, 2859, 2948, 3004, 427...",...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaT,NaN

# Retrieve missing static information

## !!!! Add missing inclusion criteria here

In [12]:
query = query_schema + """
with cr1 as
(
select
    icu.subject_id, icu.icustay_id, icu.intime, icu.outtime, EXTRACT(EPOCH FROM icu.outtime - icu.intime)/60.0/60.0 as length_of_stay,
    ce.valuenum as creatinine, ce.storetime as creatinine_time,
    adm.ethnicity, adm.diagnosis as diagnosis,
    pat.gender as gender,
    EXTRACT('epoch' from icu.intime - pat.dob) / 60.0 / 60.0 / 24.0 / 365.242 AS age,
    (rrt.icustay_id is null) as rrt,
    diag.icd9_code as diag 
  from icustays icu
  inner join chartevents ce
    on icu.subject_id = ce.subject_id
    and ce.itemid = 220615
    and ce.valuenum is not null
    and ce.storetime between icu.intime and icu.outtime
  inner join patients pat
    ON icu.subject_id = pat.subject_id
  inner join admissions adm
    on icu.subject_id = adm.subject_id
  left outer join rrt 
    on icu.icustay_id = rrt.icustay_id
  inner join diagnoses_icd diag
    on icu.subject_id = diag.subject_id
    and icu.hadm_id = diag.hadm_id
),
cr as
(
select
cr1.subject_id, cr1.icustay_id, cr1.intime, cr1.outtime,
cr1.creatinine, cr1.creatinine_time,
cr1.ethnicity, cr1.diagnosis,
cr1.gender as gender,
cr1.age,
cr1.length_of_stay,
cr1.rrt,
array_agg(cr1.diag) as diagnoses
from cr1
group by cr1.subject_id, cr1.icustay_id, cr1.intime, cr1.outtime, cr1.creatinine, cr1.creatinine_time,
cr1.ethnicity, cr1.diagnosis, cr1.gender, cr1.age, cr1.length_of_stay, cr1.rrt
)
select
cr.subject_id, cr.icustay_id, cr.intime, cr.outtime,
    cr.creatinine, cr.creatinine_time,
    cr.ethnicity, cr.diagnosis, cr.gender,
    cr.age, CASE
                WHEN cr.age >= 15 then 1
            ELSE 0 END
            as inclusion_age,
  cr.length_of_stay, CASE
                        WHEN cr.length_of_stay >= 48 then 1
                     ELSE 0 END
                     as inclusion_length_of_stay,
  cr.rrt, CASE
            WHEN cr.rrt = False then 1
          ELSE 0 END
          as inclusion_rrt,
  cr.diagnoses, CASE
            WHEN cr.diagnoses && """ + icd_str + """ then 0
          ELSE 1 END
          as inclusion_diagnoses
  from cr
"""
df_static = pd.read_sql_query(query, con)
df_static = apply_inclusion_criteria(df_static)

# Convert list of diagnoses into str (required to perform the merge)
df_static.loc[:,'diagnoses'] = df_static['diagnoses'].apply(lambda x: ', '.join(sorted(x)))
print(df_static.head())

Initial size of table : 288243
After dropping duplicates : 152630
After applying inclusion criteria : 115784
   subject_id  icustay_id              intime             outtime  creatinine  \
0       96260      278161 2196-08-31 18:24:20 2196-09-05 15:39:35         1.1
1       92788      241776 2148-12-05 18:00:11 2148-12-23 19:52:48         5.8
3       56854      279535 2201-02-02 11:39:44 2201-03-17 14:55:55         1.8
4       74626      274172 2137-05-06 20:20:31 2137-05-30 15:14:22         1.3
6       90834      280700 2161-05-16 07:30:53 2161-05-20 19:03:29         0.7

      creatinine_time               ethnicity                 diagnosis  \
0 2196-08-31 21:23:00  BLACK/AFRICAN AMERICAN  STEVENS JOHNSON SYNDROME
1 2148-12-09 06:13:00                   WHITE              ENDOCARDITIS
3 2201-02-04 01:46:00                   WHITE               HYPOTENSION
4 2137-05-17 05:09:00                   WHITE                   DYSPNEA
6 2161-05-20 16:27:00                   WHITE                 PNEUMONIA

  gender         age  length_of_stay    rrt  \
0      F   52.079900      117.254167  False
1      M   75.921581      433.876944  False
3      M   79.496569     1035.269722  False
4      M   69.851900      570.897500  False
6      M  300.001952      107.543333  False

                                           diagnoses
0  00845, 04149, 042, 05410, 0785, 1125, 2441, 27...
1  04109, 04112, 0417, 25000, 2639, 2749, 27541, ...
3  0389, 0539, 2724, 2760, 2762, 4019, 412, 42731...
4  1124, 25000, 2724, 2760, 3079, 4019, 41071, 41...
6  0389, 0389, 2809, 2809, 2930, 2930, 29410, 294...

## Remove cell below : bakup

In [ ]:
query = query_schema + """
with cr as
(
select
    icu.subject_id, icu.icustay_id, icu.intime, icu.outtime, EXTRACT(EPOCH FROM icu.outtime - icu.intime)/60.0/60.0 as length_of_stay,
    ce.valuenum as creatinine, ce.storetime as creatinine_time,
    adm.ethnicity, adm.diagnosis,
    pat.gender as gender,
    EXTRACT('epoch' from icu.intime - pat.dob) / 60.0 / 60.0 / 24.0 / 365.242 AS age,
    (rrt.icustay_id is null) as rrt
  from icustays icu
  inner join chartevents ce
    on icu.subject_id = ce.subject_id
    and ce.itemid = 220615
    and ce.valuenum is not null
    and ce.storetime between icu.intime and icu.outtime
  inner join patients pat
    ON icu.subject_id = pat.subject_id
  inner join admissions adm
    on icu.subject_id = adm.subject_id
  left outer join rrt 
    on icu.icustay_id = rrt.icustay_id
)
select
cr.subject_id, cr.icustay_id, cr.intime, cr.outtime,
    cr.creatinine, cr.creatinine_time,
    cr.ethnicity, cr.diagnosis,
    cr.gender,
    cr.age, CASE
                WHEN cr.age >= 15 then 1
            ELSE 0 END
            as inclusion_age,
  cr.length_of_stay, CASE
                        WHEN cr.length_of_stay >= 48 then 1
                     ELSE 0 END
                     as inclusion_length_of_stay,
  cr.rrt, CASE
            WHEN cr.rrt = False then 1
          ELSE 0 END
          as inclusion_rrt
  from cr
"""
df_static = pd.read_sql_query(query, con)
print(df_static.head())
df_static = apply_inclusion_criteria(df_static)
print(df_static.head())

In [13]:
# Dump to file
df_static.to_csv('creatinine_measurements_2.csv')
print(df_static)

        subject_id  icustay_id              intime             outtime  \
0            96260      278161 2196-08-31 18:24:20 2196-09-05 15:39:35
1            92788      241776 2148-12-05 18:00:11 2148-12-23 19:52:48
3            56854      279535 2201-02-02 11:39:44 2201-03-17 14:55:55
4            74626      274172 2137-05-06 20:20:31 2137-05-30 15:14:22
6            90834      280700 2161-05-16 07:30:53 2161-05-20 19:03:29
7            31779      217318 2105-12-10 04:47:35 2105-12-30 17:02:55
8            15311      267389 2148-12-28 17:02:35 2148-12-31 13:09:18
9            73440      203714 2161-11-23 00:55:11 2161-11-25 13:29:43
10           77484      200282 2164-05-03 02:49:44 2164-05-18 13:47:57
11           57935      287815 2146-08-19 21:14:03 2146-08-31 18:48:59
13           90369      235667 2149-11-04 16:38:12 2149-11-11 11:22:02
14           29968      202124 2124-12-12 18:11:02 2125-01-06 18:40:01
15           91046      265671 2156-10-04 10:42:02 2156-10-11 11:03:42
16            5060      231947 2181-02-25 01:35:13 2181-02-28 16:21:05
17           27121      271079 2126-07-25 13:03:51 2126-08-03 17:21:13
21           89148      209627 2112-02-13 23:35:00 2112-03-09 16:54:20
22           31175      265786 2118-01-27 17:53:43 2118-01-31 14:20:36
24           87948      263351 2189-03-08 19:30:59 2189-03-19 19:18:12
28           24084      224516 2175-05-04 16:00:30 2175-05-12 17:31:53
29           98336      268081 2105-03-22 21:36:48 2105-03-27 10:21:14
30           95100      211052 2168-12-16 06:04:09 2169-01-13 15:24:22
31           91529      298366 2188-10-30 02:11:03 2188-11-09 14:44:12
32           90538      233220 2146-01-31 02:20:29 2146-02-25 18:37:17
34           31942      282563 2126-09-19 22:34:04 2126-10-25 14:06:07
36           48388      275794 2157-08-25 07:12:50 2157-10-24 16:14:37
37           15563      280548 2154-08-06 16:13:37 2154-08-09 16:42:07
38           30026      207605 2170-01-21 01:13:40 2170-03-07 15:41:10
42           98276      294794 2185-10-16 00:58:13 2185-10-31 17:02:20
46           25581      218823 2181-01-20 07:23:06 2181-01-25 17:44:29
48           47874      204983 2177-08-06 15:26:46 2177-08-14 16:24:25
...            ...         ...                 ...                 ...
288103       59276      272977 2166-09-25 17:17:51 2166-10-03 17:28:56
288105       73388      221399 2124-07-23 14:00:54 2124-08-23 16:27:14
288106       54187      246413 2112-04-28 19:36:19 2112-04-30 21:32:51
288108       62776      249206 2122-02-18 06:48:59 2122-02-20 16:17:28
288127       27610      225240 2119-09-12 22:41:10 2119-09-16 21:27:18
288129       98573      290931 2195-11-30 17:14:43 2196-01-25 17:10:02
288131       96625      236342 2176-07-15 01:44:31 2176-07-30 11:34:05
288132       68919      229138 2152-08-03 15:24:45 2152-08-17 22:42:37
288136       81461      263200 2146-12-23 20:51:19 2146-12-26 22:56:16
288137       93379      209917 2180-10-30 20:22:34 2180-11-06 16:48:25
288142       69343      248978 2126-03-22 05:13:17 2126-04-06 18:48:59
288147       54209      291512 2175-08-19 09:53:42 2175-08-22 17:35:15
288149       78605      204551 2150-07-21 02:27:02 2150-08-19 14:49:19
288156       64314      209333 2183-01-30 23:01:27 2183-02-15 21:13:41
288164       65650      288116 2196-06-04 17:48:40 2196-06-28 23:42:30
288168       48023      250302 2129-11-14 10:25:37 2129-11-16 14:29:13
288169       76265      291993 2187-09-25 02:13:31 2187-09-27 18:39:29
288173       94778      245492 2197-08-19 14:32:51 2197-09-15 00:05:53
288183       30191      232219 2183-06-09 00:48:36 2183-06-14 20:08:25
288184       47591      283415 2169-01-26 07:06:38 2169-02-03 16:57:22
288192       29793      299388 2182-06-20 14:40:44 2182-07-02 16:32:13
288202       84838      299386 2166-05-11 22:47:21 2166-05-19 04:25:58
288203       76693      295853 2165-03-26 17:05:42 2165-04-09 12:09:45
288208       45657      281876 2109-09-05 17:59:55 2109-09-10 17:54:28
288215       88696      297877 2135-07-31 18:47:20 2135-08-09 16:11:22
288222       74696      220469 2123-06-23 08:18:51 2123-07-08 22:19:55
288226       58662      253584 2120-01-03 16:23:31 2120-03-22 19:00:25
288227       49446      269775 2115-01-03 20:37:48 2115-01-07 18:03:36
288228       73740      265944 2134-12-22 06:05:08 2135-01-01 00:44:51
288232       59494      265223 2128-05-24 09:34:40 2128-05-26 16:19:12

        creatinine     creatinine_time                   ethnicity  \
0              1.1 2196-08-31 21:23:00      BLACK/AFRICAN AMERICAN
1              5.8 2148-12-09 06:13:00                       WHITE
3              1.8 2201-02-04 01:46:00                       WHITE
4              1.3 2137-05-17 05:09:00                       WHITE
6              0.7 2161-05-20 16:27:00                       WHITE
7              1.5 2105-12-12 04:19:00                       WHITE
8              2.3 2148-12-29 13:42:00                       WHITE
9              1.3 2161-11-23 03:48:00                       WHITE
10             1.1 2164-05-16 02:37:00                       WHITE
11             1.0 2146-08-23 04:19:00      BLACK/AFRICAN AMERICAN
13             0.8 2149-11-06 03:33:00      BLACK/AFRICAN AMERICAN
14             1.7 2124-12-30 05:51:00                       WHITE
15             0.7 2156-10-11 02:36:00                       WHITE
16             0.8 2181-02-25 18:32:00                       WHITE
17             1.7 2126-07-27 01:02:00                       WHITE
21             2.0 2112-03-08 04:06:00                       WHITE
22             1.1 2118-01-28 16:15:00                       WHITE
24             0.5 2189-03-12 06:51:00      BLACK/AFRICAN AMERICAN
28             0.4 2175-05-11 16:48:00                       WHITE
29             1.1 2105-03-27 06:02:00                       WHITE
30             0.4 2169-01-06 19:37:00       UNKNOWN/NOT SPECIFIED
31             1.1 2188-11-08 07:59:00                       WHITE
32             0.9 2146-02-23 16:35:00                       WHITE
34             0.5 2126-10-02 18:30:00                       WHITE
36             0.7 2157-09-24 04:42:00                       WHITE
37             2.6 2154-08-06 18:30:00                       WHITE
38             0.5 2170-02-08 12:59:00                       OTHER
42             0.4 2185-10-21 04:13:00                       OTHER
46             0.7 2181-01-24 21:09:00                       WHITE
48             0.7 2177-08-11 03:35:00                       WHITE
...            ...                 ...                         ...
288103         1.0 2166-10-01 04:15:00                       WHITE
288105         0.3 2124-07-29 17:59:00          BLACK/CAPE VERDEAN
288106         1.5 2112-04-30 05:01:00                       WHITE
288108         0.6 2122-02-19 01:56:00                       WHITE
288127         0.5 2119-09-13 00:09:00                       WHITE
288129         1.5 2195-12-25 12:05:00                       WHITE
288131         0.7 2176-07-28 02:57:00                       WHITE
288132         0.6 2152-08-09 15:40:00                       WHITE
288136         0.7 2146-12-25 03:27:00                       WHITE
288137         1.1 2180-10-31 16:01:00            UNABLE TO OBTAIN
288142         1.7 2126-03-23 03:41:00       UNKNOWN/NOT SPECIFIED
288147         0.9 2175-08-20 13:10:00                       WHITE
288149         0.5 2150-07-30 04:43:00                       WHITE
288156         0.5 2183-02-10 06:13:00                       WHITE
288164         3.8 2196-06-06 05:33:00            UNABLE TO OBTAIN
288168         0.8 2129-11-15 03:42:00                       WHITE
288169         0.7 2187-09-25 06:32:00                       WHITE
288173         4.5 2197-09-01 03:03:00            UNABLE TO OBTAIN
288183         0.9 2183-06-09 03:43:00                       WHITE
288184         0.7 2169-01-31 02:49:00        MULTI RACE ETHNICITY
288192         1.0 2182-06-25 02:29:00                       WHITE
288202         4.5 2166-05-16 04:48:00  PATIENT DECLINED TO ANSWER
288203         2.4 2165-03-28 14:58:00                       WHITE
288208         1.5 2109-09-06 05:07:00                       WHITE
288215         1.2 2135-08-01 01:45:00            UNABLE TO OBTAIN
288222         0.8 2123-06-27 15:48:00             ASIAN - CHINESE
288226         3.8 2120-01-03 23:52:00                       WHITE
288227         2.7 2115-01-06 07:04:00                       WHITE
288228         0.9 2134-12-29 03:44:00                       WHITE
288232         1.2 2128-05-24 17:44:00                       WHITE

                                                diagnosis gender         age  \
0                                STEVENS JOHNSON SYNDROME      F   52.079900
1                                            ENDOCARDITIS      M   75.921581
3                                             HYPOTENSION      M   79.496569
4                                                 DYSPNEA      M   69.851900
6                                               PNEUMONIA      M  300.001952
7                                                HCT DROP      M   63.336636
8                   HYPERGLYCEMIA;PNEUMONIA;RENAL FAILURE      F   81.564306
9                  URINARY TRACT INFECTION;PYELONEPHRITIS      F   33.572367
10                                         LOWER GI BLEED      F   78.058158
11                                 GASTROINTESTINAL BLEED      M   62.867591
13                       TRACHEOMALASIA;FAILED EXTUBATION      F   76.584000
14                                                 ANEMIA      M   57.949956
15      AORTIC STENOSIS\AVR; ? CORONARY ARTERY BYPASS ...      F   70.620153
16                                      SUICIDAL IDEATION      M   36.411656
17                             NONHODGKINS LYMPHOMA/FEVER      M   60.583242
21                                             DISSECTION      M   64.477751
22                              INGESTION OF FOREIGN BODY      M   39.239041
24                                  ALTERED MENTAL STATUS      F   54.445582
28                           UROSEPSIS; OBSTRUCTING STONE      F   53.862007
29                                CORONARY ARTERY DISEASE      F   59.864146
30                                URINARY TRACT INFECTION      F   85.656230
31                           CORONARY ARTERY DISEASE\CATH      F   72.776655
32                                           PANCREATITIS      M   28.148728
34                                  ALTERED MENTAL STATUS      M   53.649198
36                                                  FEVER      M   57.721457
37                      ST ELEVATED MYOCARDIAL INFARCTION      M  300.002946
38                                  HEPATITIS C;CIRRHOSIS      M   47.992978
42                                     BRAIN ANEURYSM/SDA      F   53.778154
46                                          FEVER,DYSPNEA      M   49.491317
48                               TRACHEOBROCHOMALACIA/SDA      F   56.323324
...                                                   ...    ...         ...
288103                                   STROKE;TELEMETRY      M   82.254288
288105                                          PNEUMONIA      F   44.810246
288106                                           LIVER TX      M   53.446255
288108                              DIABETIC KETOACIDOSIS      M   62.055525
288127                                  ETOH INTOXICATION      M   51.242588
288129                     HEPATICOCELLULAR CARCINOMA/SDA      M   64.301801
288131                                  C5 BURST FRACTURE      M   34.270628
288132                                       BLUNT TRAUMA      M   41.732994
288136                                LUMBAR STENOSIS/SDA      M   65.000380
288137                               HYPERTENSIVE URGENCY      F   79.593390
288142                       S/P FALL;RESPIRATORY FAILURE      M   60.886255
288147  NON ST ELEVATION MYOCARDIAL INFARCTION;ACUTE C...      F   87.121449
288149                                           GI BLEED      F   85.258820
288156                                             SEPSIS      M   38.434680
288164                                     BLADDER CANCER      M   88.535114
288168        AORTIC VALVE DISORDER\BENTAL PROCEDURE /SDA      F   46.296522
288169            OBSTRUCTIVE JAUNDICE;CHOLANGIOCARCINOMA      F   52.573616
288173                                           OVERDOSE      F   22.980945
288183                            INTRACRANIAL HEMORRHAGE      F   84.787713
288184                                       S/P MVC, SAH      M   18.481709
288192                   ASTHMA;CHRONIC OBST PULM DISEASE      F   64.818974
288202                                       KIDNEY STONE      M   83.076288
288203                         S/P MOTOR VEHICLE ACCIDENT      F   79.970848
288208  HYPOTENSION;NEW CARDIOMYOPATHY;RESPIRATORY DIS...      M   68.058301
288215                              CENTRAL CORD SYNDROME      M   74.456889
288222                                         BRAIN MASS      M   62.742911
288226                                    HEPATIC FAILURE      F   24.382965
288227                           CONGESTIVE HEART FAILURE      F   68.589756
288228                                         HEAD BLEED      F   46.287813
288232  CORONARY ARTERY DISEASE\CORONARY ARTERY BYPASS...      M   61.144116

        length_of_stay    rrt  \
0           117.254167  False
1           433.876944  False
3          1035.269722  False
4           570.897500  False
6           107.543333  False
7           492.255556  False
8            68.111944  False
9            60.575556  False
10          370.970278  False
11          285.582222  False
13          162.730556  False
14          600.483056  False
15          168.361111  False
16           86.764444  False
17          220.289444  False
21          593.322222  False
22           92.448056  False
24          263.786944  False
28          193.523056  False
29          108.740556  False
30          681.336944  False
31          252.552500  False
32          616.280000  False
34          855.534167  False
36         1449.029722  False
37           72.475000  False
38         1094.458333  False
42          376.068611  False
46          130.356389  False
48          192.960833  False
...                ...    ...
288103      192.184722  False
288105      746.438889  False
288106       49.942222  False
288108       57.474722  False
288127       94.768889  False
288129     1343.921944  False
288131      369.826111  False
288132      343.297778  False
288136       74.082500  False
288137      164.430833  False
288142      373.595000  False
288147       79.692500  False
288149      708.371389  False
288156      382.203889  False
288164      581.897222  False
288168       52.060000  False
288169       64.432778  False
288173      633.550556  False
288183      139.330278  False
288184      201.845556  False
288192      289.858056  False
288202      173.643611  False
288203      331.067500  False
288208      119.909167  False
288215      213.400556  False
288222      374.017778  False
288226     1898.615000  False
288227       93.430000  False
288228      234.661944  False
288232       54.742222  False

                                                diagnoses
0       00845, 04149, 042, 05410, 0785, 1125, 2441, 27...
1       04109, 04112, 0417, 25000, 2639, 2749, 27541, ...
3       0389, 0539, 2724, 2760, 2762, 4019, 412, 42731...
4       1124, 25000, 2724, 2760, 3079, 4019, 41071, 41...
6       0389, 0389, 2809, 2809, 2930, 2930, 29410, 294...
7       04119, 1129, 1179, 2449, 2760, 2762, 27669, 28...
8       0413, 2449, 25022, 2724, 2749, 27651, 29411, 3...
9       1968, 2761, 2762, 27651, 2875, 5119, 570, 5849...
10      0389, 2409, 2851, 2875, 4019, 44020, 51881, 56...
11      0389, 2449, 2767, 2859, 2875, 28800, 30391, 40...
13      04185, 25000, 27800, 30001, 32723, 4019, 51883...
14      00845, 00845, 0389, 0389, 2639, 2639, 2762, 27...
15      2724, 2859, 34290, 41401, 4241, 42789, 43411, ...
16      07032, 07054, 27651, 29181, 30540, 30550, 3575...
17      0380, 20280, 2753, 27542, 2760, 27652, 28521, ...
21      2760, 2851, 2875, 28860, 2930, 29630, 30000, 3...
22      2920, 29281, 29590, 29680, 3003, 30410, 30500,...
24      0389, 2440, 25000, 2639, 2724, 4011, 486, 5188...
28      00845, 03842, 03849, 2449, 24900, 2761, 2764, ...
29      04104, 2449, 25000, 2761, 2883, 3004, 4019, 41...
30      00845, 41401, 4148, 41519, 4263, 42731, 42789,...
31      25000, 2851, 4019, 41071, 41401, 4160, 4240, 5...
32      0389, 25000, 2761, 2766, 27801, 2867, 2875, 28...
34      00845, 04111, 0414, 0417, 07030, 1105, 25000, ...
36      0380, 0380, 135, 135, 25000, 25000, 25541, 255...
37      2724, 40390, 41041, 412, 41401, 41404, 42731, ...
38      03849, 0414, 07032, 2841, 42731, 42732, 4329, ...
42      3051, 3314, 3485, 430, 4373, 5184, 51851, 7806...
46      00845, 042, 2753, 2859, 34982, 3569, 49121, 51...
48      2449, 25000, 2720, 2762, 27652, 496, 51919, 53...
...                                                   ...
288103  2724, 34281, 40390, 4264, 42731, 431, 43401, 4...
288105  00845, 0389, 04104, 1122, 2535, 2760, 2761, 27...
288106  07054, 1550, 24900, 27669, 3051, 4556, 4561, 5...
288108  25002, 2851, 3004, 3051, 33394, 41189, 412, 41...
288127  27652, 2910, 30301, 3051, 30520, 78039, 78659,...
288129  0389, 07044, 1125, 1550, 19889, 261, 2762, 286...
288131            30500, 34404, 5185, 80609, 99731, E8830
288132  00845, 2724, 2762, 29181, 2920, 30391, 30400, ...
288136  2851, 3320, 33812, 3384, 34931, 5559, 5571, 72...
288137  25000, 2724, 2762, 2859, 2875, 4019, 41071, 41...
288142  00845, 25000, 2762, 2767, 27801, 27803, 2859, ...
288147  04112, 25050, 25060, 25080, 3572, 36201, 4019,...
288149  25000, 2869, 4019, 42731, 43411, 496, 5185, 56...
288156  03812, 07070, 27800, 2858, 2866, 28749, 30391,...
288164  0389, 04119, 1888, 2724, 2859, 2866, 2948, 401...
288168  27651, 27800, 2851, 4019, 4241, 4271, 42741, 4...
288169  1551, 2449, 2851, 3051, 34690, 4589, 4590, 493...
288173  2511, 2760, 2762, 28521, 29620, 29650, 34400, ...
288183  0414, 2930, 3314, 4019, 42689, 431, 4414, 496,...
288184  2875, 28860, 30500, 3101, 3380, 48249, 78060, ...
288192  0389, 2449, 2851, 32723, 4019, 41071, 481, 491...
288202  00845, 0389, 25000, 2630, 27652, 2859, 4011, 4...
288203  25080, 2720, 2761, 2767, 27800, 2851, 2875, 28...
288208  0389, 0414, 2749, 28860, 29181, 30391, 4019, 4...
288215  24990, 28860, 3659, 4019, 42731, 42789, 496, 5...
288222  0549, 2639, 2724, 2761, 3202, 3240, 3314, 3485...
288226  0389, 28959, 5119, 51881, 51909, 52689, 570, 5...
288227  2449, 25000, 40390, 412, 41400, 42731, 4280, 4...
288228  04102, 04104, 1890, 2411, 25000, 2763, 27800, ...
288232  2449, 25000, 2724, 2749, 2762, 27669, 27801, 3...

[115784 rows x 13 columns]

# Merge tables into one

In [14]:
print('Chartevents :')
print(df_chartevents.shape)
print(df_chartevents.columns.values)
print('')

print('Static:')
print(df_static.shape)
print(df_static.columns.values)

Chartevents :
(115345, 118)
['subject_id' 'icustay_id' 'intime' 'outtime' 'creatinine'
 'creatinine_time' 'age' 'length_of_stay' 'rrt' 'diagnoses'
 'arterial_pressure_systolic' 'arterial_pressure_systolic_delay'
 'arterial_pressure_systolic_time' 'arterial_pressure_systolic_itemid'
 'arterial_pressure_diastolic' 'arterial_pressure_diastolic_delay'
 'arterial_pressure_diastolic_time' 'arterial_pressure_diastolic_itemid'
 'heart_rate' 'heart_rate_delay' 'heart_rate_time' 'heart_rate_itemid'
 'weight_daily' 'weight_daily_delay' 'weight_daily_time'
 'weight_daily_itemid' 'temperature' 'temperature_delay' 'temperature_time'
 'temperature_itemid' 'urine_output' 'urine_output_delay'
 'urine_output_time' 'urine_output_itemid' 'day_urine_output'
 'day_urine_output_delay' 'day_urine_output_time' 'day_urine_output_itemid'
 'scr' 'scr_delay' 'scr_time' 'scr_itemid' 'sodium' 'sodium_delay'
 'sodium_time' 'sodium_itemid' 'potassium' 'potassium_delay'
 'potassium_time' 'potassium_itemid' 'calcium' 'calcium_delay'
 'calcium_time' 'calcium_itemid' 'phosphor' 'phosphor_delay'
 'phosphor_time' 'phosphor_itemid' 'hemoglobine' 'hemoglobine_delay'
 'hemoglobine_time' 'hemoglobine_itemid' 'uric_acid' 'uric_acid_delay'
 'uric_acid_time' 'uric_acid_itemid' 'chloride' 'chloride_delay'
 'chloride_time' 'chloride_itemid' 'platelet_count' 'platelet_count_delay'
 'platelet_count_time' 'platelet_count_itemid' 'ph_blood' 'ph_blood_delay'
 'ph_blood_time' 'ph_blood_itemid' 'fibrinogen' 'fibrinogen_delay'
 'fibrinogen_time' 'fibrinogen_itemid' 'urinary_sodium'
 'urinary_sodium_delay' 'urinary_sodium_time' 'urinary_sodium_itemid'
 'urinary_potassium' 'urinary_potassium_delay' 'urinary_potassium_time'
 'urinary_potassium_itemid' 'urine_creatinin' 'urine_creatinin_delay'
 'urine_creatinin_time' 'urine_creatinin_itemid' 'alkaline_phospatase'
 'alkaline_phospatase_delay' 'alkaline_phospatase_time'
 'alkaline_phospatase_itemid' 'total_protein_blood'
 'total_protein_blood_delay' 'total_protein_blood_time'
 'total_protein_blood_itemid' 'albumin' 'albumin_delay' 'albumin_time'
 'albumin_itemid' 'total_protein_urine' 'total_protein_urine_delay'
 'total_protein_urine_time' 'total_protein_urine_itemid' 'bilirubin'
 'bilirubin_delay' 'bilirubin_time' 'bilirubin_itemid' 'c_reactive_protein'
 'c_reactive_protein_delay' 'c_reactive_protein_time'
 'c_reactive_protein_itemid']

Static:
(115784, 13)
['subject_id' 'icustay_id' 'intime' 'outtime' 'creatinine'
 'creatinine_time' 'ethnicity' 'diagnosis' 'gender' 'age' 'length_of_stay'
 'rrt' 'diagnoses']

In [15]:
merged_df = pd.merge(df_chartevents,df_static,on=['subject_id', 'icustay_id', 'intime', 'outtime', 'creatinine',
       'creatinine_time', 'age', 'length_of_stay', 'rrt', 'diagnoses'],how='outer')

# Remove columns that are not features (except icustay_id and patient_id that are needed to build the table with labels)

In [17]:
# REMOVE COLUMNS THAT WERE USED FOR INCLUSION CRITERIA BUT THAT ARE NOT AVAILABLE FEATURES FOR THE PREDICTION
# REMOVE ICUSTAY_IDS FOR WHICH THERE IS ONLY ONE MEASUREMENT OF CREATININE

print('Number of lines : ' + str(merged_df.shape[0]))
to_remove = ['intime','outtime','length_of_stay','rrt','diagnoses']
for c in to_remove:
    if (c in merged_df.columns.values): merged_df = merged_df.drop(c,axis=1)
        
# Remove columns with _time suffix
to_remove = [i for i in merged_df.columns.values if '_time' in i]
for c in to_remove:
    if (c in merged_df.columns.values): merged_df = merged_df.drop(c,axis=1)

# Remove columns with _itemid suffix
to_remove = [i for i in merged_df.columns.values if '_itemid' in i]
for c in to_remove:
    if (c in merged_df.columns.values): merged_df = merged_df.drop(c,axis=1)

# Remove icustay_ids for which there's only one measurement of creatinine
count_mes = merged_df['icustay_id'].value_counts()
to_remove = count_mes.index.values[count_mes==1]
for i in to_remove:
    merged_df = merged_df.loc[merged_df['icustay_id']!=i,:]

print('After dropping unique measurements of creatinine : ' + str(merged_df.shape[0]))
merged_df.head()

Number of lines : 119104
After dropping unique measurements of creatinine : 119037

,subject_id,icustay_id,creatinine,age,arterial_pressure_systolic,arterial_pressure_systolic_delay,arterial_pressure_diastolic,arterial_pressure_diastolic_delay,heart_rate,heart_rate_delay,...,albumin_delay,total_protein_urine,total_protein_urine_delay,bilirubin,bilirubin_delay,c_reactive_protein,c_reactive_protein_delay,ethnicity,diagnosis,gender
0,77815,239231,0.6,58.363217,155.0,1800.0,75.0,1800.0,58.0,1800.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,WHITE,INTRACRANIAL HEMORRHAGE,M
1,31558,249349,0.6,52.688716,165.0,1440.0,75.0,1440.0,102.0,1440.0,...,256500.0,NaN,NaN,NaN,NaN,NaN,NaN,WHITE,S/P BOATING ACCIDENT,M
2,53763,223136,0.8,70.937671,162.0,600.0,76.0,600.0,101.0,600.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,WHITE,HEAD BLEED,M
3,7533,208809,0.8,66.441977,98.0,3060.0,51.0,3060.0,95.0,3060.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,ASIAN - KOREAN,S/P ARREST,F
4,50772,272254,0.8,74.513611,124.0,4320.0,60.0,4320.0,87.0,4320.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,WHITE,ALTERED MENTAL STATUS,F

**WARNING : the columns named "..._itemid" can be used to filter on the itemid used to retrieve the feature after the query has been done. But these are not features.**

In [18]:
# Dump to file
merged_df.to_csv('creatinine_measurements_merged.csv')
print(merged_df)

        subject_id  icustay_id  creatinine         age  \
0            77815      239231         0.6   58.363217
1            31558      249349         0.6   52.688716
2            53763      223136         0.8   70.937671
3             7533      208809         0.8   66.441977
4            50772      272254         0.8   74.513611
5            89500      287743         1.1   68.764969
6            76602      204448         1.2   81.705970
7            29495      252299         0.7   63.776649
8            60897      282836         2.0   67.864024
9            16275      256649         0.5  309.637886
10           45995      296994         0.7  300.003783
11           29755      263813         0.8  300.003425
12           85141      251157         0.7   72.399244
13           61587      226920         0.6   85.678008
14           97569      230777         1.9   58.298071
15           64230      208889         2.9   71.375963
16           27172      248284         1.4   53.707219
17           55672      224244         0.6   55.968185
18           25256      249736         0.6   39.162096
19           26502      234776         2.7   79.701538
20           60235      266308         1.7   73.593425
21           13806      215159         0.8   72.826190
22           98196      246311         1.0   74.303777
23           75100      216048         1.0   39.815947
24           81232      241161         0.9   80.477997
25           96518      200349         1.4   81.616203
26           59997      211005         0.3   57.185530
27           31813      246253         1.3   49.274446
28           48461      220696         0.6   42.971672
29           48833      266634         0.5   60.185586
...            ...         ...         ...         ...
119074       70476      279003         1.7   81.691668
119075       63442      293443         2.6   76.494253
119076       58917      245517         4.3   57.293840
119077       30669      228596         2.2   76.329374
119078       10932      230834         0.6   23.613526
119079       27179      209080         1.1  300.055498
119080       84469      220967         1.1   72.924362
119081       58576      279323         3.4   86.474806
119082       43690      296373         0.8   79.346815
119083       76126      273038         0.8   79.832095
119084       68785      271886         0.9   35.563062
119085       59677      294624         0.9  300.148203
119086       76418      244455         2.7   62.272330
119087       27425      251790         0.7   62.061811
119088       98103      237328         1.2   46.438409
119089       53355      252358         1.8   80.236697
119090       29664      278889         1.7   53.537919
119091       93381      205032         0.9   53.458256
119092       70337      219943         0.7   35.366076
119093       82217      285356         0.4   64.306048
119094       29664      278889         1.6   53.537919
119095       29664      278889         1.8   53.537919
119096       63130      294356         0.9   76.887439
119097       31212      248301         0.6   66.362605
119098       80935      249722         0.6   62.095177
119099       75510      228239         4.5   78.227511
119100       63298      279309         0.7   83.373831
119101       65351      269757         0.8   71.363753
119102       64197      244278         0.7   79.186400
119103       72324      223884         0.9  300.005130

        arterial_pressure_systolic  arterial_pressure_systolic_delay  \
0                            155.0                            1800.0
1                            165.0                            1440.0
2                            162.0                             600.0
3                             98.0                            3060.0
4                            124.0                            4320.0
5                            103.0                            4080.0
6                             95.0                            1860.0
7                            113.0                            1740.0
8                             84.0                            4200.0
9                            105.0                            1320.0
10                           114.0                            2460.0
11                           111.0                            3360.0
12                           120.0                              60.0
13                           110.0                            6180.0
14                           131.0                             600.0
15                           147.0                             600.0
16                           144.0                             900.0
17                           116.0                            2820.0
18                           106.0                            2040.0
19                           109.0                            1980.0
20                           129.0                            2340.0
21                            95.0                            2280.0
22                           148.0                            1860.0
23                            90.0                               0.0
24                            88.0                             540.0
25                           144.0                             720.0
26                           103.0                            1740.0
27                           127.0                            1980.0
28                           120.0                            1080.0
29                           132.0                             240.0
...                            ...                               ...
119074                         NaN                               NaN
119075                         NaN                               NaN
119076                         NaN                               NaN
119077                         NaN                               NaN
119078                         NaN                               NaN
119079                         NaN                               NaN
119080                         NaN                               NaN
119081                         NaN                               NaN
119082                         NaN                               NaN
119083                         NaN                               NaN
119084                         NaN                               NaN
119085                         NaN                               NaN
119086                         NaN                               NaN
119087                         NaN                               NaN
119088                         NaN                               NaN
119089                         NaN                               NaN
119090                         NaN                               NaN
119091                         NaN                               NaN
119092                         NaN                               NaN
119093                         NaN                               NaN
119094                         NaN                               NaN
119095                         NaN                               NaN
119096                         NaN                               NaN
119097                         NaN                               NaN
119098                         NaN                               NaN
119099                         NaN                               NaN
119100                         NaN                               NaN
119101                         NaN                               NaN
119102                         NaN                               NaN
119103                         NaN                               NaN

        arterial_pressure_diastolic  arterial_pressure_diastolic_delay  \
0                              75.0                             1800.0
1                              75.0                             1440.0
2                              76.0                              600.0
3                              51.0                             3060.0
4                              60.0                             4320.0
5                              59.0                             4080.0
6                              33.0                             1860.0
7                              72.0                             1740.0
8                              50.0                             4200.0
9                              80.0                             1320.0
10                             79.0                             2460.0
11                             41.0                             3360.0
12                             74.0                               60.0
13                             57.0                             6180.0
14                             46.0                              600.0
15                             41.0                              600.0
16                             75.0                              900.0
17                             62.0                             2820.0
18                             73.0                             2040.0
19                             79.0                             1980.0
20                             72.0                             2340.0
21                             41.0                             2280.0
22                             79.0                             1860.0
23                             67.0                                0.0
24                             48.0                              540.0
25                             59.0                              720.0
26                             53.0                             1740.0
27                             60.0                             1980.0
28                             62.0                             1080.0
29                             74.0                              240.0
...                             ...                                ...
119074                          NaN                                NaN
119075                          NaN                                NaN
119076                          NaN                                NaN
119077                          NaN                                NaN
119078                          NaN                                NaN
119079                          NaN                                NaN
119080                          NaN                                NaN
119081                          NaN                                NaN
119082                          NaN                                NaN
119083                          NaN                                NaN
119084                          NaN                                NaN
119085                          NaN                                NaN
119086                          NaN                                NaN
119087                          NaN                                NaN
119088                          NaN                                NaN
119089                          NaN                                NaN
119090                          NaN                                NaN
119091                          NaN                                NaN
119092                          NaN                                NaN
119093                          NaN                                NaN
119094                          NaN                                NaN
119095                          NaN                                NaN
119096                          NaN                                NaN
119097                          NaN                                NaN
119098                          NaN                                NaN
119099                          NaN                                NaN
119100                          NaN                                NaN
119101                          NaN                                NaN
119102                          NaN                                NaN
119103                          NaN                                NaN

        heart_rate  heart_rate_delay   ...    albumin_delay  \
0             58.0            1800.0   ...              NaN
1            102.0            1440.0   ...         256500.0
2            101.0             600.0   ...              NaN
3             95.0            3060.0   ...              NaN
4             87.0            4320.0   ...              NaN
5             79.0            4080.0   ...              NaN
6             60.0            1920.0   ...              NaN
7             79.0            1740.0   ...          42480.0
8            104.0            4260.0   ...              NaN
9             93.0            1320.0   ...              NaN
10            88.0            2460.0   ...              NaN
11            64.0            3360.0   ...              NaN
12           103.0              60.0   ...              NaN
13            93.0            4440.0   ...              NaN
14            73.0             600.0   ...              NaN
15            54.0             600.0   ...              NaN
16            67.0             900.0   ...        1386540.0
17           123.0            2820.0   ...              NaN
18           112.0            2040.0   ...              NaN
19           123.0            1980.0   ...              NaN
20           112.0            2700.0   ...              NaN
21           101.0            2280.0   ...         403260.0
22           103.0            1860.0   ...              NaN
23            75.0               0.0   ...              NaN
24            86.0             540.0   ...              NaN
25            85.0             720.0   ...              NaN
26            72.0            1740.0   ...              NaN
27           105.0            1980.0   ...         176460.0
28            76.0            1080.0   ...              NaN
29            93.0             300.0   ...              NaN
...            ...               ...   ...              ...
119074         NaN               NaN   ...              NaN
119075         NaN               NaN   ...              NaN
119076         NaN               NaN   ...              NaN
119077         NaN               NaN   ...              NaN
119078         NaN               NaN   ...              NaN
119079         NaN               NaN   ...              NaN
119080         NaN               NaN   ...              NaN
119081         NaN               NaN   ...              NaN
119082         NaN               NaN   ...              NaN
119083         NaN               NaN   ...              NaN
119084         NaN               NaN   ...              NaN
119085         NaN               NaN   ...              NaN
119086         NaN               NaN   ...              NaN
119087         NaN               NaN   ...              NaN
119088         NaN               NaN   ...              NaN
119089         NaN               NaN   ...              NaN
119090         NaN               NaN   ...              NaN
119091         NaN               NaN   ...              NaN
119092         NaN               NaN   ...              NaN
119093         NaN               NaN   ...              NaN
119094         NaN               NaN   ...              NaN
119095         NaN               NaN   ...              NaN
119096         NaN               NaN   ...              NaN
119097         NaN               NaN   ...              NaN
119098         NaN               NaN   ...              NaN
119099         NaN               NaN   ...              NaN
119100         NaN               NaN   ...              NaN
119101         NaN               NaN   ...              NaN
119102         NaN               NaN   ...              NaN
119103         NaN               NaN   ...              NaN

        total_protein_urine  total_protein_urine_delay  bilirubin  \
0                       NaN                        NaN        NaN
1                       NaN                        NaN        NaN
2                       NaN                        NaN        NaN
3                       NaN                        NaN        NaN
4                       NaN                        NaN        NaN
5                       NaN                        NaN        NaN
6                       NaN                        NaN        NaN
7                       NaN                        NaN        NaN
8                       NaN                        NaN        NaN
9                       NaN                        NaN        NaN
10                      NaN                        NaN        NaN
11                      NaN                        NaN        NaN
12                      NaN                        NaN        NaN
13                      NaN                        NaN        NaN
14                      NaN                        NaN        NaN
15                      NaN                        NaN        NaN
16                      NaN                        NaN        NaN
17                      NaN                        NaN        NaN
18                      NaN                        NaN        NaN
19                      NaN                        NaN        NaN
20                      NaN                        NaN        NaN
21                      NaN                        NaN        NaN
22                      NaN                        NaN        NaN
23                      NaN                        NaN        NaN
24                      NaN                        NaN        NaN
25                      NaN                        NaN        NaN
26                      NaN                        NaN        NaN
27                      NaN                        NaN        NaN
28                      NaN                        NaN        NaN
29                      NaN                        NaN        NaN
...                     ...                        ...        ...
119074                  NaN                        NaN        NaN
119075                  NaN                        NaN        NaN
119076                  NaN                        NaN        NaN
119077                  NaN                        NaN        NaN
119078                  NaN                        NaN        NaN
119079                  NaN                        NaN        NaN
119080                  NaN                        NaN        NaN
119081                  NaN                        NaN        NaN
119082                  NaN                        NaN        NaN
119083                  NaN                        NaN        NaN
119084                  NaN                        NaN        NaN
119085                  NaN                        NaN        NaN
119086                  NaN                        NaN        NaN
119087                  NaN                        NaN        NaN
119088                  NaN                        NaN        NaN
119089                  NaN                        NaN        NaN
119090                  NaN                        NaN        NaN
119091                  NaN                        NaN        NaN
119092                  NaN                        NaN        NaN
119093                  NaN                        NaN        NaN
119094                  NaN                        NaN        NaN
119095                  NaN                        NaN        NaN
119096                  NaN                        NaN        NaN
119097                  NaN                        NaN        NaN
119098                  NaN                        NaN        NaN
119099                  NaN                        NaN        NaN
119100                  NaN                        NaN        NaN
119101                  NaN                        NaN        NaN
119102                  NaN                        NaN        NaN
119103                  NaN                        NaN        NaN

       bilirubin_delay c_reactive_protein c_reactive_protein_delay  \