In [1]:
# Import libraries
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
import psycopg2

# below imports are used to print out pretty pandas dataframes
from IPython.display import display, HTML

%matplotlib inline
plt.style.use('ggplot')

In [2]:
# information used to create a database connection
sqluser = 'postgres'
dbname = 'mimic'
schema_name = 'mimiciii'

# Connect to postgres with a copy of the MIMIC-III database
con = psycopg2.connect(dbname=dbname, user=sqluser)

# the below statement is prepended to queries to ensure they select from the right schema
query_schema = 'set search_path to ' + schema_name + ';'

In [3]:
def apply_inclusion_criteria(df):
    print('Initial size of table : ' + str(df.shape[0]))
    df = df.drop_duplicates(['icustay_id','creatinine_time'])
    print('After dropping duplicates : ' + str(df.shape[0]))
    criteria_list = [i for i in df.columns.values if 'inclusion' in i]
    for c in criteria_list:
        df = df.loc[df[c]==1,:].drop(c,axis=1)    
    print('After applying inclusion criteria : ' + str(df.shape[0]))
    return df

# Retrieve interesting lab events for patients that match inclusion criteria

In [4]:
features_info = pd.read_csv('features_info.csv')
#features_list = ['Urea','Temperature']
# Cut the table for test purposes
#features_info = features_info.loc[features_info['name'].apply(lambda x:x in features_list),:].reset_index(drop=True)
print(features_info)

                           name        table  variable  item_id  item_id_2  \
0    Arterial_pressure_systolic  chartevents  valuenum        6       51.0
1   Arterial_pressure_diastolic  chartevents  valuenum     8364     8368.0
2                    Heart_rate  chartevents  valuenum      211   220045.0
3                  Weight_daily  chartevents  valuenum      763   224639.0
4                   Temperature  chartevents  valuenum   223761      678.0
5                  Urine_output  chartevents  valuenum    43966    44706.0
6              day_urine_output  chartevents  valuenum    43372        NaN
7                           SCr    labevents  valuenum    50912    51081.0
8                          Urea    labevents  valuenum    51006        NaN
9                        Sodium    labevents  valuenum    50824    50983.0
10                    Potassium    labevents  valuenum    50822    50971.0
11                      Calcium    labevents  valuenum    50808    50893.0
12                     Phosphor    labevents  valuenum    50970        NaN
13                   Leukocytes    labevents  valuenum    51300        NaN
14                  Hemoglobine    labevents  valuenum    50811    50855.0
15                  Bicarbonate    labevents  valuenum    50803    50882.0
16                      Lactate    labevents  valuenum    50813        NaN
17                    Uric_acid    labevents  valuenum    51007        NaN
18                     Chloride    labevents  valuenum    50806    50902.0
19                  Neutrophils    labevents  valuenum    51256        NaN
20                  Lymphocytes    labevents  valuenum    51244    51133.0
21               Platelet_count    labevents  valuenum    51265        NaN
22                     pH_blood    labevents  valuenum    50820        NaN
23                     pH_urine    labevents  valuenum    51094    51491.0
24                    Monocytes    labevents  valuenum    51253    51254.0
25                   fibrinogen    labevents  valuenum    51214        NaN
26               urinary_sodium    labevents  valuenum    51100        NaN
27            urinary_potassium    labevents  valuenum    51097        NaN
28                   urine_urea    labevents  valuenum    51104        NaN
29              urine_creatinin    labevents  valuenum    51082    51081.0
30          alkaline_phospatase    labevents  valuenum    50863        NaN
31          Total_protein_blood    labevents  valuenum    50976        NaN
32                      albumin    labevents  valuenum    50862        NaN
33          Total_protein_urine    labevents  valuenum    51102    51492.0
34                    bilirubin    labevents  valuenum    50885        NaN
35           C_reactive_protein    labevents  valuenum    50889        NaN

    item_id_3  item_id_4  item_id_5  item_id_6
0       455.0   220050.0   220179.0   225309.0
1      8441.0   220051.0   220180.0   225310.0
2         NaN        NaN        NaN        NaN
3         NaN        NaN        NaN        NaN
4       645.0        NaN        NaN        NaN
5         NaN        NaN        NaN        NaN
6         NaN        NaN        NaN        NaN
7         NaN        NaN        NaN        NaN
8         NaN        NaN        NaN        NaN
9         NaN        NaN        NaN        NaN
10        NaN        NaN        NaN        NaN
11        NaN        NaN        NaN        NaN
12        NaN        NaN        NaN        NaN
13        NaN        NaN        NaN        NaN
14    51222.0        NaN        NaN        NaN
15        NaN        NaN        NaN        NaN
16        NaN        NaN        NaN        NaN
17        NaN        NaN        NaN        NaN
18        NaN        NaN        NaN        NaN
19        NaN        NaN        NaN        NaN
20        NaN        NaN        NaN        NaN
21        NaN        NaN        NaN        NaN
22        NaN        NaN        NaN        NaN
23        NaN        NaN        NaN        NaN
24        NaN        NaN        NaN        NaN
25        NaN        NaN        NaN        NaN
26        NaN        NaN        NaN        NaN
27        NaN        NaN        NaN        NaN
28        NaN        NaN        NaN        NaN
29    51106.0        NaN        NaN        NaN
30        NaN        NaN        NaN        NaN
31        NaN        NaN        NaN        NaN
32        NaN        NaN        NaN        NaN
33        NaN        NaN        NaN        NaN
34        NaN        NaN        NaN        NaN
35        NaN        NaN        NaN        NaN

In [5]:
query = query_schema + """
with cr as
(
select
    icu.subject_id, icu.icustay_id, icu.intime, icu.outtime, EXTRACT(EPOCH FROM icu.outtime - icu.intime)/60.0/60.0 as length_of_stay,
    le.valuenum as creatinine, le.charttime as creatinine_time,
    EXTRACT('epoch' from icu.intime - pat.dob) / 60.0 / 60.0 / 24.0 / 365.242 AS age,
    (rrt.icustay_id is null) as rrt
  from icustays icu
  inner join """+features_info.loc[0,'table']+""" le
    on icu.subject_id = le.subject_id
    and le.itemid = 50912
    and le."""+features_info.loc[0,'variable']+""" is not null
    and le.charttime between icu.intime and icu.outtime
  inner join patients pat
    ON icu.subject_id = pat.subject_id
  left outer join rrt 
    on icu.icustay_id = rrt.icustay_id
),
cr_inc as
(
select
cr.subject_id, cr.icustay_id, cr.intime, cr.outtime,
    cr.creatinine, cr.creatinine_time,
    cr.age, CASE
                WHEN cr.age >= 15 then 1
            ELSE 0 END
            as inclusion_age,
  cr.length_of_stay, CASE
                        WHEN cr.length_of_stay >= 48 then 1
                     ELSE 0 END
                     as inclusion_length_of_stay,
  cr.rrt, CASE
            WHEN cr.rrt = False then 1
          ELSE 0 END
          as inclusion_rrt
  from cr),
cr_feat as
(
select
cr_inc.subject_id, cr_inc.icustay_id, cr_inc.intime, cr_inc.outtime,
    cr_inc.creatinine, cr_inc.creatinine_time,
    cr_inc.age, cr_inc.inclusion_age,
    cr_inc.length_of_stay, cr_inc.inclusion_length_of_stay,
    cr_inc.rrt, cr_inc.inclusion_rrt,
    le.valuenum as """+features_info.loc[0,'name']+""", EXTRACT('epoch' from cr_inc.creatinine_time - le.charttime) as """+features_info.loc[0,'name']+"""_delay, le.charttime as """+features_info.loc[0,'name']+"""_time
  from cr_inc
  inner join """+features_info.loc[0,'table']+""" le
    on cr_inc.subject_id = le.subject_id
    and le.itemid = """+str(features_info.loc[0,'item_id'])+"""
    and le."""+features_info.loc[0,'variable']+""" is not null
    and le.charttime between cr_inc.intime and cr_inc.creatinine_time
)
select 
a.subject_id, a.icustay_id, a.intime, a.outtime,
    a.creatinine, a.creatinine_time,
    a.age, a.inclusion_age,
    a.length_of_stay, a.inclusion_length_of_stay,
    a.rrt, a.inclusion_rrt,
    a."""+features_info.loc[0,'name']+""", a."""+features_info.loc[0,'name']+"""_delay, a."""+features_info.loc[0,'name']+"""_time
from cr_feat as a
    join (
        -- Get the min seenID for each personID
        select creatinine_time, min("""+features_info.loc[0,'name']+"""_delay) as """+features_info.loc[0,'name']+"""_delay
        from cr_feat
        group by creatinine_time
    ) as b on a.creatinine_time = b.creatinine_time
where a."""+features_info.loc[0,'name']+"""_delay = b."""+features_info.loc[0,'name']+"""_delay
"""
df_labevents = pd.read_sql_query(query, con)
print(df_labevents.head())
df_labevents = apply_inclusion_criteria(df_labevents)
print(df_labevents.head())
    
for i,row in features_info.loc[1:,:].iterrows():
    print('------------------------------------')
    print('--- Processing feature : ' + row['name'])

    query = query_schema + """
    with cr as
    (
    select
        icu.subject_id, icu.icustay_id, icu.intime, icu.outtime, EXTRACT(EPOCH FROM icu.outtime - icu.intime)/60.0/60.0 as length_of_stay,
        le.valuenum as creatinine, le.charttime as creatinine_time,
        EXTRACT('epoch' from icu.intime - pat.dob) / 60.0 / 60.0 / 24.0 / 365.242 AS age,
        (rrt.icustay_id is null) as rrt
      from icustays icu
      inner join """+row['table']+""" le
        on icu.subject_id = le.subject_id
        and le.itemid = 50912
        and le."""+row['variable']+""" is not null
        and le.charttime between icu.intime and icu.outtime
      inner join patients pat
        ON icu.subject_id = pat.subject_id
      left outer join rrt 
        on icu.icustay_id = rrt.icustay_id
    ),
    cr_inc as
    (
    select
    cr.subject_id, cr.icustay_id, cr.intime, cr.outtime,
        cr.creatinine, cr.creatinine_time,
        cr.age, CASE
                    WHEN cr.age >= 15 then 1
                ELSE 0 END
                as inclusion_age,
      cr.length_of_stay, CASE
                            WHEN cr.length_of_stay >= 48 then 1
                         ELSE 0 END
                         as inclusion_length_of_stay,
      cr.rrt, CASE
                WHEN cr.rrt = False then 1
              ELSE 0 END
              as inclusion_rrt
      from cr),
    cr_feat as
    (
    select
    cr_inc.subject_id, cr_inc.icustay_id, cr_inc.intime, cr_inc.outtime,
        cr_inc.creatinine, cr_inc.creatinine_time,
        cr_inc.age, cr_inc.inclusion_age,
        cr_inc.length_of_stay, cr_inc.inclusion_length_of_stay,
        cr_inc.rrt, cr_inc.inclusion_rrt,
        le.valuenum as """+row['name']+""", EXTRACT('epoch' from cr_inc.creatinine_time - le.charttime) as """+row['name']+"""_delay, le.charttime as """+row['name']+"""_time
      from cr_inc
      inner join """+row['table']+""" le
        on cr_inc.subject_id = le.subject_id
        and le.itemid = """+str(row['item_id'])+"""
        and le."""+row['variable']+""" is not null
        and le.charttime between cr_inc.intime and cr_inc.creatinine_time
    )
    select 
    a.subject_id, a.icustay_id, a.intime, a.outtime,
        a.creatinine, a.creatinine_time,
        a.age, a.inclusion_age,
        a.length_of_stay, a.inclusion_length_of_stay,
        a.rrt, a.inclusion_rrt,
        a."""+row['name']+""", a."""+row['name']+"""_delay, a."""+row['name']+"""_time
    from cr_feat as a
        join (
            -- Get the min seenID for each personID
            select creatinine_time, min("""+row['name']+"""_delay) as """+row['name']+"""_delay
            from cr_feat
            group by creatinine_time
        ) as b on a.creatinine_time = b.creatinine_time
    where a."""+row['name']+"""_delay = b."""+row['name']+"""_delay
    """
    df = pd.read_sql_query(query, con)
    df = apply_inclusion_criteria(df)
    print(df.head())
    df_labevents = pd.merge(df_labevents,df,on=['subject_id', 'icustay_id', 'intime', 'outtime', 'creatinine',
       'creatinine_time', 'age', 'length_of_stay', 'rrt'],how='outer')
    print('---------------------------------')
    print('Merged table size : ' + str(df_labevents.shape[0]))
    print(df_labevents.head())

Empty DataFrame
Columns: [subject_id, icustay_id, intime, outtime, creatinine, creatinine_time, age, inclusion_age, length_of_stay, inclusion_length_of_stay, rrt, inclusion_rrt, arterial_pressure_systolic, arterial_pressure_systolic_delay, arterial_pressure_systolic_time]
Index: []
Initial size of table : 0
After dropping duplicates : 0
After applying inclusion criteria : 0
Empty DataFrame
Columns: [subject_id, icustay_id, intime, outtime, creatinine, creatinine_time, age, length_of_stay, rrt, arterial_pressure_systolic, arterial_pressure_systolic_delay, arterial_pressure_systolic_time]
Index: []
------------------------------------
--- Processing feature : Arterial_pressure_diastolic
Initial size of table : 0
After dropping duplicates : 0
After applying inclusion criteria : 0
Empty DataFrame
Columns: [subject_id, icustay_id, intime, outtime, creatinine, creatinine_time, age, length_of_stay, rrt, arterial_pressure_diastolic, arterial_pressure_diastolic_delay, arterial_pressure_diastolic_time]
Index: []
---------------------------------
Merged table size : 0
Empty DataFrame
Columns: [arterial_pressure_systolic, arterial_pressure_systolic_delay, arterial_pressure_systolic_time, subject_id, icustay_id, intime, outtime, creatinine, creatinine_time, age, length_of_stay, rrt, arterial_pressure_diastolic, arterial_pressure_diastolic_delay, arterial_pressure_diastolic_time]
Index: []
------------------------------------
--- Processing feature : Heart_rate
Initial size of table : 0
After dropping duplicates : 0
After applying inclusion criteria : 0
Empty DataFrame
Columns: [subject_id, icustay_id, intime, outtime, creatinine, creatinine_time, age, length_of_stay, rrt, heart_rate, heart_rate_delay, heart_rate_time]
Index: []
---------------------------------
Merged table size : 0
Empty DataFrame
Columns: [arterial_pressure_systolic, arterial_pressure_systolic_delay, arterial_pressure_systolic_time, arterial_pressure_diastolic, arterial_pressure_diastolic_delay, arterial_pressure_diastolic_time, subject_id, icustay_id, intime, outtime, creatinine, creatinine_time, age, length_of_stay, rrt, heart_rate, heart_rate_delay, heart_rate_time]
Index: []
------------------------------------
--- Processing feature : Weight_daily
Initial size of table : 0
After dropping duplicates : 0
After applying inclusion criteria : 0
Empty DataFrame
Columns: [subject_id, icustay_id, intime, outtime, creatinine, creatinine_time, age, length_of_stay, rrt, weight_daily, weight_daily_delay, weight_daily_time]
Index: []
---------------------------------
Merged table size : 0
Empty DataFrame
Columns: [arterial_pressure_systolic, arterial_pressure_systolic_delay, arterial_pressure_systolic_time, arterial_pressure_diastolic, arterial_pressure_diastolic_delay, arterial_pressure_diastolic_time, heart_rate, heart_rate_delay, heart_rate_time, subject_id, icustay_id, intime, outtime, creatinine, creatinine_time, age, length_of_stay, rrt, weight_daily, weight_daily_delay, weight_daily_time]
Index: []

[0 rows x 21 columns]
------------------------------------
--- Processing feature : Temperature
Initial size of table : 0
After dropping duplicates : 0
After applying inclusion criteria : 0
Empty DataFrame
Columns: [subject_id, icustay_id, intime, outtime, creatinine, creatinine_time, age, length_of_stay, rrt, temperature, temperature_delay, temperature_time]
Index: []
---------------------------------
Merged table size : 0
Empty DataFrame
Columns: [arterial_pressure_systolic, arterial_pressure_systolic_delay, arterial_pressure_systolic_time, arterial_pressure_diastolic, arterial_pressure_diastolic_delay, arterial_pressure_diastolic_time, heart_rate, heart_rate_delay, heart_rate_time, weight_daily, weight_daily_delay, weight_daily_time, subject_id, icustay_id, intime, outtime, creatinine, creatinine_time, age, length_of_stay, rrt, temperature, temperature_delay, temperature_time]
Index: []

[0 rows x 24 columns]
------------------------------------
--- Processing feature : Urine_output
Initial size of table : 0
After dropping duplicates : 0
After applying inclusion criteria : 0
Empty DataFrame
Columns: [subject_id, icustay_id, intime, outtime, creatinine, creatinine_time, age, length_of_stay, rrt, urine_output, urine_output_delay, urine_output_time]
Index: []
---------------------------------
Merged table size : 0
Empty DataFrame
Columns: [arterial_pressure_systolic, arterial_pressure_systolic_delay, arterial_pressure_systolic_time, arterial_pressure_diastolic, arterial_pressure_diastolic_delay, arterial_pressure_diastolic_time, heart_rate, heart_rate_delay, heart_rate_time, weight_daily, weight_daily_delay, weight_daily_time, temperature, temperature_delay, temperature_time, subject_id, icustay_id, intime, outtime, creatinine, creatinine_time, age, length_of_stay, rrt, urine_output, urine_output_delay, urine_output_time]
Index: []

[0 rows x 27 columns]
------------------------------------
--- Processing feature : day_urine_output

/usr/local/lib/python3.6/site-packages/pandas/core/reshape/merge.py:1457: RuntimeWarning: divide by zero encountered in long_scalars
  stride //= shape[i]

Initial size of table : 0
After dropping duplicates : 0
After applying inclusion criteria : 0
Empty DataFrame
Columns: [subject_id, icustay_id, intime, outtime, creatinine, creatinine_time, age, length_of_stay, rrt, day_urine_output, day_urine_output_delay, day_urine_output_time]
Index: []
---------------------------------
Merged table size : 0
Empty DataFrame
Columns: [arterial_pressure_systolic, arterial_pressure_systolic_delay, arterial_pressure_systolic_time, arterial_pressure_diastolic, arterial_pressure_diastolic_delay, arterial_pressure_diastolic_time, heart_rate, heart_rate_delay, heart_rate_time, weight_daily, weight_daily_delay, weight_daily_time, temperature, temperature_delay, temperature_time, urine_output, urine_output_delay, urine_output_time, subject_id, icustay_id, intime, outtime, creatinine, creatinine_time, age, length_of_stay, rrt, day_urine_output, day_urine_output_delay, day_urine_output_time]
Index: []

[0 rows x 30 columns]
------------------------------------
--- Processing feature : SCr
Initial size of table : 327367
After dropping duplicates : 326653
After applying inclusion criteria : 279205
   subject_id  icustay_id              intime             outtime  creatinine  \
0           3      211552 2101-10-20 19:10:11 2101-10-26 20:43:09         2.4
1          12      232669 2104-08-08 02:08:17 2104-08-15 17:22:25         1.1
2          12      232669 2104-08-08 02:08:17 2104-08-15 17:22:25         1.3
3          13      263738 2167-01-08 18:44:25 2167-01-12 10:43:31         0.5
4          21      217847 2134-09-11 20:50:04 2134-09-17 18:28:32         2.3

      creatinine_time        age  length_of_stay    rrt  scr  scr_delay  \
0 2101-10-20 19:26:00  76.526792      145.549444  False  2.4        0.0
1 2104-08-13 03:51:00  72.374177      183.235556  False  1.1        0.0
2 2104-08-08 04:15:00  72.374177      183.235556  False  1.3        0.0
3 2167-01-09 17:09:00  39.866118       87.985000  False  0.5        0.0
4 2134-09-14 03:54:00  87.440295      141.641111  False  2.3        0.0

             scr_time
0 2101-10-20 19:26:00
1 2104-08-13 03:51:00
2 2104-08-08 04:15:00
3 2167-01-09 17:09:00
4 2134-09-14 03:54:00
---------------------------------
Merged table size : 279205
  arterial_pressure_systolic arterial_pressure_systolic_delay  \
0                        NaN                              NaN
1                        NaN                              NaN
2                        NaN                              NaN
3                        NaN                              NaN
4                        NaN                              NaN

  arterial_pressure_systolic_time arterial_pressure_diastolic  \
0                             NaN                         NaN
1                             NaN                         NaN
2                             NaN                         NaN
3                             NaN                         NaN
4                             NaN                         NaN

  arterial_pressure_diastolic_delay arterial_pressure_diastolic_time  \
0                               NaN                              NaN
1                               NaN                              NaN
2                               NaN                              NaN
3                               NaN                              NaN
4                               NaN                              NaN

  heart_rate heart_rate_delay heart_rate_time weight_daily  \
0        NaN              NaN             NaN          NaN
1        NaN              NaN             NaN          NaN
2        NaN              NaN             NaN          NaN
3        NaN              NaN             NaN          NaN
4        NaN              NaN             NaN          NaN

          ...                      intime             outtime creatinine  \
0         ...         2101-10-20 19:10:11 2101-10-26 20:43:09        2.4
1         ...         2104-08-08 02:08:17 2104-08-15 17:22:25        1.1
2         ...         2104-08-08 02:08:17 2104-08-15 17:22:25        1.3
3         ...         2167-01-08 18:44:25 2167-01-12 10:43:31        0.5
4         ...         2134-09-11 20:50:04 2134-09-17 18:28:32        2.3

      creatinine_time        age length_of_stay    rrt  scr scr_delay  \
0 2101-10-20 19:26:00  76.526792     145.549444  False  2.4       0.0
1 2104-08-13 03:51:00  72.374177     183.235556  False  1.1       0.0
2 2104-08-08 04:15:00  72.374177     183.235556  False  1.3       0.0
3 2167-01-09 17:09:00  39.866118      87.985000  False  0.5       0.0
4 2134-09-14 03:54:00  87.440295     141.641111  False  2.3       0.0

             scr_time
0 2101-10-20 19:26:00
1 2104-08-13 03:51:00
2 2104-08-08 04:15:00
3 2167-01-09 17:09:00
4 2134-09-14 03:54:00

[5 rows x 33 columns]
------------------------------------
--- Processing feature : Urea
Initial size of table : 327154
After dropping duplicates : 326439
After applying inclusion criteria : 279085
   subject_id  icustay_id              intime             outtime  creatinine  \
0           3      211552 2101-10-20 19:10:11 2101-10-26 20:43:09         2.4
1          12      232669 2104-08-08 02:08:17 2104-08-15 17:22:25         1.1
2          12      232669 2104-08-08 02:08:17 2104-08-15 17:22:25         1.3
3          13      263738 2167-01-08 18:44:25 2167-01-12 10:43:31         0.5
4          21      216859 2135-01-30 20:53:34 2135-02-08 05:38:46         4.7

      creatinine_time        age  length_of_stay    rrt  urea  urea_delay  \
0 2101-10-20 19:26:00  76.526792      145.549444  False  41.0         0.0
1 2104-08-13 03:51:00  72.374177      183.235556  False  28.0         0.0
2 2104-08-08 04:15:00  72.374177      183.235556  False  28.0         0.0
3 2167-01-09 17:09:00  39.866118       87.985000  False  15.0         0.0
4 2135-02-01 02:59:00  87.826347      200.753333  False  63.0         0.0

            urea_time
0 2101-10-20 19:26:00
1 2104-08-13 03:51:00
2 2104-08-08 04:15:00
3 2167-01-09 17:09:00
4 2135-02-01 02:59:00
---------------------------------
Merged table size : 279205
  arterial_pressure_systolic arterial_pressure_systolic_delay  \
0                        NaN                              NaN
1                        NaN                              NaN
2                        NaN                              NaN
3                        NaN                              NaN
4                        NaN                              NaN

  arterial_pressure_systolic_time arterial_pressure_diastolic  \
0                             NaN                         NaN
1                             NaN                         NaN
2                             NaN                         NaN
3                             NaN                         NaN
4                             NaN                         NaN

  arterial_pressure_diastolic_delay arterial_pressure_diastolic_time  \
0                               NaN                              NaN
1                               NaN                              NaN
2                               NaN                              NaN
3                               NaN                              NaN
4                               NaN                              NaN

  heart_rate heart_rate_delay heart_rate_time weight_daily  \
0        NaN              NaN             NaN          NaN
1        NaN              NaN             NaN          NaN
2        NaN              NaN             NaN          NaN
3        NaN              NaN             NaN          NaN
4        NaN              NaN             NaN          NaN

          ...             creatinine_time        age length_of_stay    rrt  \
0         ...         2101-10-20 19:26:00  76.526792     145.549444  False
1         ...         2104-08-13 03:51:00  72.374177     183.235556  False
2         ...         2104-08-08 04:15:00  72.374177     183.235556  False
3         ...         2167-01-09 17:09:00  39.866118      87.985000  False
4         ...         2134-09-14 03:54:00  87.440295     141.641111  False

   scr scr_delay            scr_time  urea urea_delay           urea_time
0  2.4       0.0 2101-10-20 19:26:00  41.0        0.0 2101-10-20 19:26:00
1  1.1       0.0 2104-08-13 03:51:00  28.0        0.0 2104-08-13 03:51:00
2  1.3       0.0 2104-08-08 04:15:00  28.0        0.0 2104-08-08 04:15:00
3  0.5       0.0 2167-01-09 17:09:00  15.0        0.0 2167-01-09 17:09:00
4  2.3       0.0 2134-09-14 03:54:00  48.0        0.0 2134-09-14 03:54:00

[5 rows x 36 columns]
------------------------------------
--- Processing feature : Sodium

Initial size of table : 116607
After dropping duplicates : 116427
After applying inclusion criteria : 108790
   subject_id  icustay_id              intime             outtime  creatinine  \
0           3      211552 2101-10-20 19:10:11 2101-10-26 20:43:09         2.5
1           3      211552 2101-10-20 19:10:11 2101-10-26 20:43:09         1.9
2           3      211552 2101-10-20 19:10:11 2101-10-26 20:43:09         1.7
3           3      211552 2101-10-20 19:10:11 2101-10-26 20:43:09         1.3
4           3      211552 2101-10-20 19:10:11 2101-10-26 20:43:09         1.3

      creatinine_time        age  length_of_stay    rrt  sodium  sodium_delay  \
0 2101-10-21 03:00:00  76.526792      145.549444  False   139.0       18540.0
1 2101-10-22 04:00:00  76.526792      145.549444  False   138.0       16380.0
2 2101-10-22 21:15:00  76.526792      145.549444  False   138.0       78480.0
3 2101-10-26 03:00:00  76.526792      145.549444  False   138.0      358380.0
4 2101-10-25 03:00:00  76.526792      145.549444  False   138.0      271980.0

          sodium_time
0 2101-10-20 21:51:00
1 2101-10-21 23:27:00
2 2101-10-21 23:27:00
3 2101-10-21 23:27:00
4 2101-10-21 23:27:00
---------------------------------
Merged table size : 279205
  arterial_pressure_systolic arterial_pressure_systolic_delay  \
0                        NaN                              NaN
1                        NaN                              NaN
2                        NaN                              NaN
3                        NaN                              NaN
4                        NaN                              NaN

  arterial_pressure_systolic_time arterial_pressure_diastolic  \
0                             NaN                         NaN
1                             NaN                         NaN
2                             NaN                         NaN
3                             NaN                         NaN
4                             NaN                         NaN

  arterial_pressure_diastolic_delay arterial_pressure_diastolic_time  \
0                               NaN                              NaN
1                               NaN                              NaN
2                               NaN                              NaN
3                               NaN                              NaN
4                               NaN                              NaN

  heart_rate heart_rate_delay heart_rate_time weight_daily  \
0        NaN              NaN             NaN          NaN
1        NaN              NaN             NaN          NaN
2        NaN              NaN             NaN          NaN
3        NaN              NaN             NaN          NaN
4        NaN              NaN             NaN          NaN

          ...            rrt  scr scr_delay            scr_time  urea  \
0         ...          False  2.4       0.0 2101-10-20 19:26:00  41.0
1         ...          False  1.1       0.0 2104-08-13 03:51:00  28.0
2         ...          False  1.3       0.0 2104-08-08 04:15:00  28.0
3         ...          False  0.5       0.0 2167-01-09 17:09:00  15.0
4         ...          False  2.3       0.0 2134-09-14 03:54:00  48.0

  urea_delay           urea_time sodium sodium_delay         sodium_time
0        0.0 2101-10-20 19:26:00  153.0        720.0 2101-10-20 19:14:00
1        0.0 2104-08-13 03:51:00  140.0     436140.0 2104-08-08 02:42:00
2        0.0 2104-08-08 04:15:00  140.0       5580.0 2104-08-08 02:42:00
3        0.0 2167-01-09 17:09:00  137.0       4920.0 2167-01-09 15:47:00
4        0.0 2134-09-14 03:54:00    NaN          NaN                 NaT

[5 rows x 39 columns]
------------------------------------
--- Processing feature : Potassium
Initial size of table : 165229
After dropping duplicates : 165025
After applying inclusion criteria : 155274
   subject_id  icustay_id              intime             outtime  creatinine  \
0           3      211552 2101-10-20 19:10:11 2101-10-26 20:43:09         1.9
1           3      211552 2101-10-20 19:10:11 2101-10-26 20:43:09         1.7
2           3      211552 2101-10-20 19:10:11 2101-10-26 20:43:09         2.5
3           3      211552 2101-10-20 19:10:11 2101-10-26 20:43:09         1.3
4           9      220597 2149-11-09 13:07:02 2149-11-14 20:52:14         2.0

      creatinine_time        age  length_of_stay    rrt  potassium  \
0 2101-10-22 04:00:00  76.526792      145.549444  False        4.2
1 2101-10-22 21:15:00  76.526792      145.549444  False        4.2
2 2101-10-21 03:00:00  76.526792      145.549444  False        3.9
3 2101-10-25 03:00:00  76.526792      145.549444  False        4.2
4 2149-11-11 03:00:00  41.790228      127.753333  False        2.8

   potassium_delay      potassium_time
0          16380.0 2101-10-21 23:27:00
1          78480.0 2101-10-21 23:27:00
2          18540.0 2101-10-20 21:51:00
3         271980.0 2101-10-21 23:27:00
4          18180.0 2149-11-10 21:57:00
---------------------------------
Merged table size : 279205
  arterial_pressure_systolic arterial_pressure_systolic_delay  \
0                        NaN                              NaN
1                        NaN                              NaN
2                        NaN                              NaN
3                        NaN                              NaN
4                        NaN                              NaN

  arterial_pressure_systolic_time arterial_pressure_diastolic  \
0                             NaN                         NaN
1                             NaN                         NaN
2                             NaN                         NaN
3                             NaN                         NaN
4                             NaN                         NaN

  arterial_pressure_diastolic_delay arterial_pressure_diastolic_time  \
0                               NaN                              NaN
1                               NaN                              NaN
2                               NaN                              NaN
3                               NaN                              NaN
4                               NaN                              NaN

  heart_rate heart_rate_delay heart_rate_time weight_daily  \
0        NaN              NaN             NaN          NaN
1        NaN              NaN             NaN          NaN
2        NaN              NaN             NaN          NaN
3        NaN              NaN             NaN          NaN
4        NaN              NaN             NaN          NaN

          ...                    scr_time  urea urea_delay  \
0         ...         2101-10-20 19:26:00  41.0        0.0
1         ...         2104-08-13 03:51:00  28.0        0.0
2         ...         2104-08-08 04:15:00  28.0        0.0
3         ...         2167-01-09 17:09:00  15.0        0.0
4         ...         2134-09-14 03:54:00  48.0        0.0

            urea_time sodium sodium_delay         sodium_time potassium  \
0 2101-10-20 19:26:00  153.0        720.0 2101-10-20 19:14:00       4.0
1 2104-08-13 03:51:00  140.0     436140.0 2104-08-08 02:42:00       3.8
2 2104-08-08 04:15:00  140.0       5580.0 2104-08-08 02:42:00       5.1
3 2167-01-09 17:09:00  137.0       4920.0 2167-01-09 15:47:00       3.7
4 2134-09-14 03:54:00    NaN          NaN                 NaT       NaN

  potassium_delay      potassium_time
0           720.0 2101-10-20 19:14:00
1         19800.0 2104-08-12 22:21:00
2          5580.0 2104-08-08 02:42:00
3          4920.0 2167-01-09 15:47:00
4             NaN                 NaT

[5 rows x 42 columns]
------------------------------------
--- Processing feature : Calcium
Initial size of table : 203470
After dropping duplicates : 203068
After applying inclusion criteria : 190910
   subject_id  icustay_id              intime             outtime  creatinine  \
0           3      211552 2101-10-20 19:10:11 2101-10-26 20:43:09         1.7
1           3      211552 2101-10-20 19:10:11 2101-10-26 20:43:09         1.9
2           9      220597 2149-11-09 13:07:02 2149-11-14 20:52:14         2.0
3           9      220597 2149-11-09 13:07:02 2149-11-14 20:52:14         1.6
4          17      277042 2134-12-27 16:21:48 2134-12-29 18:04:03         0.7

      creatinine_time        age  length_of_stay    rrt  calcium  \
0 2101-10-22 21:15:00  76.526792      145.549444  False     1.12
1 2101-10-22 04:00:00  76.526792      145.549444  False     1.17
2 2149-11-11 03:00:00  41.790228      127.753333  False     1.05
3 2149-11-13 03:20:00  41.790228      127.753333  False     1.23
4 2134-12-28 03:41:00  47.455336       49.704167  False     1.32

   calcium_delay        calcium_time
0        60240.0 2101-10-22 04:31:00
1         7800.0 2101-10-22 01:50:00
2        18180.0 2149-11-10 21:57:00
3       172380.0 2149-11-11 03:27:00
4        29340.0 2134-12-27 19:32:00

---------------------------------
Merged table size : 279205
  arterial_pressure_systolic arterial_pressure_systolic_delay  \
0                        NaN                              NaN
1                        NaN                              NaN
2                        NaN                              NaN
3                        NaN                              NaN
4                        NaN                              NaN

  arterial_pressure_systolic_time arterial_pressure_diastolic  \
0                             NaN                         NaN
1                             NaN                         NaN
2                             NaN                         NaN
3                             NaN                         NaN
4                             NaN                         NaN

  arterial_pressure_diastolic_delay arterial_pressure_diastolic_time  \
0                               NaN                              NaN
1                               NaN                              NaN
2                               NaN                              NaN
3                               NaN                              NaN
4                               NaN                              NaN

  heart_rate heart_rate_delay heart_rate_time weight_daily  \
0        NaN              NaN             NaN          NaN
1        NaN              NaN             NaN          NaN
2        NaN              NaN             NaN          NaN
3        NaN              NaN             NaN          NaN
4        NaN              NaN             NaN          NaN

          ...                   urea_time sodium sodium_delay  \
0         ...         2101-10-20 19:26:00  153.0        720.0
1         ...         2104-08-13 03:51:00  140.0     436140.0
2         ...         2104-08-08 04:15:00  140.0       5580.0
3         ...         2167-01-09 17:09:00  137.0       4920.0
4         ...         2134-09-14 03:54:00    NaN          NaN

          sodium_time potassium potassium_delay      potassium_time calcium  \
0 2101-10-20 19:14:00       4.0           720.0 2101-10-20 19:14:00    0.82
1 2104-08-08 02:42:00       3.8         19800.0 2104-08-12 22:21:00    1.13
2 2104-08-08 02:42:00       5.1          5580.0 2104-08-08 02:42:00    0.96
3 2167-01-09 15:47:00       3.7          4920.0 2167-01-09 15:47:00    1.34
4                 NaT       NaN             NaN                 NaT    1.25

  calcium_delay        calcium_time
0         720.0 2101-10-20 19:14:00
1         660.0 2104-08-13 03:40:00
2        2700.0 2104-08-08 03:30:00
3        4920.0 2167-01-09 15:47:00
4       21900.0 2134-09-13 21:49:00

[5 rows x 45 columns]
------------------------------------
--- Processing feature : Phosphor
Initial size of table : 305586
After dropping duplicates : 304878
After applying inclusion criteria : 266501
   subject_id  icustay_id              intime             outtime  creatinine  \
0           3      211552 2101-10-20 19:10:11 2101-10-26 20:43:09         2.4
1          12      232669 2104-08-08 02:08:17 2104-08-15 17:22:25         1.1
2          12      232669 2104-08-08 02:08:17 2104-08-15 17:22:25         1.3
3          21      216859 2135-01-30 20:53:34 2135-02-08 05:38:46         4.7
4          21      217847 2134-09-11 20:50:04 2134-09-17 18:28:32         2.3

      creatinine_time        age  length_of_stay    rrt  phosphor  \
0 2101-10-20 19:26:00  76.526792      145.549444  False       4.7
1 2104-08-13 03:51:00  72.374177      183.235556  False       2.6
2 2104-08-08 04:15:00  72.374177      183.235556  False       6.6
3 2135-02-01 02:59:00  87.826347      200.753333  False       6.1
4 2134-09-14 03:54:00  87.440295      141.641111  False       4.4

   phosphor_delay       phosphor_time
0             0.0 2101-10-20 19:26:00
1             0.0 2104-08-13 03:51:00
2             0.0 2104-08-08 04:15:00
3             0.0 2135-02-01 02:59:00
4             0.0 2134-09-14 03:54:00
---------------------------------
Merged table size : 279206
  arterial_pressure_systolic arterial_pressure_systolic_delay  \
0                        NaN                              NaN
1                        NaN                              NaN
2                        NaN                              NaN
3                        NaN                              NaN
4                        NaN                              NaN

  arterial_pressure_systolic_time arterial_pressure_diastolic  \
0                             NaN                         NaN
1                             NaN                         NaN
2                             NaN                         NaN
3                             NaN                         NaN
4                             NaN                         NaN

  arterial_pressure_diastolic_delay arterial_pressure_diastolic_time  \
0                               NaN                              NaN
1                               NaN                              NaN
2                               NaN                              NaN
3                               NaN                              NaN
4                               NaN                              NaN

  heart_rate heart_rate_delay heart_rate_time weight_daily  \
0        NaN              NaN             NaN          NaN
1        NaN              NaN             NaN          NaN
2        NaN              NaN             NaN          NaN
3        NaN              NaN             NaN          NaN
4        NaN              NaN             NaN          NaN

          ...                 sodium_time potassium potassium_delay  \
0         ...         2101-10-20 19:14:00       4.0           720.0
1         ...         2104-08-08 02:42:00       3.8         19800.0
2         ...         2104-08-08 02:42:00       5.1          5580.0
3         ...         2167-01-09 15:47:00       3.7          4920.0
4         ...                         NaT       NaN             NaN

       potassium_time calcium calcium_delay        calcium_time phosphor  \
0 2101-10-20 19:14:00    0.82         720.0 2101-10-20 19:14:00      4.7
1 2104-08-12 22:21:00    1.13         660.0 2104-08-13 03:40:00      2.6
2 2104-08-08 02:42:00    0.96        2700.0 2104-08-08 03:30:00      6.6
3 2167-01-09 15:47:00    1.34        4920.0 2167-01-09 15:47:00      4.5
4                 NaT    1.25       21900.0 2134-09-13 21:49:00      4.4

  phosphor_delay       phosphor_time
0            0.0 2101-10-20 19:26:00
1            0.0 2104-08-13 03:51:00
2            0.0 2104-08-08 04:15:00
3        35880.0 2167-01-09 07:11:00
4            0.0 2134-09-14 03:54:00

[5 rows x 48 columns]
------------------------------------
--- Processing feature : Leukocytes
Initial size of table : 2648
After dropping duplicates : 2648
After applying inclusion criteria : 2568
   subject_id  icustay_id              intime             outtime  creatinine  \
1         231      242685 2176-05-28 22:09:25 2176-06-03 16:44:30         0.6
2         231      242685 2176-05-28 22:09:25 2176-06-03 16:44:30         0.4
3         231      242685 2176-05-28 22:09:25 2176-06-03 16:44:30         0.5
4         231      242685 2176-05-28 22:09:25 2176-06-03 16:44:30         0.5
5         231      242685 2176-05-28 22:09:25 2176-06-03 16:44:30         0.6

      creatinine_time        age  length_of_stay    rrt  leukocytes  \
1 2176-05-31 21:48:00  36.769931      138.584722  False        17.9
2 2176-06-02 05:22:00  36.769931      138.584722  False        17.9
3 2176-06-03 04:51:00  36.769931      138.584722  False        17.9
4 2176-05-30 08:04:00  36.769931      138.584722  False        17.9
5 2176-05-31 02:50:00  36.769931      138.584722  False        17.9

   leukocytes_delay     leukocytes_time
1          135840.0 2176-05-30 08:04:00
2          249480.0 2176-05-30 08:04:00
3          334020.0 2176-05-30 08:04:00
4               0.0 2176-05-30 08:04:00
5           67560.0 2176-05-30 08:04:00

---------------------------------
Merged table size : 279206
  arterial_pressure_systolic arterial_pressure_systolic_delay  \
0                        NaN                              NaN
1                        NaN                              NaN
2                        NaN                              NaN
3                        NaN                              NaN
4                        NaN                              NaN

  arterial_pressure_systolic_time arterial_pressure_diastolic  \
0                             NaN                         NaN
1                             NaN                         NaN
2                             NaN                         NaN
3                             NaN                         NaN
4                             NaN                         NaN

  arterial_pressure_diastolic_delay arterial_pressure_diastolic_time  \
0                               NaN                              NaN
1                               NaN                              NaN
2                               NaN                              NaN
3                               NaN                              NaN
4                               NaN                              NaN

  heart_rate heart_rate_delay heart_rate_time weight_daily       ...        \
0        NaN              NaN             NaN          NaN       ...
1        NaN              NaN             NaN          NaN       ...
2        NaN              NaN             NaN          NaN       ...
3        NaN              NaN             NaN          NaN       ...
4        NaN              NaN             NaN          NaN       ...

       potassium_time calcium calcium_delay        calcium_time phosphor  \
0 2101-10-20 19:14:00    0.82         720.0 2101-10-20 19:14:00      4.7
1 2104-08-12 22:21:00    1.13         660.0 2104-08-13 03:40:00      2.6
2 2104-08-08 02:42:00    0.96        2700.0 2104-08-08 03:30:00      6.6
3 2167-01-09 15:47:00    1.34        4920.0 2167-01-09 15:47:00      4.5
4                 NaT    1.25       21900.0 2134-09-13 21:49:00      4.4

  phosphor_delay       phosphor_time leukocytes leukocytes_delay  \
0            0.0 2101-10-20 19:26:00        NaN              NaN
1            0.0 2104-08-13 03:51:00        NaN              NaN
2            0.0 2104-08-08 04:15:00        NaN              NaN
3        35880.0 2167-01-09 07:11:00        NaN              NaN
4            0.0 2134-09-14 03:54:00        NaN              NaN

  leukocytes_time
0             NaT
1             NaT
2             NaT
3             NaT
4             NaT

[5 rows x 51 columns]
------------------------------------
--- Processing feature : Hemoglobine
Initial size of table : 125671
After dropping duplicates : 125508
After applying inclusion criteria : 117688
   subject_id  icustay_id              intime             outtime  creatinine  \
0           3      211552 2101-10-20 19:10:11 2101-10-26 20:43:09         1.7
1           3      211552 2101-10-20 19:10:11 2101-10-26 20:43:09         1.9
2           3      211552 2101-10-20 19:10:11 2101-10-26 20:43:09         1.3
3           9      220597 2149-11-09 13:07:02 2149-11-14 20:52:14         2.0
4           9      220597 2149-11-09 13:07:02 2149-11-14 20:52:14         1.4

      creatinine_time        age  length_of_stay    rrt  hemoglobine  \
0 2101-10-22 21:15:00  76.526792      145.549444  False         10.1
1 2101-10-22 04:00:00  76.526792      145.549444  False          8.8
2 2101-10-25 03:00:00  76.526792      145.549444  False         10.5
3 2149-11-12 03:00:00  41.790228      127.753333  False         14.0
4 2149-11-10 03:00:00  41.790228      127.753333  False         14.0

   hemoglobine_delay    hemoglobine_time
0            18780.0 2101-10-22 16:02:00
1             7560.0 2101-10-22 01:54:00
2            79680.0 2101-10-24 04:52:00
3           205980.0 2149-11-09 17:47:00
4            33180.0 2149-11-09 17:47:00
---------------------------------
Merged table size : 279206
  arterial_pressure_systolic arterial_pressure_systolic_delay  \
0                        NaN                              NaN
1                        NaN                              NaN
2                        NaN                              NaN
3                        NaN                              NaN
4                        NaN                              NaN

  arterial_pressure_systolic_time arterial_pressure_diastolic  \
0                             NaN                         NaN
1                             NaN                         NaN
2                             NaN                         NaN
3                             NaN                         NaN
4                             NaN                         NaN

  arterial_pressure_diastolic_delay arterial_pressure_diastolic_time  \
0                               NaN                              NaN
1                               NaN                              NaN
2                               NaN                              NaN
3                               NaN                              NaN
4                               NaN                              NaN

  heart_rate heart_rate_delay heart_rate_time weight_daily  \
0        NaN              NaN             NaN          NaN
1        NaN              NaN             NaN          NaN
2        NaN              NaN             NaN          NaN
3        NaN              NaN             NaN          NaN
4        NaN              NaN             NaN          NaN

          ...                calcium_time phosphor phosphor_delay  \
0         ...         2101-10-20 19:14:00      4.7            0.0
1         ...         2104-08-13 03:40:00      2.6            0.0
2         ...         2104-08-08 03:30:00      6.6            0.0
3         ...         2167-01-09 15:47:00      4.5        35880.0
4         ...         2134-09-13 21:49:00      4.4            0.0

        phosphor_time leukocytes leukocytes_delay leukocytes_time hemoglobine  \
0 2101-10-20 19:26:00        NaN              NaN             NaT         NaN
1 2104-08-13 03:51:00        NaN              NaN             NaT        12.0
2 2104-08-08 04:15:00        NaN              NaN             NaT        11.1
3 2167-01-09 07:11:00        NaN              NaN             NaT         7.9
4 2134-09-14 03:54:00        NaN              NaN             NaT        11.1

  hemoglobine_delay    hemoglobine_time
0               NaN                 NaT
1          321360.0 2104-08-09 10:35:00
2            2700.0 2104-08-08 03:30:00
3            4920.0 2167-01-09 15:47:00
4          147180.0 2134-09-12 11:01:00

[5 rows x 54 columns]
------------------------------------
--- Processing feature : Bicarbonate
Initial size of table : 21034
After dropping duplicates : 21034
After applying inclusion criteria : 20467
   subject_id  icustay_id              intime             outtime  creatinine  \
0           3      211552 2101-10-20 19:10:11 2101-10-26 20:43:09         1.7
1           3      211552 2101-10-20 19:10:11 2101-10-26 20:43:09         2.5
2           3      211552 2101-10-20 19:10:11 2101-10-26 20:43:09         1.6
3           3      211552 2101-10-20 19:10:11 2101-10-26 20:43:09         1.9
4           3      211552 2101-10-20 19:10:11 2101-10-26 20:43:09         1.5

      creatinine_time        age  length_of_stay    rrt  bicarbonate  \
0 2101-10-22 21:15:00  76.526792      145.549444  False         15.0
1 2101-10-21 03:00:00  76.526792      145.549444  False         15.0
2 2101-10-23 03:45:00  76.526792      145.549444  False         15.0
3 2101-10-22 04:00:00  76.526792      145.549444  False         15.0
4 2101-10-24 03:15:00  76.526792      145.549444  False         15.0

   bicarbonate_delay    bicarbonate_time
0           156540.0 2101-10-21 01:46:00
1             4440.0 2101-10-21 01:46:00
2           179940.0 2101-10-21 01:46:00
3            94440.0 2101-10-21 01:46:00
4           264540.0 2101-10-21 01:46:00

---------------------------------
Merged table size : 279206
  arterial_pressure_systolic arterial_pressure_systolic_delay  \
0                        NaN                              NaN
1                        NaN                              NaN
2                        NaN                              NaN
3                        NaN                              NaN
4                        NaN                              NaN

  arterial_pressure_systolic_time arterial_pressure_diastolic  \
0                             NaN                         NaN
1                             NaN                         NaN
2                             NaN                         NaN
3                             NaN                         NaN
4                             NaN                         NaN

  arterial_pressure_diastolic_delay arterial_pressure_diastolic_time  \
0                               NaN                              NaN
1                               NaN                              NaN
2                               NaN                              NaN
3                               NaN                              NaN
4                               NaN                              NaN

  heart_rate heart_rate_delay heart_rate_time weight_daily  \
0        NaN              NaN             NaN          NaN
1        NaN              NaN             NaN          NaN
2        NaN              NaN             NaN          NaN
3        NaN              NaN             NaN          NaN
4        NaN              NaN             NaN          NaN

          ...               phosphor_time leukocytes leukocytes_delay  \
0         ...         2101-10-20 19:26:00        NaN              NaN
1         ...         2104-08-13 03:51:00        NaN              NaN
2         ...         2104-08-08 04:15:00        NaN              NaN
3         ...         2167-01-09 07:11:00        NaN              NaN
4         ...         2134-09-14 03:54:00        NaN              NaN

  leukocytes_time hemoglobine hemoglobine_delay    hemoglobine_time  \
0             NaT         NaN               NaN                 NaT
1             NaT        12.0          321360.0 2104-08-09 10:35:00
2             NaT        11.1            2700.0 2104-08-08 03:30:00
3             NaT         7.9            4920.0 2167-01-09 15:47:00
4             NaT        11.1          147180.0 2134-09-12 11:01:00

  bicarbonate bicarbonate_delay    bicarbonate_time
0         NaN               NaN                 NaT
1        10.0          437760.0 2104-08-08 02:15:00
2        10.0            7200.0 2104-08-08 02:15:00
3         NaN               NaN                 NaT
4         NaN               NaN                 NaT

[5 rows x 57 columns]
------------------------------------
--- Processing feature : Lactate
Initial size of table : 212890
After dropping duplicates : 212479
After applying inclusion criteria : 199761
   subject_id  icustay_id              intime             outtime  creatinine  \
0           3      211552 2101-10-20 19:10:11 2101-10-26 20:43:09         1.9
1           3      211552 2101-10-20 19:10:11 2101-10-26 20:43:09         1.7
2           3      211552 2101-10-20 19:10:11 2101-10-26 20:43:09         1.3
3           9      220597 2149-11-09 13:07:02 2149-11-14 20:52:14         2.0
4           9      220597 2149-11-09 13:07:02 2149-11-14 20:52:14         1.6

      creatinine_time        age  length_of_stay    rrt  lactate  \
0 2101-10-22 04:00:00  76.526792      145.549444  False      1.3
1 2101-10-22 21:15:00  76.526792      145.549444  False      1.3
2 2101-10-25 03:00:00  76.526792      145.549444  False      1.0
3 2149-11-11 03:00:00  41.790228      127.753333  False      2.3
4 2149-11-13 03:20:00  41.790228      127.753333  False      2.6

   lactate_delay        lactate_time
0         7800.0 2101-10-22 01:50:00
1        60240.0 2101-10-22 04:31:00
2       173640.0 2101-10-23 02:46:00
3        18180.0 2149-11-10 21:57:00
4       172380.0 2149-11-11 03:27:00
---------------------------------
Merged table size : 279206
  arterial_pressure_systolic arterial_pressure_systolic_delay  \
0                        NaN                              NaN
1                        NaN                              NaN
2                        NaN                              NaN
3                        NaN                              NaN
4                        NaN                              NaN

  arterial_pressure_systolic_time arterial_pressure_diastolic  \
0                             NaN                         NaN
1                             NaN                         NaN
2                             NaN                         NaN
3                             NaN                         NaN
4                             NaN                         NaN

  arterial_pressure_diastolic_delay arterial_pressure_diastolic_time  \
0                               NaN                              NaN
1                               NaN                              NaN
2                               NaN                              NaN
3                               NaN                              NaN
4                               NaN                              NaN

  heart_rate heart_rate_delay heart_rate_time weight_daily  \
0        NaN              NaN             NaN          NaN
1        NaN              NaN             NaN          NaN
2        NaN              NaN             NaN          NaN
3        NaN              NaN             NaN          NaN
4        NaN              NaN             NaN          NaN

          ...         leukocytes_time hemoglobine hemoglobine_delay  \
0         ...                     NaT         NaN               NaN
1         ...                     NaT        12.0          321360.0
2         ...                     NaT        11.1            2700.0
3         ...                     NaT         7.9            4920.0
4         ...                     NaT        11.1          147180.0

     hemoglobine_time bicarbonate bicarbonate_delay    bicarbonate_time  \
0                 NaT         NaN               NaN                 NaT
1 2104-08-09 10:35:00        10.0          437760.0 2104-08-08 02:15:00
2 2104-08-08 03:30:00        10.0            7200.0 2104-08-08 02:15:00
3 2167-01-09 15:47:00         NaN               NaN                 NaT
4 2134-09-12 11:01:00         NaN               NaN                 NaT

  lactate lactate_delay        lactate_time
0     8.8         720.0 2101-10-20 19:14:00
1     2.9         660.0 2104-08-13 03:40:00
2    13.1        2700.0 2104-08-08 03:30:00
3     NaN           NaN                 NaT
4     1.5       62700.0 2134-09-13 10:29:00

[5 rows x 60 columns]
------------------------------------
--- Processing feature : Uric_acid
Initial size of table : 20796
After dropping duplicates : 20796
After applying inclusion criteria : 19907
   subject_id  icustay_id              intime             outtime  creatinine  \
0           3      211552 2101-10-20 19:10:11 2101-10-26 20:43:09         1.9
1           3      211552 2101-10-20 19:10:11 2101-10-26 20:43:09         2.5
2           3      211552 2101-10-20 19:10:11 2101-10-26 20:43:09         2.5
3           3      211552 2101-10-20 19:10:11 2101-10-26 20:43:09         1.5
4           3      211552 2101-10-20 19:10:11 2101-10-26 20:43:09         1.7

      creatinine_time        age  length_of_stay    rrt  uric_acid  \
0 2101-10-22 04:00:00  76.526792      145.549444  False       10.3
1 2101-10-20 19:59:00  76.526792      145.549444  False       10.3
2 2101-10-21 03:00:00  76.526792      145.549444  False       10.3
3 2101-10-24 03:15:00  76.526792      145.549444  False       10.3
4 2101-10-22 21:15:00  76.526792      145.549444  False       10.3

   uric_acid_delay      uric_acid_time
0         115260.0 2101-10-20 19:59:00
1              0.0 2101-10-20 19:59:00
2          25260.0 2101-10-20 19:59:00
3         285360.0 2101-10-20 19:59:00
4         177360.0 2101-10-20 19:59:00

---------------------------------
Merged table size : 279206
  arterial_pressure_systolic arterial_pressure_systolic_delay  \
0                        NaN                              NaN
1                        NaN                              NaN
2                        NaN                              NaN
3                        NaN                              NaN
4                        NaN                              NaN

  arterial_pressure_systolic_time arterial_pressure_diastolic  \
0                             NaN                         NaN
1                             NaN                         NaN
2                             NaN                         NaN
3                             NaN                         NaN
4                             NaN                         NaN

  arterial_pressure_diastolic_delay arterial_pressure_diastolic_time  \
0                               NaN                              NaN
1                               NaN                              NaN
2                               NaN                              NaN
3                               NaN                              NaN
4                               NaN                              NaN

  heart_rate heart_rate_delay heart_rate_time weight_daily      ...        \
0        NaN              NaN             NaN          NaN      ...
1        NaN              NaN             NaN          NaN      ...
2        NaN              NaN             NaN          NaN      ...
3        NaN              NaN             NaN          NaN      ...
4        NaN              NaN             NaN          NaN      ...

     hemoglobine_time bicarbonate bicarbonate_delay    bicarbonate_time  \
0                 NaT         NaN               NaN                 NaT
1 2104-08-09 10:35:00        10.0          437760.0 2104-08-08 02:15:00
2 2104-08-08 03:30:00        10.0            7200.0 2104-08-08 02:15:00
3 2167-01-09 15:47:00         NaN               NaN                 NaT
4 2134-09-12 11:01:00         NaN               NaN                 NaT

  lactate lactate_delay        lactate_time uric_acid uric_acid_delay  \
0     8.8         720.0 2101-10-20 19:14:00       NaN             NaN
1     2.9         660.0 2104-08-13 03:40:00       NaN             NaN
2    13.1        2700.0 2104-08-08 03:30:00       NaN             NaN
3     NaN           NaN                 NaT       NaN             NaN
4     1.5       62700.0 2134-09-13 10:29:00       NaN             NaN

  uric_acid_time
0            NaT
1            NaT
2            NaT
3            NaT
4            NaT

[5 rows x 63 columns]
------------------------------------
--- Processing feature : Chloride
Initial size of table : 92799
After dropping duplicates : 92619
After applying inclusion criteria : 87463
   subject_id  icustay_id              intime             outtime  creatinine  \
0           3      211552 2101-10-20 19:10:11 2101-10-26 20:43:09         2.5
1           3      211552 2101-10-20 19:10:11 2101-10-26 20:43:09         1.9
2           3      211552 2101-10-20 19:10:11 2101-10-26 20:43:09         1.3
3           3      211552 2101-10-20 19:10:11 2101-10-26 20:43:09         1.7
4           3      211552 2101-10-20 19:10:11 2101-10-26 20:43:09         1.3

      creatinine_time        age  length_of_stay    rrt  chloride  \
0 2101-10-20 19:59:00  76.526792      145.549444  False     114.0
1 2101-10-22 04:00:00  76.526792      145.549444  False     111.0
2 2101-10-26 03:00:00  76.526792      145.549444  False     111.0
3 2101-10-22 21:15:00  76.526792      145.549444  False     111.0
4 2101-10-25 03:00:00  76.526792      145.549444  False     111.0

   chloride_delay       chloride_time
0          2700.0 2101-10-20 19:14:00
1         16380.0 2101-10-21 23:27:00
2        358380.0 2101-10-21 23:27:00
3         78480.0 2101-10-21 23:27:00
4        271980.0 2101-10-21 23:27:00
---------------------------------
Merged table size : 279206
  arterial_pressure_systolic arterial_pressure_systolic_delay  \
0                        NaN                              NaN
1                        NaN                              NaN
2                        NaN                              NaN
3                        NaN                              NaN
4                        NaN                              NaN

  arterial_pressure_systolic_time arterial_pressure_diastolic  \
0                             NaN                         NaN
1                             NaN                         NaN
2                             NaN                         NaN
3                             NaN                         NaN
4                             NaN                         NaN

  arterial_pressure_diastolic_delay arterial_pressure_diastolic_time  \
0                               NaN                              NaN
1                               NaN                              NaN
2                               NaN                              NaN
3                               NaN                              NaN
4                               NaN                              NaN

  heart_rate heart_rate_delay heart_rate_time weight_daily  \
0        NaN              NaN             NaN          NaN
1        NaN              NaN             NaN          NaN
2        NaN              NaN             NaN          NaN
3        NaN              NaN             NaN          NaN
4        NaN              NaN             NaN          NaN

          ...            bicarbonate_time lactate lactate_delay  \
0         ...                         NaT     8.8         720.0
1         ...         2104-08-08 02:15:00     2.9         660.0
2         ...         2104-08-08 02:15:00    13.1        2700.0
3         ...                         NaT     NaN           NaN
4         ...                         NaT     1.5       62700.0

         lactate_time uric_acid uric_acid_delay uric_acid_time chloride  \
0 2101-10-20 19:14:00       NaN             NaN            NaT    114.0
1 2104-08-13 03:40:00       NaN             NaN            NaT    111.0
2 2104-08-08 03:30:00       NaN             NaN            NaT    111.0
3                 NaT       NaN             NaN            NaT      NaN
4 2134-09-13 10:29:00       NaN             NaN            NaT      NaN

  chloride_delay       chloride_time
0          720.0 2101-10-20 19:14:00
1       436140.0 2104-08-08 02:42:00
2         5580.0 2104-08-08 02:42:00
3            NaN                 NaT
4            NaN                 NaT

[5 rows x 66 columns]
------------------------------------
--- Processing feature : Neutrophils
Initial size of table : 157656
After dropping duplicates : 157332
After applying inclusion criteria : 144999
   subject_id  icustay_id              intime             outtime  creatinine  \
0           3      211552 2101-10-20 19:10:11 2101-10-26 20:43:09         1.3
1          12      232669 2104-08-08 02:08:17 2104-08-15 17:22:25         1.1
2          12      232669 2104-08-08 02:08:17 2104-08-15 17:22:25         1.1
3          21      217847 2134-09-11 20:50:04 2134-09-17 18:28:32         3.8
4          21      216859 2135-01-30 20:53:34 2135-02-08 05:38:46         4.7

      creatinine_time        age  length_of_stay    rrt  neutrophils  \
0 2101-10-25 03:00:00  76.526792      145.549444  False         80.7
1 2104-08-13 03:51:00  72.374177      183.235556  False         78.0
2 2104-08-14 03:09:00  72.374177      183.235556  False         70.0
3 2134-09-17 03:14:00  87.440295      141.641111  False         86.0
4 2135-02-01 02:59:00  87.826347      200.753333  False         93.0

   neutrophils_delay    neutrophils_time
0           255600.0 2101-10-22 04:00:00
1                0.0 2104-08-13 03:51:00
2                0.0 2104-08-14 03:09:00
3           178020.0 2134-09-15 01:47:00
4                0.0 2135-02-01 02:59:00

---------------------------------
Merged table size : 279206
  arterial_pressure_systolic arterial_pressure_systolic_delay  \
0                        NaN                              NaN
1                        NaN                              NaN
2                        NaN                              NaN
3                        NaN                              NaN
4                        NaN                              NaN

  arterial_pressure_systolic_time arterial_pressure_diastolic  \
0                             NaN                         NaN
1                             NaN                         NaN
2                             NaN                         NaN
3                             NaN                         NaN
4                             NaN                         NaN

  arterial_pressure_diastolic_delay arterial_pressure_diastolic_time  \
0                               NaN                              NaN
1                               NaN                              NaN
2                               NaN                              NaN
3                               NaN                              NaN
4                               NaN                              NaN

  heart_rate heart_rate_delay heart_rate_time weight_daily  \
0        NaN              NaN             NaN          NaN
1        NaN              NaN             NaN          NaN
2        NaN              NaN             NaN          NaN
3        NaN              NaN             NaN          NaN
4        NaN              NaN             NaN          NaN

          ...                lactate_time uric_acid uric_acid_delay  \
0         ...         2101-10-20 19:14:00       NaN             NaN
1         ...         2104-08-13 03:40:00       NaN             NaN
2         ...         2104-08-08 03:30:00       NaN             NaN
3         ...                         NaT       NaN             NaN
4         ...         2134-09-13 10:29:00       NaN             NaN

  uric_acid_time chloride chloride_delay       chloride_time neutrophils  \
0            NaT    114.0          720.0 2101-10-20 19:14:00         NaN
1            NaT    111.0       436140.0 2104-08-08 02:42:00        78.0
2            NaT    111.0         5580.0 2104-08-08 02:42:00         NaN
3            NaT      NaN            NaN                 NaT         NaN
4            NaT      NaN            NaN                 NaT         NaN

  neutrophils_delay    neutrophils_time
0               NaN                 NaT
1               0.0 2104-08-13 03:51:00
2               NaN                 NaT
3               NaN                 NaT
4               NaN                 NaT

[5 rows x 69 columns]
------------------------------------
--- Processing feature : Lymphocytes
Initial size of table : 157656
After dropping duplicates : 157332
After applying inclusion criteria : 144999
   subject_id  icustay_id              intime             outtime  creatinine  \
0           3      211552 2101-10-20 19:10:11 2101-10-26 20:43:09         1.3
1          12      232669 2104-08-08 02:08:17 2104-08-15 17:22:25         1.1
2          12      232669 2104-08-08 02:08:17 2104-08-15 17:22:25         1.1
3          21      216859 2135-01-30 20:53:34 2135-02-08 05:38:46         4.7
4          21      217847 2134-09-11 20:50:04 2134-09-17 18:28:32         3.8

      creatinine_time        age  length_of_stay    rrt  lymphocytes  \
0 2101-10-25 03:00:00  76.526792      145.549444  False          9.4
1 2104-08-13 03:51:00  72.374177      183.235556  False          4.0
2 2104-08-14 03:09:00  72.374177      183.235556  False          8.0
3 2135-02-01 02:59:00  87.826347      200.753333  False          3.0
4 2134-09-17 03:14:00  87.440295      141.641111  False          9.4

   lymphocytes_delay    lymphocytes_time
0           255600.0 2101-10-22 04:00:00
1                0.0 2104-08-13 03:51:00
2                0.0 2104-08-14 03:09:00
3                0.0 2135-02-01 02:59:00
4           178020.0 2134-09-15 01:47:00
---------------------------------
Merged table size : 279206
  arterial_pressure_systolic arterial_pressure_systolic_delay  \
0                        NaN                              NaN
1                        NaN                              NaN
2                        NaN                              NaN
3                        NaN                              NaN
4                        NaN                              NaN

  arterial_pressure_systolic_time arterial_pressure_diastolic  \
0                             NaN                         NaN
1                             NaN                         NaN
2                             NaN                         NaN
3                             NaN                         NaN
4                             NaN                         NaN

  arterial_pressure_diastolic_delay arterial_pressure_diastolic_time  \
0                               NaN                              NaN
1                               NaN                              NaN
2                               NaN                              NaN
3                               NaN                              NaN
4                               NaN                              NaN

  heart_rate heart_rate_delay heart_rate_time weight_daily  \
0        NaN              NaN             NaN          NaN
1        NaN              NaN             NaN          NaN
2        NaN              NaN             NaN          NaN
3        NaN              NaN             NaN          NaN
4        NaN              NaN             NaN          NaN

          ...         uric_acid_time chloride chloride_delay  \
0         ...                    NaT    114.0          720.0
1         ...                    NaT    111.0       436140.0
2         ...                    NaT    111.0         5580.0
3         ...                    NaT      NaN            NaN
4         ...                    NaT      NaN            NaN

        chloride_time neutrophils neutrophils_delay    neutrophils_time  \
0 2101-10-20 19:14:00         NaN               NaN                 NaT
1 2104-08-08 02:42:00        78.0               0.0 2104-08-13 03:51:00
2 2104-08-08 02:42:00         NaN               NaN                 NaT
3                 NaT         NaN               NaN                 NaT
4                 NaT         NaN               NaN                 NaT

  lymphocytes lymphocytes_delay    lymphocytes_time
0         NaN               NaN                 NaT
1         4.0               0.0 2104-08-13 03:51:00
2         NaN               NaN                 NaT
3         NaN               NaN                 NaT
4         NaN               NaN                 NaT

[5 rows x 72 columns]
------------------------------------
--- Processing feature : Platelet_count
Initial size of table : 320083
After dropping duplicates : 319419
After applying inclusion criteria : 275199
   subject_id  icustay_id              intime             outtime  creatinine  \
0           3      211552 2101-10-20 19:10:11 2101-10-26 20:43:09         2.4
1          12      232669 2104-08-08 02:08:17 2104-08-15 17:22:25         1.1
2          12      232669 2104-08-08 02:08:17 2104-08-15 17:22:25         1.3
3          13      263738 2167-01-08 18:44:25 2167-01-12 10:43:31         0.5
4          17      277042 2134-12-27 16:21:48 2134-12-29 18:04:03         0.8

      creatinine_time        age  length_of_stay    rrt  platelet_count  \
0 2101-10-20 19:26:00  76.526792      145.549444  False           190.0
1 2104-08-13 03:51:00  72.374177      183.235556  False           172.0
2 2104-08-08 04:15:00  72.374177      183.235556  False            87.0
3 2167-01-09 17:09:00  39.866118       87.985000  False           115.0
4 2134-12-27 19:21:00  47.455336       49.704167  False           138.0

   platelet_count_delay platelet_count_time
0                   0.0 2101-10-20 19:26:00
1                   0.0 2104-08-13 03:51:00
2                   0.0 2104-08-08 04:15:00
3                   0.0 2167-01-09 17:09:00
4                3720.0 2134-12-27 18:19:00

---------------------------------
Merged table size : 279206
  arterial_pressure_systolic arterial_pressure_systolic_delay  \
0                        NaN                              NaN
1                        NaN                              NaN
2                        NaN                              NaN
3                        NaN                              NaN
4                        NaN                              NaN

  arterial_pressure_systolic_time arterial_pressure_diastolic  \
0                             NaN                         NaN
1                             NaN                         NaN
2                             NaN                         NaN
3                             NaN                         NaN
4                             NaN                         NaN

  arterial_pressure_diastolic_delay arterial_pressure_diastolic_time  \
0                               NaN                              NaN
1                               NaN                              NaN
2                               NaN                              NaN
3                               NaN                              NaN
4                               NaN                              NaN

  heart_rate heart_rate_delay heart_rate_time weight_daily  \
0        NaN              NaN             NaN          NaN
1        NaN              NaN             NaN          NaN
2        NaN              NaN             NaN          NaN
3        NaN              NaN             NaN          NaN
4        NaN              NaN             NaN          NaN

          ...               chloride_time neutrophils neutrophils_delay  \
0         ...         2101-10-20 19:14:00         NaN               NaN
1         ...         2104-08-08 02:42:00        78.0               0.0
2         ...         2104-08-08 02:42:00         NaN               NaN
3         ...                         NaT         NaN               NaN
4         ...                         NaT         NaN               NaN

     neutrophils_time lymphocytes lymphocytes_delay    lymphocytes_time  \
0                 NaT         NaN               NaN                 NaT
1 2104-08-13 03:51:00         4.0               0.0 2104-08-13 03:51:00
2                 NaT         NaN               NaN                 NaT
3                 NaT         NaN               NaN                 NaT
4                 NaT         NaN               NaN                 NaT

  platelet_count platelet_count_delay platelet_count_time
0          190.0                  0.0 2101-10-20 19:26:00
1          172.0                  0.0 2104-08-13 03:51:00
2           87.0                  0.0 2104-08-08 04:15:00
3          115.0                  0.0 2167-01-09 17:09:00
4          217.0                  0.0 2134-09-14 03:54:00

[5 rows x 75 columns]
------------------------------------
--- Processing feature : pH_blood
Initial size of table : 250384
After dropping duplicates : 249882
After applying inclusion criteria : 230895
   subject_id  icustay_id              intime             outtime  creatinine  \
0           3      211552 2101-10-20 19:10:11 2101-10-26 20:43:09         1.9
1           3      211552 2101-10-20 19:10:11 2101-10-26 20:43:09         1.3
2           3      211552 2101-10-20 19:10:11 2101-10-26 20:43:09         1.3
3           9      220597 2149-11-09 13:07:02 2149-11-14 20:52:14         2.0
4          21      216859 2135-01-30 20:53:34 2135-02-08 05:38:46         2.5

      creatinine_time        age  length_of_stay    rrt  ph_blood  \
0 2101-10-22 04:00:00  76.526792      145.549444  False      7.42
1 2101-10-25 03:00:00  76.526792      145.549444  False      7.39
2 2101-10-26 03:00:00  76.526792      145.549444  False      7.39
3 2149-11-11 03:00:00  41.790228      127.753333  False      7.39
4 2135-02-02 05:03:00  87.826347      200.753333  False      7.41

   ph_blood_delay       ph_blood_time
0          7800.0 2101-10-22 01:50:00
1         48540.0 2101-10-24 13:31:00
2        134940.0 2101-10-24 13:31:00
3         18180.0 2149-11-10 21:57:00
4         39780.0 2135-02-01 18:00:00
---------------------------------
Merged table size : 279206
  arterial_pressure_systolic arterial_pressure_systolic_delay  \
0                        NaN                              NaN
1                        NaN                              NaN
2                        NaN                              NaN
3                        NaN                              NaN
4                        NaN                              NaN

  arterial_pressure_systolic_time arterial_pressure_diastolic  \
0                             NaN                         NaN
1                             NaN                         NaN
2                             NaN                         NaN
3                             NaN                         NaN
4                             NaN                         NaN

  arterial_pressure_diastolic_delay arterial_pressure_diastolic_time  \
0                               NaN                              NaN
1                               NaN                              NaN
2                               NaN                              NaN
3                               NaN                              NaN
4                               NaN                              NaN

  heart_rate heart_rate_delay heart_rate_time weight_daily  \
0        NaN              NaN             NaN          NaN
1        NaN              NaN             NaN          NaN
2        NaN              NaN             NaN          NaN
3        NaN              NaN             NaN          NaN
4        NaN              NaN             NaN          NaN

          ...            neutrophils_time lymphocytes lymphocytes_delay  \
0         ...                         NaT         NaN               NaN
1         ...         2104-08-13 03:51:00         4.0               0.0
2         ...                         NaT         NaN               NaN
3         ...                         NaT         NaN               NaN
4         ...                         NaT         NaN               NaN

     lymphocytes_time platelet_count platelet_count_delay platelet_count_time  \
0                 NaT          190.0                  0.0 2101-10-20 19:26:00
1 2104-08-13 03:51:00          172.0                  0.0 2104-08-13 03:51:00
2                 NaT           87.0                  0.0 2104-08-08 04:15:00
3                 NaT          115.0                  0.0 2167-01-09 17:09:00
4                 NaT          217.0                  0.0 2134-09-14 03:54:00

  ph_blood ph_blood_delay       ph_blood_time
0     7.59          720.0 2101-10-20 19:14:00
1     7.48          660.0 2104-08-13 03:40:00
2     7.22         2700.0 2104-08-08 03:30:00
3     7.34         4920.0 2167-01-09 15:47:00
4     7.32        21900.0 2134-09-13 21:49:00

[5 rows x 78 columns]
------------------------------------
--- Processing feature : pH_urine
Initial size of table : 3318
After dropping duplicates : 3318
After applying inclusion criteria : 3304
   subject_id  icustay_id              intime             outtime  creatinine  \
0         109      221610 2140-08-25 14:40:48 2140-08-31 23:34:12         5.5
1         109      221610 2140-08-25 14:40:48 2140-08-31 23:34:12         5.7
2         109      271885 2138-04-16 17:45:30 2138-04-19 18:00:22         5.3
3         145      246376 2144-04-22 08:38:32 2144-06-08 19:09:56         0.6
4         145      246376 2144-04-22 08:38:32 2144-06-08 19:09:56         0.7

      creatinine_time        age  length_of_stay    rrt  ph_urine  \
0 2140-08-31 03:21:00  23.052145      152.890000  False       7.0
1 2140-08-30 03:24:00  23.052145      152.890000  False       7.0
2 2138-04-19 06:30:00  20.692417       72.247778  False       6.0
3 2144-05-27 02:30:00  55.060371     1138.523333  False       3.0
4 2144-05-28 02:03:00  55.060371     1138.523333  False       3.0

   ph_urine_delay       ph_urine_time
0        146580.0 2140-08-29 10:38:00
1         60360.0 2140-08-29 10:38:00
2         71160.0 2138-04-18 10:44:00
3       1254540.0 2144-05-12 14:01:00
4       1339320.0 2144-05-12 14:01:00

---------------------------------
Merged table size : 279206
  arterial_pressure_systolic arterial_pressure_systolic_delay  \
0                        NaN                              NaN
1                        NaN                              NaN
2                        NaN                              NaN
3                        NaN                              NaN
4                        NaN                              NaN

  arterial_pressure_systolic_time arterial_pressure_diastolic  \
0                             NaN                         NaN
1                             NaN                         NaN
2                             NaN                         NaN
3                             NaN                         NaN
4                             NaN                         NaN

  arterial_pressure_diastolic_delay arterial_pressure_diastolic_time  \
0                               NaN                              NaN
1                               NaN                              NaN
2                               NaN                              NaN
3                               NaN                              NaN
4                               NaN                              NaN

  heart_rate heart_rate_delay heart_rate_time weight_daily      ...       \
0        NaN              NaN             NaN          NaN      ...
1        NaN              NaN             NaN          NaN      ...
2        NaN              NaN             NaN          NaN      ...
3        NaN              NaN             NaN          NaN      ...
4        NaN              NaN             NaN          NaN      ...

     lymphocytes_time platelet_count platelet_count_delay platelet_count_time  \
0                 NaT          190.0                  0.0 2101-10-20 19:26:00
1 2104-08-13 03:51:00          172.0                  0.0 2104-08-13 03:51:00
2                 NaT           87.0                  0.0 2104-08-08 04:15:00
3                 NaT          115.0                  0.0 2167-01-09 17:09:00
4                 NaT          217.0                  0.0 2134-09-14 03:54:00

  ph_blood ph_blood_delay       ph_blood_time ph_urine ph_urine_delay  \
0     7.59          720.0 2101-10-20 19:14:00      NaN            NaN
1     7.48          660.0 2104-08-13 03:40:00      NaN            NaN
2     7.22         2700.0 2104-08-08 03:30:00      NaN            NaN
3     7.34         4920.0 2167-01-09 15:47:00      NaN            NaN
4     7.32        21900.0 2134-09-13 21:49:00      NaN            NaN

  ph_urine_time
0           NaT
1           NaT
2           NaT
3           NaT
4           NaT

[5 rows x 81 columns]
------------------------------------
--- Processing feature : Monocytes
Initial size of table : 0
After dropping duplicates : 0
After applying inclusion criteria : 0
Empty DataFrame
Columns: [subject_id, icustay_id, intime, outtime, creatinine, creatinine_time, age, length_of_stay, rrt, monocytes, monocytes_delay, monocytes_time]
Index: []
---------------------------------
Merged table size : 279206
  arterial_pressure_systolic arterial_pressure_systolic_delay  \
0                        NaN                              NaN
1                        NaN                              NaN
2                        NaN                              NaN
3                        NaN                              NaN
4                        NaN                              NaN

  arterial_pressure_systolic_time arterial_pressure_diastolic  \
0                             NaN                         NaN
1                             NaN                         NaN
2                             NaN                         NaN
3                             NaN                         NaN
4                             NaN                         NaN

  arterial_pressure_diastolic_delay arterial_pressure_diastolic_time  \
0                               NaN                              NaN
1                               NaN                              NaN
2                               NaN                              NaN
3                               NaN                              NaN
4                               NaN                              NaN

  heart_rate heart_rate_delay heart_rate_time weight_daily      ...        \
0        NaN              NaN             NaN          NaN      ...
1        NaN              NaN             NaN          NaN      ...
2        NaN              NaN             NaN          NaN      ...
3        NaN              NaN             NaN          NaN      ...
4        NaN              NaN             NaN          NaN      ...

  platelet_count_time ph_blood ph_blood_delay       ph_blood_time ph_urine  \
0 2101-10-20 19:26:00     7.59          720.0 2101-10-20 19:14:00      NaN
1 2104-08-13 03:51:00     7.48          660.0 2104-08-13 03:40:00      NaN
2 2104-08-08 04:15:00     7.22         2700.0 2104-08-08 03:30:00      NaN
3 2167-01-09 17:09:00     7.34         4920.0 2167-01-09 15:47:00      NaN
4 2134-09-14 03:54:00     7.32        21900.0 2134-09-13 21:49:00      NaN

  ph_urine_delay ph_urine_time monocytes monocytes_delay monocytes_time
0            NaN           NaT       NaN             NaN            NaN
1            NaN           NaT       NaN             NaN            NaN
2            NaN           NaT       NaN             NaN            NaN
3            NaN           NaT       NaN             NaN            NaN
4            NaN           NaT       NaN             NaN            NaN

[5 rows x 84 columns]
------------------------------------
--- Processing feature : fibrinogen
Initial size of table : 107663
After dropping duplicates : 107504
After applying inclusion criteria : 100897
   subject_id  icustay_id              intime             outtime  creatinine  \
0           3      211552 2101-10-20 19:10:11 2101-10-26 20:43:09         1.9
1           3      211552 2101-10-20 19:10:11 2101-10-26 20:43:09         1.5
2           3      211552 2101-10-20 19:10:11 2101-10-26 20:43:09         1.3
3           6      228232 2175-05-30 21:30:54 2175-06-03 13:39:54         5.1
4          12      232669 2104-08-08 02:08:17 2104-08-15 17:22:25         1.2

      creatinine_time        age  length_of_stay    rrt  fibrinogen  \
0 2101-10-22 04:00:00  76.526792      145.549444  False       431.0
1 2101-10-24 03:15:00  76.526792      145.549444  False       431.0
2 2101-10-26 03:00:00  76.526792      145.549444  False       431.0
3 2175-06-03 00:58:00  65.942297       88.150000  False      1073.0
4 2104-08-10 01:00:00  72.374177      183.235556  False       137.0

   fibrinogen_delay     fibrinogen_time
0          115260.0 2101-10-20 19:59:00
1          285360.0 2101-10-20 19:59:00
2          457260.0 2101-10-20 19:59:00
3           28680.0 2175-06-02 17:00:00
4          165600.0 2104-08-08 03:00:00
---------------------------------
Merged table size : 279206
  arterial_pressure_systolic arterial_pressure_systolic_delay  \
0                        NaN                              NaN
1                        NaN                              NaN
2                        NaN                              NaN
3                        NaN                              NaN
4                        NaN                              NaN

  arterial_pressure_systolic_time arterial_pressure_diastolic  \
0                             NaN                         NaN
1                             NaN                         NaN
2                             NaN                         NaN
3                             NaN                         NaN
4                             NaN                         NaN

  arterial_pressure_diastolic_delay arterial_pressure_diastolic_time  \
0                               NaN                              NaN
1                               NaN                              NaN
2                               NaN                              NaN
3                               NaN                              NaN
4                               NaN                              NaN

  heart_rate heart_rate_delay heart_rate_time weight_daily  \
0        NaN              NaN             NaN          NaN
1        NaN              NaN             NaN          NaN
2        NaN              NaN             NaN          NaN
3        NaN              NaN             NaN          NaN
4        NaN              NaN             NaN          NaN

          ...               ph_blood_time ph_urine ph_urine_delay  \
0         ...         2101-10-20 19:14:00      NaN            NaN
1         ...         2104-08-13 03:40:00      NaN            NaN
2         ...         2104-08-08 03:30:00      NaN            NaN
3         ...         2167-01-09 15:47:00      NaN            NaN
4         ...         2134-09-13 21:49:00      NaN            NaN

  ph_urine_time monocytes monocytes_delay monocytes_time fibrinogen  \
0           NaT       NaN             NaN            NaN        NaN
1           NaT       NaN             NaN            NaN      613.0
2           NaT       NaN             NaN            NaN      137.0
3           NaT       NaN             NaN            NaN        NaN
4           NaT       NaN             NaN            NaN        NaN

  fibrinogen_delay     fibrinogen_time
0              NaN                 NaT
1          96720.0 2104-08-12 00:59:00
2           4500.0 2104-08-08 03:00:00
3              NaN                 NaT
4              NaN                 NaT

[5 rows x 87 columns]
------------------------------------
--- Processing feature : urinary_sodium

Initial size of table : 85961
After dropping duplicates : 85687
After applying inclusion criteria : 82464
   subject_id  icustay_id              intime             outtime  creatinine  \
1          31      254478 2108-08-22 23:28:42 2108-08-30 21:59:20         0.9
2          31      254478 2108-08-22 23:28:42 2108-08-30 21:59:20         1.5
4          62      216609 2113-02-15 00:20:44 2113-02-17 20:09:46         0.7
5          62      216609 2113-02-15 00:20:44 2113-02-17 20:09:46         0.7
6          62      216609 2113-02-15 00:20:44 2113-02-17 20:09:46         0.6

      creatinine_time        age  length_of_stay    rrt  urinary_sodium  \
1 2108-08-29 03:00:00  72.267095      190.510556  False            21.0
2 2108-08-30 01:45:00  72.267095      190.510556  False            21.0
4 2113-02-15 14:32:00  68.773620       67.817222  False            70.0
5 2113-02-16 17:30:00  68.773620       67.817222  False            70.0
6 2113-02-17 05:23:00  68.773620       67.817222  False            70.0

   urinary_sodium_delay urinary_sodium_time
1               63000.0 2108-08-28 09:30:00
2              144900.0 2108-08-28 09:30:00
4                7500.0 2113-02-15 12:27:00
5              104580.0 2113-02-15 12:27:00
6              147360.0 2113-02-15 12:27:00
---------------------------------
Merged table size : 279206
  arterial_pressure_systolic arterial_pressure_systolic_delay  \
0                        NaN                              NaN
1                        NaN                              NaN
2                        NaN                              NaN
3                        NaN                              NaN
4                        NaN                              NaN

  arterial_pressure_systolic_time arterial_pressure_diastolic  \
0                             NaN                         NaN
1                             NaN                         NaN
2                             NaN                         NaN
3                             NaN                         NaN
4                             NaN                         NaN

  arterial_pressure_diastolic_delay arterial_pressure_diastolic_time  \
0                               NaN                              NaN
1                               NaN                              NaN
2                               NaN                              NaN
3                               NaN                              NaN
4                               NaN                              NaN

  heart_rate heart_rate_delay heart_rate_time weight_daily  \
0        NaN              NaN             NaN          NaN
1        NaN              NaN             NaN          NaN
2        NaN              NaN             NaN          NaN
3        NaN              NaN             NaN          NaN
4        NaN              NaN             NaN          NaN

          ...         ph_urine_time monocytes monocytes_delay monocytes_time  \
0         ...                   NaT       NaN             NaN            NaN
1         ...                   NaT       NaN             NaN            NaN
2         ...                   NaT       NaN             NaN            NaN
3         ...                   NaT       NaN             NaN            NaN
4         ...                   NaT       NaN             NaN            NaN

  fibrinogen fibrinogen_delay     fibrinogen_time urinary_sodium  \
0        NaN              NaN                 NaT            NaN
1      613.0          96720.0 2104-08-12 00:59:00            NaN
2      137.0           4500.0 2104-08-08 03:00:00            NaN
3        NaN              NaN                 NaT            NaN
4        NaN              NaN                 NaT            NaN

  urinary_sodium_delay urinary_sodium_time
0                  NaN                 NaT
1                  NaN                 NaT
2                  NaN                 NaT
3                  NaN                 NaT
4                  NaN                 NaT

[5 rows x 90 columns]
------------------------------------
--- Processing feature : urinary_potassium
Initial size of table : 47412
After dropping duplicates : 47376
After applying inclusion criteria : 45726
   subject_id  icustay_id              intime             outtime  creatinine  \
0           9      220597 2149-11-09 13:07:02 2149-11-14 20:52:14         2.0
1           9      220597 2149-11-09 13:07:02 2149-11-14 20:52:14         2.0
2           9      220597 2149-11-09 13:07:02 2149-11-14 20:52:14         1.6
3           9      220597 2149-11-09 13:07:02 2149-11-14 20:52:14         1.7
8         106      252051 2192-08-09 18:35:44 2192-08-15 22:33:57         1.2

      creatinine_time        age  length_of_stay    rrt  urinary_potassium  \
0 2149-11-12 03:00:00  41.790228      127.753333  False               51.0
1 2149-11-14 06:00:00  41.790228      127.753333  False               51.0
2 2149-11-13 03:20:00  41.790228      127.753333  False               51.0
3 2149-11-13 16:04:00  41.790228      127.753333  False               51.0
8 2192-08-13 08:04:00  28.358663      147.970278  False               54.0

   urinary_potassium_delay urinary_potassium_time
0                  64800.0    2149-11-11 09:00:00
1                 248400.0    2149-11-11 09:00:00
2                 152400.0    2149-11-11 09:00:00
3                 198240.0    2149-11-11 09:00:00
8                      0.0    2192-08-13 08:04:00
---------------------------------
Merged table size : 279206
  arterial_pressure_systolic arterial_pressure_systolic_delay  \
0                        NaN                              NaN
1                        NaN                              NaN
2                        NaN                              NaN
3                        NaN                              NaN
4                        NaN                              NaN

  arterial_pressure_systolic_time arterial_pressure_diastolic  \
0                             NaN                         NaN
1                             NaN                         NaN
2                             NaN                         NaN
3                             NaN                         NaN
4                             NaN                         NaN

  arterial_pressure_diastolic_delay arterial_pressure_diastolic_time  \
0                               NaN                              NaN
1                               NaN                              NaN
2                               NaN                              NaN
3                               NaN                              NaN
4                               NaN                              NaN

  heart_rate heart_rate_delay heart_rate_time weight_daily  \
0        NaN              NaN             NaN          NaN
1        NaN              NaN             NaN          NaN
2        NaN              NaN             NaN          NaN
3        NaN              NaN             NaN          NaN
4        NaN              NaN             NaN          NaN

           ...           monocytes_time fibrinogen fibrinogen_delay  \
0          ...                      NaN        NaN              NaN
1          ...                      NaN      613.0          96720.0
2          ...                      NaN      137.0           4500.0
3          ...                      NaN        NaN              NaN
4          ...                      NaN        NaN              NaN

      fibrinogen_time urinary_sodium urinary_sodium_delay urinary_sodium_time  \
0                 NaT            NaN                  NaN                 NaT
1 2104-08-12 00:59:00            NaN                  NaN                 NaT
2 2104-08-08 03:00:00            NaN                  NaN                 NaT
3                 NaT            NaN                  NaN                 NaT
4                 NaT            NaN                  NaN                 NaT

  urinary_potassium urinary_potassium_delay urinary_potassium_time
0               NaN                     NaN                    NaT
1               NaN                     NaN                    NaT
2               NaN                     NaN                    NaT
3               NaN                     NaN                    NaT
4               NaN                     NaN                    NaT

[5 rows x 93 columns]
------------------------------------
--- Processing feature : urine_urea

Initial size of table : 56779
After dropping duplicates : 56668
After applying inclusion criteria : 54771
   subject_id  icustay_id              intime             outtime  creatinine  \
0           9      220597 2149-11-09 13:07:02 2149-11-14 20:52:14         2.0
1           9      220597 2149-11-09 13:07:02 2149-11-14 20:52:14         1.6
2           9      220597 2149-11-09 13:07:02 2149-11-14 20:52:14         1.7
3           9      220597 2149-11-09 13:07:02 2149-11-14 20:52:14         2.0
4          62      216609 2113-02-15 00:20:44 2113-02-17 20:09:46         0.7

      creatinine_time        age  length_of_stay    rrt  urine_urea  \
0 2149-11-12 03:00:00  41.790228      127.753333  False       636.0
1 2149-11-13 03:20:00  41.790228      127.753333  False       636.0
2 2149-11-13 16:04:00  41.790228      127.753333  False       636.0
3 2149-11-14 06:00:00  41.790228      127.753333  False       636.0
4 2113-02-15 14:32:00  68.773620       67.817222  False       824.0

   urine_urea_delay     urine_urea_time
0           64800.0 2149-11-11 09:00:00
1          152400.0 2149-11-11 09:00:00
2          198240.0 2149-11-11 09:00:00
3          248400.0 2149-11-11 09:00:00
4            7500.0 2113-02-15 12:27:00
---------------------------------
Merged table size : 279206
  arterial_pressure_systolic arterial_pressure_systolic_delay  \
0                        NaN                              NaN
1                        NaN                              NaN
2                        NaN                              NaN
3                        NaN                              NaN
4                        NaN                              NaN

  arterial_pressure_systolic_time arterial_pressure_diastolic  \
0                             NaN                         NaN
1                             NaN                         NaN
2                             NaN                         NaN
3                             NaN                         NaN
4                             NaN                         NaN

  arterial_pressure_diastolic_delay arterial_pressure_diastolic_time  \
0                               NaN                              NaN
1                               NaN                              NaN
2                               NaN                              NaN
3                               NaN                              NaN
4                               NaN                              NaN

  heart_rate heart_rate_delay heart_rate_time weight_daily       ...        \
0        NaN              NaN             NaN          NaN       ...
1        NaN              NaN             NaN          NaN       ...
2        NaN              NaN             NaN          NaN       ...
3        NaN              NaN             NaN          NaN       ...
4        NaN              NaN             NaN          NaN       ...

      fibrinogen_time urinary_sodium urinary_sodium_delay urinary_sodium_time  \
0                 NaT            NaN                  NaN                 NaT
1 2104-08-12 00:59:00            NaN                  NaN                 NaT
2 2104-08-08 03:00:00            NaN                  NaN                 NaT
3                 NaT            NaN                  NaN                 NaT
4                 NaT            NaN                  NaN                 NaT

  urinary_potassium urinary_potassium_delay urinary_potassium_time urine_urea  \
0               NaN                     NaN                    NaT        NaN
1               NaN                     NaN                    NaT        NaN
2               NaN                     NaN                    NaT        NaN
3               NaN                     NaN                    NaT        NaN
4               NaN                     NaN                    NaT        NaN

  urine_urea_delay urine_urea_time
0              NaN             NaT
1              NaN             NaT
2              NaN             NaT
3              NaN             NaT
4              NaN             NaT

[5 rows x 96 columns]
------------------------------------
--- Processing feature : urine_creatinin
Initial size of table : 95442
After dropping duplicates : 95168
After applying inclusion criteria : 91684
   subject_id  icustay_id              intime             outtime  creatinine  \
0           9      220597 2149-11-09 13:07:02 2149-11-14 20:52:14         2.0
2          31      254478 2108-08-22 23:28:42 2108-08-30 21:59:20         0.9
3          31      254478 2108-08-22 23:28:42 2108-08-30 21:59:20         1.5
4          62      216609 2113-02-15 00:20:44 2113-02-17 20:09:46         0.7
5          62      216609 2113-02-15 00:20:44 2113-02-17 20:09:46         0.7

      creatinine_time        age  length_of_stay    rrt  urine_creatinin  \
0 2149-11-12 03:00:00  41.790228      127.753333  False            130.0
2 2108-08-29 03:00:00  72.267095      190.510556  False             42.0
3 2108-08-30 01:45:00  72.267095      190.510556  False             42.0
4 2113-02-15 14:32:00  68.773620       67.817222  False            153.0
5 2113-02-16 17:30:00  68.773620       67.817222  False            153.0

   urine_creatinin_delay urine_creatinin_time
0                64800.0  2149-11-11 09:00:00
2                63000.0  2108-08-28 09:30:00
3               144900.0  2108-08-28 09:30:00
4                 7500.0  2113-02-15 12:27:00
5               104580.0  2113-02-15 12:27:00
---------------------------------
Merged table size : 279206
  arterial_pressure_systolic arterial_pressure_systolic_delay  \
0                        NaN                              NaN
1                        NaN                              NaN
2                        NaN                              NaN
3                        NaN                              NaN
4                        NaN                              NaN

  arterial_pressure_systolic_time arterial_pressure_diastolic  \
0                             NaN                         NaN
1                             NaN                         NaN
2                             NaN                         NaN
3                             NaN                         NaN
4                             NaN                         NaN

  arterial_pressure_diastolic_delay arterial_pressure_diastolic_time  \
0                               NaN                              NaN
1                               NaN                              NaN
2                               NaN                              NaN
3                               NaN                              NaN
4                               NaN                              NaN

  heart_rate heart_rate_delay heart_rate_time weight_daily  \
0        NaN              NaN             NaN          NaN
1        NaN              NaN             NaN          NaN
2        NaN              NaN             NaN          NaN
3        NaN              NaN             NaN          NaN
4        NaN              NaN             NaN          NaN

          ...          urinary_sodium_time urinary_potassium  \
0         ...                          NaT               NaN
1         ...                          NaT               NaN
2         ...                          NaT               NaN
3         ...                          NaT               NaN
4         ...                          NaT               NaN

  urinary_potassium_delay urinary_potassium_time urine_urea urine_urea_delay  \
0                     NaN                    NaT        NaN              NaN
1                     NaN                    NaT        NaN              NaN
2                     NaN                    NaT        NaN              NaN
3                     NaN                    NaT        NaN              NaN
4                     NaN                    NaT        NaN              NaN

  urine_urea_time urine_creatinin urine_creatinin_delay urine_creatinin_time
0             NaT             NaN                   NaN                  NaT
1             NaT             NaN                   NaN                  NaT
2             NaT             NaN                   NaN                  NaT
3             NaT             NaN                   NaN                  NaT
4             NaT             NaN                   NaN                  NaT

[5 rows x 99 columns]
------------------------------------
--- Processing feature : alkaline_phospatase

Initial size of table : 189131
After dropping duplicates : 188784
After applying inclusion criteria : 174336
   subject_id  icustay_id              intime             outtime  creatinine  \
0           3      211552 2101-10-20 19:10:11 2101-10-26 20:43:09         1.3
1           6      228232 2175-05-30 21:30:54 2175-06-03 13:39:54         5.1
2           9      220597 2149-11-09 13:07:02 2149-11-14 20:52:14         1.6
3          12      232669 2104-08-08 02:08:17 2104-08-15 17:22:25         1.2
4          12      232669 2104-08-08 02:08:17 2104-08-15 17:22:25         1.1

      creatinine_time        age  length_of_stay    rrt  alkaline_phospatase  \
0 2101-10-25 03:00:00  76.526792      145.549444  False                 89.0
1 2175-06-03 00:58:00  65.942297       88.150000  False                 55.0
2 2149-11-13 03:20:00  41.790228      127.753333  False                 67.0
3 2104-08-10 01:00:00  72.374177      183.235556  False                132.0
4 2104-08-11 03:00:00  72.374177      183.235556  False                170.0

   alkaline_phospatase_delay alkaline_phospatase_time
0                   255600.0      2101-10-22 04:00:00
1                        0.0      2175-06-03 00:58:00
2                    87600.0      2149-11-12 03:00:00
3                        0.0      2104-08-10 01:00:00
4                        0.0      2104-08-11 03:00:00
---------------------------------
Merged table size : 279206
  arterial_pressure_systolic arterial_pressure_systolic_delay  \
0                        NaN                              NaN
1                        NaN                              NaN
2                        NaN                              NaN
3                        NaN                              NaN
4                        NaN                              NaN

  arterial_pressure_systolic_time arterial_pressure_diastolic  \
0                             NaN                         NaN
1                             NaN                         NaN
2                             NaN                         NaN
3                             NaN                         NaN
4                             NaN                         NaN

  arterial_pressure_diastolic_delay arterial_pressure_diastolic_time  \
0                               NaN                              NaN
1                               NaN                              NaN
2                               NaN                              NaN
3                               NaN                              NaN
4                               NaN                              NaN

  heart_rate heart_rate_delay heart_rate_time weight_daily  \
0        NaN              NaN             NaN          NaN
1        NaN              NaN             NaN          NaN
2        NaN              NaN             NaN          NaN
3        NaN              NaN             NaN          NaN
4        NaN              NaN             NaN          NaN

            ...            urinary_potassium_time urine_urea urine_urea_delay  \
0           ...                               NaT        NaN              NaN
1           ...                               NaT        NaN              NaN
2           ...                               NaT        NaN              NaN
3           ...                               NaT        NaN              NaN
4           ...                               NaT        NaN              NaN

  urine_urea_time urine_creatinin urine_creatinin_delay urine_creatinin_time  \
0             NaT             NaN                   NaN                  NaT
1             NaT             NaN                   NaN                  NaT
2             NaT             NaN                   NaN                  NaT
3             NaT             NaN                   NaN                  NaT
4             NaT             NaN                   NaN                  NaT

  alkaline_phospatase alkaline_phospatase_delay alkaline_phospatase_time
0                 NaN                       NaN                      NaT
1               193.0                       0.0      2104-08-13 03:51:00
2                 NaN                       NaN                      NaT
3                49.0                   74460.0      2167-01-08 20:28:00
4                72.0                  170640.0      2134-09-12 04:30:00

[5 rows x 102 columns]
------------------------------------
--- Processing feature : Total_protein_blood
Initial size of table : 15756
After dropping duplicates : 15756
After applying inclusion criteria : 15235
   subject_id  icustay_id              intime             outtime  creatinine  \
0           6      228232 2175-05-30 21:30:54 2175-06-03 13:39:54         7.4
1           6      228232 2175-05-30 21:30:54 2175-06-03 13:39:54         6.2
2           6      228232 2175-05-30 21:30:54 2175-06-03 13:39:54         5.1
3         164      218740 2116-12-28 15:34:05 2117-01-16 04:01:58         0.4
4         164      218740 2116-12-28 15:34:05 2117-01-16 04:01:58         0.4

      creatinine_time        age  length_of_stay    rrt  total_protein_blood  \
0 2175-06-01 03:00:00  65.942297       88.150000  False                  5.2
1 2175-06-02 02:06:00  65.942297       88.150000  False                  5.2
2 2175-06-03 00:58:00  65.942297       88.150000  False                  5.2
3 2117-01-11 01:31:00  82.675729      444.464722  False                  5.3
4 2117-01-04 04:30:00  82.675729      444.464722  False                  5.3

   total_protein_blood_delay total_protein_blood_time
0                        0.0      2175-06-01 03:00:00
1                    83160.0      2175-06-01 03:00:00
2                   165480.0      2175-06-01 03:00:00
3                   641940.0      2117-01-03 15:12:00
4                    47880.0      2117-01-03 15:12:00
---------------------------------
Merged table size : 279206
  arterial_pressure_systolic arterial_pressure_systolic_delay  \
0                        NaN                              NaN
1                        NaN                              NaN
2                        NaN                              NaN
3                        NaN                              NaN
4                        NaN                              NaN

  arterial_pressure_systolic_time arterial_pressure_diastolic  \
0                             NaN                         NaN
1                             NaN                         NaN
2                             NaN                         NaN
3                             NaN                         NaN
4                             NaN                         NaN

  arterial_pressure_diastolic_delay arterial_pressure_diastolic_time  \
0                               NaN                              NaN
1                               NaN                              NaN
2                               NaN                              NaN
3                               NaN                              NaN
4                               NaN                              NaN

  heart_rate heart_rate_delay heart_rate_time weight_daily  \
0        NaN              NaN             NaN          NaN
1        NaN              NaN             NaN          NaN
2        NaN              NaN             NaN          NaN
3        NaN              NaN             NaN          NaN
4        NaN              NaN             NaN          NaN

            ...            urine_urea_time urine_creatinin  \
0           ...                        NaT             NaN
1           ...                        NaT             NaN
2           ...                        NaT             NaN
3           ...                        NaT             NaN
4           ...                        NaT             NaN

  urine_creatinin_delay urine_creatinin_time alkaline_phospatase  \
0                   NaN                  NaT                 NaN
1                   NaN                  NaT               193.0
2                   NaN                  NaT                 NaN
3                   NaN                  NaT                49.0
4                   NaN                  NaT                72.0

  alkaline_phospatase_delay alkaline_phospatase_time total_protein_blood  \
0                       NaN                      NaT                 NaN
1                       0.0      2104-08-13 03:51:00                 NaN
2                       NaN                      NaT                 NaN
3                   74460.0      2167-01-08 20:28:00                 NaN
4                  170640.0      2134-09-12 04:30:00                 NaN

  total_protein_blood_delay total_protein_blood_time
0                       NaN                      NaT
1                       NaN                      NaT
2                       NaN                      NaT
3                       NaN                      NaT
4                       NaN                      NaT

[5 rows x 105 columns]
------------------------------------
--- Processing feature : albumin

Initial size of table : 176225
After dropping duplicates : 175862
After applying inclusion criteria : 164713
   subject_id  icustay_id              intime             outtime  creatinine  \
0           3      211552 2101-10-20 19:10:11 2101-10-26 20:43:09         1.5
1           3      211552 2101-10-20 19:10:11 2101-10-26 20:43:09         1.3
2           9      220597 2149-11-09 13:07:02 2149-11-14 20:52:14         1.6
3          12      232669 2104-08-08 02:08:17 2104-08-15 17:22:25         1.2
4          12      232669 2104-08-08 02:08:17 2104-08-15 17:22:25         1.1

      creatinine_time        age  length_of_stay    rrt  albumin  \
0 2101-10-24 03:15:00  76.526792      145.549444  False      1.8
1 2101-10-26 03:00:00  76.526792      145.549444  False      1.8
2 2149-11-13 03:20:00  41.790228      127.753333  False      3.0
3 2104-08-10 01:00:00  72.374177      183.235556  False      2.4
4 2104-08-11 03:00:00  72.374177      183.235556  False      2.4

   albumin_delay        albumin_time
0       285360.0 2101-10-20 19:59:00
1       457260.0 2101-10-20 19:59:00
2            0.0 2149-11-13 03:20:00
3            0.0 2104-08-10 01:00:00
4        93600.0 2104-08-10 01:00:00
---------------------------------
Merged table size : 279206
  arterial_pressure_systolic arterial_pressure_systolic_delay  \
0                        NaN                              NaN
1                        NaN                              NaN
2                        NaN                              NaN
3                        NaN                              NaN
4                        NaN                              NaN

  arterial_pressure_systolic_time arterial_pressure_diastolic  \
0                             NaN                         NaN
1                             NaN                         NaN
2                             NaN                         NaN
3                             NaN                         NaN
4                             NaN                         NaN

  arterial_pressure_diastolic_delay arterial_pressure_diastolic_time  \
0                               NaN                              NaN
1                               NaN                              NaN
2                               NaN                              NaN
3                               NaN                              NaN
4                               NaN                              NaN

  heart_rate heart_rate_delay heart_rate_time weight_daily  \
0        NaN              NaN             NaN          NaN
1        NaN              NaN             NaN          NaN
2        NaN              NaN             NaN          NaN
3        NaN              NaN             NaN          NaN
4        NaN              NaN             NaN          NaN

          ...         urine_creatinin_time alkaline_phospatase  \
0         ...                          NaT                 NaN
1         ...                          NaT               193.0
2         ...                          NaT                 NaN
3         ...                          NaT                49.0
4         ...                          NaT                72.0

  alkaline_phospatase_delay alkaline_phospatase_time total_protein_blood  \
0                       NaN                      NaT                 NaN
1                       0.0      2104-08-13 03:51:00                 NaN
2                       NaN                      NaT                 NaN
3                   74460.0      2167-01-08 20:28:00                 NaN
4                  170640.0      2134-09-12 04:30:00                 NaN

  total_protein_blood_delay total_protein_blood_time albumin albumin_delay  \
0                       NaN                      NaT     NaN           NaN
1                       NaN                      NaT     2.2           0.0
2                       NaN                      NaT     NaN           NaN
3                       NaN                      NaT     3.9       74460.0
4                       NaN                      NaT     NaN           NaN

         albumin_time
0                 NaT
1 2104-08-13 03:51:00
2                 NaT
3 2167-01-08 20:28:00
4                 NaT

[5 rows x 108 columns]
------------------------------------
--- Processing feature : Total_protein_urine
Initial size of table : 15708
After dropping duplicates : 15681
After applying inclusion criteria : 15241
   subject_id  icustay_id              intime             outtime  creatinine  \
0          83      254066 2142-04-03 10:33:32 2142-04-05 18:05:53         3.0
1          83      254066 2142-04-03 10:33:32 2142-04-05 18:05:53         2.8
2          94      213450 2176-09-02 16:27:46 2176-09-25 14:00:30         0.3
3          94      213450 2176-09-02 16:27:46 2176-09-25 14:00:30         0.3
4          94      213450 2176-09-02 16:27:46 2176-09-25 14:00:30         0.4

      creatinine_time        age  length_of_stay    rrt  total_protein_urine  \
0 2142-04-04 05:22:00  65.546788       55.539167  False                196.0
1 2142-04-05 05:52:00  65.546788       55.539167  False                196.0
2 2176-09-10 00:49:00  74.954923      549.545556  False                 12.0
3 2176-09-14 04:01:00  74.954923      549.545556  False                 12.0
4 2176-09-12 02:15:00  74.954923      549.545556  False                 12.0

   total_protein_urine_delay total_protein_urine_time
0                    25380.0      2142-04-03 22:19:00
1                   113580.0      2142-04-03 22:19:00
2                    40260.0      2176-09-09 13:38:00
3                   397380.0      2176-09-09 13:38:00
4                   218220.0      2176-09-09 13:38:00
---------------------------------
Merged table size : 279206
  arterial_pressure_systolic arterial_pressure_systolic_delay  \
0                        NaN                              NaN
1                        NaN                              NaN
2                        NaN                              NaN
3                        NaN                              NaN
4                        NaN                              NaN

  arterial_pressure_systolic_time arterial_pressure_diastolic  \
0                             NaN                         NaN
1                             NaN                         NaN
2                             NaN                         NaN
3                             NaN                         NaN
4                             NaN                         NaN

  arterial_pressure_diastolic_delay arterial_pressure_diastolic_time  \
0                               NaN                              NaN
1                               NaN                              NaN
2                               NaN                              NaN
3                               NaN                              NaN
4                               NaN                              NaN

  heart_rate heart_rate_delay heart_rate_time weight_daily  \
0        NaN              NaN             NaN          NaN
1        NaN              NaN             NaN          NaN
2        NaN              NaN             NaN          NaN
3        NaN              NaN             NaN          NaN
4        NaN              NaN             NaN          NaN

            ...            alkaline_phospatase_time total_protein_blood  \
0           ...                                 NaT                 NaN
1           ...                 2104-08-13 03:51:00                 NaN
2           ...                                 NaT                 NaN
3           ...                 2167-01-08 20:28:00                 NaN
4           ...                 2134-09-12 04:30:00                 NaN

  total_protein_blood_delay total_protein_blood_time albumin albumin_delay  \
0                       NaN                      NaT     NaN           NaN
1                       NaN                      NaT     2.2           0.0
2                       NaN                      NaT     NaN           NaN
3                       NaN                      NaT     3.9       74460.0
4                       NaN                      NaT     NaN           NaN

         albumin_time total_protein_urine total_protein_urine_delay  \
0                 NaT                 NaN                       NaN
1 2104-08-13 03:51:00                 NaN                       NaN
2                 NaT                 NaN                       NaN
3 2167-01-08 20:28:00                 NaN                       NaN
4                 NaT                 NaN                       NaN

  total_protein_urine_time
0                      NaT
1                      NaT
2                      NaT
3                      NaT
4                      NaT

[5 rows x 111 columns]
------------------------------------
--- Processing feature : bilirubin

Initial size of table : 193432
After dropping duplicates : 193018
After applying inclusion criteria : 177120
   subject_id  icustay_id              intime             outtime  creatinine  \
0           3      211552 2101-10-20 19:10:11 2101-10-26 20:43:09         1.3
1           6      228232 2175-05-30 21:30:54 2175-06-03 13:39:54         5.1
2           9      220597 2149-11-09 13:07:02 2149-11-14 20:52:14         1.6
3          12      232669 2104-08-08 02:08:17 2104-08-15 17:22:25         1.2
4          12      232669 2104-08-08 02:08:17 2104-08-15 17:22:25         1.1

      creatinine_time        age  length_of_stay    rrt  bilirubin  \
0 2101-10-25 03:00:00  76.526792      145.549444  False        0.8
1 2175-06-03 00:58:00  65.942297       88.150000  False        0.3
2 2149-11-13 03:20:00  41.790228      127.753333  False        0.4
3 2104-08-10 01:00:00  72.374177      183.235556  False        9.9
4 2104-08-11 03:00:00  72.374177      183.235556  False        8.4

   bilirubin_delay      bilirubin_time
0         255600.0 2101-10-22 04:00:00
1              0.0 2175-06-03 00:58:00
2          87600.0 2149-11-12 03:00:00
3              0.0 2104-08-10 01:00:00
4              0.0 2104-08-11 03:00:00
---------------------------------
Merged table size : 279206
  arterial_pressure_systolic arterial_pressure_systolic_delay  \
0                        NaN                              NaN
1                        NaN                              NaN
2                        NaN                              NaN
3                        NaN                              NaN
4                        NaN                              NaN

  arterial_pressure_systolic_time arterial_pressure_diastolic  \
0                             NaN                         NaN
1                             NaN                         NaN
2                             NaN                         NaN
3                             NaN                         NaN
4                             NaN                         NaN

  arterial_pressure_diastolic_delay arterial_pressure_diastolic_time  \
0                               NaN                              NaN
1                               NaN                              NaN
2                               NaN                              NaN
3                               NaN                              NaN
4                               NaN                              NaN

  heart_rate heart_rate_delay heart_rate_time weight_daily  \
0        NaN              NaN             NaN          NaN
1        NaN              NaN             NaN          NaN
2        NaN              NaN             NaN          NaN
3        NaN              NaN             NaN          NaN
4        NaN              NaN             NaN          NaN

          ...         total_protein_blood_time albumin albumin_delay  \
0         ...                              NaT     NaN           NaN
1         ...                              NaT     2.2           0.0
2         ...                              NaT     NaN           NaN
3         ...                              NaT     3.9       74460.0
4         ...                              NaT     NaN           NaN

         albumin_time total_protein_urine total_protein_urine_delay  \
0                 NaT                 NaN                       NaN
1 2104-08-13 03:51:00                 NaN                       NaN
2                 NaT                 NaN                       NaN
3 2167-01-08 20:28:00                 NaN                       NaN
4                 NaT                 NaN                       NaN

  total_protein_urine_time bilirubin bilirubin_delay      bilirubin_time
0                      NaT       NaN             NaN                 NaT
1                      NaT       8.2             0.0 2104-08-13 03:51:00
2                      NaT       NaN             NaN                 NaT
3                      NaT       0.4         74460.0 2167-01-08 20:28:00
4                      NaT       0.4        170640.0 2134-09-12 04:30:00

[5 rows x 114 columns]
------------------------------------
--- Processing feature : C_reactive_protein
Initial size of table : 7917
After dropping duplicates : 7917
After applying inclusion criteria : 7574
   subject_id  icustay_id              intime             outtime  creatinine  \
0          36      211200 2131-05-16 23:18:26 2131-05-23 19:56:11         1.1
1          36      211200 2131-05-16 23:18:26 2131-05-23 19:56:11         1.1
2         109      271885 2138-04-16 17:45:30 2138-04-19 18:00:22         4.9
3         109      271885 2138-04-16 17:45:30 2138-04-19 18:00:22         5.8
4         109      271885 2138-04-16 17:45:30 2138-04-19 18:00:22         5.3

      creatinine_time        age  length_of_stay    rrt  c_reactive_protein  \
0 2131-05-23 00:58:00  69.745460      164.629167  False              123.40
1 2131-05-22 02:05:00  69.745460      164.629167  False              123.40
2 2138-04-17 05:01:00  20.692417       72.247778  False                2.59
3 2138-04-18 01:42:00  20.692417       72.247778  False                2.59
4 2138-04-19 06:30:00  20.692417       72.247778  False                2.59

   c_reactive_protein_delay c_reactive_protein_time
0                   82380.0     2131-05-22 02:05:00
1                       0.0     2131-05-22 02:05:00
2                       0.0     2138-04-17 05:01:00
3                   74460.0     2138-04-17 05:01:00
4                  178140.0     2138-04-17 05:01:00
---------------------------------
Merged table size : 279206
  arterial_pressure_systolic arterial_pressure_systolic_delay  \
0                        NaN                              NaN
1                        NaN                              NaN
2                        NaN                              NaN
3                        NaN                              NaN
4                        NaN                              NaN

  arterial_pressure_systolic_time arterial_pressure_diastolic  \
0                             NaN                         NaN
1                             NaN                         NaN
2                             NaN                         NaN
3                             NaN                         NaN
4                             NaN                         NaN

  arterial_pressure_diastolic_delay arterial_pressure_diastolic_time  \
0                               NaN                              NaN
1                               NaN                              NaN
2                               NaN                              NaN
3                               NaN                              NaN
4                               NaN                              NaN

  heart_rate heart_rate_delay heart_rate_time weight_daily  \
0        NaN              NaN             NaN          NaN
1        NaN              NaN             NaN          NaN
2        NaN              NaN             NaN          NaN
3        NaN              NaN             NaN          NaN
4        NaN              NaN             NaN          NaN

            ...                  albumin_time total_protein_urine  \
0           ...                           NaT                 NaN
1           ...           2104-08-13 03:51:00                 NaN
2           ...                           NaT                 NaN
3           ...           2167-01-08 20:28:00                 NaN
4           ...                           NaT                 NaN

  total_protein_urine_delay total_protein_urine_time bilirubin  \
0                       NaN                      NaT       NaN
1                       NaN                      NaT       8.2
2                       NaN                      NaT       NaN
3                       NaN                      NaT       0.4
4                       NaN                      NaT       0.4

  bilirubin_delay      bilirubin_time c_reactive_protein  \
0             NaN                 NaT                NaN
1             0.0 2104-08-13 03:51:00                NaN
2             NaN                 NaT                NaN
3         74460.0 2167-01-08 20:28:00                NaN
4        170640.0 2134-09-12 04:30:00                NaN

  c_reactive_protein_delay c_reactive_protein_time
0                      NaN                     NaT
1                      NaN                     NaT
2                      NaN                     NaT
3                      NaN                     NaT
4                      NaN                     NaT

[5 rows x 117 columns]

In [ ]:
# REMOVE COLUMNS THAT WERE USED FOR INCLUSION CRITERIA BUT THAT ARE NOT AVAILABLE FEATURES FOR THE PREDICTION
# REMOVE ICUSTAY_IDS FOR WHICH THERE IS ONLY ONE MEASUREMENT OF CREATININE

#print('Number of lines : ' + str(last_df.shape[0]))
#to_remove = ['intime','outtime','length_of_stay','rrt']
#for c in to_remove:
#    if (c in last_df.columns.values): last_df = last_df.drop(c,axis=1)

# Remove icustay_ids for which there's only one measurement of creatinine
#count_mes = last_df['icustay_id'].value_counts()
#to_remove = count_mes.index.values[count_mes==1]
#for i in to_remove:
#    last_df = last_df.loc[last_df['icustay_id']!=i,:]

#print('After dropping unique measurements of creatinine : ' + str(last_df.shape[0]))
#last_df.head()

In [7]:
# Dump to file
df_labevents.to_csv('creatinine_measurements_1.csv')
print(df_labevents)

       arterial_pressure_systolic arterial_pressure_systolic_delay  \
0                             NaN                              NaN
1                             NaN                              NaN
2                             NaN                              NaN
3                             NaN                              NaN
4                             NaN                              NaN
5                             NaN                              NaN
6                             NaN                              NaN
7                             NaN                              NaN
8                             NaN                              NaN
9                             NaN                              NaN
10                            NaN                              NaN
11                            NaN                              NaN
12                            NaN                              NaN
13                            NaN                              NaN
14                            NaN                              NaN
15                            NaN                              NaN
16                            NaN                              NaN
17                            NaN                              NaN
18                            NaN                              NaN
19                            NaN                              NaN
20                            NaN                              NaN
21                            NaN                              NaN
22                            NaN                              NaN
23                            NaN                              NaN
24                            NaN                              NaN
25                            NaN                              NaN
26                            NaN                              NaN
27                            NaN                              NaN
28                            NaN                              NaN
29                            NaN                              NaN
...                           ...                              ...
279176                        NaN                              NaN
279177                        NaN                              NaN
279178                        NaN                              NaN
279179                        NaN                              NaN
279180                        NaN                              NaN
279181                        NaN                              NaN
279182                        NaN                              NaN
279183                        NaN                              NaN
279184                        NaN                              NaN
279185                        NaN                              NaN
279186                        NaN                              NaN
279187                        NaN                              NaN
279188                        NaN                              NaN
279189                        NaN                              NaN
279190                        NaN                              NaN
279191                        NaN                              NaN
279192                        NaN                              NaN
279193                        NaN                              NaN
279194                        NaN                              NaN
279195                        NaN                              NaN
279196                        NaN                              NaN
279197                        NaN                              NaN
279198                        NaN                              NaN
279199                        NaN                              NaN
279200                        NaN                              NaN
279201                        NaN                              NaN
279202                        NaN                              NaN
279203                        NaN                              NaN
279204                        NaN                              NaN
279205                        NaN                              NaN

       arterial_pressure_systolic_time arterial_pressure_diastolic  \
0                                  NaN                         NaN
1                                  NaN                         NaN
2                                  NaN                         NaN
3                                  NaN                         NaN
4                                  NaN                         NaN
5                                  NaN                         NaN
6                                  NaN                         NaN
7                                  NaN                         NaN
8                                  NaN                         NaN
9                                  NaN                         NaN
10                                 NaN                         NaN
11                                 NaN                         NaN
12                                 NaN                         NaN
13                                 NaN                         NaN
14                                 NaN                         NaN
15                                 NaN                         NaN
16                                 NaN                         NaN
17                                 NaN                         NaN
18                                 NaN                         NaN
19                                 NaN                         NaN
20                                 NaN                         NaN
21                                 NaN                         NaN
22                                 NaN                         NaN
23                                 NaN                         NaN
24                                 NaN                         NaN
25                                 NaN                         NaN
26                                 NaN                         NaN
27                                 NaN                         NaN
28                                 NaN                         NaN
29                                 NaN                         NaN
...                                ...                         ...
279176                             NaN                         NaN
279177                             NaN                         NaN
279178                             NaN                         NaN
279179                             NaN                         NaN
279180                             NaN                         NaN
279181                             NaN                         NaN
279182                             NaN                         NaN
279183                             NaN                         NaN
279184                             NaN                         NaN
279185                             NaN                         NaN
279186                             NaN                         NaN
279187                             NaN                         NaN
279188                             NaN                         NaN
279189                             NaN                         NaN
279190                             NaN                         NaN
279191                             NaN                         NaN
279192                             NaN                         NaN
279193                             NaN                         NaN
279194                             NaN                         NaN
279195                             NaN                         NaN
279196                             NaN                         NaN
279197                             NaN                         NaN
279198                             NaN                         NaN
279199                             NaN                         NaN
279200                             NaN                         NaN
279201                             NaN                         NaN
279202                             NaN                         NaN
279203                             NaN                         NaN
279204                             NaN                         NaN
279205                             NaN                         NaN

       arterial_pressure_diastolic_delay arterial_pressure_diastolic_time  \
0                                    NaN                              NaN
1                                    NaN                              NaN
2                                    NaN                              NaN
3                                    NaN                              NaN
4                                    NaN                              NaN
5                                    NaN                              NaN
6                                    NaN                              NaN
7                                    NaN                              NaN
8                                    NaN                              NaN
9                                    NaN                              NaN
10                                   NaN                              NaN
11                                   NaN                              NaN
12                                   NaN                              NaN
13                                   NaN                              NaN
14                                   NaN                              NaN
15                                   NaN                              NaN
16                                   NaN                              NaN
17                                   NaN                              NaN
18                                   NaN                              NaN
19                                   NaN                              NaN
20                                   NaN                              NaN
21                                   NaN                              NaN
22                                   NaN                              NaN
23                                   NaN                              NaN
24                                   NaN                              NaN
25                                   NaN                              NaN
26                                   NaN                              NaN
27                                   NaN                              NaN
28                                   NaN                              NaN
29                                   NaN                              NaN
...                                  ...                              ...
279176                               NaN                              NaN
279177                               NaN                              NaN
279178                               NaN                              NaN
279179                               NaN                              NaN
279180                               NaN                              NaN
279181                               NaN                              NaN
279182                               NaN                              NaN
279183                               NaN                              NaN
279184                               NaN                              NaN
279185                               NaN                              NaN
279186                               NaN                              NaN
279187                               NaN                              NaN
279188                               NaN                              NaN
279189                               NaN                              NaN
279190                               NaN                              NaN
279191                               NaN                              NaN
279192                               NaN                              NaN
279193                               NaN                              NaN
279194                               NaN                              NaN
279195                               NaN                              NaN
279196                               NaN                              NaN
279197                               NaN                              NaN
279198                               NaN                              NaN
279199                               NaN                              NaN
279200                               NaN                              NaN
279201                               NaN                              NaN
279202                               NaN                              NaN
279203                               NaN                              NaN
279204                               NaN                              NaN
279205                               NaN                              NaN

       heart_rate heart_rate_delay heart_rate_time weight_daily  \
0             NaN              NaN             NaN          NaN
1             NaN              NaN             NaN          NaN
2             NaN              NaN             NaN          NaN
3             NaN              NaN             NaN          NaN
4             NaN              NaN             NaN          NaN
5             NaN              NaN             NaN          NaN
6             NaN              NaN             NaN          NaN
7             NaN              NaN             NaN          NaN
8             NaN              NaN             NaN          NaN
9             NaN              NaN             NaN          NaN
10            NaN              NaN             NaN          NaN
11            NaN              NaN             NaN          NaN
12            NaN              NaN             NaN          NaN
13            NaN              NaN             NaN          NaN
14            NaN              NaN             NaN          NaN
15            NaN              NaN             NaN          NaN
16            NaN              NaN             NaN          NaN
17            NaN              NaN             NaN          NaN
18            NaN              NaN             NaN          NaN
19            NaN              NaN             NaN          NaN
20            NaN              NaN             NaN          NaN
21            NaN              NaN             NaN          NaN
22            NaN              NaN             NaN          NaN
23            NaN              NaN             NaN          NaN
24            NaN              NaN             NaN          NaN
25            NaN              NaN             NaN          NaN
26            NaN              NaN             NaN          NaN
27            NaN              NaN             NaN          NaN
28            NaN              NaN             NaN          NaN
29            NaN              NaN             NaN          NaN
...           ...              ...             ...          ...
279176        NaN              NaN             NaN          NaN
279177        NaN              NaN             NaN          NaN
279178        NaN              NaN             NaN          NaN
279179        NaN              NaN             NaN          NaN
279180        NaN              NaN             NaN          NaN
279181        NaN              NaN             NaN          NaN
279182        NaN              NaN             NaN          NaN
279183        NaN              NaN             NaN          NaN
279184        NaN              NaN             NaN          NaN
279185        NaN              NaN             NaN          NaN
279186        NaN              NaN             NaN          NaN
279187        NaN              NaN             NaN          NaN
279188        NaN              NaN             NaN          NaN
279189        NaN              NaN             NaN          NaN
279190        NaN              NaN             NaN          NaN
279191        NaN              NaN             NaN          NaN
279192        NaN              NaN             NaN          NaN
279193        NaN              NaN             NaN          NaN
279194        NaN              NaN             NaN          NaN
279195        NaN              NaN             NaN          NaN
279196        NaN              NaN             NaN          NaN
279197        NaN              NaN             NaN          NaN
279198        NaN              NaN             NaN          NaN
279199        NaN              NaN             NaN          NaN
279200        NaN              NaN             NaN          NaN
279201        NaN              NaN             NaN          NaN
279202        NaN              NaN             NaN          NaN
279203        NaN              NaN             NaN          NaN
279204        NaN              NaN             NaN          NaN
279205        NaN              NaN             NaN          NaN

                 ...                  albumin_time total_protein_urine  \
0                ...                           NaT                 NaN
1                ...           2104-08-13 03:51:00                 NaN
2                ...                           NaT                 NaN
3                ...           2167-01-08 20:28:00                 NaN
4                ...                           NaT                 NaN
5                ...           2135-01-31 05:20:00                 NaN
6                ...           2108-08-26 02:55:00                 NaN
7                ...                           NaT                 NaN
8                ...                           NaT                 NaN
9                ...           2131-05-17 06:09:00                 NaN
10               ...           2131-05-17 06:09:00                 NaN
11               ...                           NaT                 NaN
12               ...           2166-08-12 01:24:00                 NaN
13               ...           2166-08-17 09:16:00                 NaN
14               ...           2166-08-23 00:52:00                 NaN
15               ...           2166-08-17 09:16:00                 NaN
16               ...           2166-08-23 00:52:00                 NaN
17               ...           2166-08-23 00:52:00                 NaN
18               ...                           NaT                 NaN
19               ...           2186-10-02 14:10:00                 NaN
20               ...                           NaT                 NaN
21               ...                           NaT                 NaN
22               ...                           NaT                 NaN
23               ...                           NaT                 NaN
24               ...           2174-01-10 08:16:00                 NaN
25               ...           2174-01-11 03:56:00                 NaN
26               ...                           NaT                 NaN
27               ...           2164-02-05 05:54:00                 NaN
28               ...                           NaT                 NaN
29               ...                           NaT                 NaN
...              ...                           ...                 ...
279176           ...           2116-06-08 01:54:00                 NaN
279177           ...           2116-07-01 03:01:00                 NaN
279178           ...           2116-06-08 01:54:00                 NaN
279179           ...                           NaT                94.0
279180           ...                           NaT                94.0
279181           ...                           NaT                 NaN
279182           ...                           NaT                94.0
279183           ...                           NaT                94.0
279184           ...                           NaT                 NaN
279185           ...           2174-01-20 14:30:00                 NaN
279186           ...                           NaT                 NaN

# Retrieve missing static information

In [8]:
# Creatinine measurements, AKI flags + stage for all stays
# Inclusion flags :
# patient age > 15
# length of stay > 48hours
query = query_schema + """
with cr as
(
select
    icu.subject_id, icu.icustay_id, icu.intime, icu.outtime, EXTRACT(EPOCH FROM icu.outtime - icu.intime)/60.0/60.0 as length_of_stay,
    le.valuenum as creatinine, le.charttime as creatinine_time,
    adm.ethnicity, adm.diagnosis,
    pat.gender as gender,
    EXTRACT('epoch' from icu.intime - pat.dob) / 60.0 / 60.0 / 24.0 / 365.242 AS age,
    (rrt.icustay_id is null) as rrt
  from icustays icu
  inner join labevents le
    on icu.subject_id = le.subject_id
    and le.itemid = 50912
    and le.valuenum is not null
    and le.charttime between icu.intime and icu.outtime
  inner join patients pat
    ON icu.subject_id = pat.subject_id
  inner join admissions adm
    on icu.subject_id = adm.subject_id
  left outer join rrt 
    on icu.icustay_id = rrt.icustay_id
)
select
cr.subject_id, cr.icustay_id, cr.intime, cr.outtime,
    cr.creatinine, cr.creatinine_time,
    cr.ethnicity, cr.diagnosis,
    cr.gender,
    cr.age, CASE
                WHEN cr.age >= 15 then 1
            ELSE 0 END
            as inclusion_age,
  cr.length_of_stay, CASE
                        WHEN cr.length_of_stay >= 48 then 1
                     ELSE 0 END
                     as inclusion_length_of_stay,
  cr.rrt, CASE
            WHEN cr.rrt = False then 1
          ELSE 0 END
          as inclusion_rrt
  from cr
"""
df_static = pd.read_sql_query(query, con)
print(df_static.head())
df_static = apply_inclusion_criteria(df_static)
print(df_static.head())

   subject_id  icustay_id              intime             outtime  creatinine  \
0           4      294638 2191-03-16 00:29:31 2191-03-17 16:46:31         0.5
1           4      294638 2191-03-16 00:29:31 2191-03-17 16:46:31         0.4
2           6      228232 2175-05-30 21:30:54 2175-06-03 13:39:54        10.0
3           6      228232 2175-05-30 21:30:54 2175-06-03 13:39:54         7.4
4           6      228232 2175-05-30 21:30:54 2175-06-03 13:39:54         6.2

      creatinine_time ethnicity                            diagnosis gender  \
0 2191-03-16 05:42:00     WHITE  FEVER,DEHYDRATION,FAILURE TO THRIVE      F
1 2191-03-17 06:00:00     WHITE  FEVER,DEHYDRATION,FAILURE TO THRIVE      F
2 2175-05-31 01:48:00     WHITE            CHRONIC RENAL FAILURE/SDA      F
3 2175-06-01 03:00:00     WHITE            CHRONIC RENAL FAILURE/SDA      F
4 2175-06-02 02:06:00     WHITE            CHRONIC RENAL FAILURE/SDA      F

         age  inclusion_age  length_of_stay  inclusion_length_of_stay    rrt  \
0  47.845047              1       40.283333                         0  False
1  47.845047              1       40.283333                         0  False
2  65.942297              1       88.150000                         1  False
3  65.942297              1       88.150000                         1  False
4  65.942297              1       88.150000                         1  False

   inclusion_rrt
0              1
1              1
2              1
3              1
4              1
Initial size of table : 658558
After dropping duplicates : 326653
After applying inclusion criteria : 279205
   subject_id  icustay_id              intime             outtime  creatinine  \
2           6      228232 2175-05-30 21:30:54 2175-06-03 13:39:54        10.0
3           6      228232 2175-05-30 21:30:54 2175-06-03 13:39:54         7.4
4           6      228232 2175-05-30 21:30:54 2175-06-03 13:39:54         6.2
5           6      228232 2175-05-30 21:30:54 2175-06-03 13:39:54         5.1
6           9      220597 2149-11-09 13:07:02 2149-11-14 20:52:14         1.4

      creatinine_time              ethnicity                  diagnosis  \
2 2175-05-31 01:48:00                  WHITE  CHRONIC RENAL FAILURE/SDA
3 2175-06-01 03:00:00                  WHITE  CHRONIC RENAL FAILURE/SDA
4 2175-06-02 02:06:00                  WHITE  CHRONIC RENAL FAILURE/SDA
5 2175-06-03 00:58:00                  WHITE  CHRONIC RENAL FAILURE/SDA
6 2149-11-10 03:00:00  UNKNOWN/NOT SPECIFIED            HEMORRHAGIC CVA

  gender        age  length_of_stay    rrt
2      F  65.942297       88.150000  False
3      F  65.942297       88.150000  False
4      F  65.942297       88.150000  False
5      F  65.942297       88.150000  False
6      M  41.790228      127.753333  False

In [ ]:
# REMOVE COLUMNS THAT WERE USED FOR INCLUSION CRITERIA BUT THAT ARE NOT AVAILABLE FEATURES FOR THE PREDICTION
# REMOVE ICUSTAY_IDS FOR WHICH THERE IS ONLY ONE MEASUREMENT OF CREATININE

#print('Number of lines : ' + str(df.shape[0]))
#to_remove = ['intime','outtime','length_of_stay','rrt']
#for c in to_remove:
#    if (c in df.columns.values): df = df.drop(c,axis=1)

# Remove icustay_ids for which there's only one measurement of creatinine
#count_mes = df['icustay_id'].value_counts()
#to_remove = count_mes.index.values[count_mes==1]
#for i in to_remove:
#    df = df.loc[df['icustay_id']!=i,:]

#print('After dropping unique measurements of creatinine : ' + str(df.shape[0]))
#print(df.head())

In [9]:
# Dump to file
df_static.to_csv('creatinine_measurements_2.csv')
print(df_static)

        subject_id  icustay_id              intime             outtime  \
2                6      228232 2175-05-30 21:30:54 2175-06-03 13:39:54
3                6      228232 2175-05-30 21:30:54 2175-06-03 13:39:54
4                6      228232 2175-05-30 21:30:54 2175-06-03 13:39:54
5                6      228232 2175-05-30 21:30:54 2175-06-03 13:39:54
6                9      220597 2149-11-09 13:07:02 2149-11-14 20:52:14
9                9      220597 2149-11-09 13:07:02 2149-11-14 20:52:14
10               9      220597 2149-11-09 13:07:02 2149-11-14 20:52:14
11               9      220597 2149-11-09 13:07:02 2149-11-14 20:52:14
12               9      220597 2149-11-09 13:07:02 2149-11-14 20:52:14
13               9      220597 2149-11-09 13:07:02 2149-11-14 20:52:14
14              13      263738 2167-01-08 18:44:25 2167-01-12 10:43:31
15              13      263738 2167-01-08 18:44:25 2167-01-12 10:43:31
16              13      263738 2167-01-08 18:44:25 2167-01-12 10:43:31
17              13      263738 2167-01-08 18:44:25 2167-01-12 10:43:31
18              13      263738 2167-01-08 18:44:25 2167-01-12 10:43:31
19              13      263738 2167-01-08 18:44:25 2167-01-12 10:43:31
24              17      277042 2134-12-27 16:21:48 2134-12-29 18:04:03
26              17      277042 2134-12-27 16:21:48 2134-12-29 18:04:03
28              17      277042 2134-12-27 16:21:48 2134-12-29 18:04:03
31              21      217847 2134-09-11 20:50:04 2134-09-17 18:28:32
33              21      217847 2134-09-11 20:50:04 2134-09-17 18:28:32
35              21      217847 2134-09-11 20:50:04 2134-09-17 18:28:32
38              21      217847 2134-09-11 20:50:04 2134-09-17 18:28:32
40              21      217847 2134-09-11 20:50:04 2134-09-17 18:28:32
42              21      217847 2134-09-11 20:50:04 2134-09-17 18:28:32
44              21      217847 2134-09-11 20:50:04 2134-09-17 18:28:32
46              21      217847 2134-09-11 20:50:04 2134-09-17 18:28:32
48              21      217847 2134-09-11 20:50:04 2134-09-17 18:28:32
50              21      217847 2134-09-11 20:50:04 2134-09-17 18:28:32
52              21      217847 2134-09-11 20:50:04 2134-09-17 18:28:32
...            ...         ...                 ...                 ...
658512       91151      261766 2119-07-01 20:28:05 2119-07-06 11:40:39
658516       94119      258571 2113-09-05 12:29:24 2113-09-19 16:41:36
658517       94119      258571 2113-09-05 12:29:24 2113-09-19 16:41:36
658518       94430      287375 2159-09-26 16:08:15 2159-10-05 21:33:53
658520       94105      267996 2122-11-09 18:26:25 2122-11-12 11:39:21
658522       94414      200143 2191-04-01 21:45:49 2191-04-28 16:32:23
658523       94414      200143 2191-04-01 21:45:49 2191-04-28 16:32:23
658524       94049      292555 2112-10-06 15:26:31 2112-10-09 17:24:33
658526       94049      292555 2112-10-06 15:26:31 2112-10-09 17:24:33
658530       94300      240442 2139-12-16 19:38:40 2139-12-31 06:02:21
658531       94300      240442 2139-12-16 19:38:40 2139-12-31 06:02:21
658532       94300      240442 2139-12-16 19:38:40 2139-12-31 06:02:21
658533       94300      240442 2139-12-16 19:38:40 2139-12-31 06:02:21
658534       94012      286228 2139-08-07 19:13:44 2139-08-20 17:40:11
658535       94012      286228 2139-08-07 19:13:44 2139-08-20 17:40:11
658536       94297      273783 2171-11-29 05:54:35 2171-12-19 12:26:43
658538       94300      240442 2139-12-16 19:38:40 2139-12-31 06:02:21
658539       94007      261614 2188-11-03 18:42:21 2188-11-05 22:05:35
658540       94007      261614 2188-11-03 18:42:21 2188-11-05 22:05:35
658541       94258      252780 2162-10-26 21:17:24 2162-11-18 16:16:02
658542       94258      252780 2162-10-26 21:17:24 2162-11-18 16:16:02
658543       94241      252232 2124-12-28 11:26:28 2124-12-31 01:36:14
658547       94241      252232 2124-12-28 11:26:28 2124-12-31 01:36:14
658551       94202      204686 2144-04-11 16:26:04 2144-05-13 15:02:10
658552       94202      204686 2144-04-11 16:26:04 2144-05-13 15:02:10
658553       94202      204686 2144-04-11 16:26:04 2144-05-13 15:02:10
658554       94202      204686 2144-04-11 16:26:04 2144-05-13 15:02:10
658555       94202      204686 2144-04-11 16:26:04 2144-05-13 15:02:10
658556       94202      204686 2144-04-11 16:26:04 2144-05-13 15:02:10
658557       94189      221631 2126-02-22 15:29:27 2126-02-27 10:47:16

        creatinine     creatinine_time               ethnicity  \
2             10.0 2175-05-31 01:48:00                   WHITE
3              7.4 2175-06-01 03:00:00                   WHITE
4              6.2 2175-06-02 02:06:00                   WHITE
5              5.1 2175-06-03 00:58:00                   WHITE
6              1.4 2149-11-10 03:00:00   UNKNOWN/NOT SPECIFIED
9              2.0 2149-11-11 03:00:00   UNKNOWN/NOT SPECIFIED
10             2.0 2149-11-12 03:00:00   UNKNOWN/NOT SPECIFIED
11             1.6 2149-11-13 03:20:00   UNKNOWN/NOT SPECIFIED
12             1.7 2149-11-13 16:04:00   UNKNOWN/NOT SPECIFIED
13             2.0 2149-11-14 06:00:00   UNKNOWN/NOT SPECIFIED
14             0.6 2167-01-10 03:27:00                   WHITE
15             0.6 2167-01-11 01:44:00                   WHITE
16             0.4 2167-01-12 03:27:00                   WHITE
17             0.6 2167-01-08 20:28:00                   WHITE
18             0.8 2167-01-09 07:11:00                   WHITE
19             0.5 2167-01-09 17:09:00                   WHITE
24             0.8 2134-12-27 19:21:00                   WHITE
26             0.7 2134-12-28 03:41:00                   WHITE
28             0.6 2134-12-29 03:18:00                   WHITE
31             3.6 2134-09-15 14:10:00                   WHITE
33             4.2 2134-09-16 04:50:00                   WHITE
35             3.8 2134-09-17 03:14:00                   WHITE
38             3.7 2134-09-11 21:52:00                   WHITE
40             4.0 2134-09-12 04:30:00                   WHITE
42             4.6 2134-09-12 13:30:00                   WHITE
44             3.2 2134-09-13 02:58:00                   WHITE
46             2.8 2134-09-13 09:00:00                   WHITE
48             2.6 2134-09-13 14:58:00                   WHITE
50             2.5 2134-09-13 21:37:00                   WHITE
52             2.3 2134-09-14 03:54:00                   WHITE
...            ...                 ...                     ...
658512         1.7 2119-07-03 14:35:00                   WHITE
658516         0.3 2113-09-12 02:05:00  WHITE - OTHER EUROPEAN
658517         0.3 2113-09-13 04:08:00  WHITE - OTHER EUROPEAN
658518         1.2 2159-09-27 02:46:00                   WHITE
658520         1.3 2122-11-10 01:56:00                   WHITE
658522         3.6 2191-04-10 02:00:00                   WHITE
658523         1.9 2191-04-27 21:40:00                   WHITE
658524         1.2 2112-10-06 17:58:00                   WHITE
658526         1.3 2112-10-06 22:00:00                   WHITE
658530         1.6 2139-12-30 03:49:00                   WHITE
658531         4.0 2139-12-20 20:00:00                   WHITE
658532         1.5 2139-12-30 16:47:00                   WHITE
658533         1.5 2139-12-31 01:55:00                   WHITE
658534         0.3 2139-08-16 04:00:00                   WHITE
658535         0.4 2139-08-17 03:03:00                   WHITE
658536         1.3 2171-12-12 02:14:00                   WHITE
658538         3.1 2139-12-21 01:52:00                   WHITE
658539         0.9 2188-11-04 21:14:00                   WHITE
658540         0.9 2188-11-05 04:18:00                   WHITE
658541         0.6 2162-11-17 01:31:00                   WHITE
658542         0.6 2162-11-18 03:31:00                   WHITE
658543         2.4 2124-12-29 05:38:00                   WHITE
658547         2.2 2124-12-29 15:00:00                   WHITE
658551         0.9 2144-05-02 16:16:00        UNABLE TO OBTAIN
658552         0.9 2144-05-03 04:32:00        UNABLE TO OBTAIN
658553         0.9 2144-05-03 16:31:00        UNABLE TO OBTAIN
658554         0.8 2144-05-04 04:13:00        UNABLE TO OBTAIN
658555         0.8 2144-05-04 15:40:00        UNABLE TO OBTAIN
658556         0.8 2144-05-05 04:20:00        UNABLE TO OBTAIN
658557         0.8 2126-02-23 02:30:00                   WHITE

                                      diagnosis gender        age  \
2                     CHRONIC RENAL FAILURE/SDA      F  65.942297
3                     CHRONIC RENAL FAILURE/SDA      F  65.942297
4                     CHRONIC RENAL FAILURE/SDA      F  65.942297
5                     CHRONIC RENAL FAILURE/SDA      F  65.942297
6                               HEMORRHAGIC CVA      M  41.790228
9                               HEMORRHAGIC CVA      M  41.790228
10                              HEMORRHAGIC CVA      M  41.790228
11                              HEMORRHAGIC CVA      M  41.790228
12                              HEMORRHAGIC CVA      M  41.790228
13                              HEMORRHAGIC CVA      M  41.790228
14                      CORONARY ARTERY DISEASE      F  39.866118
15                      CORONARY ARTERY DISEASE      F  39.866118
16                      CORONARY ARTERY DISEASE      F  39.866118
17                      CORONARY ARTERY DISEASE      F  39.866118
18                      CORONARY ARTERY DISEASE      F  39.866118
19                      CORONARY ARTERY DISEASE      F  39.866118
24                         PERICARDIAL EFFUSION      F  47.455336
26                         PERICARDIAL EFFUSION      F  47.455336
28                         PERICARDIAL EFFUSION      F  47.455336
31                                       SEPSIS      M  87.440295
33                                       SEPSIS      M  87.440295
35                                       SEPSIS      M  87.440295
38                                       SEPSIS      M  87.440295
40                                       SEPSIS      M  87.440295
42                                       SEPSIS      M  87.440295
44                                       SEPSIS      M  87.440295
46                                       SEPSIS      M  87.440295
48                                       SEPSIS      M  87.440295
50                                       SEPSIS      M  87.440295
52                                       SEPSIS      M  87.440295
...                                         ...    ...        ...
658512                             UNRESPONSIVE      F  68.576048
658516                      RESPIRATORY FAILURE      F  58.135484
658517                      RESPIRATORY FAILURE      F  58.135484
658518                                PNEUMONIA      F  72.794674
658520                  ACUTE SUBDURAL HEMATOMA      M  80.830705
658522        PNEUMONIA;HYPERTENSION;DEPRESSION      F  62.248884
658523        PNEUMONIA;HYPERTENSION;DEPRESSION      F  62.248884
658524             RESPIRATORY ARREST;TELEMETRY      M  68.309897
658526             RESPIRATORY ARREST;TELEMETRY      M  68.309897
658530                      ACUTE RENAL FAILURE      M  41.582892
658531                      ACUTE RENAL FAILURE      M  41.582892
658532                      ACUTE RENAL FAILURE      M  41.582892
658533                      ACUTE RENAL FAILURE      M  41.582892
658534                  TRACHEOESOPHEAL FISTULA      F  54.598872
658535                  TRACHEOESOPHEAL FISTULA      F  54.598872
658536                       ABSCESS CELLULITIS      F  69.387546
658538                      ACUTE RENAL FAILURE      M  41.582892
658539                 CONGESTIVE HEART FAILURE      M  77.408347
658540                 CONGESTIVE HEART FAILURE      M  77.408347
658541  SEPSIS;ACUTE PANCREATITIS;RENAL FAILURE      F  40.756230
658542  SEPSIS;ACUTE PANCREATITIS;RENAL FAILURE      F  40.756230
658543                           UPPER GI BLEED      M  68.670845
658547                           UPPER GI BLEED      M  68.670845
658551                 CONGESTIVE HEART FAILURE      F  63.239400
658552                 CONGESTIVE HEART FAILURE      F  63.239400
658553                 CONGESTIVE HEART FAILURE      F  63.239400
658554                 CONGESTIVE HEART FAILURE      F  63.239400
658555                 CONGESTIVE HEART FAILURE      F  63.239400
658556                 CONGESTIVE HEART FAILURE      F  63.239400
658557                                      ICH      M  40.730928

        length_of_stay    rrt
2            88.150000  False
3            88.150000  False
4            88.150000  False
5            88.150000  False
6           127.753333  False
9           127.753333  False
10          127.753333  False
11          127.753333  False
12          127.753333  False
13          127.753333  False
14           87.985000  False
15           87.985000  False
16           87.985000  False
17           87.985000  False
18           87.985000  False
19           87.985000  False
24           49.704167  False
26           49.704167  False
28           49.704167  False
31          141.641111  False
33          141.641111  False
35          141.641111  False
38          141.641111  False
40          141.641111  False
42          141.641111  False
44          141.641111  False
46          141.641111  False
48          141.641111  False
50          141.641111  False
52          141.641111  False
...                ...    ...
658512      111.209444  False
658516      340.203333  False
658517      340.203333  False
658518      221.427222  False
658520       65.215556  False
658522      642.776111  False
658523      642.776111  False
658524       73.967222  False
658526       73.967222  False
658530      346.394722  False
658531      346.394722  False
658532      346.394722  False
658533      346.394722  False
658534      310.440833  False
658535      310.440833  False
658536      486.535556  False
658538      346.394722  False
658539       51.387222  False
658540       51.387222  False
658541      546.977222  False
658542      546.977222  False
658543       62.162778  False
658547       62.162778  False
658551      766.601667  False
658552      766.601667  False
658553      766.601667  False
658554      766.601667  False
658555      766.601667  False
658556      766.601667  False
658557      115.296944  False

[279205 rows x 12 columns]

# Merge tables into one

In [10]:
print('Labevents :')
print(df_labevents.shape)
print(df_labevents.columns.values)
print('')

print('Static:')
print(df_static.shape)
print(df_static.columns.values)

Labevents :
(279206, 117)
['arterial_pressure_systolic' 'arterial_pressure_systolic_delay'
 'arterial_pressure_systolic_time' 'arterial_pressure_diastolic'
 'arterial_pressure_diastolic_delay' 'arterial_pressure_diastolic_time'
 'heart_rate' 'heart_rate_delay' 'heart_rate_time' 'weight_daily'
 'weight_daily_delay' 'weight_daily_time' 'temperature' 'temperature_delay'
 'temperature_time' 'urine_output' 'urine_output_delay' 'urine_output_time'
 'day_urine_output' 'day_urine_output_delay' 'day_urine_output_time'
 'subject_id' 'icustay_id' 'intime' 'outtime' 'creatinine'
 'creatinine_time' 'age' 'length_of_stay' 'rrt' 'scr' 'scr_delay'
 'scr_time' 'urea' 'urea_delay' 'urea_time' 'sodium' 'sodium_delay'
 'sodium_time' 'potassium' 'potassium_delay' 'potassium_time' 'calcium'
 'calcium_delay' 'calcium_time' 'phosphor' 'phosphor_delay' 'phosphor_time'
 'leukocytes' 'leukocytes_delay' 'leukocytes_time' 'hemoglobine'
 'hemoglobine_delay' 'hemoglobine_time' 'bicarbonate' 'bicarbonate_delay'
 'bicarbonate_time' 'lactate' 'lactate_delay' 'lactate_time' 'uric_acid'
 'uric_acid_delay' 'uric_acid_time' 'chloride' 'chloride_delay'
 'chloride_time' 'neutrophils' 'neutrophils_delay' 'neutrophils_time'
 'lymphocytes' 'lymphocytes_delay' 'lymphocytes_time' 'platelet_count'
 'platelet_count_delay' 'platelet_count_time' 'ph_blood' 'ph_blood_delay'
 'ph_blood_time' 'ph_urine' 'ph_urine_delay' 'ph_urine_time' 'monocytes'
 'monocytes_delay' 'monocytes_time' 'fibrinogen' 'fibrinogen_delay'
 'fibrinogen_time' 'urinary_sodium' 'urinary_sodium_delay'
 'urinary_sodium_time' 'urinary_potassium' 'urinary_potassium_delay'
 'urinary_potassium_time' 'urine_urea' 'urine_urea_delay' 'urine_urea_time'
 'urine_creatinin' 'urine_creatinin_delay' 'urine_creatinin_time'
 'alkaline_phospatase' 'alkaline_phospatase_delay'
 'alkaline_phospatase_time' 'total_protein_blood'
 'total_protein_blood_delay' 'total_protein_blood_time' 'albumin'
 'albumin_delay' 'albumin_time' 'total_protein_urine'
 'total_protein_urine_delay' 'total_protein_urine_time' 'bilirubin'
 'bilirubin_delay' 'bilirubin_time' 'c_reactive_protein'
 'c_reactive_protein_delay' 'c_reactive_protein_time']

Static:
(279205, 12)
['subject_id' 'icustay_id' 'intime' 'outtime' 'creatinine'
 'creatinine_time' 'ethnicity' 'diagnosis' 'gender' 'age' 'length_of_stay'
 'rrt']

In [11]:
merged_df = pd.merge(df_labevents,df_static,on=['subject_id', 'icustay_id', 'intime', 'outtime', 'creatinine',
       'creatinine_time', 'age', 'length_of_stay', 'rrt'],how='outer')

# Remove columns that are not features (except icustay_id and patient_id that are needed to build the table with labels)

In [21]:
# REMOVE COLUMNS THAT WERE USED FOR INCLUSION CRITERIA BUT THAT ARE NOT AVAILABLE FEATURES FOR THE PREDICTION
# REMOVE ICUSTAY_IDS FOR WHICH THERE IS ONLY ONE MEASUREMENT OF CREATININE

print('Number of lines : ' + str(merged_df.shape[0]))
to_remove = ['intime','outtime','length_of_stay','rrt']
for c in to_remove:
    if (c in merged_df.columns.values): merged_df = merged_df.drop(c,axis=1)
        
# Remove columns with _time suffix
to_remove = [i for i in merged_df.columns.values if '_time' in i]
for c in to_remove:
    if (c in merged_df.columns.values): merged_df = merged_df.drop(c,axis=1)

# Remove icustay_ids for which there's only one measurement of creatinine
count_mes = merged_df['icustay_id'].value_counts()
to_remove = count_mes.index.values[count_mes==1]
for i in to_remove:
    merged_df = merged_df.loc[merged_df['icustay_id']!=i,:]

print('After dropping unique measurements of creatinine : ' + str(merged_df.shape[0]))
merged_df.head()

Number of lines : 279036
After dropping unique measurements of creatinine : 279036

,arterial_pressure_systolic,arterial_pressure_systolic_delay,arterial_pressure_diastolic,arterial_pressure_diastolic_delay,heart_rate,heart_rate_delay,weight_daily,weight_daily_delay,temperature,temperature_delay,...,albumin_delay,total_protein_urine,total_protein_urine_delay,bilirubin,bilirubin_delay,c_reactive_protein,c_reactive_protein_delay,ethnicity,diagnosis,gender
0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,WHITE,HYPOTENSION,M
1,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,0.0,NaN,NaN,8.2,0.0,NaN,NaN,WHITE,PANCREATIC CANCER/SDA,M
2,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,WHITE,PANCREATIC CANCER/SDA,M
3,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,74460.0,NaN,NaN,0.4,74460.0,NaN,NaN,WHITE,CORONARY ARTERY DISEASE,F
4,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,0.4,170640.0,NaN,NaN,WHITE,SEPSIS,M

In [22]:
# Dump to file
merged_df.to_csv('creatinine_measurements_merged.csv')
print(merged_df)

       arterial_pressure_systolic arterial_pressure_systolic_delay  \
0                             NaN                              NaN
1                             NaN                              NaN
2                             NaN                              NaN
3                             NaN                              NaN
4                             NaN                              NaN
5                             NaN                              NaN
6                             NaN                              NaN
7                             NaN                              NaN
8                             NaN                              NaN
9                             NaN                              NaN
10                            NaN                              NaN
11                            NaN                              NaN
12                            NaN                              NaN
13                            NaN                              NaN
14                            NaN                              NaN
15                            NaN                              NaN
16                            NaN                              NaN
17                            NaN                              NaN
18                            NaN                              NaN
19                            NaN                              NaN
20                            NaN                              NaN
21                            NaN                              NaN
22                            NaN                              NaN
23                            NaN                              NaN
24                            NaN                              NaN
25                            NaN                              NaN
26                            NaN                              NaN
27                            NaN                              NaN
28                            NaN                              NaN
29                            NaN                              NaN
...                           ...                              ...
279176                        NaN                              NaN
279177                        NaN                              NaN
279178                        NaN                              NaN
279179                        NaN                              NaN
279180                        NaN                              NaN
279181                        NaN                              NaN
279182                        NaN                              NaN
279183                        NaN                              NaN
279184                        NaN                              NaN
279185                        NaN                              NaN
279186                        NaN                              NaN
279187                        NaN                              NaN
279188                        NaN                              NaN
279189                        NaN                              NaN
279190                        NaN                              NaN
279191                        NaN                              NaN
279192                        NaN                              NaN
279193                        NaN                              NaN
279194                        NaN                              NaN
279195                        NaN                              NaN
279196                        NaN                              NaN
279197                        NaN                              NaN
279198                        NaN                              NaN
279199                        NaN                              NaN
279200                        NaN                              NaN
279201                        NaN                              NaN
279202                        NaN                              NaN
279203                        NaN                              NaN
279204                        NaN                              NaN
279205                        NaN                              NaN

       arterial_pressure_diastolic arterial_pressure_diastolic_delay  \
0                              NaN                               NaN
1                              NaN                               NaN
2                              NaN                               NaN
3                              NaN                               NaN
4                              NaN                               NaN
5                              NaN                               NaN
6                              NaN                               NaN
7                              NaN                               NaN
8                              NaN                               NaN
9                              NaN                               NaN
10                             NaN                               NaN
11                             NaN                               NaN
12                             NaN                               NaN
13                             NaN                               NaN
14                             NaN                               NaN
15                             NaN                               NaN
16                             NaN                               NaN
17                             NaN                               NaN
18                             NaN                               NaN
19                             NaN                               NaN
20                             NaN                               NaN
21                             NaN                               NaN
22                             NaN                               NaN
23                             NaN                               NaN
24                             NaN                               NaN
25                             NaN                               NaN
26                             NaN                               NaN
27                             NaN                               NaN
28                             NaN                               NaN
29                             NaN                               NaN
...                            ...                               ...
279176                         NaN                               NaN
279177                         NaN                               NaN
279178                         NaN                               NaN
279179                         NaN                               NaN
279180                         NaN                               NaN
279181                         NaN                               NaN
279182                         NaN                               NaN
279183                         NaN                               NaN
279184                         NaN                               NaN
279185                         NaN                               NaN
279186                         NaN                               NaN
279187                         NaN                               NaN
279188                         NaN                               NaN
279189                         NaN                               NaN
279190                         NaN                               NaN
279191                         NaN                               NaN
279192                         NaN                               NaN
279193                         NaN                               NaN
279194                         NaN                               NaN
279195                         NaN                               NaN
279196                         NaN                               NaN
279197                         NaN                               NaN
279198                         NaN                               NaN
279199                         NaN                               NaN
279200                         NaN                               NaN
279201                         NaN                               NaN
279202                         NaN                               NaN
279203                         NaN                               NaN
279204                         NaN                               NaN
279205                         NaN                               NaN

       heart_rate heart_rate_delay weight_daily weight_daily_delay  \
0             NaN              NaN          NaN                NaN
1             NaN              NaN          NaN                NaN
2             NaN              NaN          NaN                NaN
3             NaN              NaN          NaN                NaN
4             NaN              NaN          NaN                NaN
5             NaN              NaN          NaN                NaN
6             NaN              NaN          NaN                NaN
7             NaN              NaN          NaN                NaN
8             NaN              NaN          NaN                NaN
9             NaN              NaN          NaN                NaN
10            NaN              NaN          NaN                NaN
11            NaN              NaN          NaN                NaN
12            NaN              NaN          NaN                NaN
13            NaN              NaN          NaN                NaN
14            NaN              NaN          NaN                NaN
15            NaN              NaN          NaN                NaN
16            NaN              NaN          NaN                NaN
17            NaN              NaN          NaN                NaN
18            NaN              NaN          NaN                NaN
19            NaN              NaN          NaN                NaN
20            NaN              NaN          NaN                NaN
21            NaN              NaN          NaN                NaN
22            NaN              NaN          NaN                NaN
23            NaN              NaN          NaN                NaN
24            NaN              NaN          NaN                NaN
25            NaN              NaN          NaN                NaN
26            NaN              NaN          NaN                NaN
27            NaN              NaN          NaN                NaN
28            NaN              NaN          NaN                NaN
29            NaN              NaN          NaN                NaN
...           ...              ...          ...                ...
279176        NaN              NaN          NaN                NaN
279177        NaN              NaN          NaN                NaN
279178        NaN              NaN          NaN                NaN
279179        NaN              NaN          NaN                NaN
279180        NaN              NaN          NaN                NaN
279181        NaN              NaN          NaN                NaN
279182        NaN              NaN          NaN                NaN
279183        NaN              NaN          NaN                NaN
279184        NaN              NaN          NaN                NaN
279185        NaN              NaN          NaN                NaN
279186        NaN              NaN          NaN                NaN
279187        NaN              NaN          NaN                NaN
279188        NaN              NaN          NaN                NaN
279189        NaN              NaN          NaN                NaN
279190        NaN              NaN          NaN                NaN
279191        NaN              NaN          NaN                NaN
279192        NaN              NaN          NaN                NaN
279193        NaN              NaN          NaN                NaN
279194        NaN              NaN          NaN                NaN
279195        NaN              NaN          NaN                NaN
279196        NaN              NaN          NaN                NaN
279197        NaN              NaN          NaN                NaN
279198        NaN              NaN          NaN                NaN
279199        NaN              NaN          NaN                NaN
279200        NaN              NaN          NaN                NaN
279201        NaN              NaN          NaN                NaN
279202        NaN              NaN          NaN                NaN
279203        NaN              NaN          NaN                NaN
279204        NaN              NaN          NaN                NaN
279205        NaN              NaN          NaN                NaN

       temperature temperature_delay   ...   albumin_delay  \
0              NaN               NaN   ...             NaN
1              NaN               NaN   ...             0.0
2              NaN               NaN   ...             NaN
3              NaN               NaN   ...         74460.0
4              NaN               NaN   ...             NaN
5              NaN               NaN   ...         77940.0
6              NaN               NaN   ...             0.0
7              NaN               NaN   ...             NaN
8              NaN               NaN   ...             NaN
9              NaN               NaN   ...        245460.0
10             NaN               NaN   ...             0.0
11             NaN               NaN   ...             NaN
12             NaN               NaN   ...         36360.0
13             NaN               NaN   ...         63000.0
14             NaN               NaN   ...             0.0
15             NaN               NaN   ...        145080.0
16             NaN               NaN   ...        605700.0
17             NaN               NaN   ...         84720.0
18             NaN               NaN   ...             NaN
19             NaN               NaN   ...        129660.0
20             NaN               NaN   ...             NaN
21             NaN               NaN   ...             NaN
22             NaN               NaN   ...             NaN
23             NaN               NaN   ...             NaN
24             NaN               NaN   ...         55860.0
25             NaN               NaN   ...        261060.0
26             NaN               NaN   ...             NaN
27             NaN               NaN   ...             0.0
28             NaN               NaN   ...             NaN
29             NaN               NaN   ...             NaN
...            ...               ...   ...             ...
279176         NaN               NaN   ...        256860.0
279177         NaN               NaN   ...        774960.0
279178         NaN               NaN   ...        228780.0
279179         NaN               NaN   ...             NaN
279180         NaN               NaN   ...             NaN
279181         NaN               NaN   ...             NaN
279182         NaN               NaN   ...             NaN
279183         NaN               NaN   ...             NaN
279184         NaN               NaN   ...             NaN
279185         NaN               NaN   ...         73440.0
279186         NaN               NaN   ...             NaN
279187         NaN               NaN   ...             NaN
279188         NaN               NaN   ...             0.0
279189         NaN               NaN   ...             NaN
279190         NaN               NaN   ...         18960.0
279191         NaN               NaN   ...             NaN
279192         NaN               NaN   ...             NaN
279193         NaN               NaN   ...             NaN
279194         NaN               NaN   ...        511800.0
279195         NaN               NaN   ...             NaN
279196         NaN               NaN   ...             0.0
279197         NaN               NaN   ...             NaN
279198         NaN               NaN   ...             NaN
279199         NaN               NaN   ...             NaN
279200         NaN               NaN   ...             NaN
279201         NaN               NaN   ...        648660.0
279202         NaN               NaN   ...             NaN
279203         NaN               NaN   ...        651240.0
279204         NaN               NaN   ...             NaN
279205         NaN               NaN   ...             NaN

       total_protein_urine total_protein_urine_delay bilirubin  \
0                      NaN                       NaN       NaN
1                      NaN                       NaN       8.2
2                      NaN                       NaN       NaN
3                      NaN                       NaN       0.4
4                      NaN                       NaN       0.4
5                      NaN                       NaN       0.2
6                      NaN                       NaN       0.6
7                      NaN                       NaN       NaN
8                      NaN                       NaN       NaN
9                      NaN                       NaN       0.4
10                     NaN                       NaN       0.4
11                     NaN                       NaN       NaN
12                     NaN                       NaN       1.1
13                     NaN                       NaN       0.8
14                     NaN                       NaN       0.8
15                     NaN                       NaN       0.8
16                     NaN                       NaN       0.8
17                     NaN                       NaN       0.8
18                     NaN                       NaN       NaN
19                     NaN                       NaN       2.6
20                     NaN                       NaN       NaN
21                     NaN                       NaN       NaN
22                     NaN                       NaN       NaN
23                     NaN                       NaN       1.9
24                     NaN                       NaN       2.1
25                     NaN                       NaN       1.8
26                     NaN                       NaN       1.0
27                     NaN                       NaN       1.3
28                     NaN                       NaN       NaN
29                     NaN                       NaN       0.2
...                    ...                       ...       ...
279176                 NaN                       NaN       5.0
279177                 NaN                       NaN       1.3
279178                 NaN                       NaN       4.5
279179                94.0                  183060.0       NaN
279180                94.0                  736860.0       NaN
279181                 NaN                       NaN       NaN
279182                94.0                 1254300.0       0.2
279183                94.0                  253260.0       NaN
279184                 NaN                       NaN       NaN
279185                 NaN                       NaN       0.4
279186                 NaN                       NaN       NaN
279187                 NaN                       NaN       NaN
279188                 NaN                       NaN       0.3
279189                 NaN                       NaN       NaN
279190                 NaN                       NaN       0.3
279191                 NaN                       NaN       NaN
279192                 NaN                       NaN       NaN
279193                 NaN                       NaN       NaN
279194                 NaN                       NaN       0.5
279195                 NaN                       NaN       NaN
279196                 NaN                       NaN       3.0
279197                 NaN                       NaN       0.5
279198                 NaN                       NaN       NaN
279199                 NaN                       NaN       NaN
279200                 NaN                       NaN       NaN
279201                 NaN                       NaN       1.4
279202                 NaN                       NaN       NaN