In [1]:
# Import libraries
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
import psycopg2

# below imports are used to print out pretty pandas dataframes
from IPython.display import display, HTML

%matplotlib inline
plt.style.use('ggplot')

In [2]:
# information used to create a database connection
sqluser = 'postgres'
dbname = 'mimic'
schema_name = 'mimiciii'

# Connect to postgres with a copy of the MIMIC-III database
con = psycopg2.connect(dbname=dbname, user=sqluser)

# the below statement is prepended to queries to ensure they select from the right schema
query_schema = 'set search_path to ' + schema_name + ';'

In [3]:
def apply_inclusion_criteria(df):
    print('Initial size of table : ' + str(df.shape[0]))
    df = df.drop_duplicates(['icustay_id','creatinine_time'])
    print('After dropping duplicates : ' + str(df.shape[0]))
    criteria_list = [i for i in df.columns.values if 'inclusion' in i]
    for c in criteria_list:
        df = df.loc[df[c]==1,:].drop(c,axis=1)    
    print('After applying inclusion criteria : ' + str(df.shape[0]))
    return df

# Load file with features to be found in chartevents table

In [4]:
# Read file
features_info = pd.read_csv('features_info.csv')
# Drop lines with no item_id
item_col = [c for c in features_info.columns.values if "item" in c]
features_info = features_info.dropna(axis=0, how='all', subset=item_col).reset_index(drop=True)
features_info.head()

,name,table,variable,item_id,item_id_2,item_id_3,item_id_4,item_id_5,item_id_6
0,Arterial_pressure_systolic,chartevents,valuenum,6.0,51.0,455.0,220050.0,220179.0,225309.0
1,Arterial_pressure_diastolic,chartevents,valuenum,8364.0,8368.0,8441.0,220051.0,220180.0,225310.0
2,Heart_rate,chartevents,valuenum,211.0,220045.0,NaN,NaN,NaN,NaN
3,Weight_daily,chartevents,valuenum,763.0,224639.0,NaN,NaN,NaN,NaN
4,Temperature,chartevents,valuenum,223761.0,678.0,645.0,NaN,NaN,NaN

# Retrieve interesting features for patients that match inclusion criteria

In [5]:
item_col = [c for c in features_info.columns.values if "item_id" in c]
item_list = features_info.loc[0,item_col].dropna().astype('int').values
item_str = "(" + str(item_list[0])
for i in item_list[1:]:
    item_str = item_str + "," + str(i)
item_str = item_str + ")"

query = query_schema + """
with cr as
(
select
    icu.subject_id, icu.icustay_id, icu.intime, icu.outtime, EXTRACT(EPOCH FROM icu.outtime - icu.intime)/60.0/60.0 as length_of_stay,
    ce.valuenum as creatinine, ce.storetime as creatinine_time,
    EXTRACT('epoch' from icu.intime - pat.dob) / 60.0 / 60.0 / 24.0 / 365.242 AS age,
    (rrt.icustay_id is null) as rrt
  from icustays icu
  inner join chartevents ce
    on icu.subject_id = ce.subject_id
    and ce.itemid = 220615
    and ce.valuenum is not null
    and ce.storetime between icu.intime and icu.outtime
  inner join patients pat
    ON icu.subject_id = pat.subject_id
  left outer join rrt 
    on icu.icustay_id = rrt.icustay_id
),
cr_inc as
(
select
cr.subject_id, cr.icustay_id, cr.intime, cr.outtime,
    cr.creatinine, cr.creatinine_time,
    cr.age, CASE
                WHEN cr.age >= 15 then 1
            ELSE 0 END
            as inclusion_age,
  cr.length_of_stay, CASE
                        WHEN cr.length_of_stay >= 48 then 1
                     ELSE 0 END
                     as inclusion_length_of_stay,
  cr.rrt, CASE
            WHEN cr.rrt = False then 1
          ELSE 0 END
          as inclusion_rrt
  from cr
),
cr_feat as
(
select
cr_inc.subject_id, cr_inc.icustay_id, cr_inc.intime, cr_inc.outtime,
    cr_inc.creatinine, cr_inc.creatinine_time,
    cr_inc.age, cr_inc.inclusion_age,
    cr_inc.length_of_stay, cr_inc.inclusion_length_of_stay,
    cr_inc.rrt, cr_inc.inclusion_rrt,
    ce.valuenum as """+features_info.loc[0,'name']+""", 
    EXTRACT('epoch' from cr_inc.creatinine_time - ce.storetime) as """+features_info.loc[0,'name']+"""_delay,
    ce.storetime as """+features_info.loc[0,'name']+"""_time,
    ce.itemid as """+features_info.loc[0,'name']+"""_itemid
  from cr_inc
  inner join """+features_info.loc[0,'table']+""" ce
    on cr_inc.subject_id = ce.subject_id
    and ce.itemid in """+ item_str +"""
    and ce."""+features_info.loc[0,'variable']+""" is not null
    and ce.storetime between cr_inc.intime and cr_inc.creatinine_time
)
select 
a.subject_id, a.icustay_id, a.intime, a.outtime,
    a.creatinine, a.creatinine_time,
    a.age, a.inclusion_age,
    a.length_of_stay, a.inclusion_length_of_stay,
    a.rrt, a.inclusion_rrt,
    a."""+features_info.loc[0,'name']+""", a."""+features_info.loc[0,'name']+"""_delay,
    a."""+features_info.loc[0,'name']+"""_time,
    a."""+features_info.loc[0,'name']+"""_itemid
from cr_feat as a
    join (
        select creatinine_time, min("""+features_info.loc[0,'name']+"""_delay) as """+features_info.loc[0,'name']+"""_delay
        from cr_feat
        group by creatinine_time
    ) as b on a.creatinine_time = b.creatinine_time
where a."""+features_info.loc[0,'name']+"""_delay = b."""+features_info.loc[0,'name']+"""_delay
"""
df_chartevents = pd.read_sql_query(query, con)
df_chartevents = apply_inclusion_criteria(df_chartevents)

for i,row in features_info.loc[1:,:].iterrows():
    print('------------------------------------')
    print('--- Processing feature : ' + row['name'])
    item_col = [c for c in features_info.columns.values if "item_id" in c]
    item_list = features_info.loc[i,item_col].dropna().astype('int').values
    item_str = "(" + str(item_list[0])
    for it in item_list[1:]:
        item_str = item_str + "," + str(it)
    item_str = item_str + ")"
    item_name = features_info.loc[i,'name']
    
    query = query_schema + """
    with cr as
    (
    select
        icu.subject_id, icu.icustay_id, icu.intime, icu.outtime, EXTRACT(EPOCH FROM icu.outtime - icu.intime)/60.0/60.0 as length_of_stay,
        ce.valuenum as creatinine, ce.storetime as creatinine_time,
        EXTRACT('epoch' from icu.intime - pat.dob) / 60.0 / 60.0 / 24.0 / 365.242 AS age,
        (rrt.icustay_id is null) as rrt
      from icustays icu
      inner join chartevents ce
        on icu.subject_id = ce.subject_id
        and ce.itemid = 220615
        and ce.valuenum is not null
        and ce.storetime between icu.intime and icu.outtime
      inner join patients pat
        ON icu.subject_id = pat.subject_id
      left outer join rrt 
        on icu.icustay_id = rrt.icustay_id
    ),
    cr_inc as
    (
    select
    cr.subject_id, cr.icustay_id, cr.intime, cr.outtime,
        cr.creatinine, cr.creatinine_time,
        cr.age, CASE
                    WHEN cr.age >= 15 then 1
                ELSE 0 END
                as inclusion_age,
      cr.length_of_stay, CASE
                            WHEN cr.length_of_stay >= 48 then 1
                         ELSE 0 END
                         as inclusion_length_of_stay,
      cr.rrt, CASE
                WHEN cr.rrt = False then 1
              ELSE 0 END
              as inclusion_rrt
      from cr
    ),
    cr_feat as
    (
    select
    cr_inc.subject_id, cr_inc.icustay_id, cr_inc.intime, cr_inc.outtime,
        cr_inc.creatinine, cr_inc.creatinine_time,
        cr_inc.age, cr_inc.inclusion_age,
        cr_inc.length_of_stay, cr_inc.inclusion_length_of_stay,
        cr_inc.rrt, cr_inc.inclusion_rrt,
        ce.valuenum as """+item_name+""", 
        EXTRACT('epoch' from cr_inc.creatinine_time - ce.storetime) as """+item_name+"""_delay,
        ce.storetime as """+item_name+"""_time,
        ce.itemid as """+item_name+"""_itemid
      from cr_inc
      inner join """+features_info.loc[i,'table']+""" ce
        on cr_inc.subject_id = ce.subject_id
        and ce.itemid in """+ item_str +"""
        and ce."""+features_info.loc[i,'variable']+""" is not null
        and ce.storetime between cr_inc.intime and cr_inc.creatinine_time
    )
    select 
    a.subject_id, a.icustay_id, a.intime, a.outtime,
        a.creatinine, a.creatinine_time,
        a.age, a.inclusion_age,
        a.length_of_stay, a.inclusion_length_of_stay,
        a.rrt, a.inclusion_rrt,
        a."""+item_name+""", a."""+item_name+"""_delay,
        a."""+item_name+"""_time,
        a."""+item_name+"""_itemid
    from cr_feat as a
        join (
            select creatinine_time, 
            min("""+item_name+"""_delay) as """+item_name+"""_delay
            from cr_feat
            group by creatinine_time
        ) as b on a.creatinine_time = b.creatinine_time
    where a."""+item_name+"""_delay = b."""+item_name+"""_delay
    """
    
    df = pd.read_sql_query(query, con)
    df = apply_inclusion_criteria(df)
    df_chartevents = pd.merge(df_chartevents,df,on=['subject_id', 'icustay_id', 'intime', 'outtime', 'creatinine',
       'creatinine_time', 'age', 'length_of_stay', 'rrt'],how='outer')
    print('Merged table size : ' + str(df_chartevents.shape[0]))
    print(df_chartevents.head())

Initial size of table : 209249
After dropping duplicates : 150528
After applying inclusion criteria : 125376
------------------------------------
--- Processing feature : Arterial_pressure_diastolic
Initial size of table : 209323
After dropping duplicates : 150526
After applying inclusion criteria : 125376
Merged table size : 125379
   subject_id  icustay_id              intime             outtime  creatinine  \
0          36      241249 2134-05-12 06:52:47 2134-05-16 15:14:20         0.9
1          36      241249 2134-05-12 06:52:47 2134-05-16 15:14:20         0.8
2          36      241249 2134-05-12 06:52:47 2134-05-16 15:14:20         0.9
3         109      253139 2141-06-11 10:17:54 2141-06-15 15:11:37         7.4
4         109      253139 2141-06-11 10:17:54 2141-06-15 15:11:37         7.4

      creatinine_time        age  length_of_stay    rrt  \
0 2134-05-12 10:01:00  72.733384      104.359167  False
1 2134-05-15 04:58:00  72.733384      104.359167  False
2 2134-05-14 04:08:00  72.733384      104.359167  False
3 2141-06-14 06:24:00  23.845640      100.895278  False
4 2141-06-11 14:08:00  23.845640      100.895278  False

   arterial_pressure_systolic  arterial_pressure_systolic_delay  \
0                       139.0                            3060.0
1                       154.0                            1800.0
2                       115.0                            6960.0
3                       183.0                            1140.0
4                       252.0                            1200.0

  arterial_pressure_systolic_time  arterial_pressure_systolic_itemid  \
0             2134-05-12 09:10:00                           220179.0
1             2134-05-15 04:28:00                           220179.0
2             2134-05-14 02:12:00                           220179.0
3             2141-06-14 06:05:00                           220179.0
4             2141-06-11 13:48:00                           220179.0

   arterial_pressure_diastolic  arterial_pressure_diastolic_delay  \
0                         84.0                             3060.0
1                         79.0                             1800.0
2                         69.0                             6960.0
3                         96.0                             1140.0
4                        116.0                             1200.0

  arterial_pressure_diastolic_time  arterial_pressure_diastolic_itemid
0              2134-05-12 09:10:00                            220180.0
1              2134-05-15 04:28:00                            220180.0
2              2134-05-14 02:12:00                            220180.0
3              2141-06-14 06:05:00                            220180.0
4              2141-06-11 13:48:00                            220180.0
------------------------------------
--- Processing feature : Heart_rate
Initial size of table : 201182
After dropping duplicates : 150627
After applying inclusion criteria : 125419
Merged table size : 125462
   subject_id  icustay_id              intime             outtime  creatinine  \
0          36      241249 2134-05-12 06:52:47 2134-05-16 15:14:20         0.9
1          36      241249 2134-05-12 06:52:47 2134-05-16 15:14:20         0.8
2          36      241249 2134-05-12 06:52:47 2134-05-16 15:14:20         0.9
3         109      253139 2141-06-11 10:17:54 2141-06-15 15:11:37         7.4
4         109      253139 2141-06-11 10:17:54 2141-06-15 15:11:37         7.4

      creatinine_time        age  length_of_stay    rrt  \
0 2134-05-12 10:01:00  72.733384      104.359167  False
1 2134-05-15 04:58:00  72.733384      104.359167  False
2 2134-05-14 04:08:00  72.733384      104.359167  False
3 2141-06-14 06:24:00  23.845640      100.895278  False
4 2141-06-11 14:08:00  23.845640      100.895278  False

   arterial_pressure_systolic        ...         \
0                       139.0        ...
1                       154.0        ...
2                       115.0        ...
3                       183.0        ...
4                       252.0        ...

   arterial_pressure_systolic_time arterial_pressure_systolic_itemid  \
0              2134-05-12 09:10:00                          220179.0
1              2134-05-15 04:28:00                          220179.0
2              2134-05-14 02:12:00                          220179.0
3              2141-06-14 06:05:00                          220179.0
4              2141-06-11 13:48:00                          220179.0

   arterial_pressure_diastolic  arterial_pressure_diastolic_delay  \
0                         84.0                             3060.0
1                         79.0                             1800.0
2                         69.0                             6960.0
3                         96.0                             1140.0
4                        116.0                             1200.0

   arterial_pressure_diastolic_time arterial_pressure_diastolic_itemid  \
0               2134-05-12 09:10:00                           220180.0
1               2134-05-15 04:28:00                           220180.0
2               2134-05-14 02:12:00                           220180.0
3               2141-06-14 06:05:00                           220180.0
4               2141-06-11 13:48:00                           220180.0

   heart_rate  heart_rate_delay     heart_rate_time heart_rate_itemid
0        87.0            3060.0 2134-05-12 09:10:00          220045.0
1        95.0            1800.0 2134-05-15 04:28:00          220045.0
2        88.0            6960.0 2134-05-14 02:12:00          220045.0
3        92.0            1140.0 2141-06-14 06:05:00          220045.0
4        97.0            1200.0 2141-06-11 13:48:00          220045.0

[5 rows x 21 columns]
------------------------------------
--- Processing feature : Weight_daily
Initial size of table : 86970
After dropping duplicates : 82006
After applying inclusion criteria : 76671
Merged table size : 125607
   subject_id  icustay_id              intime             outtime  creatinine  \
0          36      241249 2134-05-12 06:52:47 2134-05-16 15:14:20         0.9
1          36      241249 2134-05-12 06:52:47 2134-05-16 15:14:20         0.8
2          36      241249 2134-05-12 06:52:47 2134-05-16 15:14:20         0.9
3         109      253139 2141-06-11 10:17:54 2141-06-15 15:11:37         7.4
4         109      253139 2141-06-11 10:17:54 2141-06-15 15:11:37         7.4

      creatinine_time        age  length_of_stay    rrt  \
0 2134-05-12 10:01:00  72.733384      104.359167  False
1 2134-05-15 04:58:00  72.733384      104.359167  False
2 2134-05-14 04:08:00  72.733384      104.359167  False
3 2141-06-14 06:24:00  23.845640      100.895278  False
4 2141-06-11 14:08:00  23.845640      100.895278  False

   arterial_pressure_systolic         ...          \
0                       139.0         ...
1                       154.0         ...
2                       115.0         ...
3                       183.0         ...
4                       252.0         ...

   arterial_pressure_diastolic_time arterial_pressure_diastolic_itemid  \
0               2134-05-12 09:10:00                           220180.0
1               2134-05-15 04:28:00                           220180.0
2               2134-05-14 02:12:00                           220180.0
3               2141-06-14 06:05:00                           220180.0
4               2141-06-11 13:48:00                           220180.0

   heart_rate  heart_rate_delay     heart_rate_time heart_rate_itemid  \
0        87.0            3060.0 2134-05-12 09:10:00          220045.0
1        95.0            1800.0 2134-05-15 04:28:00          220045.0
2        88.0            6960.0 2134-05-14 02:12:00          220045.0
3        92.0            1140.0 2141-06-14 06:05:00          220045.0
4        97.0            1200.0 2141-06-11 13:48:00          220045.0

   weight_daily  weight_daily_delay   weight_daily_time weight_daily_itemid
0           NaN                 NaN                 NaT                 NaN
1         105.3             82800.0 2134-05-14 05:58:00            224639.0
2           NaN                 NaN                 NaT                 NaN
3          55.0            154140.0 2141-06-12 11:35:00            224639.0
4          54.0              6000.0 2141-06-11 12:28:00            224639.0

[5 rows x 25 columns]
------------------------------------
--- Processing feature : Temperature

Initial size of table : 146164
After dropping duplicates : 142139
After applying inclusion criteria : 119607
Merged table size : 125712
   subject_id  icustay_id              intime             outtime  creatinine  \
0          36      241249 2134-05-12 06:52:47 2134-05-16 15:14:20         0.9
1          36      241249 2134-05-12 06:52:47 2134-05-16 15:14:20         0.8
2          36      241249 2134-05-12 06:52:47 2134-05-16 15:14:20         0.9
3         109      253139 2141-06-11 10:17:54 2141-06-15 15:11:37         7.4
4         109      253139 2141-06-11 10:17:54 2141-06-15 15:11:37         7.4

      creatinine_time        age  length_of_stay    rrt  \
0 2134-05-12 10:01:00  72.733384      104.359167  False
1 2134-05-15 04:58:00  72.733384      104.359167  False
2 2134-05-14 04:08:00  72.733384      104.359167  False
3 2141-06-14 06:24:00  23.845640      100.895278  False
4 2141-06-11 14:08:00  23.845640      100.895278  False

   arterial_pressure_systolic        ...             heart_rate_time  \
0                       139.0        ...         2134-05-12 09:10:00
1                       154.0        ...         2134-05-15 04:28:00
2                       115.0        ...         2134-05-14 02:12:00
3                       183.0        ...         2141-06-14 06:05:00
4                       252.0        ...         2141-06-11 13:48:00

  heart_rate_itemid  weight_daily  weight_daily_delay   weight_daily_time  \
0          220045.0           NaN                 NaN                 NaT
1          220045.0         105.3             82800.0 2134-05-14 05:58:00
2          220045.0           NaN                 NaN                 NaT
3          220045.0          55.0            154140.0 2141-06-12 11:35:00
4          220045.0          54.0              6000.0 2141-06-11 12:28:00

  weight_daily_itemid  temperature  temperature_delay    temperature_time  \
0                 NaN         99.3             3000.0 2134-05-12 09:11:00
1            224639.0         99.1             1800.0 2134-05-15 04:28:00
2                 NaN        100.0             8460.0 2134-05-14 01:47:00
3            224639.0         98.2            10200.0 2141-06-14 03:34:00
4            224639.0         98.8             6840.0 2141-06-11 12:14:00

  temperature_itemid
0           223761.0
1           223761.0
2           223761.0
3           223761.0
4           223761.0

[5 rows x 29 columns]
------------------------------------
--- Processing feature : Urine_output
Initial size of table : 0
After dropping duplicates : 0
After applying inclusion criteria : 0
Merged table size : 125712
   subject_id  icustay_id              intime             outtime  creatinine  \
0          36      241249 2134-05-12 06:52:47 2134-05-16 15:14:20         0.9
1          36      241249 2134-05-12 06:52:47 2134-05-16 15:14:20         0.8
2          36      241249 2134-05-12 06:52:47 2134-05-16 15:14:20         0.9
3         109      253139 2141-06-11 10:17:54 2141-06-15 15:11:37         7.4
4         109      253139 2141-06-11 10:17:54 2141-06-15 15:11:37         7.4

      creatinine_time        age  length_of_stay    rrt  \
0 2134-05-12 10:01:00  72.733384      104.359167  False
1 2134-05-15 04:58:00  72.733384      104.359167  False
2 2134-05-14 04:08:00  72.733384      104.359167  False
3 2141-06-14 06:24:00  23.845640      100.895278  False
4 2141-06-11 14:08:00  23.845640      100.895278  False

   arterial_pressure_systolic         ...           weight_daily_time  \
0                       139.0         ...                         NaT
1                       154.0         ...         2134-05-14 05:58:00
2                       115.0         ...                         NaT
3                       183.0         ...         2141-06-12 11:35:00
4                       252.0         ...         2141-06-11 12:28:00

  weight_daily_itemid  temperature  temperature_delay    temperature_time  \
0                 NaN         99.3             3000.0 2134-05-12 09:11:00
1            224639.0         99.1             1800.0 2134-05-15 04:28:00
2                 NaN        100.0             8460.0 2134-05-14 01:47:00
3            224639.0         98.2            10200.0 2141-06-14 03:34:00
4            224639.0         98.8             6840.0 2141-06-11 12:14:00

  temperature_itemid  urine_output  urine_output_delay  urine_output_time  \
0           223761.0           NaN                 NaN                NaN
1           223761.0           NaN                 NaN                NaN
2           223761.0           NaN                 NaN                NaN
3           223761.0           NaN                 NaN                NaN
4           223761.0           NaN                 NaN                NaN

  urine_output_itemid
0                 NaN
1                 NaN
2                 NaN
3                 NaN
4                 NaN

[5 rows x 33 columns]
------------------------------------
--- Processing feature : day_urine_output
Initial size of table : 0
After dropping duplicates : 0
After applying inclusion criteria : 0
Merged table size : 125712
   subject_id  icustay_id              intime             outtime  creatinine  \
0          36      241249 2134-05-12 06:52:47 2134-05-16 15:14:20         0.9
1          36      241249 2134-05-12 06:52:47 2134-05-16 15:14:20         0.8
2          36      241249 2134-05-12 06:52:47 2134-05-16 15:14:20         0.9
3         109      253139 2141-06-11 10:17:54 2141-06-15 15:11:37         7.4
4         109      253139 2141-06-11 10:17:54 2141-06-15 15:11:37         7.4

      creatinine_time        age  length_of_stay    rrt  \
0 2134-05-12 10:01:00  72.733384      104.359167  False
1 2134-05-15 04:58:00  72.733384      104.359167  False
2 2134-05-14 04:08:00  72.733384      104.359167  False
3 2141-06-14 06:24:00  23.845640      100.895278  False
4 2141-06-11 14:08:00  23.845640      100.895278  False

   arterial_pressure_systolic           ...              temperature_time  \
0                       139.0           ...           2134-05-12 09:11:00
1                       154.0           ...           2134-05-15 04:28:00
2                       115.0           ...           2134-05-14 01:47:00
3                       183.0           ...           2141-06-14 03:34:00
4                       252.0           ...           2141-06-11 12:14:00

  temperature_itemid  urine_output  urine_output_delay  urine_output_time  \
0           223761.0           NaN                 NaN                NaN
1           223761.0           NaN                 NaN                NaN
2           223761.0           NaN                 NaN                NaN
3           223761.0           NaN                 NaN                NaN
4           223761.0           NaN                 NaN                NaN

  urine_output_itemid  day_urine_output  day_urine_output_delay  \
0                 NaN               NaN                     NaN
1                 NaN               NaN                     NaN
2                 NaN               NaN                     NaN
3                 NaN               NaN                     NaN
4                 NaN               NaN                     NaN

   day_urine_output_time day_urine_output_itemid
0                    NaN                     NaN
1                    NaN                     NaN
2                    NaN                     NaN
3                    NaN                     NaN
4                    NaN                     NaN

[5 rows x 37 columns]
------------------------------------
--- Processing feature : SCr
Initial size of table : 19524
After dropping duplicates : 19487
After applying inclusion criteria : 16613
Merged table size : 125758
   subject_id  icustay_id              intime             outtime  creatinine  \
0          36      241249 2134-05-12 06:52:47 2134-05-16 15:14:20         0.9
1          36      241249 2134-05-12 06:52:47 2134-05-16 15:14:20         0.8
2          36      241249 2134-05-12 06:52:47 2134-05-16 15:14:20         0.9
3         109      253139 2141-06-11 10:17:54 2141-06-15 15:11:37         7.4
4         109      253139 2141-06-11 10:17:54 2141-06-15 15:11:37         7.4

      creatinine_time        age  length_of_stay    rrt  \
0 2134-05-12 10:01:00  72.733384      104.359167  False
1 2134-05-15 04:58:00  72.733384      104.359167  False
2 2134-05-14 04:08:00  72.733384      104.359167  False
3 2141-06-14 06:24:00  23.845640      100.895278  False
4 2141-06-11 14:08:00  23.845640      100.895278  False

   arterial_pressure_systolic    ...      urine_output_time  \
0                       139.0    ...                    NaN
1                       154.0    ...                    NaN
2                       115.0    ...                    NaN
3                       183.0    ...                    NaN
4                       252.0    ...                    NaN

  urine_output_itemid  day_urine_output  day_urine_output_delay  \
0                 NaN               NaN                     NaN
1                 NaN               NaN                     NaN
2                 NaN               NaN                     NaN
3                 NaN               NaN                     NaN
4                 NaN               NaN                     NaN

   day_urine_output_time day_urine_output_itemid  scr  scr_delay  \
0                    NaN                     NaN  NaN        NaN
1                    NaN                     NaN  NaN        NaN
2                    NaN                     NaN  NaN        NaN
3                    NaN                     NaN  7.4     3540.0
4                    NaN                     NaN  7.4     3600.0

             scr_time scr_itemid
0                 NaT        NaN
1                 NaT        NaN
2                 NaT        NaN
3 2141-06-14 05:25:00     1525.0
4 2141-06-11 13:08:00     1525.0

[5 rows x 41 columns]
------------------------------------
--- Processing feature : Sodium

Initial size of table : 52215
After dropping duplicates : 52044
After applying inclusion criteria : 47237
Merged table size : 126086
   subject_id  icustay_id              intime             outtime  creatinine  \
0          36      241249 2134-05-12 06:52:47 2134-05-16 15:14:20         0.9
1          36      241249 2134-05-12 06:52:47 2134-05-16 15:14:20         0.8
2          36      241249 2134-05-12 06:52:47 2134-05-16 15:14:20         0.9
3         109      253139 2141-06-11 10:17:54 2141-06-15 15:11:37         7.4
4         109      253139 2141-06-11 10:17:54 2141-06-15 15:11:37         7.4

      creatinine_time        age  length_of_stay    rrt  \
0 2134-05-12 10:01:00  72.733384      104.359167  False
1 2134-05-15 04:58:00  72.733384      104.359167  False
2 2134-05-14 04:08:00  72.733384      104.359167  False
3 2141-06-14 06:24:00  23.845640      100.895278  False
4 2141-06-11 14:08:00  23.845640      100.895278  False

   arterial_pressure_systolic      ...       day_urine_output_time  \
0                       139.0      ...                         NaN
1                       154.0      ...                         NaN
2                       115.0      ...                         NaN
3                       183.0      ...                         NaN
4                       252.0      ...                         NaN

  day_urine_output_itemid  scr  scr_delay            scr_time scr_itemid  \
0                     NaN  NaN        NaN                 NaT        NaN
1                     NaN  NaN        NaN                 NaT        NaN
2                     NaN  NaN        NaN                 NaT        NaN
3                     NaN  7.4     3540.0 2141-06-14 05:25:00     1525.0
4                     NaN  7.4     3600.0 2141-06-11 13:08:00     1525.0

   sodium  sodium_delay  sodium_time sodium_itemid
0     NaN           NaN          NaT           NaN
1     NaN           NaN          NaT           NaN
2     NaN           NaN          NaT           NaN
3     NaN           NaN          NaT           NaN
4     NaN           NaN          NaT           NaN

[5 rows x 45 columns]
------------------------------------
--- Processing feature : Potassium
Initial size of table : 0
After dropping duplicates : 0
After applying inclusion criteria : 0
Merged table size : 126086
   subject_id  icustay_id              intime             outtime  creatinine  \
0          36      241249 2134-05-12 06:52:47 2134-05-16 15:14:20         0.9
1          36      241249 2134-05-12 06:52:47 2134-05-16 15:14:20         0.8
2          36      241249 2134-05-12 06:52:47 2134-05-16 15:14:20         0.9
3         109      253139 2141-06-11 10:17:54 2141-06-15 15:11:37         7.4
4         109      253139 2141-06-11 10:17:54 2141-06-15 15:11:37         7.4

      creatinine_time        age  length_of_stay    rrt  \
0 2134-05-12 10:01:00  72.733384      104.359167  False
1 2134-05-15 04:58:00  72.733384      104.359167  False
2 2134-05-14 04:08:00  72.733384      104.359167  False
3 2141-06-14 06:24:00  23.845640      100.895278  False
4 2141-06-11 14:08:00  23.845640      100.895278  False

   arterial_pressure_systolic       ...                   scr_time scr_itemid  \
0                       139.0       ...                        NaT        NaN
1                       154.0       ...                        NaT        NaN
2                       115.0       ...                        NaT        NaN
3                       183.0       ...        2141-06-14 05:25:00     1525.0
4                       252.0       ...        2141-06-11 13:08:00     1525.0

   sodium  sodium_delay  sodium_time sodium_itemid  potassium  \
0     NaN           NaN          NaT           NaN        NaN
1     NaN           NaN          NaT           NaN        NaN
2     NaN           NaN          NaT           NaN        NaN
3     NaN           NaN          NaT           NaN        NaN
4     NaN           NaN          NaT           NaN        NaN

   potassium_delay  potassium_time potassium_itemid
0              NaN             NaN              NaN
1              NaN             NaN              NaN
2              NaN             NaN              NaN
3              NaN             NaN              NaN
4              NaN             NaN              NaN

[5 rows x 49 columns]
------------------------------------
--- Processing feature : Calcium
Initial size of table : 0
After dropping duplicates : 0
After applying inclusion criteria : 0
Merged table size : 126086
   subject_id  icustay_id              intime             outtime  creatinine  \
0          36      241249 2134-05-12 06:52:47 2134-05-16 15:14:20         0.9
1          36      241249 2134-05-12 06:52:47 2134-05-16 15:14:20         0.8
2          36      241249 2134-05-12 06:52:47 2134-05-16 15:14:20         0.9
3         109      253139 2141-06-11 10:17:54 2141-06-15 15:11:37         7.4
4         109      253139 2141-06-11 10:17:54 2141-06-15 15:11:37         7.4

      creatinine_time        age  length_of_stay    rrt  \
0 2134-05-12 10:01:00  72.733384      104.359167  False
1 2134-05-15 04:58:00  72.733384      104.359167  False
2 2134-05-14 04:08:00  72.733384      104.359167  False
3 2141-06-14 06:24:00  23.845640      100.895278  False
4 2141-06-11 14:08:00  23.845640      100.895278  False

   arterial_pressure_systolic      ...        sodium_time sodium_itemid  \
0                       139.0      ...                NaT           NaN
1                       154.0      ...                NaT           NaN
2                       115.0      ...                NaT           NaN
3                       183.0      ...                NaT           NaN
4                       252.0      ...                NaT           NaN

   potassium  potassium_delay  potassium_time potassium_itemid  calcium  \
0        NaN              NaN             NaN              NaN      NaN
1        NaN              NaN             NaN              NaN      NaN
2        NaN              NaN             NaN              NaN      NaN
3        NaN              NaN             NaN              NaN      NaN
4        NaN              NaN             NaN              NaN      NaN

   calcium_delay  calcium_time calcium_itemid
0            NaN           NaN            NaN
1            NaN           NaN            NaN
2            NaN           NaN            NaN
3            NaN           NaN            NaN
4            NaN           NaN            NaN

[5 rows x 53 columns]
------------------------------------
--- Processing feature : Phosphor
Initial size of table : 18393
After dropping duplicates : 18361
After applying inclusion criteria : 15984
Merged table size : 126086
   subject_id  icustay_id              intime             outtime  creatinine  \
0          36      241249 2134-05-12 06:52:47 2134-05-16 15:14:20         0.9
1          36      241249 2134-05-12 06:52:47 2134-05-16 15:14:20         0.8
2          36      241249 2134-05-12 06:52:47 2134-05-16 15:14:20         0.9
3         109      253139 2141-06-11 10:17:54 2141-06-15 15:11:37         7.4
4         109      253139 2141-06-11 10:17:54 2141-06-15 15:11:37         7.4

      creatinine_time        age  length_of_stay    rrt  \
0 2134-05-12 10:01:00  72.733384      104.359167  False
1 2134-05-15 04:58:00  72.733384      104.359167  False
2 2134-05-14 04:08:00  72.733384      104.359167  False
3 2141-06-14 06:24:00  23.845640      100.895278  False
4 2141-06-11 14:08:00  23.845640      100.895278  False

   arterial_pressure_systolic       ...        potassium_time  \
0                       139.0       ...                   NaN
1                       154.0       ...                   NaN
2                       115.0       ...                   NaN
3                       183.0       ...                   NaN
4                       252.0       ...                   NaN

  potassium_itemid  calcium  calcium_delay  calcium_time calcium_itemid  \
0              NaN      NaN            NaN           NaN            NaN
1              NaN      NaN            NaN           NaN            NaN
2              NaN      NaN            NaN           NaN            NaN
3              NaN      NaN            NaN           NaN            NaN
4              NaN      NaN            NaN           NaN            NaN

   phosphor  phosphor_delay       phosphor_time phosphor_itemid
0       NaN             NaN                 NaT             NaN
1       NaN             NaN                 NaT             NaN
2       NaN             NaN                 NaT             NaN
3       5.7          3540.0 2141-06-14 05:25:00          1534.0
4       5.7          3600.0 2141-06-11 13:08:00          1534.0

[5 rows x 57 columns]
------------------------------------
--- Processing feature : Hemoglobine

Initial size of table : 19377
After dropping duplicates : 19348
After applying inclusion criteria : 16571
Merged table size : 126095
   subject_id  icustay_id              intime             outtime  creatinine  \
0          36      241249 2134-05-12 06:52:47 2134-05-16 15:14:20         0.9
1          36      241249 2134-05-12 06:52:47 2134-05-16 15:14:20         0.8
2          36      241249 2134-05-12 06:52:47 2134-05-16 15:14:20         0.9
3         109      253139 2141-06-11 10:17:54 2141-06-15 15:11:37         7.4
4         109      253139 2141-06-11 10:17:54 2141-06-15 15:11:37         7.4

      creatinine_time        age  length_of_stay    rrt  \
0 2134-05-12 10:01:00  72.733384      104.359167  False
1 2134-05-15 04:58:00  72.733384      104.359167  False
2 2134-05-14 04:08:00  72.733384      104.359167  False
3 2141-06-14 06:24:00  23.845640      100.895278  False
4 2141-06-11 14:08:00  23.845640      100.895278  False

   arterial_pressure_systolic        ...          calcium_time calcium_itemid  \
0                       139.0        ...                   NaN            NaN
1                       154.0        ...                   NaN            NaN
2                       115.0        ...                   NaN            NaN
3                       183.0        ...                   NaN            NaN
4                       252.0        ...                   NaN            NaN

   phosphor  phosphor_delay       phosphor_time phosphor_itemid  hemoglobine  \
0       NaN             NaN                 NaT             NaN          NaN
1       NaN             NaN                 NaT             NaN          NaN
2       NaN             NaN                 NaT             NaN          NaN
3       5.7          3540.0 2141-06-14 05:25:00          1534.0          7.0
4       5.7          3600.0 2141-06-11 13:08:00          1534.0          7.6

   hemoglobine_delay    hemoglobine_time hemoglobine_itemid
0                NaN                 NaT                NaN
1                NaN                 NaT                NaN
2                NaN                 NaT                NaN
3             4680.0 2141-06-14 05:06:00              814.0
4             2100.0 2141-06-11 13:33:00              814.0

[5 rows x 61 columns]
------------------------------------
--- Processing feature : Uric_acid
Initial size of table : 1017
After dropping duplicates : 1017
After applying inclusion criteria : 985
Merged table size : 126095
   subject_id  icustay_id              intime             outtime  creatinine  \
0          36      241249 2134-05-12 06:52:47 2134-05-16 15:14:20         0.9
1          36      241249 2134-05-12 06:52:47 2134-05-16 15:14:20         0.8
2          36      241249 2134-05-12 06:52:47 2134-05-16 15:14:20         0.9
3         109      253139 2141-06-11 10:17:54 2141-06-15 15:11:37         7.4
4         109      253139 2141-06-11 10:17:54 2141-06-15 15:11:37         7.4

      creatinine_time        age  length_of_stay    rrt  \
0 2134-05-12 10:01:00  72.733384      104.359167  False
1 2134-05-15 04:58:00  72.733384      104.359167  False
2 2134-05-14 04:08:00  72.733384      104.359167  False
3 2141-06-14 06:24:00  23.845640      100.895278  False
4 2141-06-11 14:08:00  23.845640      100.895278  False

   arterial_pressure_systolic       ...              phosphor_time  \
0                       139.0       ...                        NaT
1                       154.0       ...                        NaT
2                       115.0       ...                        NaT
3                       183.0       ...        2141-06-14 05:25:00
4                       252.0       ...        2141-06-11 13:08:00

  phosphor_itemid  hemoglobine  hemoglobine_delay    hemoglobine_time  \
0             NaN          NaN                NaN                 NaT
1             NaN          NaN                NaN                 NaT
2             NaN          NaN                NaN                 NaT
3          1534.0          7.0             4680.0 2141-06-14 05:06:00
4          1534.0          7.6             2100.0 2141-06-11 13:33:00

  hemoglobine_itemid  uric_acid  uric_acid_delay  uric_acid_time  \
0                NaN        NaN              NaN             NaT
1                NaN        NaN              NaN             NaT
2                NaN        NaN              NaN             NaT
3              814.0        NaN              NaN             NaT
4              814.0        NaN              NaN             NaT

  uric_acid_itemid
0              NaN
1              NaN
2              NaN
3              NaN
4              NaN

[5 rows x 65 columns]
------------------------------------
--- Processing feature : Chloride
Initial size of table : 19494
After dropping duplicates : 19460
After applying inclusion criteria : 16601
Merged table size : 126096
   subject_id  icustay_id              intime             outtime  creatinine  \
0          36      241249 2134-05-12 06:52:47 2134-05-16 15:14:20         0.9
1          36      241249 2134-05-12 06:52:47 2134-05-16 15:14:20         0.8
2          36      241249 2134-05-12 06:52:47 2134-05-16 15:14:20         0.9
3         109      253139 2141-06-11 10:17:54 2141-06-15 15:11:37         7.4
4         109      253139 2141-06-11 10:17:54 2141-06-15 15:11:37         7.4

      creatinine_time        age  length_of_stay    rrt  \
0 2134-05-12 10:01:00  72.733384      104.359167  False
1 2134-05-15 04:58:00  72.733384      104.359167  False
2 2134-05-14 04:08:00  72.733384      104.359167  False
3 2141-06-14 06:24:00  23.845640      100.895278  False
4 2141-06-11 14:08:00  23.845640      100.895278  False

   arterial_pressure_systolic       ...          hemoglobine_time  \
0                       139.0       ...                       NaT
1                       154.0       ...                       NaT
2                       115.0       ...                       NaT
3                       183.0       ...       2141-06-14 05:06:00
4                       252.0       ...       2141-06-11 13:33:00

  hemoglobine_itemid  uric_acid  uric_acid_delay  uric_acid_time  \
0                NaN        NaN              NaN             NaT
1                NaN        NaN              NaN             NaT
2                NaN        NaN              NaN             NaT
3              814.0        NaN              NaN             NaT
4              814.0        NaN              NaN             NaT

  uric_acid_itemid  chloride  chloride_delay       chloride_time  \
0              NaN       NaN             NaN                 NaT
1              NaN       NaN             NaN                 NaT
2              NaN       NaN             NaN                 NaT
3              NaN     109.0          3540.0 2141-06-14 05:25:00
4              NaN     111.0          3600.0 2141-06-11 13:08:00

  chloride_itemid
0             NaN
1             NaN
2             NaN
3          1523.0
4          1523.0

[5 rows x 69 columns]
------------------------------------
--- Processing feature : Platelet_count
Initial size of table : 19389
After dropping duplicates : 19364
After applying inclusion criteria : 16584
Merged table size : 126096
   subject_id  icustay_id              intime             outtime  creatinine  \
0          36      241249 2134-05-12 06:52:47 2134-05-16 15:14:20         0.9
1          36      241249 2134-05-12 06:52:47 2134-05-16 15:14:20         0.8
2          36      241249 2134-05-12 06:52:47 2134-05-16 15:14:20         0.9
3         109      253139 2141-06-11 10:17:54 2141-06-15 15:11:37         7.4
4         109      253139 2141-06-11 10:17:54 2141-06-15 15:11:37         7.4

      creatinine_time        age  length_of_stay    rrt  \
0 2134-05-12 10:01:00  72.733384      104.359167  False
1 2134-05-15 04:58:00  72.733384      104.359167  False
2 2134-05-14 04:08:00  72.733384      104.359167  False
3 2141-06-14 06:24:00  23.845640      100.895278  False
4 2141-06-11 14:08:00  23.845640      100.895278  False

   arterial_pressure_systolic          ...           uric_acid_time  \
0                       139.0          ...                      NaT
1                       154.0          ...                      NaT
2                       115.0          ...                      NaT
3                       183.0          ...                      NaT
4                       252.0          ...                      NaT

  uric_acid_itemid  chloride  chloride_delay       chloride_time  \
0              NaN       NaN             NaN                 NaT
1              NaN       NaN             NaN                 NaT
2              NaN       NaN             NaN                 NaT
3              NaN     109.0          3540.0 2141-06-14 05:25:00
4              NaN     111.0          3600.0 2141-06-11 13:08:00

  chloride_itemid  platelet_count  platelet_count_delay  platelet_count_time  \
0             NaN             NaN                   NaN                  NaT
1             NaN             NaN                   NaN                  NaT
2             NaN             NaN                   NaN                  NaT
3          1523.0           104.0                4680.0  2141-06-14 05:06:00
4          1523.0           105.0                2100.0  2141-06-11 13:33:00

  platelet_count_itemid
0                   NaN
1                   NaN
2                   NaN
3                 828.0
4                 828.0

[5 rows x 73 columns]
------------------------------------
--- Processing feature : pH_blood

Initial size of table : 110084
After dropping duplicates : 109719
After applying inclusion criteria : 100516
Merged table size : 126398
   subject_id  icustay_id              intime             outtime  creatinine  \
0          36      241249 2134-05-12 06:52:47 2134-05-16 15:14:20         0.9
1          36      241249 2134-05-12 06:52:47 2134-05-16 15:14:20         0.8
2          36      241249 2134-05-12 06:52:47 2134-05-16 15:14:20         0.9
3         109      253139 2141-06-11 10:17:54 2141-06-15 15:11:37         7.4
4         109      253139 2141-06-11 10:17:54 2141-06-15 15:11:37         7.4

      creatinine_time        age  length_of_stay    rrt  \
0 2134-05-12 10:01:00  72.733384      104.359167  False
1 2134-05-15 04:58:00  72.733384      104.359167  False
2 2134-05-14 04:08:00  72.733384      104.359167  False
3 2141-06-14 06:24:00  23.845640      100.895278  False
4 2141-06-11 14:08:00  23.845640      100.895278  False

   arterial_pressure_systolic       ...             chloride_time  \
0                       139.0       ...                       NaT
1                       154.0       ...                       NaT
2                       115.0       ...                       NaT
3                       183.0       ...       2141-06-14 05:25:00
4                       252.0       ...       2141-06-11 13:08:00

  chloride_itemid  platelet_count  platelet_count_delay  platelet_count_time  \
0             NaN             NaN                   NaN                  NaT
1             NaN             NaN                   NaN                  NaT
2             NaN             NaN                   NaN                  NaT
3          1523.0           104.0                4680.0  2141-06-14 05:06:00
4          1523.0           105.0                2100.0  2141-06-11 13:33:00

  platelet_count_itemid  ph_blood  ph_blood_delay       ph_blood_time  \
0                   NaN       NaN             NaN                 NaT
1                   NaN      7.34         72480.0 2134-05-14 08:50:00
2                   NaN      7.35         37980.0 2134-05-13 17:35:00
3                 828.0      7.37        137520.0 2141-06-12 16:12:00
4                 828.0       NaN             NaN                 NaT

  ph_blood_itemid
0             NaN
1        223830.0
2        223830.0
3        223830.0
4             NaN

[5 rows x 77 columns]
------------------------------------
--- Processing feature : fibrinogen
Initial size of table : 6262
After dropping duplicates : 6262
After applying inclusion criteria : 5805
Merged table size : 126400
   subject_id  icustay_id              intime             outtime  creatinine  \
0          36      241249 2134-05-12 06:52:47 2134-05-16 15:14:20         0.9
1          36      241249 2134-05-12 06:52:47 2134-05-16 15:14:20         0.8
2          36      241249 2134-05-12 06:52:47 2134-05-16 15:14:20         0.9
3         109      253139 2141-06-11 10:17:54 2141-06-15 15:11:37         7.4
4         109      253139 2141-06-11 10:17:54 2141-06-15 15:11:37         7.4

      creatinine_time        age  length_of_stay    rrt  \
0 2134-05-12 10:01:00  72.733384      104.359167  False
1 2134-05-15 04:58:00  72.733384      104.359167  False
2 2134-05-14 04:08:00  72.733384      104.359167  False
3 2141-06-14 06:24:00  23.845640      100.895278  False
4 2141-06-11 14:08:00  23.845640      100.895278  False

   arterial_pressure_systolic        ...         platelet_count_time  \
0                       139.0        ...                         NaT
1                       154.0        ...                         NaT
2                       115.0        ...                         NaT
3                       183.0        ...         2141-06-14 05:06:00
4                       252.0        ...         2141-06-11 13:33:00

  platelet_count_itemid  ph_blood  ph_blood_delay       ph_blood_time  \
0                   NaN       NaN             NaN                 NaT
1                   NaN      7.34         72480.0 2134-05-14 08:50:00
2                   NaN      7.35         37980.0 2134-05-13 17:35:00
3                 828.0      7.37        137520.0 2141-06-12 16:12:00
4                 828.0       NaN             NaN                 NaT

  ph_blood_itemid  fibrinogen  fibrinogen_delay  fibrinogen_time  \
0             NaN         NaN               NaN              NaT
1        223830.0         NaN               NaN              NaT
2        223830.0         NaN               NaN              NaT
3        223830.0         NaN               NaN              NaT
4             NaN         NaN               NaN              NaT

  fibrinogen_itemid
0               NaN
1               NaN
2               NaN
3               NaN
4               NaN

[5 rows x 81 columns]
------------------------------------
--- Processing feature : urinary_sodium
Initial size of table : 0
After dropping duplicates : 0
After applying inclusion criteria : 0
Merged table size : 126400
   subject_id  icustay_id              intime             outtime  creatinine  \
0          36      241249 2134-05-12 06:52:47 2134-05-16 15:14:20         0.9
1          36      241249 2134-05-12 06:52:47 2134-05-16 15:14:20         0.8
2          36      241249 2134-05-12 06:52:47 2134-05-16 15:14:20         0.9
3         109      253139 2141-06-11 10:17:54 2141-06-15 15:11:37         7.4
4         109      253139 2141-06-11 10:17:54 2141-06-15 15:11:37         7.4

      creatinine_time        age  length_of_stay    rrt  \
0 2134-05-12 10:01:00  72.733384      104.359167  False
1 2134-05-15 04:58:00  72.733384      104.359167  False
2 2134-05-14 04:08:00  72.733384      104.359167  False
3 2141-06-14 06:24:00  23.845640      100.895278  False
4 2141-06-11 14:08:00  23.845640      100.895278  False

   arterial_pressure_systolic          ...                ph_blood_time  \
0                       139.0          ...                          NaT
1                       154.0          ...          2134-05-14 08:50:00
2                       115.0          ...          2134-05-13 17:35:00
3                       183.0          ...          2141-06-12 16:12:00
4                       252.0          ...                          NaT

  ph_blood_itemid  fibrinogen  fibrinogen_delay  fibrinogen_time  \
0             NaN         NaN               NaN              NaT
1        223830.0         NaN               NaN              NaT
2        223830.0         NaN               NaN              NaT
3        223830.0         NaN               NaN              NaT
4             NaN         NaN               NaN              NaT

  fibrinogen_itemid  urinary_sodium  urinary_sodium_delay  \
0               NaN             NaN                   NaN
1               NaN             NaN                   NaN
2               NaN             NaN                   NaN
3               NaN             NaN                   NaN
4               NaN             NaN                   NaN

   urinary_sodium_time urinary_sodium_itemid
0                  NaN                   NaN
1                  NaN                   NaN
2                  NaN                   NaN
3                  NaN                   NaN
4                  NaN                   NaN

[5 rows x 85 columns]
------------------------------------
--- Processing feature : urinary_potassium
Initial size of table : 0
After dropping duplicates : 0
After applying inclusion criteria : 0
Merged table size : 126400
   subject_id  icustay_id              intime             outtime  creatinine  \
0          36      241249 2134-05-12 06:52:47 2134-05-16 15:14:20         0.9
1          36      241249 2134-05-12 06:52:47 2134-05-16 15:14:20         0.8
2          36      241249 2134-05-12 06:52:47 2134-05-16 15:14:20         0.9
3         109      253139 2141-06-11 10:17:54 2141-06-15 15:11:37         7.4
4         109      253139 2141-06-11 10:17:54 2141-06-15 15:11:37         7.4

      creatinine_time        age  length_of_stay    rrt  \
0 2134-05-12 10:01:00  72.733384      104.359167  False
1 2134-05-15 04:58:00  72.733384      104.359167  False
2 2134-05-14 04:08:00  72.733384      104.359167  False
3 2141-06-14 06:24:00  23.845640      100.895278  False
4 2141-06-11 14:08:00  23.845640      100.895278  False

   arterial_pressure_systolic           ...             fibrinogen_time  \
0                       139.0           ...                         NaT
1                       154.0           ...                         NaT
2                       115.0           ...                         NaT
3                       183.0           ...                         NaT
4                       252.0           ...                         NaT

  fibrinogen_itemid  urinary_sodium  urinary_sodium_delay  \
0               NaN             NaN                   NaN
1               NaN             NaN                   NaN
2               NaN             NaN                   NaN
3               NaN             NaN                   NaN
4               NaN             NaN                   NaN

   urinary_sodium_time urinary_sodium_itemid  urinary_potassium  \
0                  NaN                   NaN                NaN
1                  NaN                   NaN                NaN
2                  NaN                   NaN                NaN
3                  NaN                   NaN                NaN
4                  NaN                   NaN                NaN

   urinary_potassium_delay  urinary_potassium_time urinary_potassium_itemid
0                      NaN                     NaN                      NaN
1                      NaN                     NaN                      NaN
2                      NaN                     NaN                      NaN
3                      NaN                     NaN                      NaN
4                      NaN                     NaN                      NaN

[5 rows x 89 columns]
------------------------------------
--- Processing feature : urine_creatinin
Initial size of table : 0
After dropping duplicates : 0
After applying inclusion criteria : 0

Merged table size : 126400
   subject_id  icustay_id              intime             outtime  creatinine  \
0          36      241249 2134-05-12 06:52:47 2134-05-16 15:14:20         0.9
1          36      241249 2134-05-12 06:52:47 2134-05-16 15:14:20         0.8
2          36      241249 2134-05-12 06:52:47 2134-05-16 15:14:20         0.9
3         109      253139 2141-06-11 10:17:54 2141-06-15 15:11:37         7.4
4         109      253139 2141-06-11 10:17:54 2141-06-15 15:11:37         7.4

      creatinine_time        age  length_of_stay    rrt  \
0 2134-05-12 10:01:00  72.733384      104.359167  False
1 2134-05-15 04:58:00  72.733384      104.359167  False
2 2134-05-14 04:08:00  72.733384      104.359167  False
3 2141-06-14 06:24:00  23.845640      100.895278  False
4 2141-06-11 14:08:00  23.845640      100.895278  False

   arterial_pressure_systolic          ...            urinary_sodium_time  \
0                       139.0          ...                            NaN
1                       154.0          ...                            NaN
2                       115.0          ...                            NaN
3                       183.0          ...                            NaN
4                       252.0          ...                            NaN

  urinary_sodium_itemid  urinary_potassium  urinary_potassium_delay  \
0                   NaN                NaN                      NaN
1                   NaN                NaN                      NaN
2                   NaN                NaN                      NaN
3                   NaN                NaN                      NaN
4                   NaN                NaN                      NaN

   urinary_potassium_time urinary_potassium_itemid  urine_creatinin  \
0                     NaN                      NaN              NaN
1                     NaN                      NaN              NaN
2                     NaN                      NaN              NaN
3                     NaN                      NaN              NaN
4                     NaN                      NaN              NaN

   urine_creatinin_delay  urine_creatinin_time urine_creatinin_itemid
0                    NaN                   NaN                    NaN
1                    NaN                   NaN                    NaN
2                    NaN                   NaN                    NaN
3                    NaN                   NaN                    NaN
4                    NaN                   NaN                    NaN

[5 rows x 93 columns]
------------------------------------
--- Processing feature : alkaline_phospatase
Initial size of table : 0
After dropping duplicates : 0
After applying inclusion criteria : 0
Merged table size : 126400
   subject_id  icustay_id              intime             outtime  creatinine  \
0          36      241249 2134-05-12 06:52:47 2134-05-16 15:14:20         0.9
1          36      241249 2134-05-12 06:52:47 2134-05-16 15:14:20         0.8
2          36      241249 2134-05-12 06:52:47 2134-05-16 15:14:20         0.9
3         109      253139 2141-06-11 10:17:54 2141-06-15 15:11:37         7.4
4         109      253139 2141-06-11 10:17:54 2141-06-15 15:11:37         7.4

      creatinine_time        age  length_of_stay    rrt  \
0 2134-05-12 10:01:00  72.733384      104.359167  False
1 2134-05-15 04:58:00  72.733384      104.359167  False
2 2134-05-14 04:08:00  72.733384      104.359167  False
3 2141-06-14 06:24:00  23.845640      100.895278  False
4 2141-06-11 14:08:00  23.845640      100.895278  False

   arterial_pressure_systolic            ...              \
0                       139.0            ...
1                       154.0            ...
2                       115.0            ...
3                       183.0            ...
4                       252.0            ...

   urinary_potassium_time urinary_potassium_itemid  urine_creatinin  \
0                     NaN                      NaN              NaN
1                     NaN                      NaN              NaN
2                     NaN                      NaN              NaN
3                     NaN                      NaN              NaN
4                     NaN                      NaN              NaN

   urine_creatinin_delay  urine_creatinin_time urine_creatinin_itemid  \
0                    NaN                   NaN                    NaN
1                    NaN                   NaN                    NaN
2                    NaN                   NaN                    NaN
3                    NaN                   NaN                    NaN
4                    NaN                   NaN                    NaN

   alkaline_phospatase  alkaline_phospatase_delay  alkaline_phospatase_time  \
0                  NaN                        NaN                       NaN
1                  NaN                        NaN                       NaN
2                  NaN                        NaN                       NaN
3                  NaN                        NaN                       NaN
4                  NaN                        NaN                       NaN

  alkaline_phospatase_itemid
0                        NaN
1                        NaN
2                        NaN
3                        NaN
4                        NaN

[5 rows x 97 columns]
------------------------------------
--- Processing feature : Total_protein_blood
Initial size of table : 6261
After dropping duplicates : 6255
After applying inclusion criteria : 6064
Merged table size : 126403
   subject_id  icustay_id              intime             outtime  creatinine  \
0          36      241249 2134-05-12 06:52:47 2134-05-16 15:14:20         0.9
1          36      241249 2134-05-12 06:52:47 2134-05-16 15:14:20         0.8
2          36      241249 2134-05-12 06:52:47 2134-05-16 15:14:20         0.9
3         109      253139 2141-06-11 10:17:54 2141-06-15 15:11:37         7.4
4         109      253139 2141-06-11 10:17:54 2141-06-15 15:11:37         7.4

      creatinine_time        age  length_of_stay    rrt  \
0 2134-05-12 10:01:00  72.733384      104.359167  False
1 2134-05-15 04:58:00  72.733384      104.359167  False
2 2134-05-14 04:08:00  72.733384      104.359167  False
3 2141-06-14 06:24:00  23.845640      100.895278  False
4 2141-06-11 14:08:00  23.845640      100.895278  False

   arterial_pressure_systolic            ...              \
0                       139.0            ...
1                       154.0            ...
2                       115.0            ...
3                       183.0            ...
4                       252.0            ...

   urine_creatinin_time urine_creatinin_itemid  alkaline_phospatase  \
0                   NaN                    NaN                  NaN
1                   NaN                    NaN                  NaN
2                   NaN                    NaN                  NaN
3                   NaN                    NaN                  NaN
4                   NaN                    NaN                  NaN

   alkaline_phospatase_delay  alkaline_phospatase_time  \
0                        NaN                       NaN
1                        NaN                       NaN
2                        NaN                       NaN
3                        NaN                       NaN
4                        NaN                       NaN

  alkaline_phospatase_itemid  total_protein_blood  total_protein_blood_delay  \
0                        NaN                  NaN                        NaN
1                        NaN                  NaN                        NaN
2                        NaN                  NaN                        NaN
3                        NaN                  NaN                        NaN
4                        NaN                  NaN                        NaN

   total_protein_blood_time total_protein_blood_itemid
0                       NaT                        NaN
1                       NaT                        NaN
2                       NaT                        NaN
3                       NaT                        NaN
4                       NaT                        NaN

[5 rows x 101 columns]
------------------------------------
--- Processing feature : albumin

Initial size of table : 11261
After dropping duplicates : 11251
After applying inclusion criteria : 10570
Merged table size : 126403
   subject_id  icustay_id              intime             outtime  creatinine  \
0          36      241249 2134-05-12 06:52:47 2134-05-16 15:14:20         0.9
1          36      241249 2134-05-12 06:52:47 2134-05-16 15:14:20         0.8
2          36      241249 2134-05-12 06:52:47 2134-05-16 15:14:20         0.9
3         109      253139 2141-06-11 10:17:54 2141-06-15 15:11:37         7.4
4         109      253139 2141-06-11 10:17:54 2141-06-15 15:11:37         7.4

      creatinine_time        age  length_of_stay    rrt  \
0 2134-05-12 10:01:00  72.733384      104.359167  False
1 2134-05-15 04:58:00  72.733384      104.359167  False
2 2134-05-14 04:08:00  72.733384      104.359167  False
3 2141-06-14 06:24:00  23.845640      100.895278  False
4 2141-06-11 14:08:00  23.845640      100.895278  False

   arterial_pressure_systolic      ...        alkaline_phospatase_time  \
0                       139.0      ...                             NaN
1                       154.0      ...                             NaN
2                       115.0      ...                             NaN
3                       183.0      ...                             NaN
4                       252.0      ...                             NaN

  alkaline_phospatase_itemid  total_protein_blood  total_protein_blood_delay  \
0                        NaN                  NaN                        NaN
1                        NaN                  NaN                        NaN
2                        NaN                  NaN                        NaN
3                        NaN                  NaN                        NaN
4                        NaN                  NaN                        NaN

   total_protein_blood_time total_protein_blood_itemid  albumin  \
0                       NaT                        NaN      NaN
1                       NaT                        NaN      NaN
2                       NaT                        NaN      NaN
3                       NaT                        NaN      NaN
4                       NaT                        NaN      NaN

   albumin_delay  albumin_time albumin_itemid
0            NaN           NaT            NaN
1            NaN           NaT            NaN
2            NaN           NaT            NaN
3            NaN           NaT            NaN
4            NaN           NaT            NaN

[5 rows x 105 columns]
------------------------------------
--- Processing feature : Total_protein_urine
Initial size of table : 0
After dropping duplicates : 0
After applying inclusion criteria : 0
Merged table size : 126403
   subject_id  icustay_id              intime             outtime  creatinine  \
0          36      241249 2134-05-12 06:52:47 2134-05-16 15:14:20         0.9
1          36      241249 2134-05-12 06:52:47 2134-05-16 15:14:20         0.8
2          36      241249 2134-05-12 06:52:47 2134-05-16 15:14:20         0.9
3         109      253139 2141-06-11 10:17:54 2141-06-15 15:11:37         7.4
4         109      253139 2141-06-11 10:17:54 2141-06-15 15:11:37         7.4

      creatinine_time        age  length_of_stay    rrt  \
0 2134-05-12 10:01:00  72.733384      104.359167  False
1 2134-05-15 04:58:00  72.733384      104.359167  False
2 2134-05-14 04:08:00  72.733384      104.359167  False
3 2141-06-14 06:24:00  23.845640      100.895278  False
4 2141-06-11 14:08:00  23.845640      100.895278  False

   arterial_pressure_systolic            ...              \
0                       139.0            ...
1                       154.0            ...
2                       115.0            ...
3                       183.0            ...
4                       252.0            ...

   total_protein_blood_time total_protein_blood_itemid  albumin  \
0                       NaT                        NaN      NaN
1                       NaT                        NaN      NaN
2                       NaT                        NaN      NaN
3                       NaT                        NaN      NaN
4                       NaT                        NaN      NaN

   albumin_delay  albumin_time albumin_itemid  total_protein_urine  \
0            NaN           NaT            NaN                  NaN
1            NaN           NaT            NaN                  NaN
2            NaN           NaT            NaN                  NaN
3            NaN           NaT            NaN                  NaN
4            NaN           NaT            NaN                  NaN

   total_protein_urine_delay  total_protein_urine_time  \
0                        NaN                       NaN
1                        NaN                       NaN
2                        NaN                       NaN
3                        NaN                       NaN
4                        NaN                       NaN

  total_protein_urine_itemid
0                        NaN
1                        NaN
2                        NaN
3                        NaN
4                        NaN

[5 rows x 109 columns]
------------------------------------
--- Processing feature : bilirubin
Initial size of table : 0
After dropping duplicates : 0
After applying inclusion criteria : 0
Merged table size : 126403
   subject_id  icustay_id              intime             outtime  creatinine  \
0          36      241249 2134-05-12 06:52:47 2134-05-16 15:14:20         0.9
1          36      241249 2134-05-12 06:52:47 2134-05-16 15:14:20         0.8
2          36      241249 2134-05-12 06:52:47 2134-05-16 15:14:20         0.9
3         109      253139 2141-06-11 10:17:54 2141-06-15 15:11:37         7.4
4         109      253139 2141-06-11 10:17:54 2141-06-15 15:11:37         7.4

      creatinine_time        age  length_of_stay    rrt  \
0 2134-05-12 10:01:00  72.733384      104.359167  False
1 2134-05-15 04:58:00  72.733384      104.359167  False
2 2134-05-14 04:08:00  72.733384      104.359167  False
3 2141-06-14 06:24:00  23.845640      100.895278  False
4 2141-06-11 14:08:00  23.845640      100.895278  False

   arterial_pressure_systolic       ...         albumin_time albumin_itemid  \
0                       139.0       ...                  NaT            NaN
1                       154.0       ...                  NaT            NaN
2                       115.0       ...                  NaT            NaN
3                       183.0       ...                  NaT            NaN
4                       252.0       ...                  NaT            NaN

   total_protein_urine  total_protein_urine_delay  total_protein_urine_time  \
0                  NaN                        NaN                       NaN
1                  NaN                        NaN                       NaN
2                  NaN                        NaN                       NaN
3                  NaN                        NaN                       NaN
4                  NaN                        NaN                       NaN

  total_protein_urine_itemid  bilirubin  bilirubin_delay  bilirubin_time  \
0                        NaN        NaN              NaN             NaN
1                        NaN        NaN              NaN             NaN
2                        NaN        NaN              NaN             NaN
3                        NaN        NaN              NaN             NaN
4                        NaN        NaN              NaN             NaN

  bilirubin_itemid
0              NaN
1              NaN
2              NaN
3              NaN
4              NaN

[5 rows x 113 columns]
------------------------------------
--- Processing feature : C_reactive_protein
Initial size of table : 5018
After dropping duplicates : 4986
After applying inclusion criteria : 4861
Merged table size : 126403
   subject_id  icustay_id              intime             outtime  creatinine  \
0          36      241249 2134-05-12 06:52:47 2134-05-16 15:14:20         0.9
1          36      241249 2134-05-12 06:52:47 2134-05-16 15:14:20         0.8
2          36      241249 2134-05-12 06:52:47 2134-05-16 15:14:20         0.9
3         109      253139 2141-06-11 10:17:54 2141-06-15 15:11:37         7.4
4         109      253139 2141-06-11 10:17:54 2141-06-15 15:11:37         7.4

      creatinine_time        age  length_of_stay    rrt  \
0 2134-05-12 10:01:00  72.733384      104.359167  False
1 2134-05-15 04:58:00  72.733384      104.359167  False
2 2134-05-14 04:08:00  72.733384      104.359167  False
3 2141-06-14 06:24:00  23.845640      100.895278  False
4 2141-06-11 14:08:00  23.845640      100.895278  False

   arterial_pressure_systolic            ...             \
0                       139.0            ...
1                       154.0            ...
2                       115.0            ...
3                       183.0            ...
4                       252.0            ...

   total_protein_urine_time total_protein_urine_itemid  bilirubin  \
0                       NaN                        NaN        NaN
1                       NaN                        NaN        NaN
2                       NaN                        NaN        NaN
3                       NaN                        NaN        NaN
4                       NaN                        NaN        NaN

   bilirubin_delay  bilirubin_time bilirubin_itemid  c_reactive_protein  \
0              NaN             NaN              NaN                 NaN
1              NaN             NaN              NaN                 NaN
2              NaN             NaN              NaN                 NaN
3              NaN             NaN              NaN                 NaN
4              NaN             NaN              NaN                 NaN

   c_reactive_protein_delay  c_reactive_protein_time c_reactive_protein_itemid
0                       NaN                      NaT                       NaN
1                       NaN                      NaT                       NaN
2                       NaN                      NaT                       NaN
3                       NaN                      NaT                       NaN
4                       NaN                      NaT                       NaN

[5 rows x 117 columns]

In [6]:
print(df_chartevents['arterial_pressure_diastolic_itemid'].value_counts(dropna=False))

 220180.0    59266
 220051.0    48895
 8368.0       7944
 8441.0       6109
 225310.0     3162
NaN           1027
Name: arterial_pressure_diastolic_itemid, dtype: int64

In [7]:
# Dump to file
df_chartevents.to_csv('creatinine_measurements_1.csv')
df_chartevents.head()

,subject_id,icustay_id,intime,outtime,creatinine,creatinine_time,age,length_of_stay,rrt,arterial_pressure_systolic,...,total_protein_urine_time,total_protein_urine_itemid,bilirubin,bilirubin_delay,bilirubin_time,bilirubin_itemid,c_reactive_protein,c_reactive_protein_delay,c_reactive_protein_time,c_reactive_protein_itemid
0,36,241249,2134-05-12 06:52:47,2134-05-16 15:14:20,0.9,2134-05-12 10:01:00,72.733384,104.359167,False,139.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaT,NaN
1,36,241249,2134-05-12 06:52:47,2134-05-16 15:14:20,0.8,2134-05-15 04:58:00,72.733384,104.359167,False,154.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaT,NaN
2,36,241249,2134-05-12 06:52:47,2134-05-16 15:14:20,0.9,2134-05-14 04:08:00,72.733384,104.359167,False,115.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaT,NaN
3,109,253139,2141-06-11 10:17:54,2141-06-15 15:11:37,7.4,2141-06-14 06:24:00,23.845640,100.895278,False,183.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaT,NaN
4,109,253139,2141-06-11 10:17:54,2141-06-15 15:11:37,7.4,2141-06-11 14:08:00,23.845640,100.895278,False,252.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaT,NaN

# Retrieve missing static information

In [8]:
# Creatinine measurements, AKI flags + stage for all stays
# Inclusion flags :
# patient age > 15
# length of stay > 48hours
query = query_schema + """
with cr as
(
select
    icu.subject_id, icu.icustay_id, icu.intime, icu.outtime, EXTRACT(EPOCH FROM icu.outtime - icu.intime)/60.0/60.0 as length_of_stay,
    ce.valuenum as creatinine, ce.storetime as creatinine_time,
    adm.ethnicity, adm.diagnosis,
    pat.gender as gender,
    EXTRACT('epoch' from icu.intime - pat.dob) / 60.0 / 60.0 / 24.0 / 365.242 AS age,
    (rrt.icustay_id is null) as rrt
  from icustays icu
  inner join chartevents ce
    on icu.subject_id = ce.subject_id
    and ce.itemid = 220615
    and ce.valuenum is not null
    and ce.storetime between icu.intime and icu.outtime
  inner join patients pat
    ON icu.subject_id = pat.subject_id
  inner join admissions adm
    on icu.subject_id = adm.subject_id
  left outer join rrt 
    on icu.icustay_id = rrt.icustay_id
)
select
cr.subject_id, cr.icustay_id, cr.intime, cr.outtime,
    cr.creatinine, cr.creatinine_time,
    cr.ethnicity, cr.diagnosis,
    cr.gender,
    cr.age, CASE
                WHEN cr.age >= 15 then 1
            ELSE 0 END
            as inclusion_age,
  cr.length_of_stay, CASE
                        WHEN cr.length_of_stay >= 48 then 1
                     ELSE 0 END
                     as inclusion_length_of_stay,
  cr.rrt, CASE
            WHEN cr.rrt = False then 1
          ELSE 0 END
          as inclusion_rrt
  from cr
"""
df_static = pd.read_sql_query(query, con)
print(df_static.head())
df_static = apply_inclusion_criteria(df_static)
print(df_static.head())

   subject_id  icustay_id              intime             outtime  creatinine  \
0         494      268296 2171-12-20 22:10:57 2171-12-21 22:37:41         1.0
1         494      268296 2171-12-20 22:10:57 2171-12-21 22:37:41         1.0
2         199      235675 2174-04-12 11:00:25 2174-04-17 17:02:50         1.1
3         199      235675 2174-04-12 11:00:25 2174-04-17 17:02:50         1.1
4         199      235675 2174-04-12 11:00:25 2174-04-17 17:02:50         1.1

      creatinine_time        ethnicity       diagnosis gender        age  \
0 2171-12-21 02:16:00  WHITE - RUSSIAN      CHEST PAIN      F  61.997044
1 2171-12-21 02:16:00  WHITE - RUSSIAN          ANEMIA      F  61.997044
2 2174-04-17 02:12:00            WHITE  CARDIOMYOPATHY      M  48.500607
3 2174-04-14 03:11:00            WHITE  CARDIOMYOPATHY      M  48.500607
4 2174-04-15 03:29:00            WHITE  CARDIOMYOPATHY      M  48.500607

   inclusion_age  length_of_stay  inclusion_length_of_stay    rrt  \
0              1       24.445556                         0  False
1              1       24.445556                         0  False
2              1      126.040278                         1  False
3              1      126.040278                         1  False
4              1      126.040278                         1  False

   inclusion_rrt
0              1
1              1
2              1
3              1
4              1
Initial size of table : 315442
After dropping duplicates : 152630
After applying inclusion criteria : 126881
   subject_id  icustay_id              intime             outtime  creatinine  \
2         199      235675 2174-04-12 11:00:25 2174-04-17 17:02:50         1.1
3         199      235675 2174-04-12 11:00:25 2174-04-17 17:02:50         1.1
4         199      235675 2174-04-12 11:00:25 2174-04-17 17:02:50         1.1
5         199      235675 2174-04-12 11:00:25 2174-04-17 17:02:50         1.0
6         199      235675 2174-04-12 11:00:25 2174-04-17 17:02:50         1.1

      creatinine_time ethnicity       diagnosis gender        age  \
2 2174-04-17 02:12:00     WHITE  CARDIOMYOPATHY      M  48.500607
3 2174-04-14 03:11:00     WHITE  CARDIOMYOPATHY      M  48.500607
4 2174-04-15 03:29:00     WHITE  CARDIOMYOPATHY      M  48.500607
5 2174-04-13 05:02:00     WHITE  CARDIOMYOPATHY      M  48.500607
6 2174-04-13 17:08:00     WHITE  CARDIOMYOPATHY      M  48.500607

   length_of_stay    rrt
2      126.040278  False
3      126.040278  False
4      126.040278  False
5      126.040278  False
6      126.040278  False

In [9]:
# Dump to file
df_static.to_csv('creatinine_measurements_2.csv')
print(df_static)

        subject_id  icustay_id              intime             outtime  \
2              199      235675 2174-04-12 11:00:25 2174-04-17 17:02:50
3              199      235675 2174-04-12 11:00:25 2174-04-17 17:02:50
4              199      235675 2174-04-12 11:00:25 2174-04-17 17:02:50
5              199      235675 2174-04-12 11:00:25 2174-04-17 17:02:50
6              199      235675 2174-04-12 11:00:25 2174-04-17 17:02:50
7              199      235675 2174-04-12 11:00:25 2174-04-17 17:02:50
8              199      235675 2174-04-12 11:00:25 2174-04-17 17:02:50
9              199      235675 2174-04-12 11:00:25 2174-04-17 17:02:50
18             209      229904 2127-08-11 20:43:43 2127-08-15 20:53:22
19             209      229904 2127-08-11 20:43:43 2127-08-15 20:53:22
20             209      229904 2127-08-11 20:43:43 2127-08-15 20:53:22
21             209      229904 2127-08-11 20:43:43 2127-08-15 20:53:22
22             209      229904 2127-08-11 20:43:43 2127-08-15 20:53:22
23             209      229904 2127-08-11 20:43:43 2127-08-15 20:53:22
36             852      287998 2160-11-02 22:04:23 2160-11-05 23:54:45
39             852      287998 2160-11-02 22:04:23 2160-11-05 23:54:45
40             852      287998 2160-11-02 22:04:23 2160-11-05 23:54:45
41             852      287998 2160-11-02 22:04:23 2160-11-05 23:54:45
42             852      287998 2160-11-02 22:04:23 2160-11-05 23:54:45
77            1121      243195 2197-06-20 10:30:39 2197-06-22 17:08:02
78            1121      243195 2197-06-20 10:30:39 2197-06-22 17:08:02
79            1121      243195 2197-06-20 10:30:39 2197-06-22 17:08:02
87            1257      237955 2196-11-21 11:30:18 2196-11-24 14:49:47
88            1257      237955 2196-11-21 11:30:18 2196-11-24 14:49:47
89            1257      237955 2196-11-21 11:30:18 2196-11-24 14:49:47
96            2049      275318 2185-01-04 20:24:30 2185-01-17 12:41:38
97            2049      275318 2185-01-04 20:24:30 2185-01-17 12:41:38
106           2589      241576 2186-06-23 20:07:05 2186-07-01 20:58:15
107           2589      276791 2186-05-02 13:48:02 2186-05-05 16:53:59
108           2589      241576 2186-06-23 20:07:05 2186-07-01 20:58:15
...            ...         ...                 ...                 ...
315339       98666      290338 2151-04-27 18:34:40 2151-05-28 15:55:17
315340       98666      290338 2151-04-27 18:34:40 2151-05-28 15:55:17
315341       98666      273456 2151-11-24 03:08:46 2151-12-01 17:37:40
315342       98666      273456 2151-11-24 03:08:46 2151-12-01 17:37:40
315343       98666      290338 2151-04-27 18:34:40 2151-05-28 15:55:17
315344       98666      273456 2151-11-24 03:08:46 2151-12-01 17:37:40
315345       98666      290338 2151-04-27 18:34:40 2151-05-28 15:55:17
315404       98720      283575 2178-09-17 18:31:34 2178-09-23 17:37:52
315405       98720      283575 2178-09-17 18:31:34 2178-09-23 17:37:52
315406       98720      283575 2178-09-17 18:31:34 2178-09-23 17:37:52
315407       98720      283575 2178-09-17 18:31:34 2178-09-23 17:37:52
315408       98720      283575 2178-09-17 18:31:34 2178-09-23 17:37:52
315409       98720      283575 2178-09-17 18:31:34 2178-09-23 17:37:52
315410       98720      283575 2178-09-17 18:31:34 2178-09-23 17:37:52
315411       98720      283575 2178-09-17 18:31:34 2178-09-23 17:37:52
315412       98720      283575 2178-09-17 18:31:34 2178-09-23 17:37:52
315413       98720      283575 2178-09-17 18:31:34 2178-09-23 17:37:52
315419       98753      207506 2172-02-20 12:46:05 2172-02-24 18:40:54
315420       98753      207506 2172-02-20 12:46:05 2172-02-24 18:40:54
315421       98753      233107 2172-02-25 21:58:13 2172-02-28 15:44:26
315422       98753      207506 2172-02-20 12:46:05 2172-02-24 18:40:54
315423       98753      233107 2172-02-25 21:58:13 2172-02-28 15:44:26
315424       98753      233107 2172-02-25 21:58:13 2172-02-28 15:44:26
315425       98753      233107 2172-02-25 21:58:13 2172-02-28 15:44:26
315426       98753      207506 2172-02-20 12:46:05 2172-02-24 18:40:54
315427       98753      207506 2172-02-20 12:46:05 2172-02-24 18:40:54
315428       98753      207506 2172-02-20 12:46:05 2172-02-24 18:40:54
315429       98753      207506 2172-02-20 12:46:05 2172-02-24 18:40:54
315430       98753      207506 2172-02-20 12:46:05 2172-02-24 18:40:54
315431       98753      207506 2172-02-20 12:46:05 2172-02-24 18:40:54

        creatinine     creatinine_time               ethnicity  \
2              1.1 2174-04-17 02:12:00                   WHITE
3              1.1 2174-04-14 03:11:00                   WHITE
4              1.1 2174-04-15 03:29:00                   WHITE
5              1.0 2174-04-13 05:02:00                   WHITE
6              1.1 2174-04-13 17:08:00                   WHITE
7              1.0 2174-04-16 04:50:00                   WHITE
8              1.1 2174-04-14 15:12:00                   WHITE
9              1.0 2174-04-12 15:44:00                   WHITE
18             4.6 2127-08-15 10:13:00                   WHITE
19             4.4 2127-08-14 10:11:00                   WHITE
20             4.1 2127-08-13 02:48:00                   WHITE
21             4.1 2127-08-12 21:43:00                   WHITE
22             3.8 2127-08-12 04:39:00                   WHITE
23             3.7 2127-08-11 22:20:00                   WHITE
36             0.5 2160-11-05 09:49:00                   WHITE
39             0.5 2160-11-03 09:41:00                   WHITE
40             0.6 2160-11-03 01:56:00                   WHITE
41             0.5 2160-11-04 06:01:00                   WHITE
42             0.5 2160-11-03 14:28:00                   WHITE
77             0.6 2197-06-20 17:30:00   UNKNOWN/NOT SPECIFIED
78             1.2 2197-06-22 03:54:00   UNKNOWN/NOT SPECIFIED
79             0.9 2197-06-21 02:59:00   UNKNOWN/NOT SPECIFIED
87             0.8 2196-11-22 03:49:00                   WHITE
88             0.8 2196-11-24 05:00:00                   WHITE
89             0.9 2196-11-23 03:15:00                   WHITE
96             0.8 2185-01-16 05:18:00                   WHITE
97             0.8 2185-01-17 06:10:00                   WHITE
106            0.8 2186-06-26 04:37:00                   WHITE
107            0.7 2186-05-04 21:03:00                   WHITE
108            0.7 2186-06-24 04:45:00                   WHITE
...            ...                 ...                     ...
315339         0.3 2151-04-30 23:37:00  BLACK/AFRICAN AMERICAN
315340         0.4 2151-05-15 06:03:00  BLACK/AFRICAN AMERICAN
315341         0.2 2151-11-25 14:08:00  BLACK/AFRICAN AMERICAN
315342         0.2 2151-11-25 06:47:00  BLACK/AFRICAN AMERICAN
315343         0.3 2151-04-29 19:16:00  BLACK/AFRICAN AMERICAN
315344         0.2 2151-11-24 13:26:00  BLACK/AFRICAN AMERICAN
315345         0.4 2151-05-11 04:23:00  BLACK/AFRICAN AMERICAN
315404         0.9 2178-09-23 05:19:00                   WHITE
315405         1.9 2178-09-19 04:36:00                   WHITE
315406         1.0 2178-09-22 17:23:00                   WHITE
315407         1.5 2178-09-18 00:19:00                   WHITE
315408         1.7 2178-09-19 16:11:00                   WHITE
315409         2.0 2178-09-18 18:10:00                   WHITE
315410         1.4 2178-09-20 06:35:00                   WHITE
315411         1.3 2178-09-20 20:09:00                   WHITE
315412         1.0 2178-09-22 04:59:00                   WHITE
315413         1.2 2178-09-21 07:12:00                   WHITE
315419         1.1 2172-02-21 06:25:00                   WHITE
315420         0.9 2172-02-22 16:12:00                   WHITE
315421         1.0 2172-02-26 07:09:00                   WHITE
315422         1.4 2172-02-20 15:31:00                   WHITE
315423         1.1 2172-02-27 19:39:00                   WHITE
315424         1.0 2172-02-26 18:09:00                   WHITE
315425         1.2 2172-02-28 04:33:00                   WHITE
315426         1.0 2172-02-21 16:17:00                   WHITE
315427         1.2 2172-02-20 20:43:00                   WHITE
315428         0.9 2172-02-22 02:48:00                   WHITE
315429         0.9 2172-02-23 15:59:00                   WHITE
315430         0.9 2172-02-24 06:24:00                   WHITE
315431         0.9 2172-02-23 07:14:00                   WHITE

                             diagnosis gender         age  length_of_stay  \
2                       CARDIOMYOPATHY      M   48.500607      126.040278
3                       CARDIOMYOPATHY      M   48.500607      126.040278
4                       CARDIOMYOPATHY      M   48.500607      126.040278
5                       CARDIOMYOPATHY      M   48.500607      126.040278
6                       CARDIOMYOPATHY      M   48.500607      126.040278
7                       CARDIOMYOPATHY      M   48.500607      126.040278
8                       CARDIOMYOPATHY      M   48.500607      126.040278
9                       CARDIOMYOPATHY      M   48.500607      126.040278
18                     UNSTABLE ANGINA      M   73.575503       96.160833
19                     UNSTABLE ANGINA      M   73.575503       96.160833
20                     UNSTABLE ANGINA      M   73.575503       96.160833
21                     UNSTABLE ANGINA      M   73.575503       96.160833
22                     UNSTABLE ANGINA      M   73.575503       96.160833
23                     UNSTABLE ANGINA      M   73.575503       96.160833
36      INCREASING SHORTNESS OF BREATH      M   52.499219       73.839444
39      INCREASING SHORTNESS OF BREATH      M   52.499219       73.839444
40      INCREASING SHORTNESS OF BREATH      M   52.499219       73.839444
41      INCREASING SHORTNESS OF BREATH      M   52.499219       73.839444
42      INCREASING SHORTNESS OF BREATH      M   52.499219       73.839444
77             CORONARY ARTERY DISEASE      M  309.615099       54.623056
78             CORONARY ARTERY DISEASE      M  309.615099       54.623056
79             CORONARY ARTERY DISEASE      M  309.615099       54.623056
87            ASTHMA/COPD EXACERBATION      F   65.785094       75.324722
88            ASTHMA/COPD EXACERBATION      F   65.785094       75.324722
89            ASTHMA/COPD EXACERBATION      F   65.785094       75.324722
96              INTRACUTANEOUS FISTULA      F   68.428194      304.285556
97              INTRACUTANEOUS FISTULA      F   68.428194      304.285556
106                          PNEUMONIA      M   66.476030      192.852778
107                          PNEUMONIA      M   66.332938       75.099167
108                          PNEUMONIA      M   66.476030      192.852778
...                                ...    ...         ...             ...
315339                           FEVER      F   52.641192      741.343611
315340                           FEVER      F   52.641192      741.343611
315341                           FEVER      F   53.217130      182.481667
315342                           FEVER      F   53.217130      182.481667
315343                           FEVER      F   52.641192      741.343611
315344                           FEVER      F   53.217130      182.481667
315345                           FEVER      F   52.641192      741.343611
315404                     BRADYCARDIA      F  300.003209      143.105000
315405                     BRADYCARDIA      F  300.003209      143.105000
315406                     BRADYCARDIA      F  300.003209      143.105000
315407                     BRADYCARDIA      F  300.003209      143.105000
315408                     BRADYCARDIA      F  300.003209      143.105000
315409                     BRADYCARDIA      F  300.003209      143.105000
315410                     BRADYCARDIA      F  300.003209      143.105000
315411                     BRADYCARDIA      F  300.003209      143.105000
315412                     BRADYCARDIA      F  300.003209      143.105000
315413                     BRADYCARDIA      F  300.003209      143.105000
315419                  R/O METASTASIS      F   77.807404      101.913611
315420                  R/O METASTASIS      F   77.807404      101.913611
315421                  R/O METASTASIS      F   77.822144       65.770278
315422                  R/O METASTASIS      F   77.807404      101.913611
315423                  R/O METASTASIS      F   77.822144       65.770278
315424                  R/O METASTASIS      F   77.822144       65.770278
315425                  R/O METASTASIS      F   77.822144       65.770278
315426                  R/O METASTASIS      F   77.807404      101.913611
315427                  R/O METASTASIS      F   77.807404      101.913611
315428                  R/O METASTASIS      F   77.807404      101.913611
315429                  R/O METASTASIS      F   77.807404      101.913611
315430                  R/O METASTASIS      F   77.807404      101.913611
315431                  R/O METASTASIS      F   77.807404      101.913611

          rrt
2       False
3       False
4       False
5       False
6       False
7       False
8       False
9       False
18      False
19      False
20      False
21      False
22      False
23      False
36      False
39      False
40      False
41      False
42      False
77      False
78      False
79      False
87      False
88      False
89      False
96      False
97      False
106     False
107     False
108     False
...       ...
315339  False
315340  False
315341  False
315342  False
315343  False
315344  False
315345  False
315404  False
315405  False
315406  False
315407  False
315408  False
315409  False
315410  False
315411  False
315412  False
315413  False
315419  False
315420  False
315421  False
315422  False
315423  False
315424  False
315425  False
315426  False
315427  False
315428  False
315429  False
315430  False
315431  False

[126881 rows x 12 columns]

# Merge tables into one

In [10]:
print('Chartevents :')
print(df_chartevents.shape)
print(df_chartevents.columns.values)
print('')

print('Static:')
print(df_static.shape)
print(df_static.columns.values)

Chartevents :
(126403, 117)
['subject_id' 'icustay_id' 'intime' 'outtime' 'creatinine'
 'creatinine_time' 'age' 'length_of_stay' 'rrt'
 'arterial_pressure_systolic' 'arterial_pressure_systolic_delay'
 'arterial_pressure_systolic_time' 'arterial_pressure_systolic_itemid'
 'arterial_pressure_diastolic' 'arterial_pressure_diastolic_delay'
 'arterial_pressure_diastolic_time' 'arterial_pressure_diastolic_itemid'
 'heart_rate' 'heart_rate_delay' 'heart_rate_time' 'heart_rate_itemid'
 'weight_daily' 'weight_daily_delay' 'weight_daily_time'
 'weight_daily_itemid' 'temperature' 'temperature_delay' 'temperature_time'
 'temperature_itemid' 'urine_output' 'urine_output_delay'
 'urine_output_time' 'urine_output_itemid' 'day_urine_output'
 'day_urine_output_delay' 'day_urine_output_time' 'day_urine_output_itemid'
 'scr' 'scr_delay' 'scr_time' 'scr_itemid' 'sodium' 'sodium_delay'
 'sodium_time' 'sodium_itemid' 'potassium' 'potassium_delay'
 'potassium_time' 'potassium_itemid' 'calcium' 'calcium_delay'
 'calcium_time' 'calcium_itemid' 'phosphor' 'phosphor_delay'
 'phosphor_time' 'phosphor_itemid' 'hemoglobine' 'hemoglobine_delay'
 'hemoglobine_time' 'hemoglobine_itemid' 'uric_acid' 'uric_acid_delay'
 'uric_acid_time' 'uric_acid_itemid' 'chloride' 'chloride_delay'
 'chloride_time' 'chloride_itemid' 'platelet_count' 'platelet_count_delay'
 'platelet_count_time' 'platelet_count_itemid' 'ph_blood' 'ph_blood_delay'
 'ph_blood_time' 'ph_blood_itemid' 'fibrinogen' 'fibrinogen_delay'
 'fibrinogen_time' 'fibrinogen_itemid' 'urinary_sodium'
 'urinary_sodium_delay' 'urinary_sodium_time' 'urinary_sodium_itemid'
 'urinary_potassium' 'urinary_potassium_delay' 'urinary_potassium_time'
 'urinary_potassium_itemid' 'urine_creatinin' 'urine_creatinin_delay'
 'urine_creatinin_time' 'urine_creatinin_itemid' 'alkaline_phospatase'
 'alkaline_phospatase_delay' 'alkaline_phospatase_time'
 'alkaline_phospatase_itemid' 'total_protein_blood'
 'total_protein_blood_delay' 'total_protein_blood_time'
 'total_protein_blood_itemid' 'albumin' 'albumin_delay' 'albumin_time'
 'albumin_itemid' 'total_protein_urine' 'total_protein_urine_delay'
 'total_protein_urine_time' 'total_protein_urine_itemid' 'bilirubin'
 'bilirubin_delay' 'bilirubin_time' 'bilirubin_itemid' 'c_reactive_protein'
 'c_reactive_protein_delay' 'c_reactive_protein_time'
 'c_reactive_protein_itemid']

Static:
(126881, 12)
['subject_id' 'icustay_id' 'intime' 'outtime' 'creatinine'
 'creatinine_time' 'ethnicity' 'diagnosis' 'gender' 'age' 'length_of_stay'
 'rrt']

In [11]:
merged_df = pd.merge(df_chartevents,df_static,on=['subject_id', 'icustay_id', 'intime', 'outtime', 'creatinine',
       'creatinine_time', 'age', 'length_of_stay', 'rrt'],how='outer')

# Remove columns that are not features (except icustay_id and patient_id that are needed to build the table with labels)

In [12]:
# REMOVE COLUMNS THAT WERE USED FOR INCLUSION CRITERIA BUT THAT ARE NOT AVAILABLE FEATURES FOR THE PREDICTION
# REMOVE ICUSTAY_IDS FOR WHICH THERE IS ONLY ONE MEASUREMENT OF CREATININE

print('Number of lines : ' + str(merged_df.shape[0]))
to_remove = ['intime','outtime','length_of_stay','rrt']
for c in to_remove:
    if (c in merged_df.columns.values): merged_df = merged_df.drop(c,axis=1)
        
# Remove columns with _time suffix
to_remove = [i for i in merged_df.columns.values if '_time' in i]
for c in to_remove:
    if (c in merged_df.columns.values): merged_df = merged_df.drop(c,axis=1)

# Remove icustay_ids for which there's only one measurement of creatinine
count_mes = merged_df['icustay_id'].value_counts()
to_remove = count_mes.index.values[count_mes==1]
for i in to_remove:
    merged_df = merged_df.loc[merged_df['icustay_id']!=i,:]

print('After dropping unique measurements of creatinine : ' + str(merged_df.shape[0]))
merged_df.head()

Number of lines : 126888
After dropping unique measurements of creatinine : 126819

,subject_id,icustay_id,creatinine,age,arterial_pressure_systolic,arterial_pressure_systolic_delay,arterial_pressure_systolic_itemid,arterial_pressure_diastolic,arterial_pressure_diastolic_delay,arterial_pressure_diastolic_itemid,...,total_protein_urine_itemid,bilirubin,bilirubin_delay,bilirubin_itemid,c_reactive_protein,c_reactive_protein_delay,c_reactive_protein_itemid,ethnicity,diagnosis,gender
0,36,241249,0.9,72.733384,139.0,3060.0,220179.0,84.0,3060.0,220180.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,WHITE,CORONARY ARTERY DISEASE\CORONARY ARTERY BYPASS...,M
1,36,241249,0.8,72.733384,154.0,1800.0,220179.0,79.0,1800.0,220180.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,WHITE,CORONARY ARTERY DISEASE\CORONARY ARTERY BYPASS...,M
2,36,241249,0.9,72.733384,115.0,6960.0,220179.0,69.0,6960.0,220180.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,WHITE,CORONARY ARTERY DISEASE\CORONARY ARTERY BYPASS...,M
3,109,253139,7.4,23.845640,183.0,1140.0,220179.0,96.0,1140.0,220180.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,BLACK/AFRICAN AMERICAN,HYPERTENSIVE EMERGENCY,F
4,109,253139,7.4,23.845640,252.0,1200.0,220179.0,116.0,1200.0,220180.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,BLACK/AFRICAN AMERICAN,HYPERTENSIVE EMERGENCY,F

**WARNING : the columns named "..._itemid" can be used to filter on the itemid used to retrieve the feature after the query has been done. But these are not features.**

In [13]:
# Dump to file
merged_df.to_csv('creatinine_measurements_merged.csv')
print(merged_df)

        subject_id  icustay_id  creatinine         age  \
0               36      241249         0.9   72.733384
1               36      241249         0.8   72.733384
2               36      241249         0.9   72.733384
3              109      253139         7.4   23.845640
4              109      253139         7.4   23.845640
5              109      240251         7.1   24.785584
6              109      262652         8.5   24.123360
7              109      214027         5.2   24.930443
8              109      222630         4.9   24.365106
9              109      253139         7.3   23.845640
10             109      236124         6.8   24.186610
11             109      236124         6.7   24.186610
12             109      222630         5.8   24.365106
13             109      222630         6.2   24.365106
14             109      222630         5.5   24.365106
15             124      256064         1.8   75.140716
16             124      256064         2.4   75.140716
17             124      256064         1.9   75.140716
18             124      256064         1.8   75.140716
19             124      256064         2.0   75.140716
20             124      256064         1.7   75.140716
21             188      246866         1.6   56.564443
22             188      246866         2.7   56.564443
23             188      246866         2.1   56.564443
24             188      246866         1.7   56.564443
25             188      292343         1.9   56.652006
26             188      246866         1.8   56.564443
27             188      292343         1.0   56.652006
28             188      292343         1.5   56.652006
29             188      246866         2.2   56.564443
...            ...         ...         ...         ...
126858       56149      237256         0.9   84.659509
126859       54806      204575         1.0   29.201747
126860       54806      204575         0.9   29.201747
126861       54806      226619         0.6   28.627716
126862       59765      295117         1.6   70.530784
126863       61085      270648         1.0   62.133813
126864       60720      208321         0.9   66.451619
126865       67578      204176         1.4   84.917604
126866       71532      287689         1.2   86.876088
126867       68460      200453         0.7   31.112984
126868       59628      227171         1.3  300.519771
126869       81848      241780         0.8   63.464516
126870       81850      261848         0.6   42.015662
126871       80970      298238         1.1   83.072629
126872       76154      251924         1.2   50.905987
126873       87135      226893         1.6   55.915892
126874       86662      228243         2.6   77.862692
126875       88202      200330         0.7   60.646676
126876       82769      210248         3.0   80.154695
126877       86485      218802         1.0   48.534419
126878       84332      245550         0.6   88.736049
126879       93077      231519         2.7   73.087581
126880       96712      299407         5.1   57.931707
126881       91350      207981         2.0   83.717013
126882       99085      206898         0.8   39.354993
126883       99260      206662         4.0   52.548781
126884       91090      251459         5.4   75.415283
126885       91090      251459         2.7   75.415283
126886       93800      241652         3.9   45.344101
126887       96238      261048         2.4  300.001870

        arterial_pressure_systolic  arterial_pressure_systolic_delay  \
0                            139.0                            3060.0
1                            154.0                            1800.0
2                            115.0                            6960.0
3                            183.0                            1140.0
4                            252.0                            1200.0
5                            105.0                               0.0
6                            109.0                            2460.0
7                            154.0                            5280.0
8                            161.0                             660.0
9                            178.0                            1440.0
10                           180.0                            4680.0
11                           150.0                            1020.0
12                           162.0                               0.0
13                           132.0                            3660.0
14                           167.0                            2220.0
15                           143.0                            3480.0
16                           108.0                            6660.0
17                           139.0                            2340.0
18                           153.0                             420.0
19                           126.0                             840.0
20                            91.0                            2280.0
21                           130.0                              60.0
22                           130.0                            2220.0
23                           103.0                            1980.0
24                           119.0                            1200.0
25                           125.0                            1980.0
26                           111.0                            3240.0
27                           111.0                            3540.0
28                           104.0                            1140.0
29                           106.0                            2160.0
...                            ...                               ...
126858                         NaN                               NaN
126859                         NaN                               NaN
126860                         NaN                               NaN
126861                         NaN                               NaN
126862                         NaN                               NaN
126863                         NaN                               NaN
126864                         NaN                               NaN
126865                         NaN                               NaN
126866                         NaN                               NaN
126867                         NaN                               NaN
126868                         NaN                               NaN
126869                         NaN                               NaN
126870                         NaN                               NaN
126871                         NaN                               NaN
126872                         NaN                               NaN
126873                         NaN                               NaN
126874                         NaN                               NaN
126875                         NaN                               NaN
126876                         NaN                               NaN
126877                         NaN                               NaN
126878                         NaN                               NaN
126879                         NaN                               NaN
126880                         NaN                               NaN
126881                         NaN                               NaN
126882                         NaN                               NaN
126883                         NaN                               NaN
126884                         NaN                               NaN
126885                         NaN                               NaN
126886                         NaN                               NaN
126887                         NaN                               NaN

        arterial_pressure_systolic_itemid  arterial_pressure_diastolic  \
0                                220179.0                         84.0
1                                220179.0                         79.0
2                                220179.0                         69.0
3                                220179.0                         96.0
4                                220179.0                        116.0
5                                220179.0                         52.0
6                                220179.0                         74.0
7                                220179.0                         82.0
8                                220179.0                        113.0
9                                220179.0                        141.0
10                               220179.0                        100.0
11                               220179.0                         65.0
12                               220179.0                         94.0
13                               220179.0                         65.0
14                               220179.0                        121.0
15                               225309.0                         47.0
16                               225309.0                         45.0
17                               225309.0                         45.0
18                               225309.0                         52.0
19                               225309.0                         45.0
20                               225309.0                         34.0
21                               220050.0                         72.0
22                               220050.0                         70.0
23                               220050.0                         52.0
24                               220050.0                         59.0
25                               220179.0                         69.0
26                               220050.0                         59.0
27                               220179.0                         69.0
28                               220179.0                         57.0
29                               220050.0                         59.0
...                                   ...                          ...
126858                                NaN                          NaN
126859                                NaN                          NaN
126860                                NaN                          NaN
126861                                NaN                          NaN
126862                                NaN                          NaN
126863                                NaN                          NaN
126864                                NaN                          NaN
126865                                NaN                          NaN
126866                                NaN                          NaN
126867                                NaN                          NaN
126868                                NaN                          NaN
126869                                NaN                          NaN
126870                                NaN                          NaN
126871                                NaN                          NaN
126872                                NaN                          NaN
126873                                NaN                          NaN
126874                                NaN                          NaN
126875                                NaN                          NaN
126876                                NaN                          NaN
126877                                NaN                          NaN
126878                                NaN                          NaN
126879                                NaN                          NaN
126880                                NaN                          NaN
126881                                NaN                          NaN
126882                                NaN                          NaN
126883                                NaN                          NaN
126884                                NaN                          NaN
126885                                NaN                          NaN
126886                                NaN                          NaN
126887                                NaN                          NaN

        arterial_pressure_diastolic_delay  arterial_pressure_diastolic_itemid  \
0                                  3060.0                            220180.0
1                                  1800.0                            220180.0
2                                  6960.0                            220180.0
3                                  1140.0                            220180.0
4                                  1200.0                            220180.0
5                                     0.0                            220180.0
6                                  2460.0                            220180.0
7                                  5280.0                            220180.0
8                                   660.0                            220180.0
9                                  1440.0                            220180.0
10                                 4680.0                            220180.0
11                                 1020.0                            220180.0
12                                    0.0                            220180.0
13                                 3660.0                            220180.0
14                                 2220.0                            220180.0
15                                 3480.0                            225310.0
16                                 6660.0                            225310.0
17                                 2340.0                            225310.0
18                                  420.0                            225310.0
19                                  840.0                            225310.0
20                                 2280.0                            225310.0
21                                   60.0                            220051.0
22                                 2220.0                            220051.0
23                                 1980.0                            220051.0
24                                 1200.0                            220051.0
25                                 1980.0                            220180.0
26                                 3240.0                            220051.0
27                                 3540.0                            220180.0
28                                 1140.0                            220180.0
29                                 2160.0                            220051.0
...                                   ...                                 ...
126858                                NaN                                 NaN
126859                                NaN                                 NaN
126860                                NaN                                 NaN
126861                                NaN                                 NaN
126862                                NaN                                 NaN
126863                                NaN                                 NaN
126864                                NaN                                 NaN
126865                                NaN                                 NaN
126866                                NaN                                 NaN
126867                                NaN                                 NaN
126868                                NaN                                 NaN
126869                                NaN                                 NaN
126870                                NaN                                 NaN
126871                                NaN                                 NaN
126872                                NaN                                 NaN
126873                                NaN                                 NaN
126874                                NaN                                 NaN
126875                                NaN                                 NaN
126876                                NaN                                 NaN
126877                                NaN                                 NaN
126878                                NaN                                 NaN
126879                                NaN                                 NaN
126880                                NaN                                 NaN
126881                                NaN                                 NaN
126882                                NaN                                 NaN
126883                                NaN                                 NaN
126884                                NaN                                 NaN
126885                                NaN                                 NaN
126886                                NaN                                 NaN
126887                                NaN                                 NaN

        ...    total_protein_urine_itemid  bilirubin  bilirubin_delay  \
0       ...                           NaN        NaN              NaN
1       ...                           NaN        NaN              NaN
2       ...                           NaN        NaN              NaN
3       ...                           NaN        NaN              NaN
4       ...                           NaN        NaN              NaN
5       ...                           NaN        NaN              NaN
6       ...                           NaN        NaN              NaN
7       ...                           NaN        NaN              NaN
8       ...                           NaN        NaN              NaN
9       ...                           NaN        NaN              NaN
10      ...                           NaN        NaN              NaN
11      ...                           NaN        NaN              NaN
12      ...                           NaN        NaN              NaN
13      ...                           NaN        NaN              NaN
14      ...                           NaN        NaN              NaN
15      ...                           NaN        NaN              NaN
16      ...                           NaN        NaN              NaN
17      ...                           NaN        NaN              NaN
18      ...                           NaN        NaN              NaN
19      ...                           NaN        NaN              NaN
20      ...                           NaN        NaN              NaN
21      ...                           NaN        NaN              NaN
22      ...                           NaN        NaN              NaN
23      ...                           NaN        NaN              NaN
24      ...                           NaN        NaN              NaN
25      ...                           NaN        NaN              NaN
26      ...                           NaN        NaN              NaN
27      ...                           NaN        NaN              NaN
28      ...                           NaN        NaN              NaN
29      ...                           NaN        NaN              NaN
...     ...                           ...        ...              ...
126858  ...                           NaN        NaN              NaN
126859  ...                           NaN        NaN              NaN
126860  ...                           NaN        NaN              NaN
126861  ...                           NaN        NaN              NaN
126862  ...                           NaN        NaN              NaN
126863  ...                           NaN        NaN              NaN
126864  ...                           NaN        NaN              NaN
126865  ...                           NaN        NaN              NaN
126866  ...                           NaN        NaN              NaN
126867  ...                           NaN        NaN              NaN
126868  ...                           NaN        NaN              NaN